Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

docs: Enhance introduction page with new sections on automation and agent security
  docs/overview/introduction.mdx
Due: none

feat(mcp): create preset agents via mcp (#2344)
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

simplify FN.serialize to JSON primitives only
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: gen-client, basedpyright

feat(functions): Add FN.serialize expression function (#2345)
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: gen-client, basedpyright

fix(mcp): extend oauth access token fallback expiry to 24h
  .env.example
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Use JSON code editor for stdio environment variables
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

fix: harden MCP file imports and exports
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(frontend): update custom registry form test imports and typing
  frontend/tests/org-settings-custom-registry-form.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  7c/016ed8b255a84755e8554796c1d72f385fa08b
Due: none

Notes added by 'git notes add'
  71/52b699d01719a4a5e4fd48a495ab5a3c754d43
Due: none

Notes added by 'git notes add'
  64/d7d4edfeafdfafc3f084b74fabff1d9f9abcab
Due: none

docs: require conventional commits format for PR titles
  AGENTS.md
Due: none

Notes added by 'git notes add'
  a2/854b51a4bad92bf1a23c8541bd4de1c694eae9
Due: none

Notes added by 'git notes add'
  9e/ad1941306ca6b59bb08ed03d321d60dc5067b5
Due: none

fix(mcp): extend MCP OAuth fallback access token expiry to 24h (#2262)
  .env.example
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Fix stdio env CodeEditor typecheck regression
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

refactor: remove stdio-only Tracecat MCP paths
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor(frontend): rename org settings from `git` to `custom-registry` (files & route) (#2348)
  frontend/src/app/organization/page.tsx
  frontend/src/app/organization/settings/custom-registry/layout.tsx
  frontend/src/app/organization/settings/custom-registry/page.tsx
  frontend/src/app/organization/settings/git/layout.tsx
  frontend/src/components/organization/org-settings-custom-registry.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/tests/org-settings-custom-registry-form.test.ts
Due: biome-check, typecheck-frontend

Format stdio env description to satisfy Biome
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

fix: right-size fargate temporal resources
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

feat(ui): Remove agent preset menu and version selector from chat header (#2349)
  frontend/src/components/chat/agent-preset-menu.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

Fix persisted case date filter typing
  frontend/src/hooks/use-cases.ts
Due: biome-check, typecheck-frontend

fix(ui): hydrate case filters before querying
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  f0/4c0b2cd8e8129c7e6288f2841b67690f6c2738
Due: none

Notes added by 'git notes add'
  82/37f5e24e5065df9e74a9a1a585f517f37c91c8
Due: none

Notes added by 'git notes add'
  4f/9567634c3d7bd3dc720fb8f90b790f56075253
Due: none

Notes added by 'git notes add'
  b6/a147ec0b445fa27bd19e5a2ae10ce84837c7e5
Due: none

Notes added by 'git notes add'
  58/f73c7bf748c2ba29c50fa31821bd48731bb9b7
Due: none

Notes added by 'git notes add'
  14/6ffd11aa5142d19f6619dbfa3a29d22789cb1b
Due: none

refactor(ui): dedupe case filter persistence state
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  e6/d97957970a7f2e8b770d0ee103fe38d9fbbf0d
Due: none

Notes added by 'git notes add'
  4a/64e64b5a734b3dcc4cf9380df4fa00db656371
Due: none

Notes added by 'git notes add'
  6e/21d4085e8d54c2eae910e8e200dfc143bb6d5f
Due: none

infra: Right-size fargate temporal resources (#2350)
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

Notes added by 'git notes add'
  08/5fb869c2b0580efcea1f989adb28d82e423964
Due: none

chore(pre-commit): replace gitleaks with betterleaks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): replace gitleaks with betterleaks (#2351)
  .pre-commit-config.yaml
Due: none

fix: enforce remote workflow upload finalization
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a4/392951bb39a5dde020ffe8e47caffb3673036e
Due: none

fix(mcp): Improve MCP OAuth compatibility for Codex clients
  deployments/eks/modules/eks/waf.tf
  deployments/fargate/modules/ecs/alb.tf
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
