Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(ui): cap bulk case action request concurrency
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.ts
Due: biome-check, typecheck-frontend

chore: prefer fd for file searches
  AGENTS.md
Due: none

fix(ui): cap bulk case action request concurrency (#3091)
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/lib/utils.test.ts
  frontend/src/lib/utils.ts
Due: biome-check, typecheck-frontend

chore: prefer fd for file searches (#3092)
  AGENTS.md
Due: none

perf(ui): defer case linked-row hydration to tables tab
  frontend/src/components/cases/case-linked-rows-section.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/use-list-case-rows.test.tsx
Due: biome-check, typecheck-frontend

perf(cases): drop duplicate exact count from case search
  frontend/src/hooks/use-cases.ts
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): keep dialogs within viewport
  frontend/src/components/ui/dialog.tsx
Due: biome-check, typecheck-frontend

fix(cases): keep exact total for list_cases callers
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

release: 1.0.0-beta.51-rc.9
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(ui): portal folder pickers from scrolling dialogs
  frontend/src/components/agents/agents-dashboard.tsx
  frontend/src/components/dashboard/folder-move-dialog.tsx
  frontend/src/components/dashboard/workflow-move-dialog.tsx
Due: biome-check, typecheck-frontend

fix(redis): retry only transient errors and make stream TTL opt-in
  tests/unit/test_redis_client.py
  tracecat/agent/stream/connector.py
  tracecat/redis/client.py
Due: gen-client, basedpyright

refactor(cases): make search total opt-out instead of removed
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/use-cases.ts
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): reconcile approval resubmissions against settled decisions
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/approvals/router.py
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_approvals_manager.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): portal remaining dialog popovers
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/cases/case-closure-dialog.tsx
Due: biome-check, typecheck-frontend

feat: add standalone dev entrypoint and multi-dev compose profile
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.infra.yml
  deployments/multi-dev/docker-compose.instance.yml
  deployments/multi-dev/instance.env.example
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime_services.py
  tracecat/agent/worker.py
  tracecat/config.py
  tracecat/dsl/worker.py
  tracecat/executor/action_gateway/server.py
  tracecat/executor/worker.py
  tracecat/standalone.py
  tracecat/temporal/sentry.py
  tracecat/uvicorn_server.py
Due: gen-client, basedpyright

perf(ui): defer case linked-row hydration to tables tab (#3093)
  frontend/src/components/cases/case-linked-rows-section.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/use-list-case-rows.test.tsx
Due: biome-check, typecheck-frontend

docs: Fix license link for deployments/k8s submodule
  README.md
Due: none

fix: run multi-dev temporal dev server as root for volume access
  deployments/multi-dev/docker-compose.infra.yml
Due: none

fix(agents): batch agent approvals (#2916)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/chat-transform.test.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/approvals/router.py
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_approvals_manager.py
  tests/unit/test_chat_schemas.py
  tests/unit/test_vercel_adapter.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/approvals/types.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/connector.py
  tracecat/chat/schemas.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(registry): deprecated action enforcement
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_executor_manifest_resolution.py
  tests/unit/test_registry_actions_custom_entitlement.py
  tracecat/agent/session/service.py
  tracecat/exceptions.py
  tracecat/executor/registry_resolver.py
  tracecat/executor/schemas.py
  tracecat/executor/service.py
  tracecat/registry/actions/schemas.py
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat: add KSM opt-in and gc.freeze to standalone entrypoint
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.instance.yml
  deployments/multi-dev/instance.env.example
  tracecat/config.py
  tracecat/standalone.py
Due: gen-client, basedpyright

fix(executor): offload secret masking
  tests/unit/test_executor_service.py
  tests/unit/test_secrets.py
  tracecat/executor/service.py
  tracecat/secrets/common.py
Due: gen-client, basedpyright

refactor: drop legacy agent tool-call path
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_session_search_attributes.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_agent_tools.py
  tracecat/agent/_subprocess_runner.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/tools.py
  tracecat/executor/action_gateway/app.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

refactor: drop deprecated ai actions
  docs/migration/ai.rank_documents.yml
  docs/migration/ai.select_field.yml
  docs/migration/ai.select_fields.yml
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/ai.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/integrations/mcp/github.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/jira.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/linear.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/notion.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/runreveal.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/sentry.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/wiz.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/registry/test_core_ai.py
  tests/unit/test_ai_ranker.py
  tracecat/agent/internal_router.py
  tracecat/agent/schemas.py
  tracecat/ai/ranker.py
Due: gen-client, basedpyright

refactor: drop pydantic ai
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/agents.ts
  frontend/src/lib/chat.ts
  frontend/tests/inbox-detail.test.tsx
  tests/unit/test_agent_context.py
  tests/unit/test_agent_factory.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_pydantic_ai_adapter.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/context.py
  tracecat/agent/executor/aio.py
  tracecat/agent/factory.py
  tracecat/agent/internal_router.py
  tracecat/agent/providers.py
  tracecat/agent/runtime/pydantic_ai/__init__.py
  tracecat/agent/runtime/pydantic_ai/adapter.py
  tracecat/agent/runtime/pydantic_ai/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/common.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
  tracecat/agent/stream/writers.py
  tracecat/agent/types.py
  tracecat/chat/schemas.py
  tracecat/chat/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): serve internal agent runs via durable agent workflow
  tracecat/agent/internal_router.py
  tracecat/agent/session/service.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

docs: prefer slots=True when defining dataclasses
  tracecat/AGENTS.md
Due: gen-client

docs: avoid getattr in favor of typed attribute access
  tracecat/AGENTS.md
Due: gen-client

docs: prefer dataclass slots and typed attribute access (#3103)
  tracecat/AGENTS.md
Due: gen-client

fix(cases): harden batch endpoints per review
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/tests/use-batch-cases.test.tsx
  tests/unit/test_cases_service.py
  tests/unit/test_session_events.py
  tracecat/cases/service.py
  tracecat/db/session_events.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(cases): add batch case update and delete endpoints
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/use-batch-cases.test.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/session_events.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): reconcile bulk case selection on partial chunk failure
  frontend/src/components/cases/cases-layout.tsx
Due: biome-check, typecheck-frontend

fix(cases): ensure case_ids are consistently formatted as strings in audit data
  tracecat/cases/service.py
Due: gen-client, basedpyright

refactor(cases): type lock-query loader options as ExecutableOption
  tracecat/cases/service.py
Due: gen-client, basedpyright

refactor(db): encapsulate after-commit callbacks in AfterCommitQueue
  tests/unit/test_case_comments_service.py
  tests/unit/test_session_events.py
  tracecat/cases/service.py
  tracecat/db/session_events.py
  tracecat/workflow/schedules/service.py
Due: gen-client, basedpyright

fix(cases): harden batch endpoints per second review wave
  frontend/src/components/cases/cases-layout.tsx
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(db): restore type coverage in AfterCommitQueue lookups
  tracecat/db/session_events.py
Due: gen-client, basedpyright

fix(cases): isolate dropdown lookup failures; coalesce bulk refetches
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(ui): pin caller-owned cache invalidation for batch case hooks
  frontend/tests/use-batch-cases.test.tsx
Due: biome-check, typecheck-frontend

fix(ui): preserve mid-flight selection changes on partial batch outcomes
  frontend/src/components/cases/cases-layout.tsx
Due: biome-check, typecheck-frontend
