Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

refactor(executor): clarify squashfs sidecar flag
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

fix(auth): mark session cookie Secure when public API uses HTTPS (#3201)
  tests/unit/test_auth.py
  tracecat/auth/users.py
Due: gen-client, basedpyright

feat(cases) ENG-1597: add team scoped agent session reads
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-list.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-chat.tsx
  frontend/src/hooks/use-chat.ts
  frontend/tests/chat-history-dropdown.test.tsx
  frontend/tests/use-chat.test.tsx
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(observability): harden tracing rollout
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/ecs-agent-executor.tf
  deployments/fargate/modules/ecs/ecs-worker.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_config.py
  tests/unit/test_platform_otel.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

test(registry): drop third-party contract tests
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/CLAUDE.md
  tests/registry/test_ansible.py
  tests/registry/test_cloudflare_sdk.py
  tests/registry/test_elastic_security_template.py
  tests/registry/test_elastic_templates.py
  tests/registry/test_exa_templates.py
  tests/registry/test_freshservice.py
  tests/registry/test_google_api.py
  tests/registry/test_google_scc_templates.py
  tests/registry/test_kubernetes_sdk.py
  tests/registry/test_misp_templates.py
  tests/registry/test_okta_sdk.py
  tests/registry/test_opensearch_templates.py
  tests/registry/test_scanner_templates.py
  tests/registry/test_sentinel_one_templates.py
  tests/registry/test_slack_sdk.py
  tests/unit/test_microsoft_sentinel_templates.py
Due: gen-client, basedpyright

fix(observability): sanitize tracing metadata
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_config.py
  tests/unit/test_platform_otel.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

fix(observability): keep exporter secrets out of executor
  .env.example
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_config.py
Due: basedpyright

fix(observability): constrain propagated trace metadata
  tests/temporal/test_platform_tracing.py
  tests/unit/test_platform_otel.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

fix(observability): sanitize Temporal failures
  tests/temporal/test_platform_tracing.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

test(registry): retain Kubernetes boundary coverage
  packages/tracecat-registry/AGENTS.md
  tests/registry/test_kubernetes_sdk.py
Due: gen-client, basedpyright

fix(observability): redact traced user agents
  tests/unit/test_platform_otel.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

docs: improve secrets and OAuth discoverability
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
  docs/docs.json
Due: none

test(registry): remove provider-specific test coupling
  tests/unit/test_aws_assume_role.py
  tests/unit/test_dsl_common.py
Due: basedpyright

add typing to agentsession
  tracecat/agent/session/router.py
Due: gen-client, basedpyright

feat(cases) ENG-1597: add team scoped agent session reads (#3204)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-list.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-chat.tsx
  frontend/src/hooks/use-chat.ts
  frontend/tests/chat-history-dropdown.test.tsx
  frontend/tests/use-chat.test.tsx
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

perf(cases): defer case number allocation (#3171)
  alembic/versions/2792569cf359_defer_case_number_allocation.py
  tests/conftest.py
  tests/migration/test_deferred_case_number_allocation_migration.py
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright

refactor(temporal): remove obsolete PydanticAI plugin
  tests/conftest.py
  tests/temporal/test_agent_config_sandbox_parity.py
  tracecat/agent/worker.py
  tracecat/dsl/plugins.py
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

test(temporal): cover data converter wiring
  tests/unit/test_temporal_client.py
Due: basedpyright

fix(executor): mask secrets at sinks instead of tainting template state
  tests/unit/test_executor_expression_policy.py
  tests/unit/test_executor_service.py
  tracecat/executor/expression_policy.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

fix(executor): pair mapping redaction by key, not insertion order
  tests/unit/test_executor_expression_policy.py
  tracecat/executor/expression_policy.py
Due: gen-client, basedpyright

fix(executor): redact secrets in preset and table definition metadata
  tests/unit/test_executor_expression_policy.py
  tracecat/executor/expression_policy.py
Due: gen-client, basedpyright

test(registry): drop third-party contract tests (#3205)
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/CLAUDE.md
  tests/registry/test_ansible.py
  tests/registry/test_cloudflare_sdk.py
  tests/registry/test_elastic_security_template.py
  tests/registry/test_elastic_templates.py
  tests/registry/test_exa_templates.py
  tests/registry/test_freshservice.py
  tests/registry/test_google_api.py
  tests/registry/test_google_scc_templates.py
  tests/registry/test_kubernetes_sdk.py
  tests/registry/test_misp_templates.py
  tests/registry/test_okta_sdk.py
  tests/registry/test_opensearch_templates.py
  tests/registry/test_scanner_templates.py
  tests/registry/test_sentinel_one_templates.py
  tests/registry/test_slack_sdk.py
  tests/unit/test_aws_assume_role.py
  tests/unit/test_dsl_common.py
  tests/unit/test_microsoft_sentinel_templates.py
Due: gen-client, basedpyright

fix(deps): bump cmdk to 1.1.1 to fix selector crash on quoted values
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

refactor(temporal): remove obsolete PydanticAI plugin (#3203)
  tests/conftest.py
  tests/temporal/test_agent_config_sandbox_parity.py
  tests/unit/test_temporal_client.py
  tracecat/agent/worker.py
  tracecat/dsl/plugins.py
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

nit: make audit setting keys immutable
  tracecat/settings/service.py
Due: gen-client, basedpyright

feat(registry): sandbox registry sync phases
  .env.example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_sandbox.py
  tests/unit/test_sandbox_networking.py
  tests/unit/test_sandbox_validation.py
  tests/unit/test_ssh.py
  tracecat/config.py
  tracecat/registry/repository.py
  tracecat/registry/sync/artifact.py
  tracecat/registry/sync/entrypoint.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/sandbox.py
  tracecat/registry/sync/schemas.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/types.py
  tracecat/ssh.py
Due: gen-client, basedpyright

docs: document Temporal history retention
  docs/self-hosting/docker-compose.mdx
Due: none

perf(registry): deduplicate manifests in batch queries (#3169)
  tests/unit/test_registry_actions_custom_entitlement.py
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright

feat(ui): agent mention autocomplete in case comment composer
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/hooks/use-agent-mention-autocomplete.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

fix(ui): keep settings modal content within dialog width
  frontend/src/components/settings/settings-modal.tsx
Due: biome-check, typecheck-frontend

fix(agent): scope uv cache to executor jobs
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_nsjail.py
  tracecat/agent/runtime/session_paths.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

feat(cases): parse and persist case comment mentions
  alembic/versions/c20c04c7d2a9_add_case_comment_mention.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_comment_mentions.py
  tests/unit/test_case_comments_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/mentions.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): render agent mention chips in case comment viewer
  frontend/jest.config.cjs
  frontend/src/components/cases/case-description-editor.test.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/tiptap-node/mention-node/mention-node.test.tsx
  frontend/src/components/tiptap-node/mention-node/mention-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/mentions.test.ts
  frontend/src/lib/mentions.ts
Due: biome-check, typecheck-frontend

fix(ui): keep settings modal content within dialog width (#3209)
  frontend/src/components/settings/settings-modal.tsx
Due: biome-check, typecheck-frontend

fix(agent): enforce ephemeral uv cache ownership
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_nsjail.py
  tests/unit/test_mcp_validation.py
  tracecat/agent/common/config.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/integrations/mcp_validation.py
Due: gen-client, basedpyright

test(cases): use hardcoded ids in comment mention tests
  tests/unit/test_case_comment_mentions.py
  tests/unit/test_case_comments_service.py
Due: basedpyright

fix(ui): position agent mention popover above composer
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

docs: refine HTTP authentication guide
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
  docs/automations/integrations/oauth-integrations.mdx
  docs/snippets/oauth-token-expressions.mdx
  docs/snippets/registry-secrets-and-oauth.mdx
  scripts/generate_core_action_docs.py
Due: basedpyright

fix(ui): anchor mention popover to caret with sections
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/hooks/use-agent-mention-autocomplete.ts
  frontend/src/lib/textarea-caret.ts
  frontend/tests/case-comments-section.test.tsx
  frontend/tests/textarea-caret.test.ts
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
