Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(graph): dedupe edges by handle (#2711)
  tests/unit/test_view.py
  tests/unit/test_workflow_graph_edges.py
  tracecat/dsl/view.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright

feat(tables): support dropping unique column index (#2707)
  docs/snippets/mcp-tools.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_tables_service.py
  tracecat/mcp/server.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.48-rc.14
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(ui): show default model selector without agent_addons entitlement (#2703)
  frontend/src/components/organization/org-settings-agent.tsx
Due: biome-check, typecheck-frontend

fix(api): bound internal route workloads
  tests/unit/api/test_api_internal_cases.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/test_case_comments_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/attachments/internal_router.py
  tracecat/cases/attachments/service.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/internal_router.py
  tracecat/cases/service.py
  tracecat/config.py
  tracecat/tables/internal_router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

docs: update self-hosted LiteLLM architecture
  docs/self-hosting/architecture.mdx
Due: none

docs: update self-hosted LiteLLM architecture (#2713)
  docs/self-hosting/architecture.mdx
Due: none

feat(approvals): add delete approval endpoint and inbox dismiss UI
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/activity-accordion.tsx
  frontend/src/components/inbox/activity-item.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/agent/approvals/router.py
  tests/unit/test_approvals_delete.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(elastic_security): add _source field filter to list_detection_signals
  docs/tools/elastic_security.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/elastic_security/list_detection_signals.yml
  tests/registry/test_elastic_security_template.py
Due: gen-client, basedpyright

fix(agents): collapse duplicate Authorization headers in MCP discovery
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/user_client.py
Due: gen-client, basedpyright

fix(agents): collapse duplicate Authorization headers in MCP discovery (#2717)
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/user_client.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.15
  .github/ISSUE_TEMPLATE/bug_report.md
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(registry): cap squashfs sync resources
  tests/unit/test_registry_sync_tarball.py
  tracecat/config.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

test(registry): isolate squashfs config assertion
  tests/unit/test_registry_sync_tarball.py
Due: basedpyright

feat(sdk): route action SDK calls through gateway
  .vscode/settings.json
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/context.py
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  tests/registry/test_tracecat_client.py
  tests/unit/test_action_gateway_app.py
  tests/unit/test_action_runner.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_sandbox_networking.py
  tracecat/config.py
  tracecat/executor/action_gateway/__init__.py
  tracecat/executor/action_gateway/app.py
  tracecat/executor/action_gateway/config.py
  tracecat/executor/action_gateway/server.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/pool/pool.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/worker.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

refactor(sdk): remove gateway request completion logs
  tests/unit/test_action_gateway_app.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

fix: serialize action gateway validation errors
  tests/unit/test_action_gateway_app.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

fix(sdk): ignore empty action gateway socket
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  tests/registry/test_tracecat_client.py
Due: gen-client, basedpyright

test: move action runner json import
  tests/unit/test_action_runner.py
Due: basedpyright

fix(executor): log action gateway requests
  tests/unit/test_action_gateway_app.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

fix(config): default empty action gateway socket
  tests/unit/test_config.py
  tracecat/config.py
Due: gen-client, basedpyright

test(registry): seed index fixture for unit tests
  tests/unit/test_registry.py
Due: basedpyright

fix(executor): enable action gateway by default
  tests/unit/test_action_runner.py
  tests/unit/test_config.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(registry): default empty squashfs memory config
  tracecat/config.py
Due: gen-client, basedpyright

test(executor): cover nsjail action gateway smoke
  tests/unit/test_executor_sandbox_nsjail.py
Due: basedpyright

fix(registry): cap squashfs sync resources (#2716)
  tests/unit/test_registry_sync_tarball.py
  tracecat/config.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

feat(executor): route action SDK calls through gateway (#2718)
  .vscode/settings.json
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/context.py
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  tests/registry/test_tracecat_client.py
  tests/unit/test_action_gateway_app.py
  tests/unit/test_action_runner.py
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_registry.py
  tests/unit/test_sandbox_networking.py
  tracecat/config.py
  tracecat/executor/action_gateway/__init__.py
  tracecat/executor/action_gateway/app.py
  tracecat/executor/action_gateway/config.py
  tracecat/executor/action_gateway/server.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/pool/pool.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/worker.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

fix: prefer run_python dependencies over sdk mounts
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/unsafe_pid_executor.py
Due: gen-client, basedpyright

feat: expose registry SDK context to run_python
  packages/tracecat-registry/tracecat_registry/__init__.py
  packages/tracecat-registry/tracecat_registry/core/python.py
  packages/tracecat-registry/tracecat_registry/ctx.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/executor/backends/base.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

test: seed registry index for registry listing tests
  tests/unit/test_registry.py
Due: basedpyright

test: cover run_python SDK context sandbox paths
  tests/unit/executor/test_run_python_sdk_context.py
Due: basedpyright

fix: version run_python sdk cache paths
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/service.py
Due: gen-client, basedpyright

test: run run_python ctx smoke through ephemeral backend
  tests/unit/executor/test_run_python_sdk_context.py
Due: basedpyright

refactor: use prepared run_python SDK path
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
  tracecat/sandbox/unsafe_pid_executor.py
Due: gen-client, basedpyright

fix: await wrapper awaitables via coroutine
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix: narrow run_python SDK pythonpath mounts
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
  tracecat/sandbox/unsafe_pid_executor.py
Due: gen-client, basedpyright

fix: await unsafe pid awaitables via coroutine
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/unsafe_pid_executor.py
Due: gen-client, basedpyright

fix: refresh run_python sdk cache safely
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/sandbox/service.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.16
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(executor): allow squashfs module autoload
  tests/unit/test_registry_artifacts.py
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
