Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Notes added by 'git notes add'
  a7/ec235fd39f98d1f599b88ff004416088fa5f7d
Due: none

Optimize case row hydration and preserve column selections
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/use-case-column-visibility.ts
  frontend/src/hooks/use-cases.ts
  frontend/tests/cases-page.test.tsx
  frontend/tests/use-case-column-visibility.test.tsx
  frontend/tests/use-cases.test.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_cases_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Fix case column and field hydration regressions
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/tests/cases-page.test.tsx
  tests/unit/test_case_fields_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Defer case column truncation until metadata loads
  frontend/src/hooks/use-case-column-visibility.ts
  frontend/tests/use-case-column-visibility.test.tsx
Due: biome-check, typecheck-frontend

Remove unreleased case column fallback
  frontend/src/hooks/use-case-column-visibility.ts
  frontend/tests/use-case-column-visibility.test.tsx
Due: biome-check, typecheck-frontend

Preserve exact case numeric field values
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/components/cases/case-item.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/cases-accordion.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/lib/case-field-display.ts
  frontend/tests/case-field-display.test.ts
  tests/unit/test_case_fields_service.py
  tests/unit/test_cases_service.py
  tests/unit/test_table_csv_importer.py
  tests/unit/test_tables_service.py
  tracecat/cases/service.py
  tracecat/tables/common.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  70/4ba99dbf61fca47863f4c96a1b1d2f6abf90e2
Due: none

Polish case row badges and metadata gating
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/cases/case-badge.tsx
  frontend/src/components/cases/case-item.tsx
  frontend/src/components/cases/cases-accordion.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/case-item.test.tsx
  frontend/tests/cases-page.test.tsx
Due: biome-check, typecheck-frontend

Fix case badge tooltips and duration display
  frontend/src/components/cases/case-badge.tsx
  frontend/src/components/cases/case-item.tsx
  frontend/src/lib/time.ts
  frontend/tests/case-badge.test.tsx
  frontend/tests/case-item.test.tsx
  frontend/tests/time.test.ts
Due: biome-check, typecheck-frontend

Fix case and table validation regressions
  frontend/src/hooks/use-case-column-visibility.ts
  frontend/tests/use-case-column-visibility.test.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/api/test_api_internal_cases.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/api/test_api_tables.py
  tests/unit/test_tables_service.py
  tracecat/tables/common.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Tighten case badge typography
  frontend/src/components/cases/case-item.tsx
Due: biome-check, typecheck-frontend

Fix case field validation and hydration
  frontend/src/components/cases/case-badge.tsx
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/lib/sql-value-validation.test.ts
  frontend/src/lib/sql-value-validation.ts
  frontend/tests/case-badge.test.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/api/test_api_internal_cases.py
  tests/unit/test_case_fields_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/tables/common.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  1a/2e3802b65ea2eb2f34c844cdc2c95dd29e8ffd
Due: none

Notes added by 'git notes add'
  1f/6cd4246f4bd2b6a9e1722b09317c661803dbe8
Due: none

fix: stale tables batch insert rollback test
  tests/unit/test_tables_service.py
Due: basedpyright

Notes added by 'git notes add'
  6b/0ae691edda55447b9b452a0287208f1e8acfe0
Due: none

test(agent): fix session router unit tests
  tests/unit/test_agent_session_router.py
Due: basedpyright

Add workspace skills support for agents
  alembic/versions/0c6bb8f8e1d1_add_workspace_skills.py
  docs/skills-backend-plan.md
  docs/snippets/mcp-tools.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/chat.ts
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tests/unit/test_storage_blob.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/service.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/agent/skill/__init__.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/types.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/api/app.py
  tracecat/chat/tools.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/mcp/server.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agent): remove unused with_runtime_agent_config context manager
  tracecat/agent/service.py
Due: gen-client, basedpyright

refactor(skill): remove playground chat support
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/chat.ts
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/schemas.py
  tracecat/chat/tools.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: remove backend planning artifacts
  docs/skills-backend-plan.md
  docs/snippets/mcp-tools.mdx
Due: none

feat(skill): introduce ManifestValidationResult for improved manifest validation handling
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

refactor(agent): return Pydantic models directly from internal preset routes
  tracecat/agent/preset/internal_router.py
Due: gen-client, basedpyright

test: fix preset read service stubs
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_mcp_server.py
Due: basedpyright

refactor(agent): simplify preset service and router layers
  tests/unit/test_agent_preset_service.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

reparent
  alembic/versions/0c6bb8f8e1d1_add_workspace_skills.py
Due: basedpyright

Refactor agent preset read projection
  docs/snippets/mcp-tools.mdx
  tests/unit/test_agent_preset_service.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Reuse skill service in preset service
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

Make preset read mapping explicit
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

Use list adapter for skill upload files
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(skill): reject parent path segments
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(skill): isolate staged upload keys
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(skill): serialize draft patch revisions
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agent-preset): batch version list skill reads
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(skill): verify uploaded blob size
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agent-executor): offload job cleanup
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(agent-executor): offload skill staging copy
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(skill): preserve uploaded metadata and mime intent
  alembic/versions/1c8f0d6a4b2e_scope_skill_blob_uniqueness_to_content_type.py
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
  tracecat/db/models.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(skill): lock publishes for versioning
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
