Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix oidc redirect URI port normalization
  tests/unit/test_mcp_oidc_endpoints.py
  tracecat/mcp/oidc/endpoints.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  5f/f41bd25ae5a170476e5b580245c6cf8574affa
Due: none

Notes added by 'git notes add'
  da/d3c845b5be53a09197f6a0548639388aa7d1c1
Due: none

handle malformed oidc redirect URIs
  tests/unit/test_mcp_oidc_endpoints.py
  tracecat/mcp/oidc/endpoints.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b3/08c35e62d8200313ff7ab26a63e4ac84f3a11d
Due: none

Notes added by 'git notes add'
  5d/b483920b39a1d780fccb36ff19cb68c08e11b9
Due: none

Notes added by 'git notes add'
  2f/0e813aa02cd21fea6099e25fe1630e7c56b885
Due: none

Notes added by 'git notes add'
  61/1acc5f2e1be79745ae8e4b5c1776ad915ac3c6
Due: none

Notes added by 'git notes add'
  d6/5c4e1d4dedddd0cbcd03106d84577d1c61eceb
Due: none

Notes added by 'git notes add'
  d4/c8f3b9efdd3c1244d83bc1b7df6ee70cf012be
Due: none

Notes added by 'git notes add'
  46/ab6d79d34e66929f18aa145fa81fa8519ef3b3
Due: none

Notes added by 'git notes add'
  45/b8ce720220da72e7cea99113b2e0496c5e132a
Due: none

Notes added by 'git notes add'
  0c/9821ff47acb719dd1c5b8d8cad9cc8491ed6f8
Due: none

improve mcp workflow patch editing
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_json_patch.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/json_patch.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  80/3c4fff43c5bd76e0452a08b5eef1e6ccd36f99
Due: none

fix mcp workflow patch review feedback
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b1/a603e49852bd29e4911e387c0330090cee29b5
Due: none

Notes added by 'git notes add'
  0d/f733d113ac73fc8b13caea7579410cdc011cdf
Due: none

Notes added by 'git notes add'
  c0/611328563f320b35497ed04ef5d4132c74074a
Due: none

fix: normalize default port for mcp (#2514)
  tests/unit/test_mcp_oidc_endpoints.py
  tracecat/mcp/oidc/endpoints.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  16/3619252cf795fe32fc960b2a6fe1e27e2c1894
Due: none

fix: lock workflow edits during revision checks
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  13/bea04c6dba5847ebdb406e2341cda3fc13d15f
Due: none

Notes added by 'git notes add'
  5b/99f69c7294aa671d3ed1091b5dcb60fd73a61a
Due: none

Notes added by 'git notes add'
  c8/6aeb351b8ff9828436f04d099ef2a774cf51ef
Due: none

Notes added by 'git notes add'
  d2/13c3e42ccf863481ad74ab644a7da365c7e0c3
Due: none

Notes added by 'git notes add'
  10/6fc1604c261d5f721eca05c384a1a23f5d6365
Due: none

fix: normalize null schedule timeouts
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  52/fcba4766d2c00983caef5a00f17eddd4092c56
Due: none

Notes added by 'git notes add'
  ec/e88282be788b726c1828ec08aa941625689b77
Due: none

Notes added by 'git notes add'
  6a/37defcf9e9149753c5033b09a326c74630e4ee
Due: none

Notes added by 'git notes add'
  39/5274c554ea7b1d55ef2857db3e78ffea1b92a9
Due: none

Notes added by 'git notes add'
  34/78aa8fc0e5f64456c25634738402e41a9e1a33
Due: none

Notes added by 'git notes add'
  cd/e14b6564dacdc51ff7fb463a9a9d7367d2e36a
Due: none

Notes added by 'git notes add'
  ae/90ef7fce2cb8cec7c9d4ad4bd0f2721c99486f
Due: none

fix(docs): ignore sub-section labels when building env var descriptions
  .env.example
  docs/snippets/environment-variables.mdx
  scripts/generate_env_docs.py
Due: basedpyright

Notes added by 'git notes add'
  68/601153b1c4e733e42c22b5054f9090538ec38f
Due: none

Notes added by 'git notes add'
  b6/75463141fb651143511060915b52733d54fed7
Due: none

fix: reset removed workflow layout fields
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e4/3ad3ac45331af88a66612235592aeb632fe785
Due: none
