Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(tables): add semantic search column controls
  frontend/src/components/tables/table-search-column-control.tsx
  frontend/src/components/tables/table-search-context.tsx
  frontend/src/components/tables/table-search-progress.tsx
  frontend/src/components/tables/table-search-status.tsx
  frontend/src/components/tables/table-search.test.tsx
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/components/tables/table-view.tsx
  frontend/src/hooks/use-table-search.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

docs: Update deployment recommendation in SECURITY.md
  SECURITY.md
Due: none

fix(agents+integrations): surface and block custom actions shadowing builtins
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_activities.py
  tests/unit/test_registry_lock_service.py
  tests/unit/test_registry_sync_base_service.py
  tracecat/agent/error_policy.py
  tracecat/exceptions.py
  tracecat/registry/lock/service.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/service.py
  tracecat/runtime/errors.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(integrations): reuse seeded platform registry repo in shadow sync test
  tests/unit/test_registry_sync_base_service.py
Due: basedpyright

fix(engine): classify unreachable join failures as user errors
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_dsl_scheduler_concurrency.py
  tracecat/dsl/scheduler.py
  tracecat/runtime/errors.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): add skill folder and tag UX
  frontend/src/app/workspaces/[workspaceId]/skills/tags/page.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/skills/create-skill-button.tsx
  frontend/src/components/skills/skill-tags-view.tsx
  frontend/src/components/skills/skills-catalog-view-toggle.tsx
  frontend/src/components/skills/skills-dashboard.test.tsx
  frontend/src/components/skills/skills-dashboard.tsx
  frontend/src/components/skills/skills-header.tsx
  frontend/src/hooks/use-skill-folders.ts
  frontend/src/hooks/use-skill-tags.ts
  frontend/src/hooks/use-skills.ts
Due: biome-check, typecheck-frontend

feat(agents): add skill folders and tags
  alembic/versions/b4e8f2a6c1d9_add_skill_folders_and_tags.py
  docs/snippets/mcp-tools.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_skill_folders.py
  tests/unit/api/test_api_skill_tags.py
  tests/unit/test_mcp_server.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_skill_folders_service.py
  tests/unit/test_skill_tags_service.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/agent/skill/folders/router.py
  tracecat/agent/skill/folders/schemas.py
  tracecat/agent/skill/folders/service.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/tags/definitions_router.py
  tracecat/agent/skill/tags/router.py
  tracecat/agent/skill/tags/schemas.py
  tracecat/agent/skill/tags/service.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/identifiers/__init__.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): load skill tags explicitly
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agents): refresh skill folders after mutations
  frontend/src/hooks/use-skills.ts
Due: biome-check, typecheck-frontend

chore(db): rebase skill folders migration onto main heads
  alembic/versions/b4e8f2a6c1d9_add_skill_folders_and_tags.py
Due: basedpyright

release: 1.1.0-alpha.2.1
  .github/ISSUE_TEMPLATE/bug_report.md
  alembic/versions/9680c861644a_add_semantic_search_storage.py
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  scripts/update-version.sh
  tests/unit/test_registry_platform_startup_versioning.py
  tracecat/__init__.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

fix(integrations): align Azure DevOps templates with official OpenAPI spec
  docs/tools/azure_devops.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/projects/list_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/work_items/add_work_item_comment.yml
Due: gen-client

feat(engine+ui): allow error details by default with org opt-out
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/organization/org-settings-app.tsx
  tests/unit/test_executor_service.py
  tests/unit/test_organization_settings.py
  tracecat/executor/service.py
  tracecat/secrets/common.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

ui(org): restyle error-details workspace list with switches and bulk actions
  frontend/src/components/organization/org-settings-app.tsx
Due: biome-check, typecheck-frontend

fix(tables): clarify semantic search route boundaries
  tests/integration/test_table_search_lifecycle.py
  tests/unit/test_table_search_router.py
  tracecat/tables/SEARCH.md
  tracecat/tables/router.py
  tracecat/tables/search/__init__.py
  tracecat/tables/search/router.py
  tracecat/tables/search/schemas.py
  tracecat/tables/search/service.py
  tracecat/tables/search/source.py
  tracecat/tables/search_router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(tables): declare search scopes and validation errors
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_table_search_router.py
  tracecat/tables/search/router.py
  tracecat/tables/search/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(integrations): trim Azure DevOps templates to core action set
  docs/tools/azure_devops.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/advanced_security/update_alert.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/audit/list_audit_streams.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/audit/query_audit_log.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/builds/get_build.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/builds/list_build_definitions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/builds/queue_build.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/entitlements/delete_user_entitlement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/entitlements/list_user_entitlements.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/git/add_pull_request_reviewer.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/git/create_pull_request.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/git/list_commits.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/git/list_refs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/git/update_pull_request.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/add_membership.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/delete_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/list_groups.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/list_memberships.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/graph/remove_membership.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/projects/get_project.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/service_endpoints/get_service_endpoint.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/service_endpoints/list_service_endpoints.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/azure_devops/work_items/delete_work_item.yml
Due: gen-client

chore(integrations)!: remove legacy Google SecOps Python actions
  docs/docs.json
  docs/tools/google_secops_detection.mdx
  docs/tools/google_secops_soar.mdx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/integrations/google_secops_detection.py
  packages/tracecat-registry/tracecat_registry/integrations/google_secops_soar.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): stop Read failures on skill files and describe bundled files
  Dockerfile
  tests/unit/test_agent_activities.py
  tests/unit/test_skill_inventory.py
  tracecat/agent/common/tool_inputs.py
  tracecat/agent/executor/activity.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/skill/inventory.py
Due: gen-client, basedpyright

fix(agents): normalize Read tool_use inputs at the LLM proxy and bound skill inventory scans
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_skill_inventory.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/tool_use_rewrite.py
  tracecat/agent/skill/inventory.py
Due: gen-client, basedpyright

fix(agents): scope PR to proxy Read rewrite; inline sanitizer and cap JSON buffering
  Dockerfile
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_read_tool_use_rewrite.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/tool_use_rewrite.py
  tracecat/agent/skill/inventory.py
Due: gen-client, basedpyright

fix(agent): skip ineligible self-hosted embedding connections
  tests/integration/test_embedding_configuration.py
  tracecat/search/embeddings/selection.py
Due: gen-client, basedpyright

fix(ui): use official Google SecOps mark for Google Chronicle provider and actions
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

ci: make PostgreSQL image publication safely retryable
  .github/workflows/build-postgres-image.yml
  scripts/postgres/check-unpublished-image.sh
  scripts/postgres/publish-manifest.sh
  scripts/tests/test_pgvector_publish.sh
Due: none

fix(tables): use shared cursors for search progress
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/integration/test_table_search_lifecycle.py
  tests/unit/test_table_search_router.py
  tracecat/tables/search/router.py
  tracecat/tables/search/schemas.py
  tracecat/tables/search/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(tables): use formatting shared by local hooks and CI
  tests/unit/test_table_search_router.py
Due: basedpyright

fix(tables): explain providerless selection downgrade recovery
  alembic/versions/8c0e18190001_allow_unconfigured_search_selection.py
  tests/migration/test_table_search_configuration_migration.py
Due: basedpyright

feat(integrations): add Perplexity MCP server
  frontend/src/components/mcp-catalog-icons.tsx
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/mcp_catalog.json
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/perplexity/mcp.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): pin Perplexity OAuth resource in catalog spec
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
Due: gen-client, basedpyright

fix(integrations): make Rapid7 action names unique across products
  docs/tools/rapid7.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/create_appsec_vulnerability_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/get_appsec_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/get_appsec_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/get_appsec_scan_execution_details.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/get_appsec_vulnerability.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/get_scan_execution_details.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/list_appsec_apps.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/list_appsec_scan_configs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/list_appsec_scans.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/list_appsec_vulnerabilities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/search_appsec.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/submit_appsec_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightappsec/submit_appsec_scan_action.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/get_vm_asset.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/get_vm_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/list_vm_scan_engines.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/list_vm_scans.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/list_vm_sites.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/search_vm_assets.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/search_vm_vulnerabilities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/start_vm_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rapid7/insightvm/stop_vm_scan.yml
Due: gen-client

fix(infra): use dynamic port in compose service healthchecks (#3237)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

refactor(agents): name edition backends and model capabilities
  alembic/versions/acbacbf8ef53_add_session_backend_identity.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/hooks/use-chat.ts
  frontend/tests/chat-interface.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/migration/test_session_backend_identity.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_backends.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/backends/__init__.py
  tracecat/agent/backends/durable.py
  tracecat/agent/backends/registry.py
  tracecat/agent/backends/schemas.py
  tracecat/agent/backends/types.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/backends/README.md
  tracecat/agent/session/backends/__init__.py
  tracecat/agent/session/backends/registry.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(integrations): document the OAuth redirect URI
  docs/automations/integrations/oauth-integrations.mdx
Due: none

refactor(agents): type approval workflow handle
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

refactor(agents): share typed workflow dispatch in backend base
  tests/unit/test_agent_backends.py
  tests/unit/test_agent_session_approval_sink.py
  tracecat/agent/backends/base.py
  tracecat/agent/backends/default.py
  tracecat/agent/backends/registry.py
  tracecat/agent/backends/types.py
Due: gen-client, basedpyright

refactor(agents): clarify workflow output and class configuration types
  tests/unit/test_agent_backends.py
  tracecat/agent/backends/base.py
  tracecat/agent/backends/types.py
Due: gen-client, basedpyright

fix(integrations): restore workspace scopes in OAuth callback
  tests/unit/test_integration_oauth_redirect.py
  tracecat/integrations/router.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
