Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(agent): restrict LLM socket proxy to inference and discovery paths
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

test(agents): pin OTel relay wiring in executor, shim, and receiver
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_otel_relay.py
  tests/unit/test_agent_sandbox_entrypoint.py
Due: basedpyright

fix(sandbox): harden rlimit guards and envelope error-code handling
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/shim_entrypoint.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/result_envelope.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(engine): preserve agent child replay input
  tests/unit/test_dsl_workflow_agent_child_id.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

ci: install admin group in python lint job
  .github/workflows/lint-python.yml
Due: none

fix(agent): scope MCP OAuth to caller and isolate slackbot lifecycle
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/slack.py
  tests/integration/test_dsl_agent_wiring.py
  tests/unit/test_agent_interface_actions.py
  tests/unit/test_mcp_agent_action_mapping.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agents): pass model into migration templates and hoist vercel import
  docs/migration/ai.rank_documents.yml
  docs/migration/ai.select_field.yml
  docs/migration/ai.select_fields.yml
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(agents): harden interface-action paths after pydantic-ai removal
  docs/migration/ai.rank_documents.yml
  docs/migration/ai.select_field.yml
  docs/migration/ai.select_fields.yml
  docs/tools/github.mdx
  docs/tools/jira.mdx
  docs/tools/linear.mdx
  docs/tools/notion.mdx
  docs/tools/runreveal.mdx
  docs/tools/sentry.mdx
  docs/tools/wiz.mdx
  packages/tracecat-registry/tracecat_registry/core/ai.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/slack.py
  tests/unit/test_agent_interface_actions.py
  tests/unit/test_agent_session_search_attributes.py
  tests/unit/test_chat_schemas.py
  tracecat/agent/internal_router.py
  tracecat/chat/schemas.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

refactor(agents): drop deprecated mcp actions
  docs/docs.json
  docs/tools/github.mdx
  docs/tools/jira.mdx
  docs/tools/linear.mdx
  docs/tools/notion.mdx
  docs/tools/runreveal.mdx
  docs/tools/sentry.mdx
  docs/tools/wiz.mdx
  packages/tracecat-registry/tracecat_registry/integrations/mcp/github.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/jira.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/linear.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/notion.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/runreveal.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/sentry.py
  packages/tracecat-registry/tracecat_registry/integrations/mcp/wiz.py
  tests/integration/test_dsl_agent_wiring.py
  tests/unit/test_agent_interface_actions.py
  tests/unit/test_mcp_agent_action_mapping.py
  tracecat/dsl/action.py
  tracecat/dsl/enums.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agents): serve retired internal agent routes on the durable runtime
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_internal_router.py
  tracecat/agent/internal_router.py
  tracecat/agent/schemas.py
Due: gen-client, basedpyright

fix(agents+engine): fork DSL agent sessions
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/integration/test_agent_session_fork.py
  tests/integration/test_dsl_agent_wiring.py
  tests/unit/test_agent_session_fork_activity.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_dsl_workflow_agent_child_id.py
  tests/unit/test_temporal_patches.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/dsl/workflow.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

refactor(agents): pass parent_session_id directly to session create input
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

feat(mcp): add create_column tool for tables
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor(cases): reuse cancellation drain helper
  tests/unit/test_concurrency.py
  tracecat/cases/agent_invocations/workflows.py
  tracecat/concurrency.py
Due: gen-client, basedpyright

fix(logging): harden API Sentry sanitization
  tests/unit/test_sentry_interceptor.py
  tracecat/agent/worker.py
  tracecat/api/app.py
  tracecat/dsl/worker.py
  tracecat/executor/worker.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(engine+ui): make pinned draft results survive skip propagation
  frontend/src/lib/workflow-pins.ts
  frontend/tests/workflow-pins.test.ts
  tests/unit/test_dsl_scheduler_determinism.py
  tests/unit/test_workflow_execution_pins.py
  tracecat/dsl/constants.py
  tracecat/dsl/scheduler.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): preserve subagent migration compatibility
  alembic/versions/7b4d9a2c1e6f_normalize_agent_preset_subagent_edges.py
  tests/migration/test_agent_preset_subagent_edges_migration.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/subagent_bindings.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): validate subagent version ownership
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/subagent_bindings.py
Due: gen-client, basedpyright

refactor(agents): centralize minimal preset reads
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

test(agents): verify restored version subagent edges
  tests/unit/test_agent_preset_service.py
Due: basedpyright

feat(integrations): add remote Glean MCP server
  frontend/src/components/mcp-catalog-icons.tsx
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_catalog_resolver.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents+engine): simplify DSL agent session fork plumbing
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_dsl_workflow_agent_child_id.py
  tracecat/agent/session/service.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(rbac): resolve group-derived roles and harden membership rollout
  alembic/versions/2bf069003a77_membership_derived_from_rbac_assignments.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  tests/membership.py
  tests/migration/test_membership_compat_views.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_workspace_service.py
  tracecat/auth/users.py
  tracecat/authz/enums.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/tenant_rls.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): preserve Temporal cancellation draining
  tests/temporal/test_case_comment_agent_invocation_workflow.py
  tracecat/cases/agent_invocations/workflows.py
  tracecat/concurrency.py
Due: gen-client, basedpyright

fix(mcp): keep server instructions within prompt budget
  tracecat/mcp/server.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.22
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(integrations): add Splunk remote MCP server
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_catalog_pins.py
  tests/unit/test_mcp_catalog_resolver.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright

fix(engine): harden nsjail bind mount handoffs (#3088)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_sandbox_file_io.py
  tests/unit/test_sandbox_result_envelope.py
  tests/unit/test_sandbox_service.py
  tests/unit/test_sandbox_validation.py
  tracecat/agent/common/config.py
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/sandbox/shim_entrypoint.py
  tracecat/config.py
  tracecat/executor/minimal_runner.py
  tracecat/registry/sync/sandbox.py
  tracecat/sandbox/exceptions.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/file_io.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/result_envelope.py
  tracecat/sandbox/seccomp.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(logging): enforce closed Sentry event schema
  tests/unit/test_sentry_interceptor.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(mcp): keep MCP instructions under the prompt budget
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(cases): let cleanup outcome win over racing cancellation
  tests/temporal/test_case_comment_agent_invocation_workflow.py
  tests/unit/test_concurrency.py
  tracecat/cases/agent_invocations/workflows.py
  tracecat/concurrency.py
Due: gen-client, basedpyright

fix(mcp): keep MCP instructions under the prompt budget (#3399)
  tracecat/mcp/server.py
Due: gen-client, basedpyright

test(agents): pin fork history load to parent transcript on first turn
  tests/unit/test_agent_session_messages.py
Due: basedpyright

fix(rbac): harden org role resolver and index workspace-side lookups
  alembic/versions/2bf069003a77_membership_derived_from_rbac_assignments.py
  tests/migration/test_membership_compat_views.py
  tests/unit/test_organization_service.py
  tracecat/authz/membership.py
  tracecat/db/models.py
Due: gen-client, basedpyright

feat(api): send organization invitation emails over SMTP
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  pyproject.toml
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/organization/router.py
  uv.lock
Due: gen-client, basedpyright

fix(rbac): refuse mixed-source removal and surface group provenance
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(cases): use wall time for cancellation cleanup
  tests/temporal/test_case_comment_agent_invocation_workflow.py
Due: basedpyright

feat(mcp): trim server instructions and add workflow authoring guide
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright
