Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

Notes added by 'git notes add'
  8c/3907e9784a71da6f976e73536d045f203e855f
Due: none

fix(agents): bump agent passthrough
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_provider_service.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): type LLM proxy request and inject reasoning_effort
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  67/ab9954b7a91bbd9d4ec7c68bed18e352d50067
Due: none

feat(cases): add create_tags_if_missing option to create_case and update_case actions
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tests/registry/test_cases_characterization.py
  tests/registry/test_core_cases.py
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright

fix(ui): constrain manage versions dialog height and shorten SHA versions
  frontend/src/components/registry/dialogs/repository-versions-dialog.tsx
Due: biome-check, typecheck-frontend

feat(cases): add create_missing_tags option to create_case and update_case actions (#2531)
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tests/registry/test_cases_characterization.py
  tests/registry/test_core_cases.py
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright

fix(ui): remove hardcoded FORCE_LOCKED_ACTIONS overriding backend entitlements
  frontend/src/components/registry/workspace-actions-inventory.tsx
Due: biome-check, typecheck-frontend

fix(ui): Registry action dialogs and locked actions (#2534)
  frontend/src/components/registry/dialogs/repository-versions-dialog.tsx
  frontend/src/components/registry/workspace-actions-inventory.tsx
Due: biome-check, typecheck-frontend

claude: feat(mcp): add full analyst case management tools
  tracecat/mcp/server.py
Due: gen-client, basedpyright

claude: test(mcp): add comprehensive tests for case management tools
  tests/unit/test_mcp_server.py
Due: basedpyright

claude: feat(mcp): support create_missing_tags in case create/update
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(webhooks): add unwrap query param to /wait
  docs/automations/triggers/webhooks.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(engine): always include builtin registry in resolved lock
  tests/unit/test_registry_lock_service.py
  tracecat/registry/lock/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  31/1961dbc832b5cf946c50d0b66381c0e11b8bb6
Due: none

fix(agents): restore max turns on agent harness
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/common/protocol.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix: skip unsynced builtin registry in lock
  tests/unit/test_registry_lock_service.py
  tracecat/registry/lock/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c1/7abc3dd68b496c9fee7f9c0d491cdd374f68ba
Due: none

fix(webhooks): keep /wait response_model typed for default envelope
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/webhooks/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(registry): isolate lock tests from seeded builtin registry
  tests/unit/test_registry_lock_service.py
Due: basedpyright

Notes added by 'git notes add'
  13/cd4c0839b952db8d3bf84e8cf602af5f85dc5b
Due: none

fix: prefetch only action-bound lock origins
  tests/unit/test_registry_lock_service.py
  tests/unit/test_registry_resolver.py
  tracecat/executor/registry_resolver.py
  tracecat/registry/lock/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e2/1044af68b17c3c1cd067c14685d5c95a1e8ad7
Due: none

skip fallback version if no builtin version found
  tracecat/registry/lock/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f2/b235af9b682b691c6e75ad0ae797b14ab344bc
Due: none

fix(agents): maxs turn test
  tests/unit/test_agent_runtime.py
Due: basedpyright

fix(webhooks): align /wait OpenAPI with unwrap responses
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/webhooks/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflows): block invalid builtin lock resolution
  tests/unit/api/test_api_workflows.py
  tests/unit/test_registry_lock_service.py
  tests/unit/test_workflow_definitions_activities.py
  tracecat/exceptions.py
  tracecat/registry/lock/service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0e/885aecc72be8815f28628da6dd7dcf7f875c75
Due: none

fix(executor): prefetch all lock origins
  tests/unit/test_registry_resolver.py
  tracecat/executor/registry_resolver.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  3e/080ccb44fc7f448e4ec210151066f72f5dd12f
Due: none

colocate
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  88/9eb764ed6b069ad854af68169a9043baff58b7
Due: none

fix: surface builtin sync pending errors
  tests/unit/api/test_api_workflows.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_mcp_server.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/mcp/server.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  98/7b88ded86efd364e231023dd910f7c3bb66fb5
Due: none

feat(agents): knob for toggle thinking
  alembic/versions/0c9a39e54e2f_add_enable_thinking_to_agent_presets.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/lib/agent-presets.ts
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_dsl_converter.py
  tests/unit/test_mcp_server.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/litellm_config.yaml
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/dsl/workflow.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: guard join run_if skip handling (#2513)
  tests/temporal/test_workflows.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

feat(agents): type LLM proxy request and inject reasoning_effort (#2533)
  alembic/versions/0c9a39e54e2f_add_enable_thinking_to_agent_presets.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/lib/agent-presets.ts
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_dsl_converter.py
  tests/unit/test_mcp_server.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/litellm_config.yaml
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/dsl/workflow.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.40
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  02/b9bd40c3a3a851e484eb347b733af84c146586
Due: none
