Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Notes added by 'git notes add'
  a4/3293bd9c1a99ffb8f2a458d73c6d554ac172b7
Due: none

refactor(watchtower): optimize agent and session existence checks using exists() method
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  7e/b0e9cea5f38dc112bcfaaac62a6461c83e2b15
Due: none

feat(watchtower): add 'openclaw' to WatchtowerAgentType enumeration
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  55/ee8c3d06fd95138155d0cba28357105adf8247
Due: none

feat(watchtower): add openclaw monitor icon mapping
  frontend/src/components/watchtower/watchtower-monitor.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  7d/7b283b3ea426d82aab0664e39cd8003984819f
Due: none

perf(watchtower): scope list_agents session counts to paginated page
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  tests/unit/test_watchtower_service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  6f/3102e7bd6275d12c6ef7c2efb255467378c6f9
Due: none

refactor(auth): simplify client ID extraction logic in get_token_identity function
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0e/e77f75bc1be4aebd2240cf6ec9563de51c2c45
Due: none

Notes added by 'git notes add'
  64/f83272a3de1131b601676a4efe46d9cf8635db
Due: none

feat(watchtower): type monitor status filters and tool call statuses
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/watchtower/watchtower-monitor.tsx
  frontend/src/hooks/use-watchtower.ts
  packages/tracecat-ee/tracecat_ee/watchtower/router.py
  packages/tracecat-ee/tracecat_ee/watchtower/schemas.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/types.py
  tests/unit/test_watchtower_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  0b/e56c4bb1e82a5e3527f82d6019b90b5cb2f5ac
Due: none

feat(watchtower): type agent session status as enum
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/watchtower/schemas.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  3a/8b1c2a1b04f47cdfaf588aba3309c9030aa428
Due: none

perf(watchtower): optimize monitor query hot paths
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  d1/bef18043b3d216f44dd45ca18d42b7fe752815
Due: none

Update chat approval controls
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ai-elements/code-block.tsx
  frontend/src/components/ai-elements/model-selector.tsx
  frontend/src/components/ai-elements/prompt-input.tsx
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/ui/input-group.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

Update chat mention UI
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

fix(watchtower): commit retention pruning deletes
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a8/1c9d1edd5fa6e3b844a9a7ec0a1b25ac909be8
Due: none

feat(ee): Watchtower monitor UX + session count telemetry (#2259)
  alembic/versions/929ee467543f_add_watchtower_agent_monitor_tables.py
  frontend/src/app/watchtower/layout.tsx
  frontend/src/app/watchtower/monitor/layout.tsx
  frontend/src/app/watchtower/monitor/page.tsx
  frontend/src/app/watchtower/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/watchtower-sidebar.tsx
  frontend/src/components/watchtower/watchtower-monitor.tsx
  frontend/src/hooks/use-watchtower.ts
  packages/tracecat-ee/tracecat_ee/watchtower/__init__.py
  packages/tracecat-ee/tracecat_ee/watchtower/router.py
  packages/tracecat-ee/tracecat_ee/watchtower/schemas.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/types.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tier_defaults.py
  tests/unit/test_watchtower_service.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/mcp/auth.py
  tracecat/mcp/middleware.py
  tracecat/mcp/server.py
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: prefer enum types over plain str for finite value sets
  AGENTS.md
Due: none

feat(agents): init external channels
  alembic/versions/8e2a638ae873_add_agent_channel_token_and_session_.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/external-channels/slack-channel-panel.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-agent-channels.ts
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  tests/unit/test_agent_channel_handler.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_channel_validation.py
  tracecat/agent/channels/__init__.py
  tracecat/agent/channels/dependencies.py
  tracecat/agent/channels/handlers/__init__.py
  tracecat/agent/channels/handlers/base.py
  tracecat/agent/channels/handlers/slack.py
  tracecat/agent/channels/handlers/slack_helpers.py
  tracecat/agent/channels/management_router.py
  tracecat/agent/channels/router.py
  tracecat/agent/channels/schemas.py
  tracecat/agent/channels/service.py
  tracecat/agent/channels/sinks.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/agent/stream/connector.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): external channel tool calling
  alembic/versions/8e2a638ae873_add_agent_channel_token_and_session_.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/external-channels/slack-channel-panel.tsx
  frontend/src/hooks/use-agent-channels.ts
  tests/unit/test_agent_channel_handler.py
  tests/unit/test_agent_channel_management_router.py
  tests/unit/test_agent_channel_oauth_service.py
  tests/unit/test_agent_channel_service.py
  tests/unit/test_agent_channel_service_config.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_channel_validation.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_session_schemas.py
  tracecat/agent/channels/dependencies.py
  tracecat/agent/channels/handlers/slack.py
  tracecat/agent/channels/handlers/slack_helpers.py
  tracecat/agent/channels/management_router.py
  tracecat/agent/channels/router.py
  tracecat/agent/channels/schemas.py
  tracecat/agent/channels/service.py
  tracecat/agent/channels/sinks.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): handle slack oauth errors, logging, and stream completion
  frontend/src/components/agents/external-channels/slack-channel-panel.tsx
  frontend/src/hooks/use-agent-channels.ts
  tests/unit/test_agent_channel_management_router.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/channels/handlers/slack.py
  tracecat/agent/channels/handlers/slack_helpers.py
  tracecat/agent/channels/management_router.py
  tracecat/agent/channels/router.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent-channel): clear Slack dedup key on failures and tighten slack signing secret redaction
  tests/unit/test_agent_channel_handler.py
  tests/unit/test_agent_channel_service.py
  tests/unit/test_slack_helpers.py
  tracecat/agent/channels/handlers/slack.py
  tracecat/agent/channels/handlers/slack_helpers.py
  tracecat/agent/channels/service.py
Due: gen-client, basedpyright

docs: prefer match/case mapping patterns for dict extraction
  AGENTS.md
Due: none

Notes added by 'git notes add'
  28/4cd76869a53cd93e1d97344385ddb7d0581afa
Due: none

docs: add SQLAlchemy ORM guidelines for upserts, EXISTS, and N+1 batching
  AGENTS.md
Due: none

Notes added by 'git notes add'
  6c/9c0134d1b53e2f013161f4228c45c91f8066ca
Due: none

chore(agent): increase default agent sandbox timeout to 20 minutes
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/common/config.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
Due: gen-client, basedpyright

chore(agents): increase default agent sandbox timeout to 30 minutes (#2261)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/common/config.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(mcp): extend oauth access token fallback expiry to 24h
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

fix(agent-channel): extract slack sink module, type futures, use EXISTS and match/case
  tests/unit/test_agent_channel_sinks.py
  tracecat/agent/channels/service.py
  tracecat/agent/channels/sinks/__init__.py
  tracecat/agent/channels/sinks/base.py
  tracecat/agent/channels/sinks/slack.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

feat(workflow): support pinned draft results and stitched run events
  alembic/versions/c5d42c1a4f8b_add_workflow_draft_pins.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/action-node.tsx
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/builder/events/events-sidebar.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/components/events/workflow-events-list.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/lib/event-history.ts
  frontend/src/lib/hooks.tsx
  frontend/src/lib/workflow-pins.ts
  tests/unit/test_dsl_scheduler_determinism.py
  tests/unit/test_registry_lock_resolution.py
  tracecat/db/models.py
  tracecat/dsl/common.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/mcp/server.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  7a/67dc6b2f13dfda8db33d4288f918a5d8ea00c6
Due: none

init(agents): agent external channel approval
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/external-channels/slack-channel-panel.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  scripts/cluster
  tests/unit/test_agent_channel_handler.py
  tests/unit/test_agent_channel_service.py
  tests/unit/test_agent_channel_service_tokens.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_approvals_manager.py
  tracecat/agent/channels/handlers/slack.py
  tracecat/agent/channels/router.py
  tracecat/agent/channels/service.py
  tracecat/agent/channels/sinks/slack.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/service.py
  tracecat/chat/schemas.py
  tracecat/redis/client.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
