Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

Notes added by 'git notes add'
  a5/57ac57f59d65811502be85a68e23cacd6ccd6a
Due: none

Remove Temporal node selectors
  deployments/eks/modules/eks/helm.tf
  deployments/helm/README.md
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
Due: none

infra: Enforce arch scheduling for Helm workloads (#2161)
  deployments/eks/README.md
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/helm/README.md
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/migrations-job.yaml
  deployments/helm/tracecat/values.yaml
Due: none

fix: improve layout and expand default view for execution details and collection objects
  frontend/src/app/workspaces/[workspaceId]/workflows/[workflowId]/executions/[executionId]/page.tsx
  frontend/src/components/executions/collection-object-result.tsx
  frontend/src/components/executions/event-details.tsx
Due: biome-check, typecheck-frontend

fix(ui): Add scroll area for large input / results in execution viewer (#2165)
  frontend/src/app/workspaces/[workspaceId]/workflows/[workflowId]/executions/[executionId]/page.tsx
  frontend/src/components/executions/collection-object-result.tsx
  frontend/src/components/executions/event-details.tsx
Due: biome-check, typecheck-frontend

fix(db): reparent workflow git sync migration
  alembic/versions/672fecea1d32_add_workflow_git_sync_branch.py
Due: basedpyright

Notes added by 'git notes add'
  ba/85dc750b1d52e4c303eb17ffac7ccbdcbb852f
Due: none

Notes added by 'git notes add'
  54/2a6ea42596df80359254a10d1eacab1fc991a5
Due: none

fix(workflow): harden branch publish error handling
  tests/unit/test_workflow_sync_service.py
  tests/unit/test_workflows_store.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f1/4d04f4da2254506a3bb37abdcf1b73e4ed6b90
Due: none

fix(frontend): gate workflow sync in org settings
  frontend/src/app/organization/vcs/page.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
Due: biome-check, typecheck-frontend

test(registry): retry transient LDAP bind failures
  tests/registry/test_ldap.py
Due: basedpyright

Notes added by 'git notes add'
  09/1ab509ed36bdc64558e5c12a6155dd3ca1d4e0
Due: none

fix: show Workflow sync as gated in org settings (#2166)
  frontend/src/app/organization/vcs/page.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
Due: biome-check, typecheck-frontend

docs: Update infrastructure change guidelines in CLAUDE.md
  CLAUDE.md
Due: none

refactor(eks): Update capacity management and headroom configuration
  deployments/eks/README.md
  deployments/eks/main.tf
  deployments/eks/modules/eks/cluster.tf
  deployments/eks/modules/eks/external-secrets.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
Due: none

Drop duplicate vars light and full deployment
  deployments/eks/README.md
Due: none

fix(eks): Update external secrets deletion policy and helm release settings
  deployments/eks/modules/eks/external-secrets.tf
  deployments/eks/modules/eks/helm.tf
Due: none

fix(infra): Migrate postgres ExternalSecret to Helm and fix schema job RDS access
  deployments/eks/APPLY_STATUS.md
  deployments/eks/modules/eks/external-secrets.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/rds.tf
  deployments/helm/tracecat/templates/external-secrets.yaml
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
Due: none

fix(eks): Update authentication mode in EKS cluster configuration to enhance security
  deployments/eks/modules/eks/cluster.tf
Due: none

fix(eks): Complete EKS deployment and finalize postgres ExternalSecret migration
  deployments/eks/APPLY_STATUS.md
Due: none

feat(infra): Add Temporal S3 archival bucket, IAM role, and Helm config
  deployments/eks/APPLY_STATUS.md
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/iam.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/outputs.tf
  deployments/eks/modules/eks/s3.tf
  deployments/helm/README.md
  deployments/helm/tracecat/values.yaml
Due: none

refactor(eks): Update EKS deployment configuration and capacity management
  deployments/eks/README.md
Due: none

Update default EKS node profile
  deployments/eks/README.md
  deployments/eks/main.tf
  deployments/eks/modules/eks/cluster-autoscaler.tf
  deployments/eks/modules/eks/cluster.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/iam.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
Due: none

fix(eks): Switch default node type from t4g.2xlarge to c7g.2xlarge
  deployments/eks/README.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
Due: none

Enforce HPA in EKS deployment
  deployments/eks/README.md
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/helm/README.md
  deployments/helm/tracecat/Chart.lock
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/charts/metrics-server-3.13.0.tgz
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/api-deployment.yaml
  deployments/helm/tracecat/templates/api-hpa.yaml
  deployments/helm/tracecat/templates/ui-deployment.yaml
  deployments/helm/tracecat/templates/ui-hpa.yaml
  deployments/helm/tracecat/values.yaml
Due: none

feat(mcp): tracecat oauth mcp server
  docker-compose.dev.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  scripts/cluster
  tracecat/mcp/__init__.py
  tracecat/mcp/__main__.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/server.py
  tracecat/settings/schemas.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(mcp): init tracecat mcp
  docker-compose.dev.yml
  scripts/cluster
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_mcp_server.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/preset/prompts.py
  tracecat/expressions/validator/validator.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/middleware.py
  tracecat/mcp/server.py
  tracecat/registry/lock/service.py
  tracecat/validation/service.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

feat(mcp): org-scoping; additional auth
  .env.example
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/mcp-deployment.yaml
  deployments/helm/tracecat/templates/mcp-service.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/app/organization/settings/mcp/layout.tsx
  frontend/src/app/organization/settings/mcp/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.custom.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-mcp.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_organization_mcp.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_config.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/middleware.py
  tracecat/mcp/server.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): auth polish
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/cluster
  tests/unit/api/test_api_organization_mcp.py
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/middleware.py
  tracecat/mcp/server.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

Rewrite spec for agent prompt
  deployments/eks/README.md
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/iam.tf
  deployments/eks/modules/eks/keda-crds.tf
  deployments/eks/modules/eks/outputs.tf
  deployments/eks/tfplan
  deployments/helm/README.md
  deployments/helm/tracecat/Chart.lock
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/charts/keda-2.19.0.tgz
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/agent-executor-deployment.yaml
  deployments/helm/tracecat/templates/agent-executor-keda-scaledobject.yaml
  deployments/helm/tracecat/templates/api-deployment.yaml
  deployments/helm/tracecat/templates/executor-deployment.yaml
  deployments/helm/tracecat/templates/executor-keda-scaledobject.yaml
  deployments/helm/tracecat/templates/temporal-keda-trigger-auth.yaml
  deployments/helm/tracecat/templates/worker-deployment.yaml
  deployments/helm/tracecat/templates/worker-keda-scaledobject.yaml
  deployments/helm/tracecat/values.yaml
Due: none

fix(mcp): enforce auto layout generation
  frontend/src/app/organization/settings/mcp/layout.tsx
  frontend/src/app/organization/settings/mcp/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.custom.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-mcp.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_organization_mcp.py
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/server.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflow-store): address jordan review comments
  tests/unit/test_workflow_sync_service.py
  tests/unit/test_workflows_store.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f0/8c14d8c0b2751568e334a643b3d870d692d1f3
Due: none

feat(workflows): support target-branch publish and branch picker (#2164)
  alembic/versions/672fecea1d32_add_workflow_git_sync_branch.py
  docs/quickstart/github-workflow-sync-setup.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/providers/workflow.tsx
  tests/registry/test_ldap.py
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_workflow_sync_service.py
  tests/unit/test_workflows_store.py
  tracecat/db/models.py
  tracecat/registry/repositories/schemas.py
  tracecat/sync.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Draft agent prompt for KEDA metrics
  deployments/eks/README.md
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/observability.tf
  deployments/eks/tfplan
  deployments/eks/tfplan-keda
  deployments/helm/README.md
  deployments/helm/tracecat/values.yaml
Due: none

Document temporal self-hosted autosc
  deployments/eks/README.md
  deployments/helm/README.md
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/agent-executor-keda-scaledobject.yaml
  deployments/helm/tracecat/templates/executor-keda-scaledobject.yaml
  deployments/helm/tracecat/values.yaml
Due: none

fix(mcp): align auth env vars, support service principals, restore run_python validation
  .env.example
  deployments/helm/tracecat/templates/_helpers.tpl
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
  tracecat/validation/service.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

Explain how to enable autoscaling AS
  deployments/eks/README.md
  deployments/eks/modules/eks/observability.tf
  deployments/helm/README.md
  deployments/helm/tracecat/values.yaml
Due: none

Add KEDA observability warnings
  deployments/eks/README.md
  deployments/helm/README.md
  deployments/helm/tracecat/values.yaml
Due: none
