Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

refactor(agents): drop unreleased durable-agent patch gates
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/lib/action-timeout.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_types.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/executor/activity.py
  tracecat/agent/types.py
  tracecat/dsl/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): normalize agent timeouts at write and prefill the default
  alembic/versions/f1626d4aa9d8_clamp_agent_action_timeouts_to_default_.py
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/lib/action-timeout.ts
  tests/unit/test_agent_action_timeout.py
  tracecat/workflow/actions/router.py
  tracecat/workflow/actions/service.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): avoid relationship loads during restore
  tests/integration/test_case_versions.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(cases): cap version diff complexity
  tests/unit/test_case_versions_service.py
  tracecat/cases/versions/diff.py
Due: gen-client, basedpyright

refactor(cases): mount version router in app
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/api/app.py
  tracecat/cases/router.py
  tracecat/cases/versions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(cases): add case version history and restore APIs (#3282)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/integration/test_case_versions.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_versions_service.py
  tests/unit/test_cases_service.py
  tests/unit/test_route_scope_guards.py
  tracecat/api/app.py
  tracecat/cases/enums.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/cases/versions/diff.py
  tracecat/cases/versions/router.py
  tracecat/cases/versions/schemas.py
  tracecat/cases/versions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(google-drive): support Shared Drives in list_files
  packages/tracecat-registry/tracecat_registry/integrations/google_drive.py
Due: gen-client, basedpyright

docs: reorganize navigation and document first superadmin login
  docs/authentication/basic.mdx
  docs/automations/actions.mdx
  docs/automations/cases.mdx
  docs/automations/cases/agent-mentions.mdx
  docs/automations/workflows.mdx
  docs/docs.json
  docs/overview/getting-started.mdx
  docs/overview/introduction.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/kubernetes.mdx
  docs/snippets/core-actions-list.mdx
  docs/snippets/core-actions-pointer.mdx
  docs/snippets/environment-variables.mdx
  docs/snippets/first-superadmin.mdx
Due: none

docs: fix generate-secrets snippet rendering as empty
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/kubernetes.mdx
  docs/self-hosting/security.mdx
Due: none

feat(google-drive): send supportsAllDrives on all file/permission requests
  packages/tracecat-registry/tracecat_registry/integrations/google_drive.py
Due: gen-client, basedpyright

refactor(google-drive): always send supportsAllDrives from list_files
  packages/tracecat-registry/tracecat_registry/integrations/google_drive.py
Due: gen-client, basedpyright

docs: add Workflows-as-APIs and integrations overview pages
  docs/automations/triggers/webhooks.mdx
  docs/automations/triggers/workflows-as-apis.mdx
  docs/docs.json
  docs/integrations/overview.mdx
  docs/snippets/core-actions-pointer.mdx
  scripts/generate_tool_docs.py
Due: basedpyright

feat(registry): support Shared Drives across the Drive integration (#3295)
  packages/tracecat-registry/tracecat_registry/integrations/google_drive.py
Due: gen-client, basedpyright

fix(auth): leave org enrollment to provisioning and invitations
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/organization/management.py
Due: gen-client, basedpyright

fix(agents): normalize legacy action timeouts on read
  alembic/versions/f1626d4aa9d8_clamp_agent_action_timeouts_to_default_.py
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/action-timeout.ts
  tests/unit/test_agent_action_timeout.py
  tracecat/workflow/actions/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(auth): leave org enrollment to provisioning and invitations (#3297)
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/organization/management.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.11
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(agents): configurable timeouts (#3050)
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/action-timeout.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_types.py
  tests/unit/test_config.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/common/config.py
  tracecat/agent/constants.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/schemas.py
  tracecat/agent/types.py
  tracecat/config.py
  tracecat/dsl/enums.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/workflow/actions/router.py
  tracecat/workflow/actions/schemas.py
  tracecat/workflow/actions/service.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): correct run_python inputs and allow_network docs
  packages/tracecat-registry/tracecat_registry/core/python.py
  scripts/generate_core_action_docs.py
Due: gen-client, basedpyright

fix(docs): repair core action generator and manifest drift
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/case-actions/cases.mdx
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/core-actions/request-actions/http.mdx
  docs/automations/core-actions/request-actions/ssh.mdx
  docs/automations/core-actions/transform-actions/data-transforms.mdx
  docs/automations/core-actions/transform-actions/python-script.mdx
  docs/automations/core-actions/workflow-actions/run-subflow.mdx
Due: none

fix(docs): correct action names that do not exist in the registry
  docs/agents/ai-agent.mdx
  docs/automations/actions.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs(cheatsheets): add common mistakes, transformations, and ENV pages
  docs/automations/core-concepts/workflow-metadata.mdx
  docs/cheatsheets/common-mistakes.mdx
  docs/cheatsheets/transformations.mdx
  docs/cheatsheets/workflow-metadata.mdx
  docs/docs.json
Due: none

docs(expressions): add per-context sections and fix function examples
  docs/automations/core-concepts/expressions.mdx
  docs/automations/core-concepts/functions.mdx
  docs/automations/core-concepts/workflow-definition.mdx
  docs/automations/tables.mdx
  docs/cheatsheets/functions.mdx
Due: none

docs(webhooks): restore /wait anchor as a forwarding section
  docs/automations/triggers/webhooks.mdx
Due: none

docs: drop TRACECAT__COLLECTION_MANIFESTS_ENABLED from env var table
  docs/snippets/environment-variables.mdx
Due: none

docs(cheatsheets): replace example values that matched user sessions
  docs/cheatsheets/common-mistakes.mdx
  docs/cheatsheets/transformations.mdx
Due: none

docs: final copy pass over the expression and cheatsheet pages
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/core-actions/transform-actions/python-script.mdx
  docs/automations/core-concepts/expressions.mdx
  docs/automations/core-concepts/functions.mdx
  docs/automations/core-concepts/workflow-metadata.mdx
  docs/automations/tables.mdx
  docs/cheatsheets/common-mistakes.mdx
  docs/cheatsheets/transformations.mdx
  docs/cheatsheets/workflow-metadata.mdx
Due: none

docs: remove rationale and advice from usage text
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/core-actions/request-actions/http.mdx
  docs/automations/core-actions/transform-actions/data-transforms.mdx
  docs/automations/core-actions/transform-actions/python-script.mdx
  docs/automations/core-concepts/functions.mdx
  docs/automations/tables.mdx
  docs/cheatsheets/common-mistakes.mdx
  docs/cheatsheets/functions.mdx
  docs/cheatsheets/transformations.mdx
  docs/cheatsheets/workflow-metadata.mdx
Due: none

docs(cheatsheets): drop null equality from the emptiness alternatives
  docs/cheatsheets/common-mistakes.mdx
Due: none

docs(cheatsheets): restore conjunction in emptiness alternatives
  docs/cheatsheets/common-mistakes.mdx
Due: none

docs(cheatsheets): fix FN.merge YAML block and rename whois example ref
  docs/cheatsheets/common-mistakes.mdx
  docs/cheatsheets/transformations.mdx
Due: none

docs(agents): document agent timeout policy from #3050
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/agents/custom-llm-providers.mdx
  docs/automations/actions.mdx
  docs/snippets/environment-variables.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs: add Manage platform section for users, roles, and git sync
  docs/authentication/basic.mdx
  docs/automations/workflows.mdx
  docs/docs.json
  docs/img/manage-platform/admin-tiers.png
  docs/img/manage-platform/git-sync-settings.png
  docs/img/manage-platform/rbac-assignment.png
  docs/img/manage-platform/rbac-roles.png
  docs/img/manage-platform/users-invitations.png
  docs/img/manage-platform/users-no-org-access.png
  docs/manage-platform/git-sync.mdx
  docs/manage-platform/rbac.mdx
  docs/manage-platform/users.mdx
  docs/security/architecture.mdx
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
Due: none

docs: copy pass on Manage platform and timeout pages
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/agents/custom-llm-providers.mdx
  docs/automations/actions.mdx
  docs/manage-platform/git-sync.mdx
  docs/manage-platform/rbac.mdx
  docs/manage-platform/users.mdx
  docs/snippets/environment-variables.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs: name both superuser enrollment triggers and unhardcode timeout text
  docs/agents/custom-llm-providers.mdx
  docs/manage-platform/rbac.mdx
Due: none

fix(runtime): preserve standalone error envelopes
  tests/unit/test_dsl_scheduler_concurrency.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(runtime): preserve aggregate error envelopes
  tests/unit/test_temporal_errors.py
  tracecat/dsl/action.py
  tracecat/dsl/types.py
Due: gen-client, basedpyright

docs: qualify timeout floor, SAML domain policy, and export entitlements
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/agents/custom-llm-providers.mdx
  docs/automations/actions.mdx
  docs/manage-platform/git-sync.mdx
  docs/manage-platform/users.mdx
  docs/security/architecture.mdx
  docs/snippets/environment-variables.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs: state export omissions, heartbeat wiring, and curl base URL
  docs/manage-platform/git-sync.mdx
  docs/manage-platform/rbac.mdx
  docs/manage-platform/users.mdx
  docs/security/architecture.mdx
  docs/snippets/environment-variables.mdx
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
