Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

docs(benchmark): add postgres scatter load-test plan
  scripts/benchmark/postgres-scatter-load-test-plan.md
Due: none

docs(benchmark): reconcile plan with implemented scaffolding decisions
  scripts/benchmark/postgres-scatter-load-test-plan.md
Due: none

docs(benchmark): add subflow fan-out follow-on phase to load-test plan
  scripts/benchmark/postgres-scatter-load-test-plan.md
Due: none

fix(ui): resync workflow settings form after external renames
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

fix(db): wire pool timeout and per-service application_name
  deployments/fargate/modules/ecs/locals.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/config.py
  tracecat/db/engine.py
Due: gen-client, basedpyright

fix(mcp): drop force flag from sync_custom_registry tool
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(mcp): drop force flag from sync_custom_registry tool (#3138)
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor(agent): simplify catalog correlation internals
  frontend/src/components/workspace-sync/pull-tab.tsx
  frontend/tests/workspace-sync-settings.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/catalog/types.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
  tracecat/workspace_sync/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit: best effort type dsl catalog entry
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

feat(agent): enforce per-sandbox cgroup v2 memory limits
  tests/unit/test_agent_executor_worker_resources.py
  tests/unit/test_agent_sandbox_cgroup.py
  tests/unit/test_agent_sandbox_config.py
  tracecat/agent/executor_worker.py
  tracecat/agent/sandbox/cgroup.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(agent): clear stale readiness sentinel on startup
  tests/unit/test_agent_executor_worker_resources.py
  tracecat/agent/executor_worker.py
Due: gen-client, basedpyright

fix(config): treat blank agent executor ready-file env as unset
  tracecat/config.py
Due: gen-client, basedpyright

fix(sync): treat non-literal catalog ids as runtime values
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workflow/management/management.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

fix(compose,fargate): set litellm TRACECAT__SERVICE_NAME for pg attribution
  deployments/fargate/modules/ecs/locals.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(agent): publish pod deletion cost from in-flight turns
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_deletion_cost.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/deletion_cost.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(compose): forward TRACECAT__DB_POOL_TIMEOUT into service env
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(agent): retry agent turn once on infra failure
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_retry_policies.py
  tracecat/dsl/common.py
Due: gen-client, basedpyright

fix(executor): mark pool backend experimental, auto selects ephemeral
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
  tracecat/config.py
  tracecat/executor/backends/pool/backend.py
  tracecat/executor/schemas.py
Due: gen-client, basedpyright

fix(db): wire pool timeout and per-service application_name (#3134)
  deployments/fargate/modules/ecs/locals.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/config.py
  tracecat/db/engine.py
Due: gen-client, basedpyright

docs: remove pool executor backend from documentation
  docs/self-hosting/kubernetes.mdx
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
Due: none

docs: remove test executor backend from env var reference
  docs/snippets/environment-variables.mdx
Due: none

docs(executor): tell agents to ignore pool and test backends
  tracecat/executor/backends/pool/backend.py
  tracecat/executor/backends/test.py
Due: gen-client, basedpyright

fix(sync): correlate agent preset catalog IDs (#3117)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspace-sync/pull-tab.tsx
  frontend/src/hooks/use-workspace-sync.ts
  frontend/tests/workspace-sync-settings.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/catalog/service.py
  tracecat/agent/catalog/types.py
  tracecat/sync.py
  tracecat/workflow/management/management.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
  tracecat/workspace_sync/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.51-rc.11
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(executor): mark pool backend experimental, auto selects ephemeral (#3146)
  docs/self-hosting/kubernetes.mdx
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
  tracecat/config.py
  tracecat/executor/backends/pool/backend.py
  tracecat/executor/backends/test.py
  tracecat/executor/schemas.py
Due: gen-client, basedpyright

fix(agent): derive cgroup root and enforce sandbox memory budget
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  tests/unit/test_agent_executor_worker_resources.py
  tests/unit/test_agent_sandbox_cgroup.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_config.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_stdio_probe.py
  tracecat/agent/executor_worker.py
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/sandbox/cgroup.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/config.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

fix(agent): honor ready-file override in compose healthchecks
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
Due: none

fix(agent): clear stale readiness sentinel before startup validation
  tests/unit/test_agent_executor_worker_resources.py
  tracecat/agent/executor_worker.py
Due: gen-client, basedpyright

feat(agent): delegate cgroup subtree to apiuser in sandbox overlay
  docker-compose.sandbox.yml
  docker/scripts/entrypoint.sh
Due: none

chore(docker): remove unused entrypoint.sh migration wrapper
  Dockerfile
  docker/scripts/entrypoint.sh
Due: none

fix(agent): set apiuser identity env when dropping privileges
  docker/scripts/entrypoint.sh
Due: none

chore(docker): remove unused entrypoint.sh migration wrapper (#3147)
  Dockerfile
  docker/scripts/entrypoint.sh
Due: none

fix(agent): harden cgroup detection edge cases
  docker/scripts/agent-executor-entrypoint.sh
  tests/unit/test_agent_sandbox_cgroup.py
  tracecat/agent/sandbox/cgroup.py
Due: gen-client, basedpyright

fix(agent): honor cgroup-enabled flag in delegation entrypoint
  docker/scripts/agent-executor-entrypoint.sh
Due: none

fix(agent): honor ancestor cgroup limits in memory budget
  tests/unit/test_agent_sandbox_cgroup.py
  tracecat/agent/sandbox/cgroup.py
Due: gen-client, basedpyright

fix(agent): enforce sandbox cgroup limits
  docker/scripts/agent-executor-entrypoint.sh
  tests/unit/test_agent_executor_worker_resources.py
  tests/unit/test_agent_sandbox_cgroup.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_config.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_stdio_probe.py
  tracecat/agent/common/config.py
  tracecat/agent/executor_worker.py
  tracecat/agent/sandbox/cgroup.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

fix(chat): workflow execution tools
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  packages/tracecat-registry/tracecat_registry/_internal/models.py
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_workflow_sdk.py
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tests/unit/test_chat_tools.py
  tests/unit/test_mcp_server.py
  tracecat/chat/tools.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/shaping.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit(registry): point list_executions description at get_status
  packages/tracecat-registry/tracecat_registry/core/workflow.py
Due: gen-client, basedpyright

fix(agent): use sandbox overlay for compose nsjail
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_config.py
Due: basedpyright

fix(agent): gate root cgroup delegation on nsjail being enabled
  docker/scripts/agent-executor-entrypoint.sh
Due: none
