Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(skill): redact canonical verification errors
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

refactor(registry): align Outlook templates with Graph schemas
  docs/tools/microsoft_outlook.mdx
  packages/tracecat-registry/tracecat_registry/integrations/_microsoft_graph_transport.py
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_outlook/messages/create_draft.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_outlook/send/forward_message.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_outlook/send/send_mail.yml
  tests/registry/test_templates.py
Due: gen-client, basedpyright

fix(skill): refresh locked draft revision
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(storage): redact skill upload presigning
  tests/unit/test_skill_service.py
  tests/unit/test_storage_blob.py
  tracecat/agent/skill/service.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(cases): stop duration reads after shutdown
  tests/unit/test_case_duration_sync_consumer.py
  tracecat/cases/durations/consumer.py
Due: gen-client, basedpyright

fix(agent): align version reads with normalized edges
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

feat(runtime): classify activity-origin failures
  tests/temporal/runtime_error_attribution_harness.py
  tests/temporal/test_runtime_error_attribution.py
  tests/temporal/test_workflows.py
  tests/unit/test_action_runner.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_executor_activities.py
  tests/unit/test_materialize_context.py
  tests/unit/test_runtime_error_steel_thread.py
  tests/unit/test_runtime_errors.py
  tests/unit/test_temporal_errors.py
  tracecat/dsl/action.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/executor/action_runner.py
  tracecat/executor/activities.py
  tracecat/runtime/errors.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/types.py
  tracecat/temporal/errors.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

fix(storage): redact skill download presigning
  tests/unit/test_storage_blob.py
  tracecat/agent/skill/service.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(agent): redact dependency-skip logs and no-op preset_version
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(storage): redact identifiers across all skill storage paths
  tests/unit/test_skill_service.py
  tests/unit/test_storage_blob.py
  tracecat/agent/skill/service.py
  tracecat/mcp/server.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(cases): guard XCLAIM against shutdown in stream consumers
  tests/unit/test_case_duration_sync_consumer.py
  tests/unit/test_case_trigger_consumer.py
  tracecat/cases/durations/consumer.py
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

feat(integrations): add Databricks and Snowflake OAuth
  docs/tools/databricks_sdk.mdx
  docs/tools/snowflake_sql.mdx
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/snowflake_sql.py
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/get_statement.yml
  tests/registry/test_databricks_snowflake_integrations.py
  tests/unit/test_databricks_snowflake_providers.py
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/databricks/__init__.py
  tracecat/integrations/providers/databricks/oauth.py
  tracecat/integrations/providers/snowflake/__init__.py
  tracecat/integrations/providers/snowflake/oauth.py
Due: gen-client, basedpyright

feat(registry): add Databricks and Snowflake integrations
  docs/docs.json
  docs/tools/databricks.mdx
  docs/tools/databricks_sdk.mdx
  docs/tools/snowflake_sql.mdx
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/get_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/list_clusters.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/start_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/terminate_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/cancel_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_jobs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/run_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/get_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/list_warehouses.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/start_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/stop_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/get_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake_sql/get_statement.yml
  uv.lock
Due: gen-client, basedpyright

fix(registry): serialize Databricks waiter bindings
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

fix(registry): make Databricks authentication OAuth-only
  docs/tools/databricks_sdk.mdx
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
Due: gen-client, basedpyright

feat(ui): add Databricks and Snowflake icons
  frontend/src/components/icons.test.tsx
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

fix(registry): prefer OAuth before stored credentials
  docs/tools/snowflake_sql.mdx
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/snowflake_sql.py
Due: gen-client, basedpyright

docs(registry): add integration configuration examples
  packages/tracecat-registry/AGENTS.md
Due: gen-client

docs(registry): codify integration review rules
  packages/tracecat-registry/AGENTS.md
Due: gen-client

docs(registry): clarify authentication selection
  packages/tracecat-registry/AGENTS.md
Due: gen-client

fix(registry): bound Databricks binary downloads
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

refactor(registry): simplify integration dispatch
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/snowflake_sql.py
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

fix(registry): serialize Databricks binary responses
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

fix(registry): correct integration auth contracts
  docs/tools/databricks.mdx
  docs/tools/databricks_sdk.mdx
  docs/tools/snowflake_sql.mdx
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/snowflake_sql.py
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/get_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/list_clusters.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/start_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/terminate_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/cancel_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_jobs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/run_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/get_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/list_warehouses.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/start_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/stop_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/get_statement.yml
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

docs(registry): label Databricks free-form parameters
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/run_job.yml
Due: gen-client

docs(registry): clarify generic integration dispatch
  packages/tracecat-registry/AGENTS.md
Due: gen-client

fix(registry): block private Databricks dispatch
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  tests/registry/test_databricks_snowflake_integrations.py
Due: gen-client, basedpyright

fix(registry): call Snowflake SQL API from templates
  docs/tools/snowflake.mdx
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/snowflake.py
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/get_statement.yml
Due: gen-client, basedpyright

refactor(registry): rename Snowflake integration
  docs/docs.json
  docs/tools/snowflake.mdx
  frontend/src/components/icons.test.tsx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/integrations/snowflake.py
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/get_statement.yml
  tests/unit/test_databricks_snowflake_providers.py
  tracecat/integrations/providers/snowflake/oauth.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(mcp): add staged skill directory uploads (#3239)
  Caddyfile
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/s3.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docs/snippets/environment-variables.mdx
  docs/snippets/mcp-tools.mdx
  frontend/next.config.mjs
  frontend/src/client/schemas.gen.ts
  frontend/src/lib/cases/use-attachment-object-url.ts
  frontend/src/lib/csp.test.ts
  frontend/src/lib/csp.ts
  frontend/src/lib/skills-studio.tsx
  frontend/src/middleware.ts
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_materialize_context.py
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tests/unit/test_storage_blob.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/config.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(registry): add Databricks and Snowflake integrations (#3331)
  docs/docs.json
  docs/tools/databricks.mdx
  docs/tools/databricks_sdk.mdx
  docs/tools/snowflake.mdx
  frontend/src/components/icons.test.tsx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/integrations/databricks_sdk.py
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/get_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/list_clusters.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/start_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/clusters/terminate_cluster.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/cancel_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/get_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_jobs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/jobs/run_job.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/get_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/list_warehouses.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/start_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/sql_warehouses/stop_warehouse.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/databricks/statement_execution/get_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/cancel_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/execute_statement.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/snowflake/get_statement.yml
  tests/registry/test_databricks_snowflake_integrations.py
  tests/unit/test_databricks_snowflake_providers.py
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/databricks/__init__.py
  tracecat/integrations/providers/databricks/oauth.py
  tracecat/integrations/providers/snowflake/__init__.py
  tracecat/integrations/providers/snowflake/oauth.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(runtime): attribute sandbox exits and envelope context validation
  tests/unit/test_action_runner.py
  tests/unit/test_executor_activities.py
  tests/unit/test_materialize_context.py
  tests/unit/test_sandbox_executor_exit_attribution.py
  tracecat/dsl/action.py
  tracecat/executor/action_runner.py
  tracecat/executor/activities.py
  tracecat/executor/backends/base.py
  tracecat/sandbox/__init__.py
  tracecat/sandbox/exceptions.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

fix(sandbox): enforce jail resource limits and harden seccomp
  docker-compose.dev.yml
  docker-compose.sandbox.yml
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_sandbox_validation.py
  tracecat/agent/common/config.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/shim_entrypoint.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/seccomp.py
  tracecat/sandbox/service.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(runtime): keep legacy shape for mixed child failure batches
  tests/temporal/test_runtime_error_attribution.py
  tests/unit/test_runtime_error_steel_thread.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(sandbox): raise burst-test memory limit for large CI runners
  tests/unit/test_agent_sandbox_litellm.py
Due: basedpyright

fix(api): supervise registry artifact builds, add spawn_stoppable
  tests/unit/test_api_lifespan.py
  tests/unit/test_registry_platform_startup.py
  tracecat/api/app.py
  tracecat/api/lifespan.py
  tracecat/config.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

refactor(schedule): address review feedback on run timings (#2562)
  frontend/src/lib/hooks.tsx
  tracecat/dsl/client.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/schedules/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(chat): replace preset button with @ mentions
  frontend/src/components/ai-elements/prompt-input.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/mentions/mention-hint.tsx
  frontend/src/components/mentions/mention-overlay.tsx
  frontend/src/components/mentions/mention-popover.tsx
  frontend/src/components/ui/input-group.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  frontend/src/hooks/use-entitlements.ts
  frontend/src/hooks/use-mentions.ts
  frontend/src/lib/mentions.ts
  frontend/tests/case-comments-section.test.tsx
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
  frontend/tests/mentions.test.ts
  tests/unit/test_agent_session_router.py
  tests/unit/test_tier_defaults.py
  tracecat/tiers/defaults.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: add workspace chat page, split case tasks
  docs/agents/workspace-chat.mdx
  docs/automations/cases.mdx
  docs/automations/cases/agent-mentions.mdx
  docs/automations/cases/tasks.mdx
  docs/docs.json
  docs/img/agents/workspace-chat-agent-mention.png
  docs/img/agents/workspace-chat-composer.png
  docs/img/agents/workspace-chat-tools.png
  docs/overview/introduction.mdx
Due: none
