Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(tests): fix leaking scopes
  tests/conftest.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_audit_service.py
  tests/unit/test_auth.py
  tests/unit/test_auth_scope_resolution.py
  tests/unit/test_authz_seeding.py
  tests/unit/test_executor.py
  tests/unit/test_executor_template_actions.py
  tests/unit/test_github_app.py
  tests/unit/test_organization_service.py
  tests/unit/test_organization_settings.py
  tests/unit/test_rbac_scopes.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_secrets_service.py
  tests/unit/test_tables_service.py
  tests/unit/test_template_actions.py
  tests/unit/test_validation.py
  tracecat/auth/credentials.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/clients.py
Due: gen-client, basedpyright

fix(rbac): backfill legacy scopes
  alembic/versions/97812277aa15_migrate_membership_roles_to_rbac_.py
  tests/unit/test_github_app.py
  tracecat/authz/scopes.py
  tracecat/executor/activities.py
Due: gen-client, basedpyright

feat(rbac): add rbac frontend
  frontend/src/app/organization/layout.tsx
  frontend/src/app/organization/settings/rbac/layout.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/auth/scope-guard.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-roles.tsx
  frontend/src/components/organization/org-rbac-scopes.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/scopes.tsx
Due: biome-check, typecheck-frontend

feat(rbac): overhaul access control ui
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/organization/members/page.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/error.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-scopes.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/organization/rbac-list-item.tsx
  frontend/src/components/rbac/role-form-dialog.tsx
  frontend/src/components/rbac/scope-category-row.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/rbac.ts
  frontend/src/providers/scopes.tsx
  frontend/src/providers/workspace-id.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  plans/rbac-implementation.md
  tests/unit/api/conftest.py
  tracecat/authz/rbac/router.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): ui consistency
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/components/members/members-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/rbac/create-group-button.tsx
  frontend/src/components/rbac/create-role-button.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
Due: biome-check, typecheck-frontend

feat(rbac): harden rbac ui
  frontend/src/app/registry/actions/page.tsx
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-roles.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/organization/org-sessions-table.tsx
  frontend/src/components/rbac/create-group-button.tsx
  frontend/src/components/rbac/create-role-button.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/registry/table-actions.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
  frontend/src/hooks/use-org-membership.ts
Due: biome-check, typecheck-frontend

feat(ui): swap depreciated auth checks for rbac enforcement
  frontend/pnpm-lock.yaml
  frontend/src/app/organization/layout.tsx
  frontend/src/app/organization/members/page.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/organization/settings/workspaces/[workspaceId]/page.tsx
  frontend/src/app/registry/layout.tsx
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/no-organization-access.tsx
  frontend/src/components/members/members-view-toggle.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-scopes.tsx
  frontend/src/components/organization/org-sessions-table.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
  frontend/src/components/tables/ag-grid-context-menu.tsx
  frontend/src/components/tables/ag-grid-row-actions.tsx
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/hooks/use-org-membership.ts
  frontend/src/hooks/use-workspace.ts
  frontend/src/lib/auth.ts
  frontend/src/providers/scopes.tsx
Due: biome-check, typecheck-frontend

fix(rbac): cubic reviews
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/organization/settings/workspaces/[workspaceId]/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/components/error.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-roles.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/rbac.ts
  frontend/src/providers/scopes.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  plans/rbac-implementation.md
  tests/unit/test_organization_service.py
  tracecat/auth/credentials.py
  tracecat/auth/router.py
  tracecat/authz/service.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): update role assignments for workspace level management
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/providers/scopes.tsx
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): unique list workspaces scope
  frontend/src/client/services.gen.ts
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): frontend polish
  frontend/src/app/workspaces/[workspaceId]/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/app/workspaces/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/create-workflow-button.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/scopes.tsx
  tracecat/authz/rbac/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): address review comments
  alembic/versions/8bec3e244487_add_role_id_to_invitation_tables.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  tests/unit/test_organization_service.py
  tracecat/authz/service.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit(rbac): drop no-op workspace update patch
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/hooks/use-workspace.ts
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): re-render on members update
  frontend/src/components/workspaces/workspace-members-table.tsx
  tracecat/authz/service.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(authz): assign RBAC role on workspace membership creation
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/app/workspaces/[workspaceId]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  tracecat/auth/types.py
  tracecat/authz/scopes.py
  tracecat/authz/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): tenant isolation and scope boundary tests
  tests/unit/api/conftest.py
  tests/unit/test_rbac_custom_roles.py
  tests/unit/test_rbac_groups.py
  tests/unit/test_rbac_privilege_escalation.py
  tests/unit/test_rbac_scope_boundaries.py
  tests/unit/test_rbac_service.py
  tests/unit/test_rbac_tenant_isolation.py
Due: basedpyright

fix(auth): resolve SAML merge conflict, preserve single-tenant env var priorit
  tests/unit/test_saml_client_config.py
  tracecat/auth/saml.py
Due: gen-client, basedpyright

fix(auth): close SAML enforcement gaps in discovery and OAuth flows
  tracecat/auth/discovery.py
  tracecat/auth/users.py
Due: gen-client, basedpyright

chore: update release drafter configuration to include new labels and regex patterns for better categorization of commits
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

chore: update release drafter configuration to include new labels (#2146)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Due: none

Fix workflow builder node selection
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/builder-panel.tsx
  frontend/src/components/builder/panel/case-event-suggestions.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/providers/builder.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  5d936c16aa33eb1ecc5b2acaeaa0dc374695d17b
Due: none

Update trigger node UI
  frontend/src/components/builder/canvas/trigger-node.tsx
Due: biome-check, typecheck-frontend

fix(authz): assign RBAC role on workspace membership creation
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/app/workspaces/[workspaceId]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_auth_scope_resolution.py
  tests/unit/test_invitation.py
  tests/unit/test_workspace_service.py
  tracecat/auth/types.py
  tracecat/authz/scopes.py
  tracecat/authz/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
