Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

docs: Add Tracecat MCP documentation and update redirects
  docs/automations/tracecat-mcp.mdx
  docs/automations/triggers/comments.mdx
  docs/docs.json
Due: none

docs: Add triggers section to workflows documentation
  docs/automations/workflows.mdx
Due: none

docs: Revise workflow definition documentation for advanced builders
  docs/automations/workflow-definition.mdx
Due: none

docs: Update automation documentation structure and add custom actions group
  docs/docs.json
Due: none

docs: Enhance automation documentation with new expressions and workflow definition content
  docs/AGENTS.md
  docs/automations/actions.mdx
  docs/automations/expressions.mdx
  docs/automations/functions.mdx
  docs/automations/jsonpath.mdx
  docs/automations/workflow-definition.mdx
  docs/automations/workflows.mdx
  docs/docs.json
  docs/img/automations/actions/actions-page.png
  docs/img/automations/actions/actions-toolbar.png
  docs/img/automations/actions/control-flow.png
  docs/img/automations/actions/success-error-paths.png
  docs/img/automations/workflows/publish-workflow.png
  docs/img/automations/workflows/workflow-settings.png
  docs/snippets/action-expressions-section.mdx
  docs/snippets/expression-contexts.mdx
  docs/snippets/expression-intro.mdx
  docs/snippets/functions-reference.mdx
  scripts/generate_functions_docs.py
  tracecat/expressions/functions.py
Due: gen-client, basedpyright

docs: Revise automation triggers documentation and introduce new agent
  docs/agents/ai-preset-agent.mdx
  docs/agents/ai-slackbot.mdx
  docs/automations/triggers/case-triggers.mdx
  docs/automations/triggers/cases.mdx
  docs/automations/triggers/comment-triggers.mdx
  docs/automations/triggers/comments.mdx
  docs/automations/triggers/tasks.mdx
  docs/docs.json
Due: none

docs: Refactor automation documentation for clarity and structure
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/cases.mdx
  docs/automations/core-actions/data-transforms.mdx
  docs/automations/core-actions/email.mdx
  docs/automations/core-actions/grpc.mdx
  docs/automations/core-actions/http.mdx
  docs/automations/core-actions/python-script.mdx
  docs/automations/core-actions/require.mdx
  docs/automations/core-actions/reshape.mdx
  docs/automations/core-actions/scatter-gather-loops.mdx
  docs/automations/core-actions/sql.mdx
  docs/automations/core-actions/ssh.mdx
  docs/automations/core-actions/subflows.mdx
  docs/automations/core-actions/tables.mdx
  docs/automations/core-actions/while-loops.mdx
  docs/docs.json
  packages/tracecat-registry/tracecat_registry/core/email.py
  scripts/generate_core_action_docs.py
Due: gen-client, basedpyright

docs: Update automation documentation with new cases and core actions
  docs/automations/cases.mdx
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/cases.mdx
  docs/automations/core-actions/data-transforms.mdx
  docs/automations/core-actions/email.mdx
  docs/automations/core-actions/grpc.mdx
  docs/automations/core-actions/http.mdx
  docs/automations/core-actions/python-script.mdx
  docs/automations/core-actions/require.mdx
  docs/automations/core-actions/reshape.mdx
  docs/automations/core-actions/scatter-gather-loops.mdx
  docs/automations/core-actions/sql.mdx
  docs/automations/core-actions/ssh.mdx
  docs/automations/core-actions/subflows.mdx
  docs/automations/core-actions/tables.mdx
  docs/automations/core-actions/while-loops.mdx
  docs/custom-actions/install.mdx
  docs/docs.json
  docs/overview/introduction.mdx
  docs/self-hosting/docker-compose.mdx
  packages/tracecat-registry/tracecat_registry/core/python.py
  packages/tracecat-registry/tracecat_registry/core/transform.py
  scripts/generate_core_action_docs.py
Due: gen-client, basedpyright

docs: Update automation documentation for triggers and workflows
  docs/AGENTS.md
  docs/automations/core-concepts/secrets.mdx
  docs/automations/core-concepts/variables.mdx
  docs/automations/triggers/case-triggers.mdx
  docs/automations/triggers/comment-triggers.mdx
  docs/automations/triggers/schedules.mdx
  docs/automations/triggers/task-triggers.mdx
  docs/automations/triggers/webhooks.mdx
  docs/automations/workflows.mdx
  docs/img/automations/workflows/workflow-events-panel.png
  docs/img/automations/workflows/workflow-runs-history.png
  docs/img/automations/workflows/workflow-runs-view.png
  docs/img/custom-actions/actions.png
  docs/img/custom-actions/custom-registry-settings.png
  docs/img/custom-actions/github-ssh-key.png
  docs/img/custom-actions/sync-custom-registry.png
  docs/img/triggers/task-trigger.png
Due: none

docs: Enhance tables documentation with core.table actions and examples
  docs/automations/tables.mdx
Due: none

docs: Revise automation documentation for cases, tables, and secrets
  docs/automations/cases.mdx
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/core-concepts/secrets.mdx
  docs/automations/core-concepts/variables.mdx
  docs/automations/tables.mdx
  docs/img/cases/case-copilot.png
  docs/img/cases/case-custom-field.png
  docs/img/cases/case-dropdown.png
  docs/img/cases/case-duration.png
  docs/img/cases/case-tags.png
  docs/img/cases/case-tasks.png
  docs/img/cases/linked-rows.png
  docs/img/tables/create-unique-index.png
  docs/img/tables/table.png
  docs/img/triggers/case-triggers.png
  docs/img/triggers/comment-triggers.png
  docs/img/triggers/schedule.png
  docs/img/triggers/webhook.png
Due: none

docs: Enhance automation documentation with new features and clarity
  docs/AGENTS.md
  docs/automations/actions.mdx
  docs/automations/core-concepts/secrets.mdx
  docs/automations/core-concepts/variables.mdx
  docs/automations/integrations/mcp-integrations.mdx
  docs/automations/integrations/oauth-integrations.mdx
  docs/automations/integrations/prebuilt-credentials.mdx
  docs/automations/triggers/case-triggers.mdx
  docs/automations/triggers/comment-triggers.mdx
  docs/automations/triggers/error-workflows.mdx
  docs/automations/triggers/schedules.mdx
  docs/automations/triggers/task-triggers.mdx
  docs/automations/triggers/webhooks.mdx
  docs/automations/workflows.mdx
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/python-udf.mdx
  docs/custom-actions/yaml-template.mdx
  docs/docs.json
  docs/img/automations/actions/actions-page.png
  docs/img/automations/actions/actions-table.png
  docs/img/automations/create-secret.png
  docs/img/automations/workflows/tag-workflow.png
  docs/img/integrations/create-slack-secret.png
  docs/img/integrations/integrations-page.png
  docs/img/integrations/mcp-options.png
  docs/img/integrations/oauth-integrations.png
  docs/img/integrations/pre-built-credentials.png
  docs/img/integrations/remote-mcp-auth-options.png
  docs/img/triggers/error-workflow.png
  docs/img/triggers/failed-workflow.png
  docs/overview/introduction.mdx
Due: none

docs: Add custom registry documentation and local development guide
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/local-development.mdx
  docs/docs.json
  docs/img/custom-actions/change-commit.png
  docs/img/custom-actions/clone-github-template.png
  docs/img/custom-actions/sync-from-remote.png
  docs/overview/introduction.mdx
Due: none

docs: Enhance custom actions documentation with new Python and YAML templates
  docs/custom-actions/local-development.mdx
  docs/custom-actions/python-udf.mdx
  docs/custom-actions/yaml-template.mdx
Due: none

docs: Update custom actions documentation for clarity and new local development guide
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/local-development.mdx
Due: none

docs: Revise Docker Compose documentation for clarity and security emphasis
  docs/self-hosting/docker-compose.mdx
Due: none

docs: Expand SAML SSO documentation with detailed configuration and provider instructions
  docs/authentication/saml.mdx
  docs/img/self-hosting/authentik-assertion-signing.png
  docs/img/self-hosting/authentik-property-mapping.png
  docs/img/self-hosting/authentik-provider.png
  docs/img/self-hosting/entra-saml.png
  docs/img/self-hosting/keycloak-client-general.png
  docs/img/self-hosting/keycloak-client-login.png
  docs/img/self-hosting/keycloak-client-signing.png
  docs/img/self-hosting/keycloak-document-signing.png
  docs/img/self-hosting/keycloak-email-mapper.png
  docs/img/self-hosting/keycloak-metadata-url.png
  docs/img/self-hosting/okta-saml-attributes.png
  docs/img/self-hosting/okta-saml.png
Due: none

docs: Update self-hosting documentation with new AWS Fargate content and minor revisions
  docs/automations/workflows.mdx
  docs/docs.json
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/environment-variables.mdx
  docs/self-hosting/kubernetes.mdx
Due: none

docs: Add Reo initialization script for client integration
  docs/reo.js
Due: none

docs: Update AI action and agent documentation with detailed usage examples and structured outputs
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/authentication/basic.mdx
  docs/docs.json
  docs/img/self-hosting/sign-in.png
  docs/overview/introduction.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs: Remove outdated installation guide for Tracecat
  docs/custom-actions/installation.mdx
Due: none

docs: fixes
  docs/authentication/basic.mdx
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/local-development.mdx
  docs/custom-actions/python-udf.mdx
  docs/docs.json
  docs/self-hosting/docker-compose.mdx
Due: none

docs: fixes
  docker-compose.local.yml
  docker-compose.yml
  docs/authentication/basic.mdx
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/local-development.mdx
  docs/custom-actions/python-udf.mdx
  docs/docs.json
  docs/self-hosting/docker-compose.mdx
Due: none

fix(tables): avoid lazy load on index update (#2398)
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix mcp preset tools and pagination
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix workflow execution prev cursors
  tests/unit/api/test_api_workflow_execution_search.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_executions.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(mcp): MCP preset tools and pagination (#2405)
  docs/snippets/mcp-tools.mdx
  tests/unit/api/test_api_workflow_execution_search.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_executions.py
  tracecat/mcp/README.md
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(compose): preserve local registry pythonpath
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(entitlements): enforce entitlements in UI (#2381)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  frontend/src/components/builder/panel/action-panel-fields.tsx
  frontend/src/components/locked-feature-modal.tsx
  frontend/src/components/registry/workspace-actions-inventory.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/tags-input.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/tags-input.test.tsx
  frontend/tests/use-builder-registry-actions.test.tsx
  packages/tracecat-registry/tracecat_registry/core/presets.py
  tests/conftest.py
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_registry.py
  tracecat/registry/actions/router.py
  tracecat/registry/actions/schemas.py
  tracecat/registry/actions/service.py
  tracecat/registry/actions/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(compose): preserve local registry pythonpath (#2406)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(agents): approvals for all mcp tools
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_factory.py
  tracecat/agent/executor/activity.py
  tracecat/agent/factory.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): normalize tool names
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_ee_agent_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): drop seeding mcp scopes
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(registry): support enterprise SSH users in git URLs
  frontend/src/components/admin/platform-registry-settings.tsx
  frontend/src/components/organization/org-settings-custom-registry.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/lib/git.ts
  frontend/tests/git.test.ts
  frontend/tests/org-settings-custom-registry-form.test.ts
  frontend/tests/org-workspace-settings-form.test.ts
  tests/unit/test_git.py
  tests/unit/test_organization_settings.py
  tests/unit/test_registry.py
  tests/unit/test_repositories.py
  tests/unit/test_workspace_service.py
  tracecat/git/constants.py
  tracecat/git/types.py
  tracecat/git/utils.py
  tracecat/registry/repositories/schemas.py
  tracecat/settings/schemas.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(api): exclude agent workflows from workflow runs
  tests/unit/api/test_api_workflow_execution_search.py
  tests/unit/test_workflow_execution_workspace_scoping.py
  tracecat/workflow/executions/common.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(registry): support enterprise SSH users in git URLs (#2407)
  frontend/src/components/admin/platform-registry-settings.tsx
  frontend/src/components/organization/org-settings-custom-registry.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/lib/git.ts
  frontend/tests/git.test.ts
  frontend/tests/org-settings-custom-registry-form.test.ts
  frontend/tests/org-workspace-settings-form.test.ts
  tests/unit/test_git.py
  tests/unit/test_organization_settings.py
  tests/unit/test_registry.py
  tests/unit/test_repositories.py
  tests/unit/test_workspace_service.py
  tracecat/git/constants.py
  tracecat/git/types.py
  tracecat/git/utils.py
  tracecat/registry/repositories/schemas.py
  tracecat/settings/schemas.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(api): hide agent tool executions
  tests/unit/api/test_api_workflow_execution_search.py
  tests/unit/test_workflow_execution_workspace_scoping.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
