Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

feat(workflow): restore workflows to previous versions
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  frontend/src/hooks/use-workflow-definitions.ts
  tests/temporal/test_workflows.py
  tests/unit/api/test_api_workflows.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): bound min workflow version
  tests/unit/api/test_api_workflows.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright

fix(workflow): auto position retored worfklwos
  frontend/src/components/builder/panel/workflow-panel.tsx
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
  tracecat/workflow/management/layout.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflow): confirmation dialog to restore
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

fix: preserve chat input focus intent
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

Fix chat input refocus after model responses
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

fix(workflow): atomic restore_workflow_definition
  tracecat/workflow/management/layout.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(workflow): revalidate graph_version under lock on restore
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix: preserve chat input refocus on submit blur
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

feat(ui): chat input refocus after model responses (#2570)
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

fix(workflows): prefer current definition and constrain legacy alias fallback
  tests/unit/test_workflow_definitions_service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

feat(workflow): restore workflows to previous versions (#2581)
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  frontend/src/hooks/use-workflow-definitions.ts
  tests/temporal/test_workflows.py
  tests/unit/api/test_api_workflows.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_definitions_service.py
  tracecat/mcp/server.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/layout.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Add portless support to cluster script
  scripts/cluster
Due: none

Use bearer auth for service account keys
  tests/integration/test_service_account_api_keys.py
  tests/unit/test_role_acl.py
  tracecat/auth/credentials.py
  tracecat/service_accounts/constants.py
Due: gen-client, basedpyright

refactor: Use bearer auth for service account keys (#2587)
  tests/integration/test_service_account_api_keys.py
  tests/unit/test_role_acl.py
  tracecat/auth/credentials.py
  tracecat/service_accounts/constants.py
Due: gen-client, basedpyright

feat: expose action output masking to UI
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_view.py
  tests/unit/test_workflow_import_service.py
  tracecat/dsl/common.py
  tracecat/workflow/actions/schemas.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: fall back when portless open registration fails
  scripts/cluster
Due: none

chore(dev): Add `portless` to cluster script (#2586)
  scripts/cluster
Due: none

release: 1.0.0-beta.43
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(ui): expose action output masking in UI (#2588)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_view.py
  tests/unit/test_workflow_import_service.py
  tracecat/dsl/common.py
  tracecat/workflow/actions/schemas.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.43 (#2585)
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(agents): prune and bump agent catalog
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(agents): tenant rls agent catalog split
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(agents): tenant rls agent catalog split
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): bump agent passthrough
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

feat(agents): new agent catalog db models
  tracecat/db/models.py
Due: gen-client, basedpyright

feat(agents): llm providers v2 control plane
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/access/types.py
  tracecat/agent/catalog/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): new agent catalog db models
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(agents): llm providers v2 control plane
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/access/types.py
  tracecat/agent/catalog/types.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): bump agent passthrough
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_provider_service.py
Due: basedpyright, biome-check, typecheck-frontend

refactor(agents): audit logging and agent catalog/provider cleanup
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/types.py
  tracecat/agent/catalog/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): audit logging and agent catalog/provider cleanup
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/access/types.py
  tracecat/agent/catalog/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): nits and helpers
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

chore(agents): bump platform catalog
  tracecat/agent/platform_catalog.json
Due: gen-client

refactor(agents): audit logging and agent catalog/provider cleanup
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/access/types.py
  tracecat/agent/catalog/types.py
  tracecat/api/app.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): seed platform catalog
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_provider_service.py
  tracecat/agent/platform_catalog.json
  tracecat/auth/dependencies.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): new agent catalog db models
  tracecat/agent/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright
