Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
          - --show-fixes # Show what files were fixed
          - --verbose
        exclude: ^alembic/versions/
      - id: ruff-format
        verbose: true
        exclude: ^alembic/versions/
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.6
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx biome check --write .'
        language: system
        files: ^frontend/
        require_serial: true
      - id: gen-client
        name: generate frontend client
        entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
        language: system
        files: ^(tracecat/api/|packages/tracecat-registry/)
        require_serial: true
        pass_filenames: false

fix(ui): Change workflow buttons from emerald to primary
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check

test: Add unit tests for index function and out-of-range handling
  tests/unit/test_functions.py
Due: none

add index fn
  tracecat/expressions/functions.py
Due: none

index -> at, not to be confused with python list.index()behavior
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: none

Add support for indexing expressions
  tests/unit/test_expression_indexing.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/parser/grammar.py
Due: none

update tests
  tests/unit/test_expression_indexing.py
  tests/unit/test_expressions.py
  tracecat/expressions/parser/evaluator.py
Due: none

feat(ui): Integrate feature flag for conditional display of git-sync dropdown in workflow actions
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check

feat: Add at() function for sequence indexing (#1591)
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: none

fix: Improve tool call delta error handling and fix tests (#1589)
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
Due: biome-check

feat: Add expression indexing support (#1592)
  tests/unit/test_expressions.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/parser/grammar.py
Due: none

fix(ui): Fix action panel select fields resetting (#1587)
  frontend/src/components/builder/panel/action-panel.tsx
Due: biome-check

feat(cases): Refactor case duration management with new dialog components and update functionality
  frontend/src/components/cases/add-case-duration-dialog.tsx
  frontend/src/components/cases/case-duration-dialog.tsx
  frontend/src/components/cases/case-durations-table.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/cases/update-case-duration-dialog.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/service.py
Due: biome-check

feat(cases): Add case viewed event tracking and related UI components
  alembic/versions/5d59cb88f9a7_add_case_viewed_event.py
  frontend/src/app/workspaces/[workspaceId]/cases/[caseId]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
  tests/unit/test_case_events_service.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: biome-check

docs: Add Keycloak SAML set-up guide.
  docs/img/self-hosting/keycloak-client-general.png
  docs/img/self-hosting/keycloak-client-login.png
  docs/img/self-hosting/keycloak-client-signing.png
  docs/img/self-hosting/keycloak-document-signing.png
  docs/img/self-hosting/keycloak-email-mapper.png
  docs/img/self-hosting/keycloak-metadata-url.png
  docs/self-hosting/authentication/saml-sso.mdx
Due: none

Update docs/self-hosting/authentication/saml-sso.mdx
  docs/self-hosting/authentication/saml-sso.mdx
Due: none

docs: Add Keycloak SAML set-up guide. (#1595)
  docs/img/self-hosting/keycloak-client-general.png
  docs/img/self-hosting/keycloak-client-login.png
  docs/img/self-hosting/keycloak-client-signing.png
  docs/img/self-hosting/keycloak-document-signing.png
  docs/img/self-hosting/keycloak-email-mapper.png
  docs/img/self-hosting/keycloak-metadata-url.png
  docs/self-hosting/authentication/saml-sso.mdx
Due: none

fix: add explicit type prop to button
  frontend/src/components/agents/agents-dashboard.tsx
Due: biome-check

claude: Rebase approval table migration on top of webhook API key migration
  alembic/versions/b376e6d16619_create_approval_table.py
Due: none

fix style
  frontend/src/components/agents/agents-dashboard.tsx
Due: biome-check

deps: Bump fastapi==0.120.3
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

deps: Bump starlette>=0.49.1
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

deps: Bump starlette>=0.49.1,<0.50.0
  pyproject.toml
  uv.lock
Due: none

feat(ui): Add FormLabel for commit message input in workflow save actions
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check

fix(cases): Update filterValues to an empty array in update-case-duration-dialog
  frontend/src/components/cases/update-case-duration-dialog.tsx
Due: biome-check

feat(ui+api): Add update durations to frontend (#1593)
  frontend/src/components/cases/add-case-duration-dialog.tsx
  frontend/src/components/cases/case-duration-dialog.tsx
  frontend/src/components/cases/case-durations-table.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/cases/update-case-duration-dialog.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/service.py
Due: biome-check

chore: Update FE client
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check

feat(api): Introduce new temporal search attribute for workspace ID and refactor existing attributes to use enum values
  tracecat/api/common.py
  tracecat/workflow/executions/enums.py
Due: gen-client

refactor: Simplify search attribute handling by utilizing TemporalSearchAttr enum for trigger types and workspace ID
  tracecat/dsl/common.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/schedules/bridge.py
Due: none

fix workspace id extraction when updating schedule
  tracecat/workflow/schedules/bridge.py
Due: none

add tests
  tests/unit/test_search_attributes.py
Due: none

check workspace id too
  tests/unit/test_search_attributes.py
Due: none

feat(api): Add workspace ID search attribute to Temporal workflows (#1596)
  tests/unit/test_search_attributes.py
  tracecat/api/common.py
  tracecat/dsl/common.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/schedules/bridge.py
Due: gen-client

feat(tests): Enhance pytest configuration for worker-specific execution and update MinIO/Redis settings
  .github/workflows/test-python.yml
  tests/conftest.py
Due: none

build: Add pytest-xdist to dev dependencies
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

style: Remove unused imports from nav and org components
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
Due: biome-check

feat(cases): Implement case view tracking with deduplication
  alembic/versions/ca6d351cff5f_add_case_viewed_event.py
  frontend/src/app/workspaces/[workspaceId]/cases/[caseId]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/case-table.tsx
  tests/unit/test_case_events_service.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: biome-check

ci: Parallelize registry tests with pytest-xdist (#1597)
  .github/workflows/test-python.yml
  pyproject.toml
  requirements.txt
  tests/conftest.py
  uv.lock
Due: none

refactor(events): Improve type safety and code readability in event components
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/builder/events/events-sidebar-interactions.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/lib/event-history.ts
Due: biome-check

feat(ui): Org VCS nits
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
Due: biome-check
