Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

use dataclasses
  tracecat/agent/adapter/vercel.py
Due: none

refactor: Update dataclass definitions to use kw_only=True for improved clarity and consistency
  tracecat/agent/adapter/vercel.py
Due: none

return stream of typed vercel SSE payloads
  tracecat/agent/adapter/vercel.py
Due: none

Add image validation
  tracecat/storage/validation.py
Due: none

Add image validation tests
  tests/unit/test_storage_validation.py
Due: none

drop logging
  tracecat/agent/adapter/vercel.py
Due: none

refactor: Simplify SSE formatting by directly converting data to JSON
  tracecat/agent/adapter/vercel.py
Due: none

drop log level
  tracecat/agent/stream/connector.py
Due: none

feat(agent): Add support for base64-encoded images in agent prompts and responses
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tracecat/agent/executor/aio.py
  tracecat/agent/models.py
  tracecat/agent/runtime.py
  tracecat/agent/serialization.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
  tracecat/chat/service.py
Due: gen-client

fix: Improve Vercel streaming adapter with index-based part tracking (#1546)
  tracecat/agent/adapter/vercel.py
  tracecat/agent/config.py
  tracecat/agent/stream/connector.py
Due: none

release: 0.47.2
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

Use Python 3.12 generics in Sigma utilities
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/integrations/pysigma.py
  requirements.txt
  uv.lock
Due: gen-client

feat(cases): Add persistent storage for case duration metrics
  alembic/versions/d4fd132ccb50_add_case_duration_table.py
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
Due: none

Split up definition and duration services
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/__init__.py
  tracecat/cases/durations/models.py
  tracecat/cases/durations/router.py
  tracecat/cases/durations/service.py
Due: biome-check

feat(frontend): Update case duration UI to use definition endpoints
  alembic/versions/d4fd132ccb50_add_case_duration_table.py
  frontend/src/components/cases/add-case-duration-dialog.tsx
  frontend/src/components/cases/case-durations-table.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/lib/case-durations.ts
  frontend/src/lib/hooks.tsx
  tracecat/agent/adapter/vercel.py
  tracecat/tables/common.py
Due: biome-check

feat(validation): Add workflow entrypoint expects validation
  tracecat/validation/service.py
Due: none

chore(frontend): Regenerate API client for entrypoint validation
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/workflow/management/models.py
  tracecat/workflow/management/router.py
Due: biome-check

feat(ui): Add real-time validation for workflow trigger inputs
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check

feat(frontend): Integrate case duration metrics into case panel view
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/case-durations.ts
  frontend/src/lib/hooks.tsx
Due: biome-check

fix(validation): Change error logging from error to warning for validation failures in workflow panel
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check

feat(validation): Enable async validation in workflow panel form
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check

feat(frontend): Enhance CaseDurationMetrics for inline display
  frontend/src/components/cases/case-panel-view.tsx
Due: biome-check

fix: Remove premature break in error event handling
  tracecat/agent/adapter/vercel.py
Due: none

fix(frontend): Adjust CasePanelView layout for improved alignment
  frontend/src/components/cases/case-panel-view.tsx
Due: biome-check

feat(frontend): Refactor imports and enhance CasePanelView layout
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/case-durations.ts
  frontend/src/lib/hooks.tsx
Due: biome-check

fix: Make workflow input schema validation safe (#1551)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  tracecat/validation/service.py
  tracecat/workflow/management/models.py
  tracecat/workflow/management/router.py
Due: biome-check

fix: Remove premature break in error event handling (#1552)
  tracecat/agent/adapter/vercel.py
Due: none

feat(ui+ee): Case metrics frontend (#1553)
  alembic/versions/d4fd132ccb50_add_case_duration_table.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/add-case-duration-dialog.tsx
  frontend/src/components/cases/case-durations-table.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/case-durations.ts
  frontend/src/lib/hooks.tsx
  tests/unit/test_case_duration_service.py
  tracecat/agent/adapter/vercel.py
  tracecat/cases/durations/__init__.py
  tracecat/cases/durations/models.py
  tracecat/cases/durations/router.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
  tracecat/tables/common.py
Due: biome-check

Remove runbook feature
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/runbooks/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/runbook-dropdown.tsx
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/components/dashboard/runbooks-dashboard.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/runbooks/runbook-alias-editor.tsx
  frontend/src/components/runbooks/runbook-card.tsx
  frontend/src/components/runbooks/runbook-chat.tsx
  frontend/src/components/runbooks/runbook-inline-alias-editor.tsx
  frontend/src/components/runbooks/runbook-instructions-editor.tsx
  frontend/src/components/runbooks/runbook-title-editor.tsx
  frontend/src/components/runbooks/runbooks-grid-view.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-runbook.tsx
  frontend/src/lib/chat.ts
  frontend/src/lib/hooks.tsx
  tracecat/api/app.py
  tracecat/chat/enums.py
  tracecat/chat/service.py
  tracecat/chat/tools.py
  tracecat/db/schemas.py
  tracecat/feature_flags/enums.py
  tracecat/runbook/__init__.py
  tracecat/runbook/flows.py
  tracecat/runbook/models.py
  tracecat/runbook/prompts.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

feat(case-durations): Implement feature flag for case durations and enhance UI components
  frontend/src/app/workspaces/[workspaceId]/cases/durations/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/ui/empty.tsx
  frontend/src/lib/hooks.tsx
  tracecat/api/app.py
  tracecat/feature_flags/enums.py
Due: biome-check, gen-client

chore: resolve lint issues after runbook removal
  frontend/src/components/chat/messages.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

Handle unknown feature flags gracefully
  tracecat/config.py
Due: none

Update frontend jsonpath flatten logic
  frontend/src/components/json-viewer.tsx
Due: biome-check

feat: Support expression evaluation in workflow aliases
  tests/unit/test_workflows.py
  tracecat/dsl/workflow.py
Due: none

feat: Support expression evaluation in workflow aliases (#1555)
  tests/unit/test_workflows.py
  tracecat/dsl/workflow.py
Due: none

release: 0.47.3
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

feat: add workflow payload tooltip to case tasks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/task-workflow-status.tsx
  tests/unit/test_case_task_events.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: biome-check

fix(ui): add ui for case tasks
  frontend/src/client/schemas.gen.ts
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-task-dialog.tsx
  frontend/src/components/cases/case-tasks-section.tsx
  frontend/src/components/cases/case-tasks-table.tsx
  frontend/src/components/cases/delete-case-task-dialog.tsx
  frontend/src/components/cases/task-workflow-status.tsx
  frontend/src/lib/hooks.tsx
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: biome-check

Add CaseTask schema
  alembic/versions/1f6f60502c17_add_casetask_schema.py
  tracecat/cases/enums.py
  tracecat/db/schemas.py
Due: none

fix: validate task ownership for update/delete
  tests/unit/test_case_tasks_service.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
