Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

ci: disable IPv6 on Blacksmith runners before BuildKit (#2528)
  .github/workflows/build-push-images.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-pnpm-build.yml
  .github/workflows/test-python.yml
Due: none

Add LiteLLM provider bypass for agents
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/unit/api/test_api_secrets.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_mcp_server.py
  tracecat/agent/config.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/activities.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/worker.py
  tracecat/secrets/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

revert conditional socket path
  tracecat/agent/sandbox/entrypoint.py
Due: gen-client, basedpyright

refactor(agents): replace litellm provider with custom-model-provider passthrough
  frontend/src/client/services.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/api/test_api_secrets.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_managed_litellm_socket_proxy.py
  tests/unit/test_mcp_server.py
  tracecat/agent/common/types.py
  tracecat/agent/config.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/activities.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/service.py
  tracecat/agent/session/service.py
  tracecat/agent/types.py
  tracecat/agent/worker.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/mcp/server.py
  tracecat/secrets/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(schemas): remove base_url from ModelConfig
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: add Kubernetes self-hosting page with Helm chart guide
  docs/docs.json
  docs/self-hosting/kubernetes.mdx
Due: none

docs: add Kubernetes self-hosting page, bump resource defaults (#2529)
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docs/docs.json
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/kubernetes.mdx
Due: none

Gate Agents sidebar and page behind agent_addons entitlement
  frontend/src/app/workspaces/[workspaceId]/agents/page.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
Due: biome-check, typecheck-frontend

test: drop stale litellm bypass tests
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_sandbox_litellm.py
Due: basedpyright

Notes added by 'git notes add'
  da/bdbadb0f9e80489eca625ec815e9a227e436db
Due: none

fix(agent): strip anthropic-only fields in llm proxy passthrough
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0d/b2f59ced891493ea7f78454187591e317349bd
Due: none

fix(agent): log has_base_url instead of raw base_url in preset activity
  tracecat/agent/preset/activities.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  03/6453d9b668e8c4af92b03febaf3a0558399ae2
Due: none

fix(agent): avoid logging raw upstream_url in llm socket proxy
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  47/e7d00b38980daf285c88065291dd803116b47a
Due: none

fix(agent): also strip output_config/output_format in passthrough
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a3/9bbabac8e139b05517096d196d48dfb32714a2
Due: none

fix(agent): log has_base_url instead of raw base_url in durable workflow
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  19/100704284613f18e6699a9c4d0ba9ff51fd05b
Due: none

fix: Return 409 for duplicate agent tags and invalidate directory cache on tag mutations
  frontend/src/hooks/use-agent-presets.ts
  tracecat/agent/tags/definitions_router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: Use fixed UUIDs in parametrized tests to avoid xdist collection mismatch
  tests/unit/api/test_api_agent_folders.py
  tests/unit/api/test_api_agent_tags.py
  tracecat/agent/tags/service.py
Due: gen-client, basedpyright

fix(agent): forward custom provider api key in passthrough mode
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  27/2620bcfb4a99181c47631f9500844e4d9850cd
Due: none

Gate agent tags page behind agent_addons entitlement
  frontend/src/app/workspaces/[workspaceId]/agents/tags/page.tsx
Due: biome-check, typecheck-frontend

add more logging
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c3/9bc5775c84288de4d3341af957b3d120b1e837
Due: none

refactor(agents): custom-model-provider passthrough replaces litellm provider (#2527)
  frontend/src/client/services.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/unit/api/test_api_secrets.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_managed_litellm_socket_proxy.py
  tests/unit/test_mcp_server.py
  tracecat/agent/common/types.py
  tracecat/agent/config.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/activities.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/entrypoint.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/service.py
  tracecat/agent/types.py
  tracecat/agent/worker.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/mcp/server.py
  tracecat/secrets/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): drop openai/ prefix for custom model providers
  tests/unit/test_agent_runtime.py
  tracecat/agent/gateway.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(agents): custom model provider routing (#2530)
  tests/unit/test_agent_runtime.py
  tracecat/agent/gateway.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

docs: add alembic migration guidance (#2524)
  alembic/AGENTS.md
  alembic/CLAUDE.md
Due: none

Notes added by 'git notes add'
  ca/6d970a6819b5949e46b8690e4352b3d4df87aa
Due: none

feat(agents): new agent catalog db models
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/platform_catalog.json
  tracecat/agent/types.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

Add workflow version selector for export
  frontend/src/components/export-workflow-dropdown-item.tsx
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

feat(agents): llm providers v2 control plane
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/router.py
  tracecat/agent/access/schemas.py
  tracecat/agent/access/service.py
  tracecat/agent/access/types.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/catalog/types.py
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/agent/types.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Revert "fix: fail unresolved run_if action references"
  tests/unit/test_dsl_scheduler_run_if.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

Fix guarded join run_if skip handling
  tests/temporal/test_workflows.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix: fail unresolved run_if action references
  tests/unit/test_dsl_scheduler_run_if.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

feat(frontend): scroll, timestamp, and auto-refresh export version submenu
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/providers/workflow.tsx
Due: biome-check, typecheck-frontend

fix(workflows): lazy-load version history and gate export submenu
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/builder-nav.tsx
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend
