Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

refactor(email): replace Resend SDK with provider-neutral SMTP transport
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  pyproject.toml
  tests/unit/test_bulk_invitations.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/client.py
  tracecat/invitations/types.py
  uv.lock
Due: gen-client, basedpyright

fix(agent): reject archived skills in pinned resolution
  tests/unit/test_agent_preset_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agent): validate persisted subagent refs before resolution
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(cases): polish Mermaid theming with cohesive palette
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend

refactor: resolve bulk rbac change lock contention
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/bulk-invite-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/db/locks.py
  tracecat/invitations/emails.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): add Claude Sonnet 5 to platform catalog
  tracecat/agent/platform_catalog.json
Due: gen-client

fix(registry): address review feedback on workflow authoring tools
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
Due: gen-client, basedpyright

fix(cases): render editable code block content as code element
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend

fix(workspace-sync): drop archived preset pins from skill export
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(cases): preserve code block language when serializing HTML
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend

fix(cases): render Mermaid diagrams in case descriptions (#2934)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/tests/mermaid-code-block-node.test.ts
Due: biome-check, typecheck-frontend

feat(chat): workflow draft authoring tools and MCP refactor (#2920)
  docs/snippets/mcp-tools.mdx
  frontend/src/client/services.gen.ts
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_workflow_sdk.py
  tests/unit/api/test_api_workflows.py
  tests/unit/test_artifacts.py
  tests/unit/test_authoring_context.py
  tests/unit/test_chat_tools.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_management.py
  tests/unit/test_workflow_schedules_service.py
  tracecat/agent/authoring_context.py
  tracecat/artifacts/bindings.py
  tracecat/authz/controls.py
  tracecat/chat/tools.py
  tracecat/executor/worker.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/management/draft.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/schedules/service.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit: poll in the events view
  frontend/src/components/builder/events/events-shared.tsx
  frontend/src/components/workspace-chat/artifacts/workflow-artifact-view.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/triggers.md
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_workflow_management.py
  tracecat/agent/authoring_context.py
  tracecat/agent/session/service.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
  tracecat/workflow/case_triggers/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(chat): expand built-in platform skills to expressions and triggers
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/expressions.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/triggers.md
Due: gen-client

feat(chat): built-in workspace-chat skills for workflow authoring
  packages/tracecat-ee/pyproject.toml
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/__init__.py
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/editing.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/concepts.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/navigation.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/triggers-and-credentials.md
  tests/unit/test_builtin_skills.py
  tracecat/agent/executor/activity.py
  tracecat/agent/session/service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright

fix(chat): scope chat tool execution to role
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_workflow_sdk.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_chat_tools.py
  tests/unit/test_workflow_management.py
  tracecat/agent/session/service.py
  tracecat/chat/tools.py
  tracecat/workflow/executions/internal_router.py
Due: gen-client, basedpyright

fix(chat): address review feedback on built-in skills
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/expects.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/expressions.md
  tests/unit/test_authoring_context.py
  tests/unit/test_builtin_skills.py
  tests/unit/test_mcp_server.py
  tracecat/agent/executor/activity.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/types.py
  tracecat/auth/credentials.py
  tracecat/workflow/executions/internal_router.py
Due: gen-client, basedpyright

feat(agents): preserve last error
  alembic/versions/e32940d12293_add_agent_session_run_status.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/chat/chat-last-error-indicator.tsx
  frontend/src/components/chat/chat-list.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  frontend/src/lib/chat.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_runs_inbox_provider.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): preserve last error (#2929)
  alembic/versions/e32940d12293_add_agent_session_run_status.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/chat/chat-last-error-indicator.tsx
  frontend/src/components/chat/chat-list.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  frontend/src/lib/chat.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_runs_inbox_provider.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): keyboard selection and dismiss dead-state in tag combobox
  frontend/jest.setup.js
  frontend/src/components/tags-input.tsx
  frontend/tests/tags-input.test.tsx
Due: biome-check, typecheck-frontend

feat(chat): built-in workspace-chat skills for workflow authoring (#2921)
  frontend/src/components/builder/events/events-shared.tsx
  frontend/src/components/workspace-chat/artifacts/workflow-artifact-view.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/pyproject.toml
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/__init__.py
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/editing.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/expects.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/expressions.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-manage-workflows/references/triggers.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/SKILL.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/concepts.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/navigation.md
  packages/tracecat-ee/tracecat_ee/workspace_chat/skills/tracecat-platform-guide/references/triggers-and-credentials.md
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_workflow_sdk.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_authoring_context.py
  tests/unit/test_builtin_skills.py
  tests/unit/test_chat_tools.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_management.py
  tracecat/agent/authoring_context.py
  tracecat/agent/executor/activity.py
  tracecat/agent/session/service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/auth/credentials.py
  tracecat/chat/tools.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): eagerly interrupt
  .claude/settings.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_messages.py
  tests/unit/test_vercel_adapter.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/cancellation.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/session/service.py
  tracecat/chat/enums.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): freshservice mcp and actions
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  packages/tracecat-registry/tracecat_registry/integrations/freshservice.py
  tests/registry/test_freshservice.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright

fix(ui): keyboard selection and dismiss dead-state in tag combobox (#2937)
  frontend/jest.setup.js
  frontend/src/components/tags-input.tsx
  frontend/tests/tags-input.test.tsx
Due: biome-check, typecheck-frontend

refactor(agents): move workspace catalog subset selection to org-level
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/components/organization/workspace-model-access-section.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-settings-container.tsx
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

feat(auth): sync rbac assignments with memberships
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(authz): correct group-derived membership handling under RLS
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
  tracecat/db/rls.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(auth): address membership reconcile review findings
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
Due: gen-client, basedpyright

nit(ui): update email template
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/main.tf
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/components/members/bulk-invite-dialog.tsx
  frontend/src/hooks/use-invitations.ts
  frontend/src/lib/email-parse.test.ts
  tests/unit/test_bulk_invitations.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/saml.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/client.py
  tracecat/email/service.py
  tracecat/email/templates.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor: resolve bulk rbac change lock contention
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/bulk-invite-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workspace_service.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/db/locks.py
  tracecat/invitations/emails.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: correct invite status handling and RBAC role visibility
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/bulk-invite-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/workspaces/invite-workspace-member.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_bulk_invitations.py
  tests/unit/test_rbac_service.py
  tests/unit/test_rls.py
  tests/unit/test_saml_client_config.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/rbac/router.py
  tracecat/db/rls.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/invitations/service.py
  tracecat/invitations/types.py
  tracecat/organization/router.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(secrets): pluggable secrets backend with read-only HashiCorp Vault support
  alembic/versions/b3d1a9c47e02_add_secret_backend_marker.py
  docs/docs.json
  docs/self-hosting/secrets-backends.mdx
  tests/unit/test_sandbox.py
  tests/unit/test_secrets_backend.py
  tracecat/auth/sandbox.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/secrets/backend.py
  tracecat/secrets/backends/__init__.py
  tracecat/secrets/backends/database.py
  tracecat/secrets/backends/vault.py
  tracecat/secrets/schemas.py
  tracecat/secrets/service.py
Due: gen-client, basedpyright

fix(secrets): review fixes - percent-encode Vault path segments, guard db backend against external registrations, stamp backend in workspace sync
  alembic/versions/b3d1a9c47e02_add_secret_backend_marker.py
  tests/unit/test_secrets_backend.py
  tracecat/db/models.py
  tracecat/secrets/backends/database.py
  tracecat/secrets/backends/vault.py
  tracecat/secrets/service.py
  tracecat/workspace_sync/adapters/secret_metadata.py
Due: gen-client, basedpyright

chore(env): document secrets backend env vars
  .env.example
Due: none

fix(agent): drop tenant MCP server names from discovery failure log
  packages/tracecat-ee/tracecat_ee/agent/activities.py
Due: gen-client, basedpyright

feat(secrets,ui): expose read-only secrets backend flag and allow value-less registration in create form
  docs/self-hosting/secrets-backends.mdx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/lib/hooks.tsx
  tracecat/api/app.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend
