Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

chore(deps): patch aiohttp starlette axios uuid
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/dashboard/create-workflow-button.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/components/tables/table-import-csv-dialog.tsx
  frontend/src/components/tables/table-import-table-dialog.tsx
  frontend/src/components/workspaces/workspaces-admin-button.tsx
  frontend/src/lib/event-history.ts
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  tracecat/agent/adapter/vercel.py
  tracecat/agent/factory.py
  tracecat/agent/runtime/pydantic_ai/adapter.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(webhooks): add include_headers toggle to webhook trigger
  alembic/versions/c9d2e7a4f1b3_add_webhook_include_headers.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  tests/unit/test_webhook_execution_path.py
  tracecat/db/models.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/router.py
  tracecat/webhooks/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(deps): use stable google-auth, complete native tool-call rename, drop @types/uuid
  frontend/package.json
  frontend/pnpm-lock.yaml
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  tracecat/agent/adapter/vercel.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(webhooks): address review feedback on include_headers
  frontend/src/components/builder/panel/trigger-panel.tsx
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
  tracecat/webhooks/schemas.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit: PR groupby on package manager
  .agents/skills/bump-deps/SKILL.md
Due: none

fix(webhooks): round-trip include_headers + stop logging wrapped headers
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workflow_store_service.py
  tracecat/webhooks/router.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

feat(skills): Restructure Tracecat best practices (#2834)
  .agents/skills/LEARNINGS_INBOX.md
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  .agents/skills/tracecat-automation-best-practices/references/run-python.md
  .agents/skills/tracecat-automation-best-practices/references/tables.md
  .agents/skills/tracecat-automation-best-practices/references/workflow-editing.md
  .agents/skills/tracecat-slackbot-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/run_local.py
Due: basedpyright

refactor(webhooks): type the trigger envelope as a TypedDict
  tracecat/webhooks/router.py
Due: gen-client, basedpyright

feat(webhooks): add include_headers toggle to webhook trigger (#2837)
  alembic/versions/c9d2e7a4f1b3_add_webhook_include_headers.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  tests/unit/test_webhook_execution_path.py
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workflow_store_service.py
  tracecat/db/models.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/router.py
  tracecat/webhooks/schemas.py
  tracecat/workflow/management/router.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor: rename bump-deps skill to fix-dependabot-alerts
  .agents/skills/bump-deps/agents/openai.yaml
  .agents/skills/fix-dependabot-alerts/SKILL.md
  .agents/skills/fix-dependabot-alerts/agents/openai.yaml
Due: none

chore(deps): bump vulnerable deps to min patched versions, pin carets
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: biome-check, typecheck-frontend

feat(agents): batch agent approvals
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_approvals_manager.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(chat): 5 tab limit, LRU pop
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/workspace-chat/workspace-chat-view.tsx
  frontend/src/hooks/use-workspace-chat-artifacts.test.tsx
  frontend/src/hooks/use-workspace-chat-artifacts.ts
  tests/unit/test_artifacts.py
  tracecat/artifacts/bindings.py
  tracecat/artifacts/projection.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): agent runs in inbox
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/activity-accordion.tsx
  frontend/src/components/inbox/activity-item.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/dependencies.py
  tracecat/inbox/router.py
  tracecat/inbox/schemas.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): surface runtime resolution diagnostics
  docs/agents/runtime-diagnostics.mdx
  docs/docs.json
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_runtime_resolution.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/pydantic_ai/runtime.py
  tracecat/agent/schemas.py
Due: gen-client, basedpyright

Delete .agents/skills/LEARNINGS_INBOX.md
  .agents/skills/LEARNINGS_INBOX.md
Due: none

fix(cluster): avoid portless port collision
  scripts/cluster
Due: none

fix(cluster): load env before portless checks
  scripts/cluster
Due: none

fix(cluster): avoid portless port collision (#2844)
  scripts/cluster
Due: none

fix(admin): clean up delete user CI
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/test_admin_users_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(admin): map delete-user errors by exception type
  packages/tracecat-ee/tracecat_ee/admin/users/router.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/api/test_api_admin_users.py
Due: gen-client, basedpyright

test(auth): cover stable org fallback
  tests/unit/test_active_org_cookie.py
  tests/unit/test_auth_middleware.py
Due: basedpyright

fix(org): satisfy pyright for cleanup queries
  tests/unit/test_organization_service.py
  tracecat/organization/management.py
  tracecat/organization/service.py
Due: gen-client, basedpyright

refactor(auth): use scalars for org membership query
  tests/unit/test_auth_middleware.py
  tracecat/auth/credentials.py
Due: gen-client, basedpyright

test(auth): cover inactive-org filtering in org resolution
  tests/unit/test_active_org_cookie.py
Due: basedpyright

docs(mcp): clarify strict multi-org handling in MCP resolvers
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(inbox): polish runs search and table row interactions
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(deps): bump vulnerable deps; pin carets (#2838)
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: biome-check, typecheck-frontend

chore: bump model catalog
  tracecat/agent/platform_catalog.json
Due: gen-client

fix(ui): workspace model selection scroll
  frontend/src/components/settings/settings-modal.tsx
Due: biome-check, typecheck-frontend

fix(agent): drop hardcoded temperature from lightweight completions
  tracecat/agent/llm.py
Due: gen-client, basedpyright

feat(mcp): add case dropdown management tools
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(inbox): per-group accordion pagination with server-side cursor support
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/router.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): scope dropdown option update/delete to their definition
  tests/unit/test_case_dropdown_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/dropdowns/router.py
  tracecat/cases/dropdowns/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

nit: sql cursor pagination if 1 provider
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): enforce case scopes on dropdown mutations at service layer
  tests/unit/test_case_dropdown_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/dropdowns/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(cases): require case:update for direct dropdown value writes
  tests/unit/test_case_dropdown_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/dropdowns/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

chore: bump model catalog (#2845)
  tracecat/agent/llm.py
  tracecat/agent/platform_catalog.json
Due: gen-client, basedpyright

fix(ui): workspace model selection scroll (#2846)
  frontend/src/components/settings/settings-modal.tsx
Due: biome-check, typecheck-frontend

fix(cases): require case:read for dropdown definition reads
  tests/unit/test_case_dropdown_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/dropdowns/service.py
Due: gen-client, basedpyright
