Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

style: apply formatter output from just fix
  tests/unit/test_tiers_semaphore.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/tiers/semaphore.py
Due: gen-client, basedpyright

fix(workflow): enforce tier action permit semantics
  tracecat/dsl/workflow.py
  tracecat/feature_flags/enums.py
  tracecat/tiers/activities.py
  tracecat/tiers/semaphore.py
Due: gen-client, basedpyright

test(workflow): cover retry and semaphore edge cases
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_tiers_semaphore.py
Due: basedpyright

test(temporal): add org concurrency limit e2e coverage
  tests/temporal/test_workflow_concurrency_limits.py
Due: basedpyright

chore: format
  tests/temporal/test_workflow_concurrency_limits.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_tiers_semaphore.py
Due: basedpyright

test(workflow): use runtime logger in DSL workflow fixture
  tests/unit/test_dsl_workflow_concurrency.py
Due: basedpyright

chore(frontend): regenerate api client types
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

fix(workflow): reject invalid child loop concurrency caps
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

feat(tiers): resolve concurrency caps from org limits cache
  packages/tracecat-ee/tracecat_ee/admin/tiers/service.py
  tracecat/config.py
  tracecat/tiers/activities.py
  tracecat/tiers/limits_cache.py
Due: gen-client, basedpyright

refactor(tiers): streamline Redis semaphore initialization and enhance tier service session management
  tracecat/tiers/activities.py
Due: gen-client, basedpyright

test(tiers): cover dynamic concurrency cap updates and cache invalidation
  tests/temporal/test_workflow_concurrency_limits.py
  tests/unit/test_admin_tier_service_cache_invalidation.py
  tests/unit/test_tier_activities.py
  tests/unit/test_tier_limits_cache.py
Due: basedpyright

feat(tiers): harden permit lifecycle with jittered heartbeats
  tests/temporal/test_workflow_concurrency_limits.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_tiers_semaphore.py
  tracecat/config.py
  tracecat/dsl/workflow.py
  tracecat/tiers/activities.py
  tracecat/tiers/semaphore.py
Due: gen-client, basedpyright

test(tiers): verify explicit null clears workflow limit
  tests/unit/test_admin_tier_service_cache_invalidation.py
Due: basedpyright

refactor(tiers): extract reusable permit service
  tests/unit/test_tier_activities.py
  tests/unit/test_tier_permits.py
  tracecat/tiers/activities.py
  tracecat/tiers/exceptions.py
  tracecat/tiers/permits.py
Due: gen-client, basedpyright

fix(config): handle empty env var fallbacks in concurrency settings
  tracecat/config.py
Due: gen-client, basedpyright

fix(config): set scheduler pending task default to 128
  tracecat/config.py
Due: gen-client, basedpyright

fix(config): set scheduler pending task default to 64 for multitenant
  tracecat/config.py
Due: gen-client, basedpyright

fix(workflow): snapshot concurrency flag via local activity
  tests/unit/test_dsl_validation.py
  tracecat/dsl/validation.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(workflow): initialize concurrency flag before tier checks
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

refactor(dsl): move workflow init activities out of validation
  tests/unit/test_dsl_validation.py
  tracecat/dsl/init_activities.py
  tracecat/dsl/validation.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(config): improve environment variable fallbacks for workflow permit settings
  tracecat/config.py
Due: gen-client, basedpyright

refactor(dsl): remove dead child workflow execution path
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/config.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

refactor(tests): rename and update child workflow parallel loop test to reflect dispatch cap changes
  tests/temporal/test_workflows.py
  tests/unit/test_config.py
Due: basedpyright

fix(workflow): preserve detach default for child executions
  tests/temporal/test_workflows.py
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(mcp): use Redis-backed storage for OAuth state (#2227)
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/mcp-deployment.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

refactor(workflow): use resolved organization id in permit paths
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  27/cd3cba2177bbdee5ed32b162f4e39e38b4b522
Due: none

feat(agents): rbac for agents
  alembic/versions/d21b9ee6a5d1_add_agent_preset_rbac_fields.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/rbac/scope-category-row.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/lib/rbac.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_default_presets.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_authz_seeding.py
  tests/unit/test_rbac_scopes.py
  tests/unit/test_route_scope_guards.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/scopes.py
  tracecat/agent/preset/service.py
  tracecat/agent/session/service.py
  tracecat/agent/types.py
  tracecat/api/app.py
  tracecat/authz/controls.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/authz/service.py
  tracecat/cases/prompts.py
  tracecat/db/models.py
  tracecat/organization/router.py
  tracecat/workspaces/prompts.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(rate-limit): stabilize token bucket integration tests
  tests/unit/test_rate_limits.py
Due: basedpyright

Notes added by 'git notes add'
  3b/4ff89decb5e1c6c20a3908b51bec22aa3a85ac
Due: none

feat(ui): display agents as members
  frontend/src/components/workspaces/workspace-members-table.tsx
  tests/unit/test_agent_session_default_presets.py
  tests/unit/test_rbac_scopes.py
  tracecat/agent/preset/service.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(mcp): list/execute preset agents
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(mcp): validate template actions
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(mcp): auth superuser privilege
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(agents): approvals for all mcp tools
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/executor/activity.py
  tracecat/agent/factory.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): normalize tool names
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_ee_agent_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): drop seeding mcp scopes
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): mcp heartbeat
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_mcp_utils.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/user_client.py
Due: gen-client, basedpyright

feat(agent): add in-process MCP support
  Dockerfile
  alembic/versions/cde97a0df056_add_mcp_command_server_fields.py
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  tracecat/agent/common/__init__.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/types.py
  tracecat/db/models.py
  tracecat/integrations/enums.py
  tracecat/integrations/mcp_validation.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): handle command-type integrations in detail page and prevent name collisions
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/db/models.py
  tracecat/integrations/router.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
