Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

test(webhooks): add /wait router regression coverage
  tests/unit/test_webhook_execution_path.py
Due: basedpyright

Notes added by 'git notes add'
  da/f4dec62c469575cf0720720d6017fdfb72c443
Due: none

feat(integrations): add oauth client auth methods and private_key_jwt
  alembic/versions/7bad028bc2ce_add_oauth_client_auth_method_and_.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_integrations_service.py
  tracecat/db/models.py
  tracecat/integrations/enums.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): improve oauth form optional labels and pem uploads
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/pem-file-uploader.tsx
  frontend/src/components/provider-config-form.tsx
Due: biome-check, typecheck-frontend

feat(integrations): remove assertion kid/alg from oauth config
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_integrations_service.py
  tracecat/db/models.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(frontend): restore generated oauth client usage
  frontend/src/components/auth/oauth-buttons.tsx
Due: biome-check, typecheck-frontend

feat(frontend): clarify oauth client auth method descriptions
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
Due: biome-check, typecheck-frontend

fix(frontend): remove slug-style oauth auth copy
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  b7/bb35de1d99c27c2d7140b0a638e66ccfc312ed
Due: none

Notes added by 'git notes add'
  1e/80b430b96731b3e2d224fc773d64b48efe3439
Due: none

fix(mcp): propagate approvals
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(webhooks): normalize /wait stored object responses
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0d/ce3869448c2fe8fdbe8c64ada896f70adf0da1
Due: none

chore: add orjson agent instructions
  AGENTS.md
Due: none

Notes added by 'git notes add'
  52/9e45601f9e23f9bce984c56749ae041befd89c
Due: none

Notes added by 'git notes add'
  16/6122a60776d3bbba651ea631b0e01aac66cb04
Due: none

feat(mcp): list/execute preset agents (#2194)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(webhooks): use user-facing /wait result envelopes
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  e1/fdb94e5d1dfa2e0de3a3adef829231c57182ae
Due: none

Notes added by 'git notes add'
  02/0bdb29647316ff5fbf9b98551abae5be6b6391
Due: none

Notes added by 'git notes add'
  f1/4cebff1022de37e87aa60732286f050c64093b
Due: none

refactor(webhooks): simplify /wait return type to tagged union
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  10/2e636b14af36271a972c676c9df887fc149612
Due: none

Investigate migration traceback
  alembic/versions/f856d9b7ee5a_agent_sessions.py
Due: basedpyright

release: beta.24
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(integrations): tighten oauth auth validation and form state
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
  tests/unit/test_integrations_service.py
  tracecat/db/models.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  10/ef53bc44d70c653bf277e7b2001de0524db5e4
Due: none

fix(webhooks): enforce stored object /wait normalization
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  da/980c37871e4950bdff954c28a809ce04c0c234
Due: none

chore(deployments): increase temporal CPU and memory limits in Fargate configurations
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

fix(webhooks): materialize /wait collections without storage backend coupling
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a2/e2906c97b063ab2db8bfdee4253ae545e1b880
Due: none

fix(cases): apply OR semantics for multi-tag case filters
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(infra): add executor startup and probe fallbacks for old images
  deployments/fargate/modules/ecs/ecs-executor.tf
  deployments/helm/tracecat/templates/executor-deployment.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  c0/d81f1983ca9cbb20811ca0283869d812823891
Due: none

chore(deployments): update executor desired count to 2 for Fargate configurations
  deployments/fargate/variables.tf
Due: none

fix(webhooks): honor indexed collection handles in /wait
  tests/unit/test_webhook_execution_path.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a4/356ebb6f1bd18e1b3d8967ae4f5f5cd8e03829
Due: none

fix(cases): use CaseTagsService API in tag filter regression test
  tests/unit/test_cases_service.py
Due: basedpyright

fix(frontend): show oauth auth descriptions below select
  frontend/src/components/integrations/create-custom-provider-dialog.tsx
  frontend/src/components/provider-config-form.tsx
Due: biome-check, typecheck-frontend
