Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(sync): reuse workflow aliases on source rename
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(sync): include workflow publish dependencies
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(agents): scope custom-provider/catalog reads to org admins
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/lib/hooks.tsx
  tracecat/agent/access/service.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/provider/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.50-rc.8
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(sync): preserve workflow export portability
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
  tracecat/workspace_sync/workflow.py
Due: gen-client, basedpyright

fix(ui): key workspace sync queries by repo
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/components/workspace-sync/resource-sync-actions.tsx
  frontend/src/hooks/use-workspace-sync.ts
  frontend/tests/use-workspace-sync.test.tsx
Due: biome-check, typecheck-frontend

refactor(agent): preserve resolved subagent bindings
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

test(agent): stabilize latest resource CI checks
  tests/unit/test_agent_preset_service.py
  tests/unit/test_rate_limit.py
Due: basedpyright

test(sync): assert workflow export dependency files
  tests/unit/test_workspace_sync_service.py
Due: basedpyright

fix(agent): ignore archived presets in skill usage
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agent): deactivate preset channel tokens on archive
  tests/unit/test_agent_channel_service.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/channels/service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(db): mark preset archive downgrade unsafe
  alembic/versions/32b7a1f4d9c2_add_agent_preset_archive_timestamp.py
Due: basedpyright

test(agent): set channel signing secret
  tests/unit/test_agent_channel_service.py
Due: basedpyright

fix(sync): reject duplicate workflow aliases
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/resources.py
Due: gen-client, basedpyright

fix(ui): parse suffixless workspace sync refs
  frontend/src/components/workspace-sync/branch-target-selector.tsx
  frontend/tests/workspace-sync-branch-target-selector.test.ts
Due: biome-check, typecheck-frontend

fix(sync): validate duplicate import identities
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/case_duration.py
  tracecat/workspace_sync/adapters/case_field.py
  tracecat/workspace_sync/adapters/case_tag.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
  tracecat/workspace_sync/resources.py
Due: gen-client, basedpyright

fix(agent): return 404 for archived token activation
  tests/unit/test_agent_channel_management_router.py
  tracecat/agent/channels/management_router.py
Due: gen-client, basedpyright

fix(agent): validate restored subagent presets
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agent): preserve resumed subagent bindings
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_activities.py
  tracecat/agent/preset/activities.py
  tracecat/agent/session/activities.py
Due: gen-client, basedpyright

fix: restrict table dependency discovery
  tests/unit/test_workspace_sync_acceptance_contract.py
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: preserve binary skill files in sync
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

fix: filter user-facing temporal sentry errors
  tests/unit/test_sentry_observability.py
  tracecat/dsl/interceptor.py
Due: gen-client, basedpyright

fix: ignore blank runtime sentry env
  frontend/src/lib/sentry-client.test.ts
  frontend/src/lib/sentry-client.ts
Due: biome-check, typecheck-frontend

fix: tolerate base64 whitespace in skill files
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix: keep workspace sync dry runs read-only
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workflow/management/management.py
  tracecat/workflow/store/import_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: scrub sentry request query secrets
  tests/unit/test_sentry_observability.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix: park case tag refs during sync
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/case_tag.py
Due: gen-client, basedpyright

release: 1.0.0-beta.50
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix: scrub frontend sentry request queries
  frontend/src/lib/sentry.test.ts
  frontend/src/lib/sentry.ts
Due: biome-check, typecheck-frontend

fix(agent): lock preset before archive check
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix: use blank-aware sentry dsn fallback
  frontend/src/lib/sentry-client.ts
  frontend/src/lib/sentry-env.test.ts
  frontend/src/lib/sentry-env.ts
  frontend/src/sentry.edge.config.ts
  frontend/src/sentry.server.config.ts
Due: biome-check, typecheck-frontend

feat(worker): expose Temporal worker concurrency tuning env knobs
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

feat(integrations): restore okta mcp
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
Due: gen-client

feat(integrations): restore okta mcp (#2918)
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
Due: gen-client

fix(worker): handle blank concurrency env values
  tests/unit/test_worker_activity_registration.py
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

fix: trim sentry env values
  frontend/src/lib/sentry-env.test.ts
  frontend/src/lib/sentry-env.ts
Due: biome-check, typecheck-frontend

fix: tolerate malformed sentry request urls
  tests/unit/test_sentry_observability.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(infra): validate worker concurrency inputs
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

release: 1.0.0-beta.51-rc.1
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
