Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

Notes added by 'git notes add'
  1d/3796ae6938f61d744cee65b52c2cd0634443f1
Due: none

Notes added by 'git notes add'
  1c/479257faa36a33d8254d546930d6e86bcabd76
Due: none

fix(temporal): fail immediately when workflow definition is missing (#2423)
  tests/temporal/test_workflows.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

feat(secrets): unify secret type values to snake_case
  alembic/versions/3431033d29fd_unify_secret_type_casing_to_snake_case.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/editor/codemirror/common.tsx
  frontend/src/components/organization/org-secret-update.tsx
  frontend/src/components/ssh-keys/ssh-key-create-dialog.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/components/workspaces/credentials-utils.ts
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  frontend/src/components/workspaces/workspace-credentials-inventory.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/_internal/models.py
  packages/tracecat-registry/tracecat_registry/core/grpc.py
  packages/tracecat-registry/tracecat_registry/core/http.py
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  packages/tracecat-registry/tracecat_registry/integrations/ansible.py
  tracecat/registry/actions/service.py
  tracecat/secrets/enums.py
  tracecat/secrets/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(secrets): document secret_type usage and structured types
  docs/automations/core-concepts/secrets.mdx
  docs/custom-actions/python-udf.mdx
Due: none

fix(secrets): fix inference misclassification and nested button a11y
  frontend/src/components/workspaces/workspace-credentials-inventory.tsx
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  80/5e94fb45fd42073f71906167072e1608c2abdd
Due: none

fix(ui): restore stopPropagation on connected-environments icon
  frontend/src/components/workspaces/workspace-credentials-inventory.tsx
Due: biome-check, typecheck-frontend

fix(tests): add secret_type to secret definitions test assertion
  tests/unit/api/test_api_secrets.py
Due: basedpyright

refactor(secrets): simplify secret_type inference logic
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright

refactor: drop litellm
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/conftest.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_output_format.py
  tests/unit/test_agent_runtime_services.py
  tests/unit/test_config.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy_anthropic_family.py
  tests/unit/test_tracecat_llm_proxy_cloud_providers.py
  tests/unit/test_tracecat_llm_proxy_core.py
  tests/unit/test_vercel_stream_context.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/output_format.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor_worker.py
  tracecat/agent/llm_proxy/__init__.py
  tracecat/agent/llm_proxy/anthropic_compat.py
  tracecat/agent/llm_proxy/auth.py
  tracecat/agent/llm_proxy/core.py
  tracecat/agent/llm_proxy/credentials.py
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/provider_azure_ai.py
  tracecat/agent/llm_proxy/provider_bedrock.py
  tracecat/agent/llm_proxy/provider_common.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/providers.py
  tracecat/agent/llm_proxy/requests.py
  tracecat/agent/llm_proxy/types.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime_services.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/writers.py
  tracecat/config.py
Due: gen-client, basedpyright

feat(secrets): add backend-explicit secret types and unify to snake_case (#2425)
  alembic/versions/3431033d29fd_unify_secret_type_casing_to_snake_case.py
  docs/automations/core-concepts/secrets.mdx
  docs/custom-actions/python-udf.mdx
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/editor/codemirror/common.tsx
  frontend/src/components/organization/org-secret-update.tsx
  frontend/src/components/ssh-keys/ssh-key-create-dialog.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/components/workspaces/credentials-utils.ts
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  frontend/src/components/workspaces/workspace-credentials-inventory.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/_internal/models.py
  packages/tracecat-registry/tracecat_registry/core/grpc.py
  packages/tracecat-registry/tracecat_registry/core/http.py
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  packages/tracecat-registry/tracecat_registry/integrations/ansible.py
  tests/unit/api/test_api_secrets.py
  tracecat/registry/actions/service.py
  tracecat/secrets/enums.py
  tracecat/secrets/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): correctness bugs across provider adapters
  docker-compose.dev.yml
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy_anthropic_family.py
  tests/unit/test_tracecat_llm_proxy_cloud_providers.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/output_format.py
  tracecat/agent/llm_proxy/core.py
  tracecat/agent/llm_proxy/credentials.py
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/provider_azure_ai.py
  tracecat/agent/llm_proxy/provider_bedrock.py
  tracecat/agent/llm_proxy/provider_common.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/service.py
Due: gen-client, basedpyright

fix(agents): patch llm proxy passthrough for anthropic models
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy_core.py
  tracecat/agent/llm_proxy/core.py
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/provider_common.py
Due: gen-client, basedpyright

Refine table editor column visibility
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(agents): llm proxy text parsing for Google models
  tests/unit/test_tracecat_llm_proxy_cloud_providers.py
  tracecat/agent/llm_proxy/provider_google.py
Due: gen-client, basedpyright

fix(ui): use backend entitlements for agent preset action locking
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
Due: biome-check, typecheck-frontend

fix(ui): use backend entitlements for agent preset action locking (#2426)
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
Due: biome-check, typecheck-frontend

feat(deduplicate): move persistent dedup behind trusted internal API
  packages/tracecat-registry/tracecat_registry/context.py
  packages/tracecat-registry/tracecat_registry/core/transform.py
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  packages/tracecat-registry/tracecat_registry/sdk/deduplicate.py
  tests/unit/test_deduplicate.py
  tracecat/api/app.py
  tracecat/deduplicate/__init__.py
  tracecat/deduplicate/internal_router.py
Due: gen-client, basedpyright

fix(deduplicate): update registry transform tests for SDK-backed dedup
  tests/registry/test_core_transform.py
Due: basedpyright

refactor(deduplicate): RESTful endpoint naming and proper scope
  packages/tracecat-registry/tracecat_registry/core/transform.py
  packages/tracecat-registry/tracecat_registry/sdk/deduplicate.py
  tests/registry/test_core_transform.py
  tests/unit/test_deduplicate.py
  tracecat/authz/scopes.py
  tracecat/deduplicate/internal_router.py
Due: gen-client, basedpyright

fix(deduplicate): document json vs orjson digest stability constraint
  packages/tracecat-registry/tracecat_registry/core/transform.py
Due: gen-client, basedpyright

feat(api): Move persistent dedup behind trusted internal API (#2427)
  packages/tracecat-registry/tracecat_registry/context.py
  packages/tracecat-registry/tracecat_registry/core/transform.py
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  packages/tracecat-registry/tracecat_registry/sdk/deduplicate.py
  tests/registry/test_core_transform.py
  tests/unit/test_deduplicate.py
  tracecat/api/app.py
  tracecat/authz/scopes.py
  tracecat/deduplicate/__init__.py
  tracecat/deduplicate/internal_router.py
Due: gen-client, basedpyright

build: bump claude-agent-sdk to 0.1.51
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  52/7e8a1cd056045483412b2d37d5abf113c593df
Due: none

test: align Claude hook inputs with SDK types
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_runtime.py
Due: basedpyright

Notes added by 'git notes add'
  5f/2761f0e9bebb741804e02f54d1ebf103e1872f
Due: none

deps: bump claude-agent-sdk to 0.1.51 (#2428)
  pyproject.toml
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_runtime.py
  uv.lock
Due: basedpyright

docs(sql): align postgres scheme with installed psycopg3
  docs/automations/core-concepts/secrets.mdx
  packages/tracecat-registry/tracecat_registry/core/sql.py
Due: gen-client, basedpyright

docs(sql): keep execute_query docstring to one line
  packages/tracecat-registry/tracecat_registry/core/sql.py
Due: gen-client, basedpyright

Clarify usage of core.sql.execute_query
  docs/automations/core-concepts/secrets.mdx
Due: none

Update SQL connection documentation
  packages/tracecat-registry/tracecat_registry/core/sql.py
Due: gen-client, basedpyright

docs: SQL secret and clarify SQL action connection URLs (#2429)
  docs/automations/core-concepts/secrets.mdx
  packages/tracecat-registry/tracecat_registry/core/sql.py
Due: gen-client, basedpyright

feat(ui): add bulk comment, append description, and custom dropdown actions
  frontend/src/components/nav/controls-header.tsx
Due: biome-check, typecheck-frontend

build(ui): regenerate frontend API client after merge from main
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

feat(ui): add bulk comment, append description, and custom dropdown actions (#2430)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/controls-header.tsx
Due: biome-check, typecheck-frontend

fix(ui): improve case custom fields display and validation
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check, typecheck-frontend

fix(docs): replace broken external links in tool docs and templates
  docs/tools/google_secops_detection.mdx
  docs/tools/jira.mdx
  docs/tools/microsoft_sentinel.mdx
  docs/tools/okta.mdx
  docs/tools/okta_oar.mdx
  docs/tools/virustotal.mdx
  packages/tracecat-registry/tracecat_registry/integrations/google_secops_detection.py
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/add_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/assign_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/create_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priorities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priority_schemes.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_transitions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_user_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/search_issues.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_description.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_status.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/upload_attachment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/query_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/activate_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/create_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/search_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/create_message.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_requests.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_specific_request.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/virustotal/list_threats.yml
Due: gen-client, basedpyright

fix(registry): restore https scheme in base_url examples
  docs/tools/google_secops_detection.mdx
  docs/tools/jira.mdx
  docs/tools/okta.mdx
  docs/tools/okta_oar.mdx
  packages/tracecat-registry/tracecat_registry/integrations/google_secops_detection.py
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/add_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/assign_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/create_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priorities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priority_schemes.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_transitions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_user_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/search_issues.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_description.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_status.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/upload_attachment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/activate_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/create_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/search_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/create_message.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_requests.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_specific_request.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_user.yml
Due: gen-client, basedpyright
