Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(audit+ui): preserve headers across DNS root dots
  frontend/src/components/organization/org-settings-audit.test.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/lib/http-origin.test.ts
  frontend/src/lib/http-origin.ts
Due: biome-check, typecheck-frontend

security(audit): bind webhook egress and retained credentials
  frontend/src/components/organization/org-settings-audit.test.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  packages/tracecat-ee/tracecat_ee/admin/settings/service.py
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_admin_settings_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_organization_settings.py
  tracecat/audit/service.py
  tracecat/settings/audit.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(audit): preserve webhook URL basic auth
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_audit_service.py
  tracecat/audit/service.py
Due: gen-client, basedpyright

fix(infra): forward Tempo trace URL template to services
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(agents): classify missing gateway provider credentials
  tests/unit/test_agent_gateway.py
  tracecat/agent/gateway.py
Due: gen-client, basedpyright

fix(audit): serialize initial organization settings
  tests/unit/test_organization_settings.py
  tracecat/settings/service.py
Due: gen-client, basedpyright

security(agents): bind OTLP egress and collector credentials
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
  tests/unit/test_agent_otel_config.py
  tests/unit/test_agent_otel_relay.py
  tests/unit/test_organization_settings.py
  tracecat/agent/otel_config.py
  tracecat/agent/sandbox/otel_relay.py
  tracecat/settings/otel.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): tolerate legacy managed OTLP headers
  tests/unit/test_agent_otel_config.py
  tracecat/agent/otel_config.py
Due: gen-client, basedpyright

security(agents): serialize OTLP credential binding
  tests/unit/test_organization_settings.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
Due: gen-client, basedpyright

fix(agents+ui): preserve OTLP headers across DNS root dots
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
Due: biome-check, typecheck-frontend

fix(agents): preserve custom OTLP User-Agent
  tests/unit/test_agent_otel_relay.py
  tracecat/agent/sandbox/otel_relay.py
Due: gen-client, basedpyright

fix(agents): serialize initial OTLP settings
  tests/unit/test_organization_settings.py
  tracecat/settings/service.py
Due: gen-client, basedpyright

fix(integrations): bound registry discovery allocator arenas
  tests/integration/test_registry_discovery_resources.py
  tests/unit/test_registry_sync_sandbox.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

fix(integrations): bound registry discovery allocator arenas (#3488)
  tests/integration/test_registry_discovery_resources.py
  tests/unit/test_registry_sync_sandbox.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

refactor(agents): unify dashboard selection and guide model setup (#3473)
  frontend/src/components/agents/agents-dashboard.tsx
  frontend/src/components/agents/create-agent-dialog.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/create-agent-dialog.test.tsx
Due: biome-check, typecheck-frontend

fix(engine): preserve registry tool cancellation (#3486)
  packages/tracecat-ee/tracecat_ee/agent/workflows/registry_tool.py
  tests/temporal/test_registry_tool_cancellation.py
  tests/unit/test_agent_mcp_executor.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_executor_activities.py
  tests/unit/test_registry_tool_workflow.py
  tests/unit/test_sentry_interceptor.py
  tests/unit/test_temporal_errors.py
  tests/unit/test_temporal_patches.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/executor/activities.py
  tracecat/temporal/errors.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

docs(agents): explain preset model setup
  docs/agents/ai-preset-agent.mdx
  docs/img/agents/create-agent-enable-model.jpg
  docs/img/agents/create-agent-set-up-model.jpg
  docs/img/agents/create-agent.jpg
Due: none

docs(agents): clarify managed and passthrough LLM routing
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(functions): extract escaped-dot defanged URLs
  tests/data/iocs/defanged/url.yml
  tracecat/expressions/ioc_extractors/url.py
Due: gen-client, basedpyright

fix(agents): preserve original errors during runtime cleanup
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

fix(functions): extract escaped-dot defanged URLs (#3491)
  tests/data/iocs/defanged/url.yml
  tracecat/expressions/ioc_extractors/url.py
Due: gen-client, basedpyright

fix(integrations): skip catalog OAuth pins when server URI differs from row default
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

docs(docs): refresh air-gapped model guidance
  docs/agents/custom-llm-providers.mdx
  docs/self-hosting/air-gapped.mdx
Due: none

docs(docs): clarify Qwen generation limits
  docs/self-hosting/air-gapped.mdx
Due: none

docs: refresh air-gapped model guidance (#3493)
  docs/agents/custom-llm-providers.mdx
  docs/self-hosting/air-gapped.mdx
Due: none

refactor(agents): derive managed LLM diagnostics from token claims
  tests/temporal/durable_agent_failure_harness.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

refactor(agents): decode LLM token lazily for managed diagnostics
  tests/temporal/durable_agent_failure_harness.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

feat(engine): add TRACECAT__UNSAFE_DISABLE_SECRET_ERROR_WITHHOLDING knob
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/test_executor_service.py
  tests/unit/test_secret_masking_errors.py
  tracecat/config.py
  tracecat/executor/action_runner.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/service.py
  tracecat/expressions/core.py
Due: gen-client, basedpyright

docs(self-hosting): warn to back up docker-compose.yml and Caddyfile before updating
  docs/self-hosting/updating.mdx
Due: none

fix(agents): classify LLM failures and diagnose read timeouts (#3432)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/durable_agent_failure_harness.py
  tests/temporal/test_durable_agent_runtime_error_attribution.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_diagnostics.py
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_gateway_errors.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_runtime_errors.py
  tests/unit/test_sentry_interceptor.py
  tests/unit/test_temporal_errors.py
  tracecat/agent/diagnostics.py
  tracecat/agent/error_policy.py
  tracecat/agent/executor/activity.py
  tracecat/agent/gateway.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/dsl/interceptor.py
  tracecat/observability/sentry.py
  tracecat/runtime/errors.py
  tracecat/temporal/errors.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): preserve executor errors across runtime callbacks
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

release: 1.0.0-rc.1
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

chore(rbac): drop legacy membership tables
  alembic/versions/6a6e9e93f9ef_drop_legacy_membership_tables.py
  tests/migration/test_membership_drop_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(rbac): derive membership from role assignments
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

feat(rbac): dual-write memberships during assignment migration
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  alembic/versions/6a6e9e93f9ef_drop_legacy_membership_tables.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/migration/test_membership_drop_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(rbac): remove log-only membership migration
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  tests/migration/test_membership_derived_migration.py
  tests/unit/test_membership_derived.py
Due: basedpyright

fix(rbac): keep org role edits from ejecting members
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): synchronize membership with role changes
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(rbac): drop membership sync projection for legacy dual-write
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(ui): change organization role in place
  frontend/src/components/organization/org-members-table.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
