Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(tables): apply trusted scope to owned session RLS
  tests/integration/test_search_storage.py
  tracecat/search/service.py
Due: gen-client, basedpyright

fix(engine): retry truncated S3 downloads during materialization (#3521)
  tests/unit/test_runtime_error_steel_thread.py
  tests/unit/test_storage_cache.py
  tracecat/storage/utils.py
Due: gen-client, basedpyright

feat(api): return resource bodies from create and update endpoints
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-panel-content.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-panel-description.tsx
  frontend/src/components/cases/case-panel-fields-group.tsx
  frontend/src/components/cases/case-panel-summary.tsx
  frontend/src/providers/workflow.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/api/test_api_secrets.py
  tests/unit/api/test_api_tables.py
  tests/unit/api/test_api_workflows.py
  tests/unit/api/test_api_workspaces.py
  tracecat/cases/router.py
  tracecat/secrets/router.py
  tracecat/secrets/service.py
  tracecat/tables/router.py
  tracecat/workflow/management/router.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(tables): harden embedding tokenization and input validation
  tests/unit/test_search_embeddings.py
  tracecat/search/embeddings/catalog.py
  tracecat/search/embeddings/client.py
  tracecat/search/embeddings/data/LICENSE.tiktoken
  tracecat/search/embeddings/data/README.md
  tracecat/search/embeddings/data/cl100k_base.tiktoken.gz
Due: gen-client, basedpyright

fix(ui): restore Tailwind peer/group variants dropped by selector parser
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

fix(api): tighten validation and response contracts for Terraform
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_tables.py
  tests/unit/api/test_api_workflows.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_schedule_cron_validation.py
  tests/unit/test_tables_service.py
  tests/unit/test_variables_schemas.py
  tests/unit/test_workflow_schedules_service.py
  tracecat/agent/preset/schemas.py
  tracecat/tables/router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
  tracecat/variables/schemas.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/schedules/bridge.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/schedules/schemas.py
  tracecat/workflow/schedules/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(api): leave schedules untouched when omitted from draft PUT
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_workflows.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(frontend): regenerate client after merging main
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

release: 1.0.0-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(mcp): allow clearing output_type in update_agent_preset
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(rbac): add SCIM external directory projection
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  packages/tracecat-ee/tracecat_ee/scim/__init__.py
  packages/tracecat-ee/tracecat_ee/scim/service.py
  tests/migration/test_scim_shadow_tables_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_organization_service.py
  tests/unit/test_scim_projection.py
  tracecat/authz/enums.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/organization/router.py
  tracecat/organization/service.py
Due: gen-client, basedpyright

feat(rbac): add SCIM connection credentials
  alembic/versions/63bb4d4466aa_add_scim_connection_credential.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/scim/connections.py
  packages/tracecat-ee/tracecat_ee/scim/credentials.py
  packages/tracecat-ee/tracecat_ee/scim/router.py
  packages/tracecat-ee/tracecat_ee/scim/schemas.py
  tests/migration/test_scim_connection_migration.py
  tests/unit/api/test_api_scim_connection.py
  tests/unit/test_scim_audit_chain.py
  tests/unit/test_scim_connection_auth.py
  tests/unit/test_scim_connection_service.py
  tracecat/api/app.py
  tracecat/audit/enums.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/auth/api_keys.py
  tracecat/auth/credentials.py
  tracecat/auth/types.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(env.sh): point 0.0.0.0 error message to existing docs page
  env.sh
Due: none

fix(ui): scroll wide markdown tables in case descriptions and comments
  frontend/src/components/tiptap-templates/simple/simple-editor.scss
Due: biome-check, typecheck-frontend

release: 1.0.0 (#3535)
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(engine): trim unreferenced workflow return context
  tests/unit/test_dsl_return_context.py
  tracecat/dsl/return_context.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agents): classify preparation permission denials
  tests/unit/test_agent_preset_activities.py
  tracecat/agent/preset/activities.py
Due: gen-client, basedpyright

fix(agents): distinguish gateway cooldown from provider throttling
  tests/unit/test_agent_gateway_errors.py
  tracecat/agent/gateway.py
Due: gen-client, basedpyright

test(api): isolate role ACL allowlist lookups
  tests/unit/test_role_acl.py
Due: basedpyright

test(rbac): isolate role ACL allowlist lookup
  tests/unit/test_role_acl.py
Due: basedpyright

test(api): isolate role ACL tests from IP allowlist database
  tests/unit/test_role_acl.py
Due: basedpyright

fix(agents): retain safe SDK initialization diagnostics
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_claude_diagnostics.py
  tracecat/agent/runtime/claude_code/diagnostics.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
Due: gen-client, basedpyright

fix(agents): classify preparation permission denials (#3537)
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_role_acl.py
  tracecat/agent/preset/activities.py
Due: gen-client, basedpyright

fix(agents): avoid completion after failed error delivery
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

feat(mcp): add list_workflow_actions and get_workflow_action tools
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(mcp): address workflow actions by @ref in edit_workflow patches
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_json_patch.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/json_patch.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(mcp): add per-action execution result paging and event filters
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/shaping.py
Due: gen-client, basedpyright

docs(mcp): document action addressing and execution result tools
  tracecat/mcp/README.md
Due: gen-client

refactor(agents): simplify initialization diagnostics lifecycle
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_socket_io.py
  tests/unit/test_claude_diagnostics.py
  tracecat/agent/runtime/claude_code/diagnostics.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
Due: gen-client, basedpyright

feat(tables): add resumable chunking for long text (#3512)
  tests/unit/test_search_chunking.py
  tracecat/search/__init__.py
  tracecat/search/chunking.py
  tracecat/search/chunking_types.py
Due: gen-client, basedpyright

fix(cases): hide Mermaid source alongside rendered diagrams
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
  frontend/tests/mermaid-code-block-view.test.tsx
Due: biome-check, typecheck-frontend

docs: align hosted MCP server count
  README.md
Due: none

docs: align hosted MCP server count (#3543)
  README.md
Due: none

feat(cases): theme Mermaid diagrams for dark mode
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
  frontend/tests/mermaid-code-block-node.test.ts
Due: biome-check, typecheck-frontend

feat(mcp): action addressing and per-action execution results (#3544)
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_json_patch.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/json_patch.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/shaping.py
Due: gen-client, basedpyright

fix(engine): retry executor-level execution errors under retry_policy
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/temporal/runtime_error_attribution_harness.py
  tests/temporal/test_runtime_error_attribution.py
  tests/unit/test_executor_activities.py
  tests/unit/test_executor_error_policy.py
  tests/unit/test_sandbox_result_envelope.py
  tracecat/dsl/schemas.py
  tracecat/executor/error_policy.py
  tracecat/sandbox/result_envelope.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): theme ER cardinality markers in Mermaid dark mode
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend
