Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(ui): use self hover for divider highlight and keep grip icon from shrinking
  frontend/src/components/drag-divider.tsx
Due: biome-check, typecheck-frontend

fix(engine): compile dependencies to reduce activity inputs
  tests/conftest.py
  tests/temporal/test_dsl_dependency_plan.py
  tests/temporal/test_dsl_workflow_replay.py
  tests/unit/test_dsl_dependencies.py
  tests/unit/test_dsl_return_context.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_temporal_patches.py
  tracecat/dsl/action.py
  tracecat/dsl/compiler.py
  tracecat/dsl/return_context.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

feat(agents): add skill folders and tags
  alembic/versions/b4e8f2a6c1d9_add_skill_folders_and_tags.py
  docs/snippets/mcp-tools.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_skill_folders.py
  tests/unit/api/test_api_skill_tags.py
  tests/unit/test_mcp_server.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_skill_folders_service.py
  tests/unit/test_skill_tags_service.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/agent/skill/folders/router.py
  tracecat/agent/skill/folders/schemas.py
  tracecat/agent/skill/folders/service.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/tags/definitions_router.py
  tracecat/agent/skill/tags/router.py
  tracecat/agent/skill/tags/schemas.py
  tracecat/agent/skill/tags/service.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/identifiers/__init__.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): load skill tags explicitly
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

feat(agents): add skill folder and tag UX
  frontend/src/app/workspaces/[workspaceId]/skills/tags/page.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/skills/create-skill-button.tsx
  frontend/src/components/skills/skill-tags-view.tsx
  frontend/src/components/skills/skills-catalog-view-toggle.tsx
  frontend/src/components/skills/skills-dashboard.test.tsx
  frontend/src/components/skills/skills-dashboard.tsx
  frontend/src/components/skills/skills-header.tsx
  frontend/src/hooks/use-skill-folders.ts
  frontend/src/hooks/use-skill-tags.ts
  frontend/src/hooks/use-skills.ts
Due: biome-check, typecheck-frontend

docs(agent): tools live on presets and skills
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/skills.mdx
  docs/snippets/mcp-tools.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  scripts/generate_ai_docs.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agents): refresh skill folders after mutations
  frontend/src/hooks/use-skills.ts
Due: biome-check, typecheck-frontend

fix(agents): preserve cancellation after cleanup timeout
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

docs(agent): state actual actions scope; loosen guidance
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/skills.mdx
  docs/snippets/mcp-tools.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  scripts/generate_ai_docs.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs(agent): count preset MCP integrations as a tool source
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/skills.mdx
  docs/snippets/mcp-tools.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs(mcp): trim preset tool guidance
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/skills.mdx
  docs/snippets/mcp-tools.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs(agent): drop chat availability claim from tool sources
  docs/agents/ai-preset-agent.mdx
Due: none

feat(mcp): Nudge preset agent usage (#3554)
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/skills.mdx
  docs/snippets/mcp-tools.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  scripts/generate_ai_docs.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

precompile regex
  tracecat/dsl/compiler.py
Due: gen-client, basedpyright

test(api): drop moto e2e harness and dev dependency
  pyproject.toml
  tests/unit/test_aws_secrets_manager_e2e.py
  uv.lock
Due: basedpyright

fix(agents): preserve cancellation after cleanup timeout (#3555)
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(engine): classify invalid for_each expressions as user errors (#3548)
  tests/unit/test_executor_error_policy.py
  tracecat/executor/error_policy.py
  tracecat/expressions/eval.py
Due: gen-client, basedpyright

fix(engine): compile dependencies to reduce activity inputs (#3536)
  tests/conftest.py
  tests/temporal/test_dsl_dependency_plan.py
  tests/temporal/test_dsl_workflow_replay.py
  tests/unit/test_dsl_dependencies.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_temporal_patches.py
  tracecat/dsl/action.py
  tracecat/dsl/compiler.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

fix(agents): preserve Slack errors during runtime cleanup
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

refactor(api): send invitation email through Mailer dependency
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

refactor(api): simplify SMTP invitation delivery
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_admin_org_registry_sync_service.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

feat(api): send organization invitation emails over SMTP
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  pyproject.toml
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/organization/router.py
  uv.lock
Due: gen-client, basedpyright

fix(api): harden SMTP config and invitation email rendering
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/client.py
  tracecat/email/templates.py
Due: gen-client, basedpyright

feat(api): add SMTP email transport and invitation templates
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_email.py
  tests/unit/test_invitation_email.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/email/transport.py
  tracecat/invitations/email.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

fix(infra+api): keep SMTP password out of Terraform state
  deployments/fargate/modules/ecs/secrets.tf
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_registry_sync_service.py
Due: gen-client, basedpyright

fix(api): fail invitation sends when a recipient is refused
  tests/unit/test_email.py
  tracecat/email/transport.py
Due: gen-client, basedpyright

fix(ui): skip case trigger fetch without case_addons entitlement
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(agents): preserve Bedrock auth and gateway policy on upgrade
  pyproject.toml
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_gateway_errors.py
  tests/unit/test_litellm_bedrock.py
  tracecat/agent/gateway.py
  tracecat/agent/gateway_outbound.py
  uv.lock
Due: gen-client, basedpyright

fix(ui): do not toast on forbidden query reads
  frontend/src/providers/query.tsx
Due: biome-check, typecheck-frontend

feat(api): SMTP delivery (#3401)
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  pyproject.toml
  tests/unit/test_config.py
  tests/unit/test_email.py
  tests/unit/test_invitation_email.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/transport.py
  tracecat/invitations/email.py
  uv.lock
Due: gen-client, basedpyright

fix(api): claim each invitation email only before sending it
  alembic/versions/bc3124ad3437_add_invitation_email_delivery_columns.py
  tests/unit/test_invitation_consumer.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): reparent invitation email migration onto main head
  alembic/versions/bc3124ad3437_add_invitation_email_delivery_columns.py
Due: basedpyright

fix(api): release the claim when an email header is invalid
  tests/unit/test_email.py
  tracecat/email/transport.py
Due: gen-client, basedpyright

feat(api): add invitation email outbox delivery
  alembic/versions/bc3124ad3437_add_invitation_email_delivery_columns.py
  tests/unit/test_email.py
  tests/unit/test_invitation_consumer.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/email/transport.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

perf(api): keep exhausted invitations out of the email polling index
  alembic/versions/bc3124ad3437_add_invitation_email_delivery_columns.py
  tracecat/db/models.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): disable ORM synchronization for invitation email claims
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): stop invitation claims on drain and declare polling index
  tests/unit/test_invitation_consumer.py
  tracecat/db/models.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): preserve invitation batches and prevent unsafe SMTP retries
  tests/unit/test_email.py
  tests/unit/test_invitation_consumer.py
  tracecat/email/transport.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): skip invitation email consumer when SMTP is unconfigured
  tracecat/api/app.py
Due: gen-client, basedpyright

build: adopt Codex-style prerelease tags
  .agents/skills/gh-prerelease/SKILL.md
  .github/workflows/create-release.yml
  CONTRIBUTING.md
  scripts/update-version.sh
  tests/unit/test_registry_platform_startup_versioning.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
