Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Notes added by 'git notes add'
  7c/72a622687f32a68dc22e5d222f15cd88ae2879
Due: none

Notes added by 'git notes add'
  6d/91414b037ab223196b5c8e39aed2b49564e641
Due: none

fix(mcp): update eks ssrf allowlist
  deployments/eks/modules/eks/waf.tf
Due: none

fix(ui): extract shared case sort module
  frontend/src/components/cases/case-sort.ts
  frontend/src/components/cases/cases-header.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/hooks/use-cases.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  e4/c4f9392eec81ff3033929d586d2f205bb982e9
Due: none

Notes added by 'git notes add'
  f8/28233e6a1bccbf6f9e675be4acd0cd1d88daf6
Due: none

Notes added by 'git notes add'
  2e/c707c52cc524e71d453ef6390776c0cb7538b4
Due: none

Notes added by 'git notes add'
  42/85047dc1082d51a9d05c30a8ddcea19ceadc35
Due: none

Notes added by 'git notes add'
  8b/3a11644bc211bd5251dccb70af9bce2ce04ec8
Due: none

fix(ui): sanitize persisted case dropdown filters
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  97/7641f82e587afccbbbd45a807887c76f74aa08
Due: none

Intro
  docs/overview/introduction.mdx
Due: none

feat(mcp): Remove inline workflow YAML (#2339)
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(ui): sanitize persisted case filter state
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  12/b1e5b44a3d7dc87db677af2f4098f62fc38574
Due: none

feat(ui): persist and hydrate cases list filters from localStorage (#2293)
  frontend/src/components/cases/case-sort.ts
  frontend/src/components/cases/cases-header.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
Due: biome-check, typecheck-frontend

docs: Remove 'Getting Started' section from README
  README.md
Due: none

Move workspace settings into modal
  .pre-commit-config.yaml
  frontend/src/app/organization/settings/workspaces/[workspaceId]/layout.tsx
  frontend/src/app/organization/settings/workspaces/[workspaceId]/page.tsx
  frontend/src/app/organization/vcs/page.tsx
  frontend/src/components/organization/org-vcs-github.tsx
  frontend/src/components/organization/org-workspace-settings.tsx
  frontend/src/components/settings/profile-settings.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/src/components/settings/workspace-general-settings.tsx
  frontend/src/components/settings/workspace-runtime-settings.tsx
  frontend/src/components/settings/workspace-settings-container.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/scopes.ts
  frontend/src/providers/scopes.tsx
  frontend/tests/org-workspace-settings-form.test.ts
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  7b/09d54e4216d5d77471441beba310961c38bcc6
Due: none

Lazy-load settings modal data
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/src/components/settings/settings-modal.tsx
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  d9/9967aea9f82c4de7dab88d1079dd53baebb9a7
Due: none

fix(mcp): Handle nested MCP email claims in auth identity extraction
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/middleware.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  5f/d444525332e1d51142444d28b41c8f74bf2139
Due: none

fix(mcp): inject AWS external ID for Bedrock UDFs
  tests/unit/test_agent_management_service.py
  tracecat/agent/internal_router.py
  tracecat/agent/service.py
Due: gen-client, basedpyright

Fix workspace settings update regressions
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/settings-modal.test.tsx
  tests/unit/test_workspace_service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  37/3b17ea83849e4faf0eed50c04b9fd41bbf48e9
Due: none

fix(mcp): Handle nested MCP email claims in auth identity extraction (#2354)
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/middleware.py
Due: gen-client, basedpyright

fix(mcp): MCP AWS external ID for Bedrock UDFs (#2355)
  tests/unit/test_agent_management_service.py
  tracecat/agent/internal_router.py
  tracecat/agent/service.py
Due: gen-client, basedpyright

Send null when clearing workflow timeout
  frontend/src/components/settings/workspace-runtime-settings.tsx
  frontend/tests/workspace-runtime-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  76/2cc78d15eec99374bceb12f2cc70989614b5cc
Due: none

Make timeout validation conditional
  frontend/src/components/settings/workspace-runtime-settings.tsx
  frontend/tests/workspace-runtime-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  05/90498932598b235ac171b03a0cdb016fea0530
Due: none

Send null when clearing attachment overrides
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/workspace-files-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  23/8a7849f94b11d71848a6ad5e198c2443486877
Due: none

Restore inherited attachment defaults
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/workspace-files-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  c3/8e972b5f14db09c7243d15d0548d6c72b94b6c
Due: none

Trim attachment override tags
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/workspace-files-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  e9/a15d150d3ea2bbffc1a2d1c65865700a053a1d
Due: none

Allow clearing profile display name
  frontend/src/components/settings/profile-settings.tsx
  frontend/tests/profile-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  50/639d52ec457eb9065b7a1e969f3cd82e141130
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
