Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

docs(mcp): update loop authoring guidance (#2894)
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  .agents/skills/tracecat-automation-best-practices/references/run-python.md
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

test(sync): cover source-id selection and legacy upgrade edge cases
  tests/unit/test_workspace_sync_acceptance_contract.py
Due: basedpyright

refactor(sync): drop unused dsl arg from source id helper
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix style
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

docs(sync): annotate workspace sync service flow with inline comments
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(auth): address membership reconcile review findings
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
Due: gen-client, basedpyright

fix(workspace-sync): sync table schema only
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

feat(ui): show registry locks in workflow versions
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): show registry locks in workflow versions
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

Show registry lock in workflow version history and add registry_lock to schemas
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

perf(workspace-sync): scope resource projection by type
  tracecat/workspace_sync/projector.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: accept legacy workflow registry locks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_workflow_management_schemas.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

perf(workspace-sync): narrow pull preview projection
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

perf(workspace-sync): reuse workflow closure DSLs
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

perf(workspace-sync): batch sync mapping operations
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

perf(workspace-sync): parallelize github blob operations
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

refactor(workspace-sync): type table column specs
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

nit: show approvals from all chat sources
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/unit/test_agent_runs_inbox_provider.py
Due: gen-client, basedpyright

feat(ui): enlarge settings dialog and add pull preview empty state
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
Due: biome-check, typecheck-frontend

fix(authz): correct group-derived membership handling under RLS
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
  tracecat/db/rls.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(service): update JSON payload handling for Pydantic models
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(workspace-sync): lazily project preset dependencies
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

chore(workspace-sync): type projection selects
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
Due: gen-client, basedpyright

fix: enforce workspace pull resource scopes
  tests/unit/test_workspace_sync_service.py
  tracecat/workflow/store/router.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: support nested workflow sync roots
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/workflow.py
Due: gen-client, basedpyright

fix: reject unsupported pinned skill versions
  tests/unit/test_workspace_sync_acceptance_contract.py
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/resources.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: preserve synced subagent options
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

fix: reject stale synced table columns
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/table.py
Due: gen-client, basedpyright

fix: reject synced variable values
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/variable.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

fix(registry): prefer configured custom repository
  tests/unit/test_registry_repositories_router.py
  tracecat/registry/repositories/router.py
Due: gen-client, basedpyright

fix(ui): make registry lock tooltip focusable
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

fix(ui): show full registry lock versions
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

fix(api): hide raw workflow registry locks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_workflow_management_schemas.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): prefer configured custom repository (#2900)
  tests/unit/test_registry_repositories_router.py
  tracecat/registry/repositories/router.py
Due: gen-client, basedpyright

feat(ui): show registry locks in workflow versions (#2890)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  tests/unit/test_workflow_management_schemas.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit: ui fixes
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-header.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-inbox.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.50-rc.6
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(agents): agent runs in inbox (#2840)
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/activity-accordion.tsx
  frontend/src/components/inbox/activity-item.tsx
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/components/inbox/inbox-header.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  packages/tracecat-ee/tracecat_ee/inbox/providers/approvals.py
  tests/unit/test_agent_runs_inbox_provider.py
  tests/unit/test_inbox_service.py
  tracecat/inbox/dependencies.py
  tracecat/inbox/router.py
  tracecat/inbox/schemas.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

add inline comments for adapter logic
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/case_dropdown.py
  tracecat/workspace_sync/adapters/case_duration.py
  tracecat/workspace_sync/adapters/case_field.py
  tracecat/workspace_sync/adapters/case_tag.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
Due: gen-client, basedpyright

refactor(workspace-sync): dedupe adapter and service sync helpers
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/case_dropdown.py
  tracecat/workspace_sync/adapters/case_duration.py
  tracecat/workspace_sync/adapters/case_tag.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
  tracecat/workspace_sync/schemas.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright
