Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

test(frontend): mock prompt diff viewer in Jest
  frontend/tests/agent-preset-versions-panel.test.tsx
Due: biome-check, typecheck-frontend

fix agent preset versioning and validation
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  frontend/src/hooks/use-chat.ts
  frontend/src/lib/agent-presets.ts
  frontend/tests/agent-presets-builder.test.tsx
  frontend/tests/use-chat.test.tsx
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_mcp_server.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix legacy preset version pinning
  alembic/versions/6171727be56a_add_agent_preset_versions.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/preset/service.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

keep preset restore as pointer move
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/preset/service.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix preset version migration identity
  alembic/versions/6171727be56a_add_agent_preset_versions.py
Due: basedpyright

stabilize ci docker startup
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  docker-compose.local.yml
  tests/conftest.py
Due: basedpyright

reparent agent preset migration
  alembic/versions/6171727be56a_add_agent_preset_versions.py
Due: basedpyright

fix integration ci host port wiring
  .github/workflows/run-integration-tests.yml
  tests/conftest.py
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

polish agent preset builder interactions
  frontend/src/components/agents/agent-preset-version-select.tsx
  frontend/src/components/agents/agent-preset-versions-panel.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/ai-elements/prompt-input.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/ui/select.tsx
Due: biome-check, typecheck-frontend

fix agent preset versions panel tooltips
  frontend/src/components/agents/agent-preset-versions-panel.tsx
Due: biome-check, typecheck-frontend

fix preset version label fallbacks
  frontend/src/components/agents/agent-preset-version-select.tsx
  frontend/tests/agent-preset-version-select.test.tsx
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright, biome-check, typecheck-frontend

remove preset version compare summary badge
  frontend/src/components/agents/agent-preset-versions-panel.tsx
Due: biome-check, typecheck-frontend

Simplify AWS external ID derivation
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/api/test_api_secrets.py
  tracecat/config.py
  tracecat/integrations/aws_assume_role.py
Due: gen-client, basedpyright

fix(mcp): drop transport attribute; default to StreamableHTTP
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/common/types.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/schemas.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflows): tighten bulk push branch handling
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_workflow_sync_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  70/508806ae3cc5798ca6b5ca0f2748af081b7fbe
Due: none

Remove registry action mutation endpoints
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/registry.ts
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_route_scope_guards.py
  tracecat/registry/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  35/b07780f5988acb0b3ced254fabf60e60c30e77
Due: none

feat(workflows): backport bulk github push to 0.53.25 (#2312)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/dashboard-table.tsx
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  frontend/src/components/dashboard/workflow-folders-table.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/components/data-table/table.tsx
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_parse.py
  tests/unit/test_workflow_store_service.py
  tests/unit/test_workflow_sync_service.py
  tracecat/dsl/validation.py
  tracecat/parse.py
  tracecat/registry/actions/schemas.py
  tracecat/registry/repositories/schemas.py
  tracecat/sync.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): harden preset version workflows
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/use-agent-presets.ts
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/preset/activities.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/session/service.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(builder): indicate unmasked action nodes
  frontend/src/components/builder/canvas/action-node.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  eb/5d2ecc0584fc96d81e3b4b99b58c92c96dc8ca
Due: none

fix(frontend): preserve pinned preset versions in new chats
  frontend/src/components/agents/agent-presets-builder.tsx
Due: biome-check, typecheck-frontend

test(admin): patch multi-tenant config from source module
  tests/unit/api/test_api_admin_organizations.py
Due: basedpyright

Notes added by 'git notes add'
  3a/8f313e5b4e3fb940f8a78658e7b5d33fb48b9e
Due: none

Notes added by 'git notes add'
  d5/26d9861feb30560aadadacb5c3ff0446e2797d
Due: none

Notes added by 'git notes add'
  78/84ab64dd54b3a4cad8ad1b6b282e7bd7442168
Due: none

chore: drop unrelated ci wiring changes
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  docker-compose.local.yml
  tests/conftest.py
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

Notes added by 'git notes add'
  5a/594d6062248438474adf714cd5198416b70c0c
Due: none

fix: Prevent deleting versioned registry actions (#2315)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/registry/delete-registry-action.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/registry.ts
  tests/unit/test_route_scope_guards.py
  tracecat/registry/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): fresh stream buffer for resumed sessions (#2273)
  frontend/src/components/ai-elements/prompt-input.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/connector.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): drop redundant mcp internet policy flags
  alembic/versions/3758bd2248e6_persist_mcp_discovery_catalog_state.py
  tests/unit/test_agent_mcp_user_client.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/runtime/claude_code/adapter.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/db/models.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

Update Discord invite link in README.md
  README.md
Due: none

Fix router config export
  tests/unit/api/test_api_admin_organizations.py
Due: basedpyright

Fix basedpyright export errors
  deployments/eks/modules/eks/helm.tf
  deployments/helm/tracecat/values.yaml
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
  tests/unit/test_aws_assume_role.py
Due: gen-client, basedpyright

fix(mcp): canonical decode/encode agent mcp tool names
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  scripts/cluster
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_ee_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

docs: Update README one-liner
  README.md
Due: none

fix(agent): honor pinned preset versions in durable runs
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

Fix admin organizations config usage
  tests/unit/test_executor_service.py
  tracecat/secrets/secrets_manager.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  44/2695d0fa899c3eaa547299db94635c7c868954
Due: none
