Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

refactor(ui): Simplify sign-up flow after atomic invitation handling
  frontend/src/components/auth/sign-up.tsx
Due: biome-check, typecheck-frontend

test(auth): Update tests for refactored auth flow
  tests/unit/test_auth_middleware.py
  tests/unit/test_github_app.py
Due: basedpyright

fix(ui): Preserve returnUrl when navigating between sign-in and sign-up
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/components/auth/sign-in.tsx
Due: biome-check, typecheck-frontend

feat(ui): Add useOrgMembership hook for org role checks
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/hooks/use-org-membership.ts
Due: biome-check, typecheck-frontend

refactor(ui): Rename isOrgAdmin to isPlatformAdmin for clarity
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
  frontend/src/hooks/use-org-membership.ts
  frontend/src/lib/auth.ts
Due: biome-check, typecheck-frontend

refactor(ui): Add canAdministerOrg to useOrgMembership hook
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
  frontend/src/hooks/use-org-membership.ts
Due: biome-check, typecheck-frontend

refactor(ui): Replace requirePrivileged with requireOrgAdmin in AuthGuard
  frontend/src/components/auth/auth-guard.tsx
Due: biome-check, typecheck-frontend

fix(ui): Use requireOrgAdmin for organization pages
  frontend/src/app/organization/layout.tsx
Due: biome-check, typecheck-frontend

fix(test): Mock workspace org lookup in auth cache tests
  tests/unit/test_auth_middleware.py
Due: basedpyright

fix: pass git repo package name to registry sync
  tracecat/registry/actions/service.py
  tracecat/registry/repositories/router.py
Due: gen-client, basedpyright

fix(ui): Replace invalid `text-md` class with `text-base` in admin pages
  CLAUDE.md
  frontend/src/app/admin/organizations/[orgId]/page.tsx
  frontend/src/app/admin/organizations/[orgId]/registry/page.tsx
  frontend/src/app/admin/organizations/[orgId]/tier/page.tsx
  frontend/src/app/admin/organizations/page.tsx
  frontend/src/app/admin/registry/page.tsx
  frontend/src/app/admin/registry/settings/page.tsx
  frontend/src/app/admin/registry/versions/page.tsx
  frontend/src/app/admin/settings/page.tsx
  frontend/src/app/admin/tiers/[tierId]/page.tsx
  frontend/src/app/admin/tiers/page.tsx
  frontend/src/app/admin/users/page.tsx
Due: biome-check, typecheck-frontend

feat(ui): Standardize admin page layouts and enhance UI consistency (#2004)
  CLAUDE.md
  frontend/src/app/admin/organizations/[orgId]/page.tsx
  frontend/src/app/admin/organizations/[orgId]/registry/page.tsx
  frontend/src/app/admin/organizations/[orgId]/tier/page.tsx
  frontend/src/app/admin/organizations/page.tsx
  frontend/src/app/admin/registry/page.tsx
  frontend/src/app/admin/registry/settings/page.tsx
  frontend/src/app/admin/registry/versions/page.tsx
  frontend/src/app/admin/settings/page.tsx
  frontend/src/app/admin/tiers/[tierId]/page.tsx
  frontend/src/app/admin/tiers/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/admin/platform-registry-status.tsx
  frontend/src/components/admin/platform-registry-versions-table.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

feat: replace creds catalog with dialog
  frontend/src/app/workspaces/[workspaceId]/credentials/catalog/[secretName]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/credentials/catalog/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/credentials/catalog/page.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/workspaces/add-workspace-secret.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
Due: biome-check, typecheck-frontend

feat: add case trigger model and service
  alembic/versions/c8d7e5a4b321_add_case_triggers.py
  tests/unit/test_case_triggers.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/identifiers/__init__.py
  tracecat/workflow/case_triggers/__init__.py
  tracecat/workflow/case_triggers/schemas.py
  tracecat/workflow/case_triggers/service.py
Due: gen-client, basedpyright

feat: add case trigger event pipeline
  tests/unit/test_case_trigger_consumer.py
  tracecat/api/app.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/service.py
  tracecat/cases/tags/service.py
  tracecat/cases/triggers/__init__.py
  tracecat/cases/triggers/consumer.py
  tracecat/cases/triggers/publisher.py
  tracecat/dsl/validation.py
  tracecat/redis/client.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

feat: integrate case triggers with workflow management
  tests/unit/test_export.py
  tests/unit/test_workflow_sync_service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

feat: add case trigger UI
  frontend/src/client/services.custom.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

refactor: replace workflow ID with WorkflowUUID in case trigger updates and imports
  tests/unit/test_case_triggers.py
  tests/unit/test_export.py
  tracecat/api/app.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/triggers/consumer.py
  tracecat/redis/client.py
  tracecat/workflow/case_triggers/schemas.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/store/import_service.py
Due: gen-client, basedpyright

chore(docs): Add recommended pre-push hook for automated checks
  CLAUDE.md
Due: none

chore: Revise CLAUDE.md for pre-push hook and auto-fixers
  CLAUDE.md
Due: none

feat: enhance case trigger UI with dynamic event handling and status display
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  tracecat/api/app.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: ensure case trigger updates clear tag filters when set to null
  frontend/src/components/builder/canvas/trigger-node.tsx
  tests/unit/test_case_triggers.py
  tracecat/redis/client.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: update error notification levels and improve tag handling in case triggers
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_case_tags_service.py
  tracecat/cases/tags/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

style: fix biome formatting in trigger panel
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check, typecheck-frontend

fix: improve error handling and state management in case trigger controls
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

refactor: update TriggerNode and TriggerPanel components for improved UI and functionality
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix: create missing org settings on update
  tracecat/settings/service.py
Due: gen-client, basedpyright

feat: implement trigger panel tab management and enhance trigger node layout
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel-tabs.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/providers/builder.tsx
Due: biome-check, typecheck-frontend

style: fix biome import sorting and formatting in trigger-panel
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check, typecheck-frontend

feat(triggers): gate case triggers behind feature flag
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  tracecat/feature_flags/enums.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ee): Case triggers (#2006)
  alembic/versions/c8d7e5a4b321_add_case_triggers.py
  frontend/src/client/services.custom.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel-tabs.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/builder.tsx
  tests/unit/test_case_tags_service.py
  tests/unit/test_case_trigger_consumer.py
  tests/unit/test_case_triggers.py
  tests/unit/test_export.py
  tests/unit/test_workflow_sync_service.py
  tracecat/api/app.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/service.py
  tracecat/cases/tags/service.py
  tracecat/cases/triggers/__init__.py
  tracecat/cases/triggers/consumer.py
  tracecat/cases/triggers/publisher.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/dsl/validation.py
  tracecat/feature_flags/enums.py
  tracecat/identifiers/__init__.py
  tracecat/redis/client.py
  tracecat/workflow/case_triggers/__init__.py
  tracecat/workflow/case_triggers/schemas.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/executions/enums.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): Enhance OAuth integration management and add success color to Tailwind config
  frontend/src/app/workspaces/[workspaceId]/integrations/[providerId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/mcp/[mcpIntegrationId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/integrations/icons.tsx
  frontend/src/components/integrations/oauth-integration-details-dialog.tsx
  frontend/src/components/integrations/oauth-integration-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/provider-config-form.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/styles/globals.scss
  frontend/tailwind.config.js
Due: biome-check, typecheck-frontend

test: ensure integration workspace exists for custom registry
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
Due: basedpyright

refactor(authz): use is_org_admin property instead of duplicating check
  tracecat/authz/controls.py
Due: gen-client, basedpyright

test: avoid org slug collisions in registry fixture
  tests/conftest.py
Due: basedpyright

chore(lint): format
  alembic/versions/c8d7e5a4b321_add_case_triggers.py
  tests/unit/test_github_app.py
Due: basedpyright

fix(auth): Allow org admins/owners to access organization pages (#2005)
  frontend/src/app/organization/layout.tsx
  frontend/src/app/registry/repositories/page.tsx
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/components/auth/sign-up.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  frontend/src/components/registry/registry-repos-table.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/registry-sidebar.tsx
  frontend/src/hooks/use-org-membership.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/hooks.tsx
  tests/conftest.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/unit/test_auth_middleware.py
  tracecat/auth/credentials.py
  tracecat/auth/router.py
  tracecat/auth/schemas.py
  tracecat/auth/types.py
  tracecat/auth/users.py
  tracecat/authz/controls.py
  tracecat/cases/attachments/service.py
  tracecat/organization/router.py
  tracecat/registry/actions/service.py
  tracecat/registry/repositories/router.py
  tracecat/settings/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(lint): format
  tests/unit/test_auth_middleware.py
Due: basedpyright

feat(integrations): Refactor integrations management and enhance UI components
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/components/cases/cases-header.tsx
  frontend/src/components/integrations/integrations-header.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  frontend/src/components/integrations/oauth-integration-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/styles/globals.scss
Due: biome-check, typecheck-frontend

refactor(integrations): Simplify layout and improve styling in IntegrationsPage and IntegrationsHeader
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/components/integrations/integrations-header.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
