Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(rbac): give org members scope to run agents
  tests/unit/test_rbac_scopes.py
  tracecat/authz/scopes.py
Due: gen-client, basedpyright

fix(rbac): give org members scope to run agents (#2618)
  tests/unit/test_rbac_scopes.py
  tracecat/authz/scopes.py
Due: gen-client, basedpyright

docs(seo): logo deep-link and Discord invite URL
  docs/docs.json
Due: none

docs(seo): expand short meta descriptions across non-tool pages
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/agents/secrets-variables.mdx
  docs/authentication/basic.mdx
  docs/authentication/oidc.mdx
  docs/authentication/saml.mdx
  docs/automations/actions.mdx
  docs/automations/cases.mdx
  docs/automations/core-concepts/expressions.mdx
  docs/automations/core-concepts/functions.mdx
  docs/automations/core-concepts/jsonpath.mdx
  docs/automations/core-concepts/secrets.mdx
  docs/automations/core-concepts/variables.mdx
  docs/automations/core-concepts/workflow-definition.mdx
  docs/automations/integrations/mcp-integrations.mdx
  docs/automations/integrations/oauth-integrations.mdx
  docs/automations/integrations/prebuilt-credentials.mdx
  docs/automations/tables.mdx
  docs/automations/tracecat-mcp.mdx
  docs/automations/triggers/case-triggers.mdx
  docs/automations/triggers/comment-triggers.mdx
  docs/automations/triggers/error-workflows.mdx
  docs/automations/triggers/schedules.mdx
  docs/automations/triggers/task-triggers.mdx
  docs/automations/triggers/webhooks.mdx
  docs/automations/workflows.mdx
  docs/cheatsheets/functions.mdx
  docs/cheatsheets/jsonpath.mdx
  docs/custom-actions/custom-registry.mdx
  docs/custom-actions/local-development.mdx
  docs/custom-actions/python-udf.mdx
  docs/custom-actions/yaml-template.mdx
  docs/self-hosting/architecture.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/environment-variables.mdx
  docs/self-hosting/kubernetes.mdx
  docs/self-hosting/security.mdx
Due: none

docs(seo): quote frontmatter descriptions containing colons
  docs/authentication/basic.mdx
  docs/authentication/oidc.mdx
  docs/authentication/saml.mdx
  docs/self-hosting/architecture.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/environment-variables.mdx
  docs/self-hosting/kubernetes.mdx
  docs/self-hosting/security.mdx
Due: none

docs: promote Cheatsheets to a top-level tab
  docs/docs.json
Due: none

docs: drop "cheatsheet" suffix from cheatsheet page titles
  docs/cheatsheets/functions.mdx
  docs/cheatsheets/jsonpath.mdx
Due: none

chore: Delete .cursor/rules directory
  .cursor/rules/always.mdc
  .cursor/rules/frontend.mdc
  .cursor/rules/python.mdc
Due: none

Add skills docs
  docs/agents/skills.mdx
  docs/docs.json
  docs/img/agents/agent-preset-skills.png
  docs/img/agents/skill-editor.png
  docs/img/agents/skill-version.png
  docs/img/agents/skills-docs-full-page.png
  docs/img/agents/skills-list.png
Due: none

perf(mcp): use exists probe for PAT workspace access
  tests/unit/test_mcp_personal_access_tokens_service.py
  tracecat/mcp/personal_access_tokens/service.py
Due: gen-client, basedpyright

infra: separate fargate migrations task
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/ecs-api.tf
  deployments/fargate/modules/ecs/ecs-migrations.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/outputs.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/outputs.tf
  deployments/fargate/scripts/run-migrations-task.sh
  deployments/fargate/variables.tf
Due: none

Add docs screenshot skill
  .agents/skills/docs-pr-screenshots/SKILL.md
Due: none

Add skills docs (#2622)
  docs/agents/skills.mdx
  docs/docs.json
  docs/img/agents/agent-preset-skills.png
  docs/img/agents/skill-editor.png
  docs/img/agents/skill-version.png
  docs/img/agents/skills-docs-full-page.png
  docs/img/agents/skills-list.png
Due: none

Use route guard for single tenant org creation
  frontend/src/app/admin/organizations/page.tsx
  frontend/src/components/admin/create-organization-dialog.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

Add docs authoring skill
  .agents/skills/docs-authoring/SKILL.md
Due: none

docs(skills): Add docs authoring skill (#2625)
  .agents/skills/docs-authoring/SKILL.md
Due: none

feat(mcp): pat service (#2608)
  tests/unit/api/test_api_mcp_personal_access_tokens.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tracecat/audit/types.py
  tracecat/mcp/personal_access_tokens/__init__.py
  tracecat/mcp/personal_access_tokens/constants.py
  tracecat/mcp/personal_access_tokens/router.py
  tracecat/mcp/personal_access_tokens/schemas.py
  tracecat/mcp/personal_access_tokens/service.py
  tracecat/mcp/personal_access_tokens/types.py
Due: gen-client, basedpyright

feat(mcp): PAT management UI and enablement
  frontend/src/app/workspaces/[workspaceId]/mcp/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/mcp/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/workspace-mcp-access.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-mcp-personal-access-tokens.ts
  tests/unit/test_mcp_auth.py
  tracecat/api/app.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

add cluster docs command
  scripts/cluster
Due: none

Allow admin org invitations in single-tenant mode
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/test_api_admin_organizations.py
Due: gen-client, basedpyright

chore(dev): add cluster docs command (#2627)
  scripts/cluster
Due: none

feat(mcp): PAT Management (#2617)
  frontend/src/app/workspaces/[workspaceId]/mcp/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/mcp/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/workspace-mcp-access.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-mcp-personal-access-tokens.ts
  tests/unit/test_mcp_auth.py
  tracecat/api/app.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Fix admin sidebar back link to workspace list
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

fix: admin sidebar back link to workspaces (#2628)
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

fix: handle single-tenant organization admin flow (#2626)
  frontend/src/app/admin/organizations/page.tsx
  frontend/src/components/admin/create-organization-dialog.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/test_api_admin_organizations.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): hide raw token and bump instructions
  frontend/src/components/organization/workspace-mcp-access.tsx
Due: biome-check, typecheck-frontend

Improve workflow reset point labels
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workflow-runs/reset-workflow-run-dialog.tsx
  frontend/tests/reset-workflow-run-dialog.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Provision default org membership in single tenant
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/auth/credentials.py
  tracecat/auth/users.py
  tracecat/organization/management.py
Due: gen-client, basedpyright

fix(mcp): hide raw token and bump instructions (#2629)
  frontend/src/components/organization/workspace-mcp-access.tsx
Due: biome-check, typecheck-frontend

Tighten workflow reset point labels
  frontend/src/components/workflow-runs/reset-workflow-run-dialog.tsx
  frontend/tests/reset-workflow-run-dialog.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Update PR 2630 QA screenshot: runs-list
  pr-qa/2630/runs-list.png
Due: none

Update PR 2630 QA screenshot: dialog-default
  pr-qa/2630/dialog-default.png
Due: none

Update PR 2630 QA screenshot: dialog-options
  pr-qa/2630/dialog-options.png
Due: none

Update PR 2630 QA screenshot: dialog-selected
  pr-qa/2630/dialog-selected.png
Due: none

Update PR 2630 QA screenshot: ui-reset-started
  pr-qa/2630/ui-reset-started.png
Due: none

Update PR 2630 QA screenshot: after-ui-reset
  pr-qa/2630/after-ui-reset.png
Due: none

Set default pytest service key
  tests/conftest.py
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
