Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(dsl): strip whitespace around expressions
  tests/unit/test_build_agent_args.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

feat(helm): add Redis secret template support
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/secret-templates.yaml
  deployments/helm/tracecat/values.yaml
Due: none

fix(workflow-events): correct presigned endpoint and guard downloads
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/components/executions/external-object-result.tsx
Due: biome-check, typecheck-frontend

chore(helm): bump version from 0.3.5 to 0.3.6
  deployments/helm/tracecat/Chart.yaml
Due: none

fix(registry): harden collision versions and dedupe tarball helpers
  tests/unit/executor/test_test_backend_no_registry_action.py
  tracecat/executor/backends/ephemeral.py
  tracecat/executor/backends/registry_helpers.py
  tracecat/executor/backends/test.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

fix(storage): satisfy basedpyright for stored object constructors
  tracecat/storage/object.py
Due: gen-client, basedpyright

fix(dsl): move resolve_env into agent activities
  tests/unit/test_build_agent_args.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

feat(rbac): add workflow:terminate scope
  tests/unit/test_auth_scope_resolution.py
  tests/unit/test_route_scope_guards.py
  tracecat/auth/credentials.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

fix(workflow-events): refine external object preview copy
  frontend/src/components/executions/external-object-result.tsx
Due: biome-check, typecheck-frontend

nit: linting and pin dependency version for pydantic_ai
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.tsx
  pyproject.toml
  tests/migration/test_migration_advisory_lock.py
  tests/unit/test_workspace_service.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflow-events): reset preview and gate download probe
  frontend/src/components/executions/external-object-result.tsx
Due: biome-check, typecheck-frontend

fix(helm): update search attribute commands to include namespace
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
Due: none

refactor(helm): remove unused SAML environment variables from template
  deployments/helm/tracecat/templates/_helpers.tpl
Due: none

chore(helm): bump version from 0.3.7 to 0.3.8
  deployments/helm/tracecat/Chart.yaml
Due: none

fix(registry): use full commit sha for sync versioning
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
Due: gen-client, basedpyright

fix(table): import from csv overflow fix
  frontend/src/app/workspaces/[workspaceId]/tables/[tableId]/layout.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/tables/ag-grid-bulk-actions.tsx
  frontend/src/components/tables/ag-grid-table.tsx
  frontend/src/components/tables/dynamic-column-input.tsx
  frontend/src/components/tables/table-import-csv-dialog.tsx
  frontend/src/components/tables/table-insert-row-dialog.tsx
  frontend/src/components/tables/table-selection-context.tsx
  frontend/src/lib/hooks.tsx
  tracecat/tables/router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(config): fix empty str issues casting to int
  tracecat/config.py
Due: gen-client, basedpyright

chore(helm): update resource requests and limits for api, worker, executor, and agentExecutor components
  deployments/helm/tracecat/values.yaml
  deployments/terraform/aws/variables.tf
Due: none

chore(helm): bump version from 0.3.8 to 0.3.9
  deployments/helm/tracecat/Chart.yaml
Due: none

fix(registry): avoid index installs for builtin sync tarball
  tracecat/config.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(tests): update integration patch target after backend helper refactor
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

fix(config): fix empty str issues casting to int (#2104)
  tracecat/config.py
Due: gen-client, basedpyright

fix(terraform): add dependencies for Grafana metrics resources
  deployments/terraform/aws/modules/eks/observability.tf
Due: none

feat(helm): Make `workflow` value explicit in blob storage values
  deployments/helm/tracecat/values.yaml
Due: none

feat(rbac): scope checks for sensitive services
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/agent/preset/service.py
  tracecat/agent/service.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/cases/service.py
  tracecat/integrations/service.py
  tracecat/organization/service.py
  tracecat/secrets/service.py
  tracecat/settings/service.py
  tracecat/tables/service.py
  tracecat/tags/service.py
  tracecat/variables/service.py
  tracecat/vcs/github/app.py
  tracecat/workflow/actions/service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/folders/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/schedules/service.py
  tracecat/workflow/store/service.py
  tracecat/workflow/tags/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(executor): propagate registry artifact lookup failures
  tests/unit/executor/test_registry_helpers.py
  tracecat/executor/backends/ephemeral.py
  tracecat/executor/backends/registry_helpers.py
  tracecat/executor/backends/test.py
Due: gen-client, basedpyright

chore(helm): bump appVersion from 1.0.0-beta.6 to 1.0.0-beta.7
  deployments/helm/tracecat/Chart.yaml
Due: none

fix(agents): support iam role creds
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/gateway.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(conftest): avoid default org slug collisions
  tests/conftest.py
Due: basedpyright

chore(docker): update blob storage configuration to include explicit bucket names for workflow, attachments, and registry
  docker-compose.yml
Due: none

fix(registry): resolve sync collisions for same target version and fix stale registry version (#2088)
  tests/backends/conftest.py
  tests/backends/test_backend_benchmarks.py
  tests/conftest.py
  tests/integration/test_syncv2_execv2_e2e.py
  tests/unit/executor/test_direct_backend_subprocess.py
  tests/unit/executor/test_registry_helpers.py
  tests/unit/executor/test_test_backend_no_registry_action.py
  tests/unit/executor/test_test_backend_sys_path.py
  tests/unit/test_executor.py
  tests/unit/test_executor_template_actions.py
  tests/unit/test_registry_sync_base_service.py
  tests/unit/test_template_actions.py
  tests/unit/test_validation.py
  tracecat/config.py
  tracecat/executor/backends/__init__.py
  tracecat/executor/backends/base.py
  tracecat/executor/backends/direct.py
  tracecat/executor/backends/ephemeral.py
  tracecat/executor/backends/registry_helpers.py
  tracecat/executor/backends/test.py
  tracecat/executor/schemas.py
  tracecat/executor/service.py
  tracecat/executor/worker.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
Due: gen-client, basedpyright

docs(terraform): update README to include Grafana Cloud observability setup
  deployments/terraform/aws/README.md
Due: none

fix(tests): materialize externalized temporal workflow results
  tests/temporal/test_workflows.py
Due: basedpyright

fix(rls): rebind role context and enforce explicit bypass
  alembic/versions/c76f9b01fad7_add_rls_policies.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_db_engine.py
  tests/unit/test_rls.py
  tests/unit/test_rls_policies.py
  tracecat/auth/credentials.py
  tracecat/auth/users.py
  tracecat/db/engine.py
  tracecat/db/rls.py
  tracecat/organization/management.py
  tracecat/settings/service.py
Due: gen-client, basedpyright

fix(registry): drop uncompressed tarball size tracking
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(registry): include platlib in builtin tarball packaging
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(registry): overlay editable package when site entry is symlink
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

refactor(rls): consolidate context set_config statements
  tests/unit/test_rls.py
  tracecat/db/rls.py
Due: gen-client, basedpyright

feat(gateway): add unit tests for _inject_provider_credentials function and enhance credential handling logic
  tests/unit/test_agent_gateway.py
  tracecat/agent/gateway.py
Due: gen-client, basedpyright

feat(gateway): add test for session token handling in _inject_provider_credentials and improve credential validation logic
  tests/unit/test_agent_gateway.py
  tracecat/agent/gateway.py
Due: gen-client, basedpyright
