Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
          - --show-fixes # Show what files were fixed
          - --verbose
        exclude: ^alembic/versions/
      - id: ruff-format
        verbose: true
        exclude: ^alembic/versions/
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.6
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx biome check --write .'
        language: system
        files: ^frontend/
        require_serial: true
      - id: gen-client
        name: generate frontend client
        entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
        language: system
        files: ^(tracecat/api/|packages/tracecat-registry/)
        require_serial: true
        pass_filenames: false

claude: Add alias support to prompts/runbooks
  alembic/versions/cbba80f89a32_add_alias_to_prompt_table.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/db/schemas.py
  tracecat/prompt/models.py
  tracecat/prompt/router.py
  tracecat/prompt/service.py
Due: biome-check

claude: Add comprehensive tests for PromptService
  tests/unit/test_prompt_service.py
Due: none

fix: Remove redundant index on prompt alias column
  alembic/versions/cbba80f89a32_add_alias_to_prompt_table.py
  tracecat/db/schemas.py
Due: none

refactor: Remove get_prompt_by_alias functionality and related types
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/prompt/router.py
Due: biome-check

fix: Enhance error handling for prompt creation and update
  tracecat/prompt/router.py
Due: none

refactor: Enhance alias validation in prompt models
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/prompt/models.py
Due: biome-check

refactor: Simplify prompt retrieval logic in service
  tracecat/prompt/service.py
Due: none

feat(registry): Add runbook udfs (#1430)
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
Due: gen-client

feat: Add alias support to prompts/runbooks (#1433)
  alembic/versions/cbba80f89a32_add_alias_to_prompt_table.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_prompt_service.py
  tracecat/db/schemas.py
  tracecat/prompt/models.py
  tracecat/prompt/router.py
  tracecat/prompt/service.py
Due: biome-check

feat(runbook): Update runbook components and hooks to replace prompt references
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/page.tsx
  frontend/src/components/cases/runbook-dropdown.tsx
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/dashboard/runbooks-dashboard.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/runbooks/runbook-card.tsx
  frontend/src/components/runbooks/runbook-summary-editor.tsx
  frontend/src/components/runbooks/runbook-title-editor.tsx
  frontend/src/components/runbooks/runbooks-grid-view.tsx
  frontend/src/hooks/use-prompt.tsx
  frontend/src/hooks/use-runbook.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

feat(runbook): Refactor prompt to runbook and remove chat_id references
  alembic/versions/476ebaf2ca39_rename_prompt_to_runbook_and_drop_chat_.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/api/app.py
  tracecat/db/schemas.py
  tracecat/prompt/__init__.py
  tracecat/prompt/models.py
  tracecat/runbook/__init__.py
  tracecat/runbook/flows.py
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

fix(runbook): Clean up code formatting and improve readability
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check

fix(runbook): Enhance error handling and improve runbook ID management
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/page.tsx
  frontend/src/hooks/use-runbook.tsx
  tests/unit/test_prompt_service.py
  tests/unit/test_runbook_service.py
Due: biome-check

Update tracecat/runbook/router.py
  tracecat/runbook/router.py
Due: none

Update tracecat/runbook/models.py
  tracecat/runbook/models.py
Due: none

fix(runbook): Improve error handling and user feedback in title update
  frontend/src/components/runbooks/runbook-title-editor.tsx
Due: biome-check

fix(runbook): Address PR review comments
  alembic/versions/476ebaf2ca39_rename_prompt_to_runbook_and_drop_chat_.py
  frontend/src/hooks/use-runbook.tsx
Due: biome-check

fix(runbook): Add alias parameter to runbook creation from chat
  tracecat/runbook/service.py
Due: none

fix(runbook): Refactor constraint renaming and improve code formatting
  alembic/versions/476ebaf2ca39_rename_prompt_to_runbook_and_drop_chat_.py
  frontend/src/components/runbooks/runbook-title-editor.tsx
Due: biome-check

refactor: Rename prompt to runbook (#1434)
  alembic/versions/476ebaf2ca39_rename_prompt_to_runbook_and_drop_chat_.py
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/runbook-dropdown.tsx
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/dashboard/runbooks-dashboard.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/runbooks/runbook-card.tsx
  frontend/src/components/runbooks/runbook-summary-editor.tsx
  frontend/src/components/runbooks/runbook-title-editor.tsx
  frontend/src/components/runbooks/runbooks-grid-view.tsx
  frontend/src/hooks/use-prompt.tsx
  frontend/src/hooks/use-runbook.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tests/unit/test_prompt_service.py
  tests/unit/test_runbook_service.py
  tracecat/api/app.py
  tracecat/db/schemas.py
  tracecat/prompt/__init__.py
  tracecat/prompt/models.py
  tracecat/runbook/__init__.py
  tracecat/runbook/flows.py
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

feat: Add user ID (temporal namespace) and release (app version) to Sentry event (#1416)
  tracecat/dsl/interceptor.py
  tracecat/dsl/worker.py
Due: none

fix(migration): Use correct down revision
  alembic/versions/0c09410efaac_remove_static_inputs_column_from_.py
Due: none

Update packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/core/table.py
Due: gen-client

change wording form 'run' to 'execute' for runbooks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/hooks/use-runbook.tsx
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

refactor: Update runbook execution diction (#1436)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/hooks/use-runbook.tsx
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

feat: Update ChatEntity and Runbook descriptions to include runbook support
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/chat/enums.py
  tracecat/chat/tools.py
Due: biome-check

disable tool selection in runbook chat
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-interface.tsx
Due: biome-check

claude: Add runbook chat interface and layout components
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/layout.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/runbooks/runbook-chat.tsx
Due: biome-check

feat: Include tool names in TracecatAgentBuilder agent creation
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
Due: gen-client

feat: Enhance Messages component to handle runbook updates
  frontend/src/components/chat/messages.tsx
Due: biome-check

add update runbook udf and inject runbook content
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/chat/router.py
  tracecat/runbook/service.py
Due: gen-client

refactor: Improve runbook data handling and validation
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
Due: gen-client

fix runbook model index mane
  tracecat/db/schemas.py
Due: none

feat: Update runbook descriptions and add alias support
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tests/registry/test_core_runbooks.py
  tests/unit/test_runbook_service.py
  tracecat/runbook/models.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

feat: Add runbook chat interface (#1435)
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/layout.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/components/runbooks/runbook-chat.tsx
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
  tracecat/chat/enums.py
  tracecat/chat/router.py
  tracecat/chat/tools.py
  tracecat/runbook/service.py
Due: biome-check, gen-client

Update get_contents.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/exa/get_contents.yml
Due: gen-client

feat(integrations): Add Exa templates (#1432)
  packages/tracecat-registry/tracecat_registry/templates/tools/exa/answer.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/exa/get_contents.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/exa/search.yml
Due: gen-client
