Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

chore(evals): score tracecat authoring from transcripts
  scripts/evals/tracecat_authoring/run_local.py
Due: basedpyright

docs(evals): clarify tracecat authoring guidance
  .agents/skills/test-tracecat-prompts/SKILL.md
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/README.md
Due: none

Harden Tracecat authoring prompt checks
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Improve Tracecat MCP authoring guardrails
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/cases.yaml
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Clarify workflow eval revision reuse
  scripts/evals/tracecat_authoring/cases.yaml
Due: none

Trim automation skill routing description
  .agents/skills/tracecat-automation-best-practices/SKILL.md
Due: none

Address authoring eval review comments
  .agents/skills/test-tracecat-prompts/SKILL.md
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  .agents/skills/tracecat-slackbot-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(mcp): Update Tracecat MCP automation guidance (#2779)
  .agents/skills/test-tracecat-prompts/SKILL.md
  .agents/skills/test-tracecat-prompts/agents/openai.yaml
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  .agents/skills/tracecat-slackbot-best-practices/SKILL.md
  scripts/evals/tracecat_authoring/README.md
  scripts/evals/tracecat_authoring/cases.yaml
  scripts/evals/tracecat_authoring/codex_output_schema.json
  scripts/evals/tracecat_authoring/run_local.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(mcp): remove MCP tool namespaces
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  docs/snippets/mcp-tools.mdx
  scripts/evals/tracecat_authoring/README.md
  scripts/evals/tracecat_authoring/cases.yaml
  scripts/evals/tracecat_authoring/run_local.py
  scripts/generate_mcp_docs.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agent): fail open on snapshot persist error
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(storage): use standard retry mode for blob storage
  .env.example
  tests/unit/test_storage_blob.py
  tracecat/config.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(agent): chmod parent dir when retrying work-dir rmtree
  tracecat/agent/filesystem.py
Due: gen-client, basedpyright

fix(registry): label collision versions meaningfully
  tests/unit/test_registry_platform_startup.py
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

fix(ui): scope last workspace cookie by user
  frontend/src/lib/hooks.tsx
  frontend/src/lib/last-workspace.ts
  frontend/tests/last-workspace.test.ts
Due: biome-check, typecheck-frontend

Revert "fix(agent): allow api keys to list agent sessions"
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(auth): allow API keys to manage case rows (#2760)
  tests/unit/test_route_scope_guards.py
  tracecat/cases/rows/router.py
Due: gen-client, basedpyright

fix(agent): list service account sessions
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(auth): allow API keys to manage agent resources (#2761)
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_service_accounts_validation.py
  tracecat/agent/channels/management_router.py
  tracecat/agent/folders/router.py
  tracecat/agent/preset/router.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/skill/router.py
  tracecat/agent/tags/definitions_router.py
  tracecat/agent/tags/router.py
  tracecat/service_accounts/constants.py
Due: gen-client, basedpyright

release: 1.0.0-beta.49-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(registry): add agent skill CRUD UDFs (#2595)
  packages/tracecat-registry/tracecat_registry/core/presets.py
  packages/tracecat-registry/tracecat_registry/core/skills.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/registry/test_agents_sdk.py
  tests/registry/test_core_skills.py
  tests/unit/test_agent_skill_internal_router.py
  tests/unit/test_skill_service.py
  tracecat/agent/skill/internal_router.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/api/app.py
  tracecat/executor/action_gateway/app.py
Due: gen-client, basedpyright

feat(agent): persist sandbox work dirs (#2774)
  .env.example
  alembic/versions/b7f0d1e2c3a4_add_agent_session_work_dir_snapshot.py
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/outputs.tf
  deployments/fargate/modules/ecs/s3.tf
  deployments/fargate/modules/ecs/security_groups.tf
  deployments/fargate/outputs.tf
  docker-compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/conftest.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_filesystem.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_storage_blob.py
  tracecat/agent/executor/activity.py
  tracecat/agent/filesystem.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/feature_flags/enums.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): streamline mission control layout and sidebar order
  frontend/src/components/mission-control/mission-control-view.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
Due: biome-check, typecheck-frontend

feat(agent): add semantic artifact stream events
  frontend/src/types/mission-control.ts
  frontend/tests/mission-control-artifacts.test.ts
  tests/unit/test_agent_artifact_adapter.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/artifact.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/__init__.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/session/router.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(ui): type mission control stream parts
  frontend/src/hooks/use-mission-control-artifacts.ts
  frontend/src/types/mission-control.ts
  frontend/tests/mission-control-artifacts.test.ts
Due: biome-check, typecheck-frontend

feat: add mission control artifact panel
  frontend/src/app/workspaces/[workspaceId]/mission-control/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/mission-control/page.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/mission-control/artifact-content.tsx
  frontend/src/components/mission-control/artifact-panel.tsx
  frontend/src/components/mission-control/artifact-registry.tsx
  frontend/src/components/mission-control/artifact-tabs.tsx
  frontend/src/components/mission-control/mission-control-view.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-mission-control-artifacts.ts
  frontend/src/types/mission-control.ts
  frontend/tests/mission-control-artifacts.test.ts
  tests/unit/test_agent_artifact_adapter.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tracecat/agent/adapter/artifact.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): add mission control artifacts
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/mission-control/artifact-panel.tsx
  frontend/src/components/mission-control/artifact-tabs.tsx
  frontend/src/components/mission-control/mission-control-view.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-mission-control-artifacts.ts
  frontend/src/lib/chat.ts
  frontend/src/types/chat-surface.ts
  frontend/src/types/mission-control.ts
  frontend/tests/chat-transform.test.ts
  frontend/tests/mission-control-artifacts.test.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_artifact_adapter.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_session_activities.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_artifacts.py
  tests/unit/test_artifacts.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/artifacts.py
  tracecat/artifacts/__init__.py
  tracecat/artifacts/bindings.py
  tracecat/artifacts/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): preserve artifact side-effect payloads
  tests/unit/test_artifacts.py
  tracecat/artifacts/bindings.py
Due: gen-client, basedpyright

fix(agent): retry artifact persistence failures
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/activities.py
Due: gen-client, basedpyright

feat(agent): persist mission control artifacts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/mission-control/mission-control-view.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-mission-control-artifacts.ts
  frontend/tests/mission-control-artifacts.test.ts
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_session_activities.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_artifacts.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/artifacts/projection.py
  tracecat/artifacts/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): reset embedded panel tab
  frontend/src/components/cases/case-panel-view.tsx
Due: biome-check, typecheck-frontend

fix(ui): validate artifact streams
  frontend/src/hooks/use-mission-control-artifacts.ts
  frontend/src/types/mission-control.ts
  frontend/tests/mission-control-artifacts.test.ts
Due: biome-check, typecheck-frontend

fix(ui): harden artifact panel controls
  frontend/src/components/mission-control/artifact-content.tsx
  frontend/src/components/mission-control/artifact-panel.tsx
  frontend/src/components/mission-control/artifact-registry.tsx
  frontend/src/components/mission-control/artifact-tabs.tsx
Due: biome-check, typecheck-frontend

fix(agent): seed initial artifacts once
  tests/unit/test_agent_session_router.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(mcp): remove MCP tool namespaces (#2791)
  .agents/skills/tracecat-automation-best-practices/SKILL.md
  docs/snippets/mcp-tools.mdx
  scripts/evals/tracecat_authoring/README.md
  scripts/evals/tracecat_authoring/cases.yaml
  scripts/evals/tracecat_authoring/run_local.py
  scripts/generate_mcp_docs.py
  tests/unit/test_mcp_server.py
  tests/unit/test_tracecat_authoring_eval.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(ui): gate mission control chat access
  frontend/src/components/mission-control/mission-control-view.tsx
  frontend/tests/mission-control-view.test.tsx
Due: biome-check, typecheck-frontend

fix(ui): align mission control sidebar access
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/tests/app-sidebar.test.tsx
Due: biome-check, typecheck-frontend

test(mission-control): cover artifact stream pipeline
  frontend/src/hooks/use-chat.ts
  tests/unit/test_agent_stream_artifacts.py
Due: basedpyright, biome-check, typecheck-frontend

feat(ui): land workspaces on mission control
  frontend/src/app/workspaces/[workspaceId]/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/app/workspaces/page.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/lib/workspace-navigation.ts
  frontend/tests/smoke/utils/auth.ts
  frontend/tests/smoke/workspace.spec.ts
  frontend/tests/workspace-landing-page.test.tsx
Due: biome-check, typecheck-frontend
