Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

docs: document nsjail and no isolation as the two sandbox options
  docs/self-hosting/security.mdx
Due: none

docs: rename the self-hosting sandbox section to Isolation
  docs/self-hosting/security.mdx
  docs/self-hosting/tls.mdx
Due: none

fix(benchmark): refuse existing monitor roles
  packages/tracecat-benchmark/tests/test_tooling.py
  packages/tracecat-benchmark/tracecat_benchmark/provision_monitor.py
Due: gen-client, basedpyright

refactor(executor): trim registry cache review scope
  tests/integration/test_registry_artifact_cache_mount_lifecycle.py
  tests/integration/test_registry_artifact_cache_temporal_worker.py
  tests/unit/executor/conftest.py
  tests/unit/executor/registry_artifact_test_helpers.py
  tests/unit/executor/test_process_supervisor.py
  tests/unit/executor/test_registry_artifact_budget.py
  tests/unit/executor/test_registry_artifact_eviction.py
  tests/unit/executor/test_registry_artifact_leases.py
  tests/unit/executor/test_registry_artifact_materialization.py
  tests/unit/executor/test_registry_artifact_resolution.py
  tests/unit/executor/test_registry_artifact_startup.py
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/executor/test_test_backend_no_registry_action.py
  tests/unit/test_action_runner.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_multitenant_registry.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_sandbox_utils.py
  tests/unit/test_storage_blob.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/base.py
  tracecat/executor/backends/test.py
  tracecat/executor/process_supervisor.py
  tracecat/executor/registry_artifact_cache_state.py
  tracecat/executor/registry_artifact_materialization.py
  tracecat/executor/registry_artifact_mounts.py
  tracecat/executor/registry_artifact_storage.py
  tracecat/executor/registry_artifacts.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/utils.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

docs: overhaul security, isolation, and audit log documentation (#3166)
  docs/agents/secrets-variables.mdx
  docs/audit-logs/agents.mdx
  docs/audit-logs/mcp-access.mdx
  docs/audit-logs/organization.mdx
  docs/audit-logs/platform.mdx
  docs/docs.json
  docs/security/architecture.mdx
  docs/self-hosting/environment-variables.mdx
  docs/self-hosting/security.mdx
  docs/self-hosting/tls.mdx
  docs/snippets/audit-delivery-behavior.mdx
  docs/snippets/audit-event-fields.mdx
  docs/snippets/audit-request-options.mdx
  docs/snippets/generate-secrets.mdx
Due: none

chore(deps): pin Python dependency versions
  .github/dependabot.yml
  packages/tracecat-admin/pyproject.toml
  packages/tracecat-ee/pyproject.toml
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  uv.lock
Due: gen-client

chore(deps): upgrade chardet to 7.4.3
  pyproject.toml
  uv.lock
Due: none

fix(executor): preserve cache process lifetimes
  tests/unit/test_action_runner.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/executor/registry_artifacts.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/utils.py
Due: gen-client, basedpyright

fix(executor): reject destructive cache admissions
  tests/unit/test_registry_artifacts.py
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

fix(benchmark): keep subflow activity results compact
  packages/tracecat-benchmark/tests/test_tooling.py
  packages/tracecat-benchmark/tracecat_benchmark/fixtures/workflow_subflow_child_insert.yml
  scripts/benchmark/postgres-scatter-load-test-plan.md
Due: gen-client, basedpyright

fix(deps): retain chardet 6 for polyfile compatibility
  pyproject.toml
  uv.lock
Due: none

chore(deps): scan package manifests with Dependabot
  .github/dependabot.yml
Due: none

fix(benchmark): bound static warmup fanout
  packages/tracecat-benchmark/tests/test_tooling.py
  packages/tracecat-benchmark/tracecat_benchmark/fixtures.py
  packages/tracecat-benchmark/tracecat_benchmark/models.py
  packages/tracecat-benchmark/tracecat_benchmark/runner.py
Due: gen-client, basedpyright

fix(cluster): prefer live project reuse
  packages/tracecat-benchmark/tests/test_tooling.py
  scripts/cluster
Due: gen-client, basedpyright

chore(deps): pin Python dependency versions (#3175)
  .github/dependabot.yml
  packages/tracecat-admin/pyproject.toml
  packages/tracecat-ee/pyproject.toml
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  uv.lock
Due: gen-client

chore: Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

fix(benchmark): preserve deployed revision provenance
  packages/tracecat-benchmark/README.md
  packages/tracecat-benchmark/tests/test_tooling.py
  packages/tracecat-benchmark/tracecat_benchmark/runner.py
Due: gen-client, basedpyright

test(executor): use valid tarball cache fixtures
  tests/unit/test_multitenant_registry.py
Due: basedpyright

fix(cluster): prevent benchmark metrics port collisions
  packages/tracecat-benchmark/docker-compose.loadtest.yml
  packages/tracecat-benchmark/tests/test_examples.py
  packages/tracecat-benchmark/tests/test_tooling.py
  scripts/cluster
Due: gen-client, basedpyright

fix(deps): patch Dependabot vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tests/chat-session-pane.test.tsx
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  uv.lock
Due: gen-client, biome-check, typecheck-frontend

fix(benchmark): redact numbered database URLs
  packages/tracecat-benchmark/tests/test_tooling.py
  packages/tracecat-benchmark/tracecat_benchmark/collector.py
Due: gen-client, basedpyright

refactor(executor): deduplicate registry cache helpers
  tests/unit/test_registry_artifacts.py
  tracecat/concurrency.py
  tracecat/executor/backends/test.py
  tracecat/executor/registry_artifacts.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(deps): revert AI SDK major upgrade
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

chore(frontend): require Node 22
  frontend/package.json
Due: biome-check, typecheck-frontend

build(deps): patch dependabot alerts (#3192)
  frontend/package.json
  frontend/pnpm-lock.yaml
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  uv.lock
Due: gen-client, biome-check, typecheck-frontend

fix(integrations): unblock catalog MCP OAuth setup (#3165)
  frontend/src/app/workspaces/[workspaceId]/mcp-servers/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_resolver.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/resolver.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(executor): modularize registry cache and action supervision
  tests/unit/executor/test_process_supervisor.py
  tests/unit/executor/test_registry_artifact_budget.py
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/executor/test_test_backend_no_registry_action.py
  tests/unit/test_action_runner.py
  tests/unit/test_concurrency.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_storage_blob.py
  tracecat/concurrency.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/base.py
  tracecat/executor/backends/test.py
  tracecat/executor/process_supervisor.py
  tracecat/executor/registry_artifact_budget.py
  tracecat/executor/registry_artifact_storage.py
  tracecat/executor/registry_artifacts.py
  tracecat/sandbox/utils.py
  tracecat/storage/blob.py
Due: gen-client, basedpyright

fix(audit): ensure valid payloads and resource attribution
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/settings/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_admin_settings_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_control_plane_audit.py
  tests/unit/test_organization_settings.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workflow_schedules_service.py
  tracecat/audit/logger.py
  tracecat/audit/service.py
  tracecat/secrets/service.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/schedules/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): retry manifest lookup after version changes
  tests/unit/test_registry_actions_custom_entitlement.py
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
