Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

docs(infra): hold executor activities at 8 and scale replicas per tier
  docs/self-hosting/scaling.mdx
Due: none

fix(agents): classify LLM gateway errors by origin, not status code
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_gateway_errors.py
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/error_policy.py
  tracecat/agent/gateway.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/runtime/errors.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(agents): expect provider_unavailable for direct-route 5xx in temporal attribution scenarios
  tests/temporal/test_durable_agent_runtime_error_attribution.py
Due: basedpyright

infra: tune Compose executor concurrency (#3513)
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
Due: none

docs(infra): reflect new Compose executor default of 32 activities
  docs/self-hosting/scaling.mdx
Due: none

docs(infra): keep default executor concurrency of 32 across tiers
  docs/self-hosting/scaling.mdx
Due: none

feat(infra): provision pgvector automatically in Compose
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/postgres/compose-entrypoint.sh
  scripts/tests/test_pgvector_compose.sh
  scripts/tests/test_pgvector_startup.sh
Due: none

infra(infra): derive pgvector from the deployed PostgreSQL image
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/postgres/Dockerfile
  deployments/postgres/README.md
  docker-compose.pgvector.yml
  scripts/postgres/build-pgvector-image.sh
  scripts/tests/test_pgvector.sh
Due: none

infra(infra): add pgvector support to application databases
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/fargate/README.md
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/postgres/pgvector.sql
  scripts/tests/test_pgvector.sh
Due: none

fix(infra): preserve PostgreSQL collation compatibility
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.pgvector.yml
  docker-compose.yml
  scripts/postgres/pgvector.sql
  scripts/tests/test_pgvector.sh
Due: none

fix(infra): load pgvector image from normal Compose settings
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.pgvector.yml
  docker-compose.yml
  scripts/tests/test_pgvector_compose.sh
Due: none

release: 1.0.0-beta.52
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(infra): provision the migration database in Compose
  .github/workflows/test-python.yml
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/postgres/compose-setup.sh
  scripts/postgres/pgvector.sql
  scripts/tests/test_pgvector_compose.sh
  scripts/tests/test_pgvector_startup.sh
Due: none

fix(infra): allow the full PostgreSQL startup window
  deployments/postgres/README.md
  scripts/postgres/compose-setup.sh
Due: none

fix(rbac): preserve member access and save role changes atomically
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/schemas.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/membership.py
  tracecat/authz/rbac/router.py
  tracecat/authz/service.py
  tracecat/invitations/service.py
  tracecat/organization/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): surface HTTP status and error code in LLM provider failures
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/error_policy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

feat(integrations): add AWS role chaining to boto3, S3, and DuckDB
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  packages/tracecat-registry/tracecat_registry/integrations/amazon_s3.py
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
  tests/unit/test_aws_assume_role.py
Due: gen-client, basedpyright

infra(compose): pull MinIO image from quay.io instead of Docker Hub
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(infra): provision pgvector inside PostgreSQL startup
  .github/workflows/test-python.yml
  deployments/postgres/README.md
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/postgres/compose-entrypoint.sh
  scripts/postgres/compose-setup.sh
  scripts/postgres/initdb-pgvector.sql
  scripts/tests/test_pgvector_compose.sh
  scripts/tests/test_pgvector_startup.sh
Due: none

fix(logging): align agent telemetry keys and include service actors
  docs/audit-logs/agents.mdx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/lib/agent-otel.test.ts
  tests/unit/test_agent_otel_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/executor/activity.py
  tracecat/agent/otel_config.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(tables): remove chunking handoff document
  tracecat/search/CHUNKING.md
Due: gen-client

fix(engine): mask known secrets in opted-in action errors
  tests/unit/test_executor_service.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

fix(tables): resume searches for nonmonotone token prefixes
  tests/unit/test_search_chunking.py
  tracecat/search/chunking.py
  tracecat/search/chunking_types.py
Due: gen-client, basedpyright

fix(api): allow templated preset and alias refs in workspace sync export
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/resources.py
Due: gen-client, basedpyright

fix(engine): only pass referenced actions to return-expression activity
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(engine): retry truncated S3 downloads during materialization
  tests/unit/test_runtime_error_steel_thread.py
  tests/unit/test_storage_cache.py
  tracecat/storage/utils.py
Due: gen-client, basedpyright

chore(ui): shorten error-details toggle descriptions
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/organization/org-settings-app.tsx
Due: biome-check, typecheck-frontend

feat(api): add workflow draft read/replace endpoints
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_workflows.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

infra(infra): package pgvector in published PostgreSQL images
  .github/workflows/build-postgres-image.yml
  .github/workflows/frontend-smoke.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-python.yml
  deployments/postgres/Dockerfile
  deployments/postgres/README.md
  deployments/postgres/images.json
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.pgvector.yml
  docker-compose.yml
  scripts/postgres/build-image.sh
  scripts/postgres/build-pgvector-image.sh
  scripts/postgres/compose-entrypoint.sh
  scripts/tests/test_pgvector.sh
  scripts/tests/test_pgvector_compose.sh
  scripts/tests/test_pgvector_startup.sh
Due: none

infra(infra): simplify PostgreSQL image tags
  .github/workflows/build-postgres-image.yml
  deployments/postgres/README.md
  deployments/postgres/images.json
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

perf(engine): cache error-details workspace allow-list lookup for 15s
  tests/unit/test_executor_service.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

feat(tables): add semantic search storage and shared contracts
  alembic/versions/9680c861644a_add_semantic_search_storage.py
  pyproject.toml
  tests/conftest.py
  tests/integration/test_search_storage.py
  tests/migration/test_search_storage_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/search/README.md
  tracecat/search/__init__.py
  tracecat/search/cleanup.py
  tracecat/search/query.py
  tracecat/search/schemas.py
  tracecat/search/service.py
  tracecat/search/types.py
  uv.lock
Due: gen-client, basedpyright

fix(infra): reject newer pgvector catalogs on older images
  scripts/postgres/pgvector.sql
  scripts/tests/test_pgvector.sh
Due: none

fix(tables): mark deleted source indexes unavailable
  tests/integration/test_search_storage.py
  tracecat/search/service.py
Due: gen-client, basedpyright

fix(tables): validate manifests before staging chunks
  tests/integration/test_search_storage.py
  tracecat/search/service.py
Due: gen-client, basedpyright

fix(tables): repair search session and recovery lifecycles
  tests/integration/test_search_storage.py
  tracecat/search/README.md
  tracecat/search/service.py
Due: gen-client, basedpyright

feat(tables): add workspace embedding configuration
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  pyproject.toml
  tests/integration/test_embedding_configuration.py
  tests/unit/test_search_embeddings.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/search/embeddings/__init__.py
  tracecat/search/embeddings/catalog.py
  tracecat/search/embeddings/client.py
  tracecat/search/embeddings/router.py
  tracecat/search/embeddings/schemas.py
  tracecat/search/embeddings/service.py
  tracecat/search/embeddings/storage.py
  tracecat/search/embeddings/types.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(tables): document semantic search storage models
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(tables): address semantic storage review feedback
  .github/workflows/test-python.yml
  tests/integration/test_search_storage.py
  tracecat/search/README.md
  tracecat/search/schemas.py
  tracecat/search/service.py
  tracecat/search/types.py
Due: gen-client, basedpyright

ci: run Python checks for stacked pull requests
  .github/workflows/test-python.yml
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
