Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

Fix case CRUD dropdown typing
  tests/registry/test_core_cases.py
Due: basedpyright

Update cases search aggregation
  tests/registry/test_core_cases.py
  tests/registry/test_table_characterization.py
Due: basedpyright

chore: format
  tests/unit/test_dsl_workflow_logging.py
Due: basedpyright

Notes added by 'git notes add'
  62/5d9a03f21528694448d1f2e7b86eb4eda621e1
Due: none

fix(organization): allow org deletion cleanup to bypass scope checks
  tests/unit/test_admin_org_domains_service.py
  tracecat/organization/management.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0e/04c059d200edf77c730dca84ee13c82e72fac1
Due: none

fix(ui): Increase case comment length limit (#2179)
  frontend/src/client/schemas.gen.ts
  frontend/src/components/cases/case-comments-section.tsx
  tracecat/cases/schemas.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Serialize dropdown UUIDs
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tests/registry/test_cases_sdk.py
Due: gen-client, basedpyright

Refactor search endpoints with POST}
  packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/sdk/tables.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_core_table.py
  tests/unit/test_tables_service.py
  tracecat/tables/internal_router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Add POST search aggregation support
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

Fix cases accordion section loading
  frontend/src/components/cases/cases-accordion.tsx
Due: biome-check, typecheck-frontend

Upgrade cases search aggregation
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(ui): Show all indicator status sections collapsed with counts (#2182)
  frontend/src/components/cases/cases-accordion.tsx
Due: biome-check, typecheck-frontend

feat(api): Add dropdown support to case CRUD endpoints (#2180)
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_cases_sdk.py
  tests/registry/test_core_cases.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/dropdowns/schemas.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/internal_router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(frontend): parse numeric string totals in getCaseSearchTotal
  frontend/src/lib/cases/stage-counts.ts
Due: biome-check, typecheck-frontend

fix(cases): require case:read scope on POST /search endpoint
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright

fix(tables): require agg_field for non-count aggregations in search
  tracecat/tables/internal_router.py
Due: gen-client, basedpyright

fix(tables): add transaction and error handling to _search_aggregation
  tracecat/tables/service.py
Due: gen-client, basedpyright

Add search rows service
  frontend/src/lib/cases/stage-counts.ts
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(tables): improve error handling for aggregation queries in internal router and service
  tracecat/tables/internal_router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

linting
  tracecat/tables/internal_router.py
Due: gen-client, basedpyright

docs: Enhance comments for dropdown values in case schemas and service (#2180)
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

Delay persisting case chat
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.19 (#2184)
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

refactor(workflows): Simplify release and publish workflows by removing redundant steps and enhancing tagging logic
  .github/workflows/create-release.yml
  .github/workflows/publish-release.yml
Due: none

fix(api): Delay persisting case chat sessions until first message (#2183)
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

fix(rbac): scope seeding for new orgs (#2176)
  tracecat/authz/seeding.py
  tracecat/organization/management.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e1/1d1aa17675027ed9c5274a7d9e9ce360391600
Due: none

Notes added by 'git notes add'
  5f/de55e36c9e9a11a4a785298d34153181a34001
Due: none

Notes added by 'git notes add'
  0d/a77941948c8998d2592b9a9200420410caef8e
Due: none

Notes added by 'git notes add'
  a5/ae8410670c47946304c0342ce33464a413be5b
Due: none

Notes added by 'git notes add'
  5d/15aa14eab20206fef0357299007ad3e34bf457
Due: none

fix(mcp): raise fastmcp Authorization error; server cleanup
  tests/unit/test_mcp_server.py
  tests/unit/test_webhook_execution_path.py
  tracecat/mcp/README.md
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  d5/e316837d2b9057d9afa8eb2fe9b6bb50ca44e7
Due: none

Notes added by 'git notes add'
  83/303ab010a43f1b6ad2b2b63b099b250def9444
Due: none

fix(mcp): patch export csv tool
  scripts/cluster
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

chore(release): bump tracecat version to 0.3.28 and add registrySync configuration
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
Due: none

feat(agent): normalize tool names
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_ee_agent_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

Add initial prompt to durable run
  docs/session-auto-title-todos.md
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_agent_session_title_generator.py
  tracecat/agent/service.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
Due: gen-client, basedpyright

Document session auto-title todos
  docs/session-auto-title-todos.md
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_agent_session_title_generator.py
  tracecat/agent/service.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
Due: gen-client, basedpyright
