Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(agent): pin uv Python archive cache
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_config.py
  tracecat/agent/common/config.py
Due: gen-client, basedpyright

refactor: split out the policy mappings
  tests/unit/test_executor_expression_policy.py
  tracecat/executor/expression_policy.py
  tracecat/executor/expression_policy_map.py
Due: gen-client, basedpyright

fix(expressions): bound JSONPath parser caches
  packages/tracecat-registry/tracecat_registry/_internal/jsonpath.py
  tests/unit/test_jsonpath_cache.py
  tracecat/expressions/common.py
Due: gen-client, basedpyright

docs(expressions): explain JSONPath cache design
  packages/tracecat-registry/tracecat_registry/_internal/jsonpath.py
  tracecat/expressions/common.py
Due: gen-client, basedpyright

fix(executor): splice null into embedded input references in preserved source
  tests/unit/test_executor_expression_policy.py
  tracecat/executor/expression_policy.py
Due: gen-client, basedpyright

refactor(authz): centralize grant scope validation
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_api_exception_handlers.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_scopes.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/credentials.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(ui): extract shared tooltip line helper
  frontend/src/components/editor/codemirror/common.test.tsx
  frontend/src/components/editor/codemirror/common.tsx
Due: biome-check, typecheck-frontend

refactor(authz): centralize grant scope validation (#3222)
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_api_exception_handlers.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_scopes.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/credentials.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(ui): extract shared tooltip line helper (#3223)
  frontend/src/components/editor/codemirror/common.test.tsx
  frontend/src/components/editor/codemirror/common.tsx
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.51-rc.14
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(registry): harden sandbox sync boundaries
  tests/unit/test_registry_sync_base_service.py
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_sandbox.py
  tracecat/registry/sync/artifact.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

refactor(registry): rename legacy sync backend to unsandboxed
  tests/unit/test_registry_sync_runner.py
  tracecat/registry/sync/runner.py
Due: gen-client, basedpyright

fix(expressions): cache jsonpath parser to fix import-lock deadlock (#3217)
  packages/tracecat-registry/tracecat_registry/_internal/jsonpath.py
  tests/unit/test_jsonpath_cache.py
  tracecat/expressions/common.py
  tracecat/expressions/validator/base.py
Due: gen-client, basedpyright

fix(worker): exit when app I/O runtime stops
  tests/unit/test_app_async_runtime.py
  tests/unit/test_worker_activity_registration.py
  tracecat/async_runtime.py
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

fix(worker): bound app runtime shutdown
  tests/unit/test_app_async_runtime.py
  tracecat/async_runtime.py
Due: gen-client, basedpyright

fix(worker): collapse S3 I/O onto one event loop
  tests/conftest.py
  tests/temporal/test_worker_app_async_runtime_load.py
  tests/unit/test_app_async_runtime.py
  tests/unit/test_materialize_context.py
  tests/unit/test_storage_blob.py
  tests/unit/test_storage_cache.py
  tests/unit/test_storage_collection.py
  tests/unit/test_worker_activity_registration.py
  tracecat/async_runtime.py
  tracecat/dsl/action.py
  tracecat/dsl/worker.py
  tracecat/storage/backends/inline.py
  tracecat/storage/backends/s3.py
  tracecat/storage/blob.py
  tracecat/storage/collection.py
  tracecat/storage/object.py
  tracecat/storage/transport.py
  tracecat/storage/utils.py
Due: gen-client, basedpyright

fix(worker): allow exit after shutdown timeout
  tests/unit/test_app_async_runtime.py
  tracecat/async_runtime.py
Due: gen-client, basedpyright

fix(worker): stop loop after startup timeout
  tests/unit/test_app_async_runtime.py
  tracecat/async_runtime.py
Due: gen-client, basedpyright

feat(registry): sandbox registry sync phases (#3208)
  .github/workflows/run-integration-tests.yml
  AGENTS.md
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/test_admin_org_registry_sync_service.py
  tests/unit/test_config.py
  tests/unit/test_registry_repositories_service.py
  tests/unit/test_registry_sync_base_service.py
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_sandbox.py
  tests/unit/test_sandbox_networking.py
  tests/unit/test_sandbox_validation.py
  tests/unit/test_ssh.py
  tracecat/config.py
  tracecat/registry/actions/service.py
  tracecat/registry/actions/types.py
  tracecat/registry/repositories/service.py
  tracecat/registry/repository.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/entrypoint.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/sandbox.py
  tracecat/registry/sync/schemas.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/types.py
  tracecat/ssh.py
Due: gen-client, basedpyright

release: 1.0.0-beta.51-rc.15
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

docs: clarify credential storage and keyring rotation
  docs/security/architecture.mdx
  docs/self-hosting/security.mdx
Due: none

docs: restore DB encryption key rotation warning
  docs/security/architecture.mdx
  docs/self-hosting/security.mdx
Due: none

docs: clarify credential storage and keyring rotation (#3224)
  docs/security/architecture.mdx
  docs/self-hosting/security.mdx
Due: none

docs: add voice conventions and CLAUDE.md symlink
  docs/AGENTS.md
  docs/CLAUDE.md
Due: none

docs: require value shapes and synced repeated claims
  docs/AGENTS.md
Due: none

docs: add voice conventions and CLAUDE.md symlink (#3225)
  docs/AGENTS.md
  docs/CLAUDE.md
Due: none

fix(cases): raise linked-row cap to 5,000
  tests/unit/api/test_api_case_rows.py
  tests/unit/test_case_table_rows_service.py
  tracecat/cases/rows/service.py
Due: gen-client, basedpyright

release: 1.0.0-beta.51
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(sandbox): address NSTUN memory and DNS blockers
  .gitattributes
  .pre-commit-config.yaml
  Dockerfile
  docker/nsjail/nstun-lazy-udp-queue.patch
  tests/unit/test_sandbox_networking.py
  tracecat/sandbox/networking.py
Due: gen-client, basedpyright

fix(sandbox): enforce filtered NSTUN egress
  .env.example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

fix(sandbox): enhance comments for blocked IPv4 CIDRs in networking.py
  tracecat/sandbox/networking.py
Due: gen-client, basedpyright

fix(sandbox): bound NSTUN memory and scope egress rules
  .env.example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docker/nsjail/nstun-bounded-memory.patch
  docker/nsjail/nstun-lazy-udp-queue.patch
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

chore(sandbox): trim agent executor egress config
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(sandbox): remove unused egress CIDR and TCP port variables from .env.example refactor(sandbox): update test function name for clarity on compose file usage
  .env.example
  tests/unit/test_config.py
Due: basedpyright

fix(cases): batch linked-row hydration
  tests/unit/test_case_table_rows_service.py
  tracecat/cases/rows/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(agent): scope uv cache to executor jobs (#3210)
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_sandbox_nsjail.py
  tests/unit/test_mcp_integrations.py
  tests/unit/test_mcp_validation.py
  tracecat/agent/common/config.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/runtime/session_paths.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/integrations/mcp_validation.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.1
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(release): limit update-version to git-tracked files
  scripts/update-version.sh
Due: none

docs(sandbox): clarify special-purpose egress policy
  tracecat/sandbox/networking.py
Due: gen-client, basedpyright

fix(agent): force-remove sandbox-owned job trees
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_common_fs.py
  tests/unit/test_agent_sandbox_nsjail.py
  tracecat/agent/common/fs.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright
