Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(ui): guard SCIM setup and membership review failures
  frontend/src/app/organization/settings/scim/page.tsx
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
  frontend/src/hooks/use-scim.ts
Due: biome-check, typecheck-frontend

fix(ui): keep loaded SCIM groups after a page failure
  frontend/src/components/organization/org-settings-scim-mappings.tsx
Due: biome-check, typecheck-frontend

fix(ui): preserve the issued SCIM token when the refetch fails
  frontend/src/app/organization/settings/scim/page.tsx
  frontend/src/components/organization/org-settings-scim-connection.tsx
  frontend/src/hooks/use-scim.ts
Due: biome-check, typecheck-frontend

fix(ui): disclose SCIM access changes before confirmation
  frontend/src/components/organization/scim-review-dialog.tsx
Due: biome-check, typecheck-frontend

fix(ui): guard IdP-managed groups in workspace settings
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
Due: biome-check, typecheck-frontend

feat(ui): gate SCIM settings with explicit permission
  frontend/src/app/organization/layout.test.tsx
  frontend/src/app/organization/layout.tsx
  frontend/src/app/organization/settings/scim/page.tsx
  frontend/src/components/auth/auth-guard.tsx
  frontend/src/components/organization/org-settings-scim-connection.tsx
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim-mappings.tsx
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
Due: biome-check, typecheck-frontend

feat(ui+api): batch SCIM mapping review and add disconnect
  docs/authentication/scim.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-scim-connection.tsx
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim-mappings.tsx
  frontend/src/components/organization/org-settings-scim.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
  frontend/src/hooks/use-scim.test.tsx
  frontend/src/hooks/use-scim.ts
  packages/tracecat-ee/tracecat_ee/scim/connections.py
  packages/tracecat-ee/tracecat_ee/scim/router.py
  packages/tracecat-ee/tracecat_ee/scim/schemas.py
  packages/tracecat-ee/tracecat_ee/scim/service.py
  tests/unit/api/test_api_scim_connection.py
  tests/unit/test_scim_audit_chain.py
  tests/unit/test_scim_connection_auth.py
  tests/unit/test_scim_connection_service.py
  tests/unit/test_scim_mappings.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui+api): redesign SCIM settings around directory mappings
  docs/authentication/scim.mdx
  docs/docs.json
  frontend/src/app/organization/settings/scim/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-scim-connection.tsx
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim-mappings.tsx
  frontend/src/components/organization/org-settings-scim.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
  frontend/src/hooks/use-scim.test.tsx
  frontend/src/hooks/use-scim.ts
  packages/tracecat-ee/tracecat_ee/scim/router.py
  packages/tracecat-ee/tracecat_ee/scim/schemas.py
  packages/tracecat-ee/tracecat_ee/scim/service.py
  tests/unit/test_scim_mappings.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(rbac): refresh SCIM setup guide and screenshots
  docs/authentication/scim.mdx
  docs/img/authentication/scim/activation-review.png
  docs/img/authentication/scim/active.png
  docs/img/authentication/scim/credentials.png
  docs/img/authentication/scim/draft-mappings.png
  docs/img/authentication/scim/mapping-review.png
Due: none

fix(api+ui): preview and preserve SCIM access across mapping changes
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
  frontend/src/hooks/use-scim.ts
  packages/tracecat-ee/tracecat_ee/scim/schemas.py
  packages/tracecat-ee/tracecat_ee/scim/service.py
  tests/unit/test_scim_activation_review.py
  tests/unit/test_scim_mappings.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): show SCIM mappings as arrows with every target listed
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim-mappings.tsx
Due: biome-check, typecheck-frontend

fix(ui): exclude existing members from SCIM activation joins
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
Due: biome-check, typecheck-frontend

docs(rbac): refresh screenshots for SCIM mapping layout
  docs/authentication/scim.mdx
  docs/img/authentication/scim/activation-review.png
  docs/img/authentication/scim/active.png
  docs/img/authentication/scim/credentials.png
  docs/img/authentication/scim/draft-mappings.png
  docs/img/authentication/scim/mapping-review.png
Due: none

fix(api+ui): clear SCIM state on disconnect and cap review lists
  docs/authentication/scim.mdx
  frontend/src/components/organization/org-settings-scim-connection.tsx
  frontend/src/components/organization/org-settings-scim-mappings.test.tsx
  frontend/src/components/organization/org-settings-scim.tsx
  frontend/src/components/organization/scim-review-dialog.tsx
  packages/tracecat-ee/tracecat_ee/scim/service.py
  tests/unit/test_scim_mappings.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): stream foreground Pi child sessions
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/subagent-tool-part.test.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-subagent-stream.ts
  frontend/src/lib/subagent-stream.test.ts
  frontend/src/lib/subagent-stream.ts
  tests/unit/test_agent_backends.py
  tests/unit/test_agent_session_ancestry.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_vercel_session_events.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/backends/base.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/session/views.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
  tracecat/chat/constants.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): add AnySearch search, vertical search, and extract
  docs/docs.json
  docs/tools/anysearch.mdx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/templates/tools/anysearch/extract.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/anysearch/list_sub_domains.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/anysearch/search.yml
Due: gen-client, biome-check, typecheck-frontend

fix(engine): protect secret-derived expression failures
  tests/unit/test_executor_service.py
  tests/unit/test_expression_runtime_masks.py
  tests/unit/test_jsonpath_masks.py
  tests/unit/test_secret_masking_errors.py
  tracecat/expressions/common.py
  tracecat/expressions/core.py
  tracecat/expressions/jsonpath.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/policy.py
  tracecat/secrets/masking.py
Due: gen-client, basedpyright

fix(engine): track secret-derived template step results
  tests/unit/test_executor_service.py
  tests/unit/test_secret_masking_errors.py
  tracecat/AGENTS.md
  tracecat/executor/service.py
  tracecat/secrets/masking.py
Due: gen-client, basedpyright

fix(engine): account for SDK credentials in conservative masking
  tests/unit/test_error_masking_modes.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

fix(engine): match non-ASCII JSON secret forms in sandbox masks
  tracecat/executor/minimal_runner.py
Due: gen-client, basedpyright

test(engine): align workflow error expectations with masking
  tests/temporal/test_workflows.py
Due: basedpyright

build(build): shrink app images by removing duplicated layers
  Dockerfile
Due: none

perf(engine): reduce secret masking CPU and memory usage
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/test_expression_runtime_masks.py
  tests/unit/test_secret_mask_collector.py
  tracecat/executor/minimal_runner.py
  tracecat/secrets/masking.py
  tracecat/secrets/matcher.py
Due: gen-client, basedpyright

fix(agents): stop retrying user-denied tool calls after approval
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_session_messages.py
  tracecat/agent/runtime/claude_code/session_lines.py
Due: gen-client, basedpyright

fix(agents): disarm resume artifact and retry offers in denial guidance
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/runtime/claude_code/session_lines.py
Due: gen-client, basedpyright

fix(engine): preserve errors with provenance-based secret masking (#3600)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/organization/org-settings-app.tsx
  tests/temporal/test_workflows.py
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/test_executor_error_boundary.py
  tests/unit/test_executor_service.py
  tests/unit/test_expression_policy.py
  tests/unit/test_expression_runtime_masks.py
  tests/unit/test_jsonpath_masks.py
  tests/unit/test_secret_mask_collector.py
  tests/unit/test_secret_masking_errors.py
  tests/unit/test_secrets.py
  tracecat/AGENTS.md
  tracecat/config.py
  tracecat/contexts.py
  tracecat/dsl/schemas.py
  tracecat/executor/action_runner.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/service.py
  tracecat/expressions/common.py
  tracecat/expressions/core.py
  tracecat/expressions/eval.py
  tracecat/expressions/jsonpath.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/policy.py
  tracecat/secrets/common.py
  tracecat/secrets/masking.py
  tracecat/secrets/matcher.py
  tracecat/settings/schemas.py
  tracecat/workflow/actions/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): add Browserless browser automation actions
  docs/docs.json
  docs/tools/browserless.mdx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/_internal/network.py
  packages/tracecat-registry/tracecat_registry/config.py
  packages/tracecat-registry/tracecat_registry/integrations/browserless.py
  tests/registry/test_browserless.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.1.0-alpha.1.3
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

docs(docs): update stable installation references to 1.0.1
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
Due: none

ci: smoke test production sandboxes before integration services
  .github/workflows/run-integration-tests.yml
  tests/smoke_app_image.py
Due: basedpyright

fix(agents): observe CLI exits and synchronize MCP startup tests
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/runtime/claude_code/transport.py
Due: gen-client, basedpyright

fix(infra): replace unavailable MinIO image in dev compose
  docker-compose.dev.yml
Due: none

fix(agents): label empty denial reasons as no reason given
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

feat(api): add Bitbucket workspace Git sync (#3601)
  docs/manage-platform/git-sync.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-vcs-bitbucket-data-center.tsx
  frontend/src/components/organization/org-vcs-bitbucket-settings.tsx
  frontend/src/components/organization/org-vcs-bitbucket.tsx
  frontend/src/components/organization/org-vcs-settings.tsx
  frontend/src/components/organization/vcs-icons.tsx
  frontend/src/components/workspace-sync/connection-form.tsx
  frontend/src/hooks/use-bitbucket-credentials.ts
  frontend/src/hooks/use-bitbucket-data-center-credentials.ts
  frontend/tests/bitbucket-credentials.test.tsx
  frontend/tests/bitbucket-data-center-credentials.test.tsx
  frontend/tests/bitbucket-settings.test.tsx
  frontend/tests/workspace-sync-settings.test.tsx
  tests/support/fake_vcs.py
  tests/unit/test_bitbucket_data_center_vcs.py
  tests/unit/test_bitbucket_vcs.py
  tests/unit/test_workspace_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tests/unit/test_workspace_sync_service.py
  tracecat/vcs/bitbucket/__init__.py
  tracecat/vcs/bitbucket/app.py
  tracecat/vcs/bitbucket/git.py
  tracecat/vcs/bitbucket/schemas.py
  tracecat/vcs/bitbucket/types.py
  tracecat/vcs/bitbucket_data_center/__init__.py
  tracecat/vcs/bitbucket_data_center/app.py
  tracecat/vcs/bitbucket_data_center/schemas.py
  tracecat/vcs/bitbucket_data_center/types.py
  tracecat/vcs/router.py
  tracecat/vcs/schemas.py
  tracecat/workspace_sync/enums.py
  tracecat/workspace_sync/service.py
  tracecat/workspace_sync/transport.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(infra): read Compose healthcheck ports from container env
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(storage): pass TRACECAT__BLOB_STORAGE_SSL_VERIFY through compose and document it
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docs/snippets/environment-variables.mdx
Due: none

feat(integrations): add TypeSafe AI API template
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/templates/tools/typesafe/evaluate_state.yml
Due: gen-client, biome-check, typecheck-frontend
