Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

docs: recommend a load balancer in front of Caddy on cloud VMs
  docs/self-hosting/docker-compose.mdx
Due: none

docs: consolidate TLS guidance into dedicated self-hosting page
  docs/docs.json
  docs/self-hosting/architecture.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/security.mdx
  docs/self-hosting/tls.mdx
Due: none

fix(dsl): resolve top-level action results in subflow trigger_inputs inside scatter
  tests/temporal/test_workflows.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

docs: pin cert-init image tag and note nsjail sandbox limitation
  docs/self-hosting/tls.mdx
Due: none

docs: keep Caddy HTTP-only behind a TLS-terminating load balancer
  docs/self-hosting/tls.mdx
Due: none

docs: consolidate TLS and certificate guidance for self-hosting (#2950)
  docs/docs.json
  docs/self-hosting/architecture.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/security.mdx
  docs/self-hosting/tls.mdx
Due: none

fix(api): scope workflow execution definitions
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

fix(dsl): resolve top-level action results in subflow trigger_inputs inside scatter (#2951)
  tests/temporal/test_workflows.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

perf(api): skip execution definition relationships
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

fix(registry): add caps to cloudflare and google api pagination
  packages/tracecat-registry/tracecat_registry/integrations/cloudflare_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/google_api.py
  tests/registry/test_cloudflare_sdk.py
  tests/registry/test_google_api.py
Due: gen-client, basedpyright

fix(ui): keep chat tool chips on one row with +N overflow
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

refactor(ui): extract shared useOverflowBadges hook
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-overflow-badges.ts
Due: biome-check, typecheck-frontend

fix(ui): measure overflow badges in useLayoutEffect
  frontend/src/hooks/use-overflow-badges.ts
Due: biome-check, typecheck-frontend

fix(ui): keep the model pill from crowding the chat submit button
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

fix(ui): align composer footer control heights
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
Due: biome-check, typecheck-frontend

fix(ui): show tool limit message in chat tools picker
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  frontend/src/hooks/use-chat.ts
Due: biome-check, typecheck-frontend

fix(api): scope workflow execution definitions (#2952)
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

perf(db): add workflow_definition lookup index
  alembic/versions/11d479597e08_add_workflow_definition_lookup_index.py
  tracecat/db/models.py
Due: gen-client, basedpyright

perf(db): add workflow_definition lookup index (#2957)
  alembic/versions/11d479597e08_add_workflow_definition_lookup_index.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(ui): prevent builder panel tabs and content clipping at narrow widths
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

feat(integrations): freshservice mcp and actions (#2938)
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  packages/tracecat-registry/tracecat_registry/integrations/freshservice.py
  tests/registry/test_freshservice.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright

release: 1.0.0-beta.51-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(ui): keep chat tool chips on one row with +N overflow (#2954)
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-overflow-badges.ts
Due: biome-check, typecheck-frontend

fix(ui): align chat composer footer controls (#2955)
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
Due: biome-check, typecheck-frontend

fix(ui): show tool limit message in chat tools picker (#2956)
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  frontend/src/hooks/use-chat.ts
Due: biome-check, typecheck-frontend

fix(ui): prevent builder panel tabs and content clipping at narrow widths (#2958)
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

fix(registry): add caps to cloudflare and google api pagination (#2953)
  packages/tracecat-registry/tracecat_registry/integrations/cloudflare_sdk.py
  packages/tracecat-registry/tracecat_registry/integrations/google_api.py
  tests/registry/test_cloudflare_sdk.py
  tests/registry/test_google_api.py
Due: gen-client, basedpyright

fix(agent): hydrate stdio MCP env secrets for subagent configs (#2945)
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

test(ui): polyfill ResizeObserver in jsdom setup
  frontend/jest.setup.js
Due: biome-check, typecheck-frontend

feat(cases): paste images inline in case description and comments
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-panel-description.tsx
  frontend/src/components/tiptap-node/image-node/attachment-image-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/cases/attachment-errors.ts
  frontend/src/lib/cases/use-case-image-upload.ts
  tests/unit/test_case_attachments_service.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): keep cases nav in workspace shell
  frontend/src/app/workspaces/[workspaceId]/cases/layout.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/cases/cases-route-layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
Due: biome-check, typecheck-frontend

test(ui): polyfill ResizeObserver in jsdom setup (#2961)
  frontend/jest.setup.js
Due: biome-check, typecheck-frontend

fix(ui): restore workspace chat on cases list routes
  frontend/src/app/workspaces/layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
Due: biome-check, typecheck-frontend

chore(ui): remove unreachable cases @chat parallel route
  frontend/src/app/workspaces/[workspaceId]/cases/@chat/default.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/@chat/page.tsx
Due: biome-check, typecheck-frontend

fix(ui): keep tables and inbox nav routes in workspace shell
  frontend/src/app/workspaces/[workspaceId]/inbox/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/tables/layout.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/inbox/inbox-shell.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/tables/tables-route-layout.tsx
  frontend/src/components/workspaces/workspace-collection-route-layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
Due: biome-check, typecheck-frontend

refactor: cancelled_turn_output helper for activity cancellation
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

feat(agents): chat interrupts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/hooks/use-chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/chat/constants.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): harden turn-cancellation handling for chat sessions
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(agents): eagerly interrupt
  .claude/settings.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_messages.py
  tests/unit/test_vercel_adapter.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/cancellation.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/session/service.py
  tracecat/chat/enums.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.51-rc.3
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright
