Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Revert "Document session auto-title todos"
  docs/session-auto-title-todos.md
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_agent_session_title_generator.py
  tracecat/agent/service.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  84/e8262583043e4e32a27d3369d2b49c5e699d20
Due: none

Notes added by 'git notes add'
  9b/ecd0c56e09755e45b99bd5dd3f9dcfbc1302be
Due: none

nit(agents): spacing in preset prompt
  docker-compose.yml
  tracecat/agent/preset/prompts.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  97/b9b658dfe05767ef7fe6f7345cb7c876ee188c
Due: none

Fix duplicate auto-title calls
  docs/session-auto-title-todos.md
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_agent_session_title_generator.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
Due: gen-client, basedpyright

fix(rbac): dedup seeded scopes
  alembic/versions/c9e4f54f0a2b_canonicalize_duplicate_custom_scope_links.py
  tests/unit/test_authz_seeding.py
  tracecat/authz/seeding.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a3/f602955b02c1ae4a4b336243269a59f6184fb3
Due: none

Verify service-scoped auto titles
  tests/unit/test_agent_session_auto_title.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  32/60edf7838e608af086781f35be10976bf68827
Due: none

Truncate sidebar chat titles
  frontend/src/components/sidebar/app-sidebar.tsx
Due: biome-check, typecheck-frontend

feat(agents): Add session auto-title (#2185)
  docs/session-auto-title-todos.md
  frontend/src/components/sidebar/app-sidebar.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_agent_session_title_generator.py
  tracecat/agent/service.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): update ingress for mcp endpoints
  deployments/helm/tracecat/templates/ingress.yaml
Due: none

feat(agents): tracecat mcp server (#2138)
  .env.example
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/ingress.yaml
  deployments/helm/tracecat/templates/mcp-deployment.yaml
  deployments/helm/tracecat/templates/mcp-service.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/components/sidebar/organization-sidebar.tsx
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_config.py
  tests/unit/test_mcp_main.py
  tests/unit/test_mcp_server.py
  tests/unit/test_webhook_execution_path.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/README.md
  tracecat/mcp/__init__.py
  tracecat/mcp/__main__.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/middleware.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/webhooks/schemas.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/management.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): constrain scope dedupe migration to registry action scopes
  alembic/versions/c9e4f54f0a2b_canonicalize_duplicate_custom_scope_links.py
Due: basedpyright

Add missing case feed sections
  frontend/src/components/cases/cases-accordion.tsx
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.20 (#2189)
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  6b/4143a8fb32f2a3b1a104ce4b6dea442f824d6f
Due: none

fix: add missing schemas
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

fix(workflow): surface deepest temporal failure causes
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/temporal/test_workflows.py
  tests/unit/test_dsl_workflow_error_unwrap.py
  tests/unit/test_workflow_executions.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(frontend): prefer root-cause failure messages
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/executions/event-details.tsx
Due: biome-check, typecheck-frontend

fix(workflow): use protobuf field presence for failure cause
  tracecat/workflow/executions/schemas.py
Due: gen-client, basedpyright

test(temporal): cover missing subflow alias error messaging
  tests/temporal/test_workflows.py
  tracecat/dsl/workflow.py
  tracecat/workflow/executions/schemas.py
Due: gen-client, basedpyright

fix(dsl): exclude disconnected action islands from execution
  tests/unit/test_view.py
  tracecat/dsl/common.py
Due: gen-client, basedpyright

fix(workflow): validate draft executions with commit checks
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

Add agents subsection to sidebar
  frontend/src/app/workspaces/[workspaceId]/agents/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/page.tsx
  frontend/src/app/workspaces/[workspaceId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/tables/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/tables/tables-dashboard.tsx
  frontend/src/lib/utils.ts
  tracecat/tables/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

ci: add frontend client sync check to lint workflow
  .github/workflows/lint-frontend.yml
Due: none

Notes added by 'git notes add'
  17/384c082a44620c135532073f4f38f56d7e3491
Due: none

Add agent list subsection
  frontend/src/components/sidebar/app-sidebar.tsx
Due: biome-check, typecheck-frontend

fix(agents): read tool schema from manifest instead of importing action modules
  tests/unit/test_agent_tools.py
  tracecat/agent/tools.py
Due: gen-client, basedpyright

fix(dsl): keep legacy trigger roots in mixed edge workflows
  tests/unit/test_view.py
  tracecat/dsl/common.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  81/95c934d75ebefca2820f1573a1bec57b45b7c7
Due: none

fix(frontend): normalize draft run validation error payloads
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  2f/719482919a78ddbad2b1d617bce2ecf96e63ff
Due: none

fix(agents): validate manifest schema shape before passing to tool builder
  tracecat/agent/tools.py
Due: gen-client, basedpyright

Investigate workflows list CPU spike
  frontend/src/components/dashboard/create-workflow-button.tsx
  frontend/src/components/dashboard/delete-workflow-dialog.tsx
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/workflow-move-dialog.tsx
  frontend/src/components/dashboard/workflow-tags-sidebar.tsx
  frontend/src/components/dashboard/workflow-tags-table.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/hooks/pagination/index.ts
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/pagination/use-workflows-pagination.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(workflow): sanitize execution failure messages
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/schemas.py
Due: gen-client, basedpyright

fix(workflow): scope execution reads to workspace
  tests/unit/test_search_attributes.py
  tests/unit/test_workflow_execution_workspace_scoping.py
  tracecat/workflow/executions/common.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

Fix workflows CPU spike issue
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  frontend/src/components/tables/tables-dashboard.tsx
  frontend/src/components/workspaces/add-workspace-variable.tsx
  frontend/src/components/workspaces/create-credential-dialog.tsx
  frontend/src/components/workspaces/delete-workspace-secret.tsx
  frontend/src/components/workspaces/delete-workspace-variable.tsx
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  frontend/src/components/workspaces/edit-workspace-variable.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/hooks/use-workspace.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(frontend): avoid empty validation arrays in run errors
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
