Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
          - --show-fixes # Show what files were fixed
          - --verbose
        exclude: ^alembic/versions/
      - id: ruff-format
        verbose: true
        exclude: ^alembic/versions/
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.6
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx biome check --write .'
        language: system
        files: ^frontend/
        require_serial: true
      - id: gen-client
        name: generate frontend client
        entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
        language: system
        files: ^(tracecat/api/|packages/tracecat-registry/)
        require_serial: true
        pass_filenames: false

Split GET and POST webhooks into separate endpoints for stable operation IDs in openapi ts client
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/webhooks/router.py
Due: biome-check

chore: Run just fix
  packages/tracecat-registry/tracecat_registry/core/http.py
Due: gen-client

fix(service): Use column reference for ordering in CaseRecord query
  tracecat/cases/records/service.py
Due: none

release: 0.43.6
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

Added Simple Offset field to schedules
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

Adding field validation
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

Better more robust validation
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

Added offset to the schedules table
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

Update frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

Add release (app version) and set environment with temporal namespace
  tracecat/dsl/interceptor.py
  tracecat/dsl/worker.py
Due: none

Updating Documentation
  docs/img/tutorials/triggers/schedule_modal.png
  docs/tutorials/workflow-triggers.mdx
Due: none

Create simple http paginate UDF
  packages/tracecat-registry/tracecat_registry/core/http.py
Due: gen-client

Add limit
  packages/tracecat-registry/tracecat_registry/core/http.py
Due: gen-client

Add tests and docs
  docs/quickstart/core-actions.mdx
  packages/tracecat-registry/tracecat_registry/core/http.py
  tests/registry/test_core_http.py
Due: gen-client

Enhance http_paginate function to support item-level limits and improve documentation. Update tests to reflect changes in expected output format, ensuring results are flattened across pages
  docs/quickstart/core-actions.mdx
  packages/tracecat-registry/tracecat_registry/core/http.py
  tests/registry/test_core_http.py
Due: gen-client

feat(integrations): HTTP pagination action (#1417)
  docs/quickstart/core-actions.mdx
  packages/tracecat-registry/tracecat_registry/core/http.py
  tests/registry/test_core_http.py
Due: gen-client

feat: Add bulk session deletion and session filtering
  tracecat/organization/models.py
  tracecat/organization/router.py
  tracecat/organization/service.py
Due: none

Refactor: Improve secret extraction from complex expressions
  tests/unit/test_executor_service.py
  tests/unit/test_expressions.py
  tracecat/expressions/eval.py
  tracecat/expressions/patterns.py
Due: none

feat(ui): Add Case Records section and entity selector to case panel
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-records-section.tsx
  frontend/src/components/entities/entity-selector-popover.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

Add tests for extract_templated_secrets function
  tests/unit/test_expressions.py
Due: none

feat(service): Implement caching for git context to optimize database access
  tracecat/executor/service.py
Due: none

feat(tests): Add role context setup for git URL dispatch action test
  tests/unit/test_executor_service.py
Due: none

feat(tests): Add tests for git context caching behavior including cache hit, expiry, role separation, and handling of missing git URLs
  tests/unit/test_executor_service.py
Due: none

make workspace wide
  tests/unit/test_executor_service.py
  tracecat/executor/service.py
Due: none

fix(service): Update git context caching duration from 30 seconds to 60 seconds for improved efficiency
  tests/unit/test_executor_service.py
  tracecat/executor/service.py
Due: none

fix: cache git url (#1419)
  tests/unit/test_executor_service.py
  tracecat/executor/service.py
Due: none

release: 0.43.7
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

feat(ui): Refactor Case Records section and introduce new dialogs for editing and deleting records
  frontend/src/components/cases/case-records-section.tsx
  frontend/src/components/cases/case-records-table.tsx
  frontend/src/components/cases/delete-case-record-dialog.tsx
  frontend/src/components/cases/edit-case-record-dialog.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

feat(ui): Case records (#1420)
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-records-section.tsx
  frontend/src/components/cases/case-records-table.tsx
  frontend/src/components/cases/delete-case-record-dialog.tsx
  frontend/src/components/cases/edit-case-record-dialog.tsx
  frontend/src/components/entities/entity-selector-popover.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

feat(records): Add UDFs for managing entity and case records
  packages/tracecat-registry/tracecat_registry/core/records.py
  tests/registry/test_core_records.py
Due: gen-client

feat(core): Add UDFs for managing entity and case records (#1421)
  packages/tracecat-registry/tracecat_registry/core/records.py
  tests/registry/test_core_records.py
Due: gen-client

release: 0.44.0
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

chore(docs): Update functions and operators cheatsheet to include if else
  docs/cheatsheets/functions.mdx
Due: none

Update functions.mdx
  docs/cheatsheets/functions.mdx
Due: none

feat(benchmark): Add executor load testing scripts and monitoring tools
  scripts/benchmark/executor_load_api.py
  scripts/benchmark/server.py
  scripts/monitoring/monitor_db_pool.py
  scripts/monitoring/monitor_db_pool_terminal.py
Due: none

massive update
  registry/tracecat_registry/templates/tools/misp/create_attribute.py
  registry/tracecat_registry/templates/tools/misp/manage_organisations.py
  registry/tracecat_registry/templates/tools/misp/manage_servers.py
  registry/tracecat_registry/templates/tools/wazuh/manage_agents.py
  registry/tracecat_registry/templates/tools/wazuh/manage_alerts.py
  registry/tracecat_registry/templates/tools/wazuh/manage_rules.py
Due: none

feat(docs): Add Kandji pagination examples and update core-actions documentation
  docs/quickstart/core-actions.mdx
  tests/registry/test_core_http.py
Due: none

test+docs: Add Kandji pagination examples to tests and docs (#1424)
  docs/quickstart/core-actions.mdx
  tests/registry/test_core_http.py
Due: none

simple format for code string
  docs/cheatsheets/functions.mdx
Due: none
