Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

chore: install bubblewrap & socat
  Dockerfile
Due: none

fix(agent): reject long Claude session paths
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

refactor(agent): clarify Claude path validation
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(agent): match Claude session path sanitization (#2705)
  Dockerfile
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.13
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(tables): support dropping unique column index
  docs/snippets/mcp-tools.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/tables/table-view-column-menu.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_tables_service.py
  tracecat/mcp/server.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(tables): address review feedback on column index work
  frontend/src/lib/hooks.tsx
  tracecat/mcp/server.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

revert(tables): keep static "Error creating unique index" toast title
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix: preserve scheduler error payloads
  tests/unit/test_dsl_scheduler_error_details.py
  tracecat/dsl/action.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix: classify runtime metadata boundaries
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_dsl_workflow_error_unwrap.py
  tests/unit/test_materialize_context.py
  tests/unit/test_runtime_errors.py
  tracecat/agent/preset/activities.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
  tracecat/runtime/errors.py
Due: gen-client, basedpyright

fix: honor workflow-affecting runtime errors
  tests/unit/test_dsl_scheduler_error_details.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

ci: cap python test xdist workers
  .github/workflows/test-python.yml
Due: none

test: expect typed workflow definition errors
  tests/temporal/test_workflows.py
Due: basedpyright

fix: avoid runtime error detail key collisions
  tests/unit/test_dsl_workflow_error_unwrap.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix: retry executor infra errors by default
  tests/unit/test_executor_activities.py
  tracecat/executor/errors.py
Due: gen-client, basedpyright

fix: validate runtime error detail wrappers
  tests/unit/test_dsl_scheduler_error_details.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/temporal/errors.py
Due: gen-client, basedpyright

fix(registry): handle SquashFS package overlays
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

feat(registry): add SquashFS registry artifacts
  Dockerfile
  docker-compose.dev.yml
  tests/integration/test_pool_integration.py
  tests/integration/test_syncv2_execv2_e2e.py
  tests/unit/test_action_runner.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_multitenant_registry.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_registry_sync_tarball.py
  tracecat/config.py
  tracecat/executor/action_runner.py
  tracecat/executor/registry_artifacts.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(registry): preserve SquashFS symlinks
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(registry): handle SquashFS fallback URIs
  tests/unit/test_registry_artifacts.py
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

test(registry): avoid writing secrets to compose override
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

chore(registry): log resolved artifact format
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

refactor(registry): remove zstd artifact sidecars
  pyproject.toml
  tests/integration/test_syncv2_execv2_e2e.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_tarball.py
  tracecat/executor/registry_artifacts.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/tarball.py
  uv.lock
Due: gen-client, basedpyright

fix(registry): align installed squashfs link filtering
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(executor): preserve missing artifact 404 errors
  tests/unit/test_registry_artifacts.py
  tracecat/executor/registry_artifacts.py
Due: gen-client, basedpyright

fix(executor): drop capabilities for direct actions
  Dockerfile
  tests/unit/test_action_runner.py
  tracecat/executor/action_runner.py
Due: gen-client, basedpyright

fix(graph): keep success+error edges between same nodes
  tests/unit/test_workflow_graph_edges.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright

fix(executor): avoid direct runner bounding-set drop
  tests/unit/test_action_runner.py
  tracecat/executor/action_runner.py
Due: gen-client, basedpyright

test: cap auto xdist workers for redis isolation
  tests/conftest.py
Due: basedpyright

fix(tables): differentiate create vs drop unique index error toast
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

chore: move sandbox compose privileges to override
  docker-compose.dev.yml
  docker-compose.sandbox.yml
  scripts/cluster
Due: none

fix(registry): normalize squashfs artifact modes
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(registry): remove stale squashfs sidecars
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

test(registry): delete squashfs sidecar in missing-artifact case
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

fix(registry): delete stale squashfs before gzip upload
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

fix(graph): dedupe edges by handle
  tests/unit/test_workflow_graph_edges.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright

fix(registry): clear squashfs before artifact publish
  tests/unit/test_registry_sync_tarball.py
  tracecat/registry/sync/tarball.py
Due: gen-client, basedpyright

refactor(graph): tighten edge dedup key typing and normalization
  tests/unit/test_workflow_graph_edges.py
  tracecat/workflow/graph/service.py
Due: gen-client, basedpyright

fix(graph): include edge handle in rf ids
  tests/unit/test_view.py
  tracecat/dsl/view.py
Due: gen-client, basedpyright

feat(registry): add SquashFS registry artifacts (#2708)
  Dockerfile
  docker-compose.dev.yml
  docker-compose.sandbox.yml
  pyproject.toml
  scripts/cluster
  tests/conftest.py
  tests/integration/test_pool_integration.py
  tests/integration/test_syncv2_execv2_e2e.py
  tests/unit/test_action_runner.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_multitenant_registry.py
  tests/unit/test_registry_artifacts.py
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_tarball.py
  tracecat/config.py
  tracecat/executor/action_runner.py
  tracecat/executor/registry_artifacts.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/tarball.py
  uv.lock
Due: gen-client, basedpyright
