Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(agents): support pydantic runtime
  frontend/src/hooks/use-chat.ts
  frontend/tests/use-chat.test.tsx
  tests/unit/test_admin_agent_service.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_providers.py
  tests/unit/test_mcp_server.py
  tracecat/admin/agent/service.py
  tracecat/agent/internal_router.py
  tracecat/agent/providers.py
  tracecat/agent/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): Trigger inputs tooltip
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/ui/hover-card.tsx
Due: biome-check, typecheck-frontend

feat(entitlements): enforcement in the UI
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  frontend/src/components/builder/panel/action-panel-fields.tsx
  frontend/src/components/locked-feature-modal.tsx
  frontend/src/components/registry/workspace-actions-inventory.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/tags-input.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/tags-input.test.tsx
  frontend/tests/use-builder-registry-actions.test.tsx
  packages/tracecat-registry/tracecat_registry/core/presets.py
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_registry.py
  tracecat/registry/actions/router.py
  tracecat/registry/actions/schemas.py
  tracecat/registry/actions/service.py
  tracecat/registry/actions/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): refine agent model gating and unify UDF model selection
  frontend/src/app/organization/settings/agent/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel-fields.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/components/organization/rbac-list-item.tsx
  frontend/src/lib/registry-action-inputs.ts
  frontend/tests/registry-action-inputs.test.ts
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/ai.py
  packages/tracecat-registry/tracecat_registry/fields.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/registry/test_agent.py
  tests/registry/test_core_ai.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_providers.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_registry_repository.py
  tests/unit/test_validation.py
  tracecat/agent/gateway.py
  tracecat/agent/internal_router.py
  tracecat/agent/providers.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/dsl/workflow.py
  tracecat/mcp/server.py
  tracecat/registry/fields.py
  tracecat/validation/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): use RLS bypass for pre-auth org resolution
  tests/unit/test_rls_failure_repros.py
  tracecat/auth/org_context.py
Due: gen-client, basedpyright

fix(workflows): preserve imported runtime metadata
  tests/unit/test_export.py
  tests/unit/test_workflow_import_service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/store/import_service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  3f/c53cbddffce9df037b5eb6788fab9ff3521a11
Due: none

fix(mcp): use RLS bypass for MCP auth bootstrap lookups
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

fix(workflows): preserve imported runtime metadata (#2382)
  tests/unit/test_export.py
  tests/unit/test_workflow_import_service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/store/import_service.py
Due: gen-client, basedpyright

fix(agents): agent model-selection compatibility and entitlement regressions
  frontend/src/components/organization/org-settings-agent.tsx
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-registry/tracecat_registry/core/ai.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/conftest.py
  tests/registry/test_agent.py
  tests/registry/test_core_ai.py
  tests/unit/api/test_api_admin_tiers.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_providers.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_registry.py
  tests/unit/test_validation.py
  tracecat/agent/internal_router.py
  tracecat/agent/providers.py
  tracecat/agent/service.py
  tracecat/mcp/server.py
  tracecat/registry/actions/bound.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(mcp): support disabled auth (#2379)
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_config.py
  tests/unit/test_rls_failure_repros.py
  tracecat/auth/org_context.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(fargate): add MCP service deployment
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/ecs-caddy.tf
  deployments/fargate/modules/ecs/ecs-mcp.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/security_groups.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

Notes added by 'git notes add'
  9b/2f23c72fc6386130f83bd8ee9d39b7bb6892ef
Due: none

feat(agent): add Novita provider support
  tracecat/agent/gateway.py
  tracecat/agent/providers.py
Due: gen-client, basedpyright

fix(registry): support disabling SSH host key checks
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(cases): include reply context in comment triggers
  tests/unit/test_case_comments_service.py
  tests/unit/test_case_trigger_consumer.py
  tracecat/cases/service.py
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

fix(builder): move loop actions into workflow menu
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/tests/canvas-toolbar.test.tsx
Due: biome-check, typecheck-frontend

fix(builder): move loop actions into workflow menu (#2386)
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/tests/canvas-toolbar.test.tsx
Due: biome-check, typecheck-frontend

fix(registry): warn when SSH host checks are disabled
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(registry): avoid persisting relaxed SSH host trust
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(cases): include reply context in comment triggers (#2385)
  tests/unit/test_case_comments_service.py
  tests/unit/test_case_trigger_consumer.py
  tracecat/cases/service.py
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

docs(mcp): clarify preset discovery guidance
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs(mcp): shorten preset list docstring
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(mcp): Reduce verbosity of list_agent_presets (#2387)
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(registry): keep SSH host key policy strict
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(registry): allow transient SSH host trust
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(registry): support disabling SSH host key checks (#2384)
  packages/tracecat-registry/tracecat_registry/core/ssh.py
  tests/unit/test_registry_core_ssh.py
Due: gen-client, basedpyright

fix(tests): patch REDIS_URL in env_sandbox to counter litellm load_dotenv() poisoning
  tests/conftest.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_mcp_auth.py
  tracecat/agent/builtin_catalog.py
Due: gen-client, basedpyright

fix(ui): refresh org members after role assignment updates
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

Add unit test for registry sync validation failure
  frontend/src/components/admin/admin-org-registry-table.tsx
  frontend/src/components/admin/platform-registry-repos-table.tsx
  frontend/src/lib/errors.ts
  tests/unit/test_registry_sync_workflow.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/platform_service.py
  tracecat/registry/sync/service.py
  tracecat/registry/sync/workflow.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): stabilize registry sync CI
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e6/d3e168ad284736be31a490ec807b3aa62b8ea2
Due: none

fix(ui): surface backend API messages in sync errors
  frontend/src/lib/errors.test.ts
  frontend/src/lib/errors.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  6e/c53f118e583e2ebdd54b369d70e0cf567eda18
Due: none

test(ee): patch multi-tenant config from source module
  tests/unit/api/test_api_admin_tiers.py
Due: basedpyright

Notes added by 'git notes add'
  4a/a7b87758471a043c63485ceae8c3624a67f18c
Due: none

fix(registry): fail sandbox sync before tarball upload
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_workflow.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/workflow.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  68/43fdf571109e71ca88113625a71dccb96ed270
Due: none

feat(logging): add local hash CLI and deployment wiring
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(logging): make redaction core branch self-contained
  packages/tracecat-admin/pyproject.toml
  packages/tracecat-admin/tests/conftest.py
  packages/tracecat-admin/tests/test_cli.py
  packages/tracecat-admin/tests/test_logs_commands.py
  packages/tracecat-admin/tracecat_admin/cli.py
  packages/tracecat-admin/tracecat_admin/commands/logs.py
  packages/tracecat-admin/tracecat_admin/config.py
  packages/tracecat-admin/tracecat_admin/logs.py
  pyproject.toml
  tests/unit/test_logger_security.py
  tracecat/config.py
  tracecat/context_state.py
  tracecat/contexts.py
  tracecat/logger/_logger.py
  tracecat/logger/security.py
  tracecat/middleware/request.py
  tracecat/workflow/executions/schemas.py
Due: gen-client, basedpyright
