Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

chore(frontend): regenerate case API client with just gen-client-ci
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/pagination/use-cases-pagination.tsx
  frontend/src/hooks/use-cases.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(executor): isolate subprocess protocol from action output
  packages/tracecat-registry/tracecat_registry/integrations/ansible.py
  tests/registry/test_ansible.py
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/executor/minimal_runner.py
Due: gen-client, basedpyright

fix(tests): satisfy basedpyright in minimal runner protocol tests
  tests/unit/executor/test_minimal_runner_protocol.py
Due: basedpyright

test(cases): update coverage for list/search API split
  tests/registry/test_cases_characterization.py
  tests/registry/test_core_cases.py
  tests/unit/test_case_fields_integration.py
  tests/unit/test_cases_service.py
Due: basedpyright

fix(cases): add cursor pagination support to list endpoints
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(executor): bound suppressed output capture in minimal runner
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/executor/minimal_runner.py
Due: gen-client, basedpyright

chore: format
  tests/unit/test_registry_sync_tarball.py
Due: basedpyright

Notes added by 'git notes add'
  260c9b52c22a1835367a047c11e7ec113d9987e4
Due: none

fix(dsl): minimize run_if evaluation context
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/config.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/types.py
  tracecat/expressions/core.py
Due: gen-client, basedpyright

style: apply ruff formatting for run_if updates
  tracecat/config.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

test(registry): correct list_cases paginate assertion
  tests/registry/test_core_cases.py
Due: basedpyright

fix(cases): forward search params in hook and align api tests
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_cases.py
Due: basedpyright, biome-check, typecheck-frontend

fix: Isolate subprocess protocol from action output (#2127)
  packages/tracecat-registry/tracecat_registry/integrations/ansible.py
  tests/registry/test_ansible.py
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/executor/minimal_runner.py
Due: gen-client, basedpyright

feat(rbac): seed registry scopes during sync
  tests/unit/test_authz_seeding.py
  tracecat/api/app.py
  tracecat/authz/seeding.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

fix(rbac): update RBAC scope seeding and models
  tests/unit/test_authz_seeding.py
  tracecat/authz/seeding.py
Due: gen-client, basedpyright

Fix cursor handling in registry UDFs
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
Due: gen-client, basedpyright

chore(rbac): drop role from membership and invitation tables
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tracecat/auth/credentials.py
  tracecat/authz/seeding.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac): rename SYSTEM_ROLE to PRESET_ROLE
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_invitation.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/authz/seeding.py
  tracecat/authz/service.py
Due: gen-client, basedpyright

Fix registry case cursor forwarding
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
Due: gen-client, basedpyright

release: 1.0.0-beta.10
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  deployments/terraform/aws/modules/eks/variables.tf
  deployments/terraform/aws/variables.tf
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

chore: update Chart.yaml with new description and version bump to 0.3.10
  deployments/helm/tracecat/Chart.yaml
Due: none

fix(rbac): update ui having dropped org role
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/hooks/use-org-membership.ts
  tracecat/auth/credentials.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(cases): Split list/search API contracts (#2126)
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/pagination/use-cases-pagination.tsx
  frontend/src/hooks/use-cases.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  tests/registry/test_cases_characterization.py
  tests/registry/test_core_cases.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_fields_integration.py
  tests/unit/test_cases_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: update version to 1.0.0-beta.11 across documentation and configuration files
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  deployments/terraform/aws/modules/eks/variables.tf
  deployments/terraform/aws/variables.tf
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(rbac): review and linting
  tracecat/authz/seeding.py
  tracecat/authz/service.py
  tracecat/organization/schemas.py
  tracecat/registry/sync/jobs.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright

fix(invitations): create user role assignment on invite
  tests/unit/test_authz_seeding.py
  tracecat/authz/controls.py
  tracecat/authz/seeding.py
  tracecat/authz/service.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright

refactor(rbac): remove role-dropping changes from scope-seeding branch
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/use-org-membership.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_invitation.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac): unify scope presets
  tests/unit/test_rbac_scopes.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
Due: gen-client, basedpyright

nit(rbac): use namedtuples for scope definitions
  tracecat/api/app.py
  tracecat/authz/seeding.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

refactor(rbac): drop test singular scope seed
  tests/unit/test_authz_seeding.py
  tracecat/authz/seeding.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

refactor(rbac): batch seeding roles
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_authz_seeding.py
  tracecat/authz/seeding.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: increase max connections and adjust idle connections in tracecat values.yaml
  deployments/helm/tracecat/values.yaml
Due: none

feat(cases): link table rows to cases
  alembic/versions/9276aa612f27_link_rows_to_cases.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-rows-section.tsx
  frontend/src/components/cases/case-table-rows-table.tsx
  frontend/src/components/cases/cases-feed-event.tsx
  frontend/src/components/cases/cases-feed.tsx
  frontend/src/components/cases/unlink-case-table-row-dialog.tsx
  frontend/src/hooks/pagination/use-case-table-rows-pagination.tsx
  frontend/src/lib/hooks.tsx
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_core_cases.py
  tests/unit/test_case_events_service.py
  tests/unit/test_case_table_rows_service.py
  tracecat/api/app.py
  tracecat/cases/enums.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/rows/__init__.py
  tracecat/cases/rows/internal_router.py
  tracecat/cases/rows/router.py
  tracecat/cases/rows/schemas.py
  tracecat/cases/rows/service.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): update case tests
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/unit/test_case_table_rows_service.py
  tests/unit/test_cases_service.py
  tracecat/cases/router.py
  tracecat/cases/rows/service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor: remove db_instance_size variable and update instance class to db.t4g.2xlarge
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/terraform/aws/modules/eks/variables.tf
  deployments/terraform/aws/variables.tf
Due: none

fix(cases): harden case row hydration on missing table
  tests/unit/test_case_table_rows_service.py
  tests/unit/test_cases_service.py
  tracecat/cases/rows/service.py
Due: gen-client, basedpyright

refactor: remove tracecat_version variable from Terraform configuration
  deployments/terraform/aws/main.tf
  deployments/terraform/aws/modules/eks/variables.tf
  deployments/terraform/aws/variables.tf
Due: none

Fix Helm version labels to use image
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/agent-executor-deployment.yaml
  deployments/helm/tracecat/templates/api-deployment.yaml
  deployments/helm/tracecat/templates/executor-deployment.yaml
  deployments/helm/tracecat/templates/migrations-job.yaml
  deployments/helm/tracecat/templates/ui-deployment.yaml
  deployments/helm/tracecat/templates/worker-deployment.yaml
  deployments/helm/tracecat/values.yaml
Due: none

feat(rbac): Seed registry scopes during sync (#1985)
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_authz_seeding.py
  tests/unit/test_rbac_scopes.py
  tracecat/api/app.py
  tracecat/auth/credentials.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/organization/router.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): prevent count_tokens crash and correct Gemini 3 model names
  tracecat/agent/config.py
  tracecat/agent/litellm_config.yaml
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
