Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

Add case tasks API
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_tasks_service.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
Due: biome-check

fix: validate task ownership for update/delete
  tracecat/cases/router.py
Due: none

fix: migrations merge
  alembic/versions/355b91f2d698_merge_migration_heads.py
Due: none

fix: case task dialog
  alembic/versions/355b91f2d698_merge_migration_heads.py
  frontend/src/components/cases/case-task-dialog.tsx
  frontend/src/components/cases/delete-case-task-dialog.tsx
Due: biome-check

feat: Add flatten_dict function for nested data structures
  frontend/src/components/json-viewer.tsx
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: biome-check

Support multiple OAuth grants in Microsoft Sentinel templates
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/create_or_update_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/delete_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/list_alert_rule_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/list_alert_rules.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/create_or_update_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/delete_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/get_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/list_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_comments.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_entities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_relations.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incidents.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/create_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/delete_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/get_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/list_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/query_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlist_items.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlists.yml
Due: gen-client

feat(transform): Introduce flatten_json and eval_jsonpaths functions
  packages/tracecat-registry/tracecat_registry/core/transform.py
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: gen-client

test(transform): Add comprehensive tests for flatten_json and eval_jsonpaths functions
  tests/registry/test_core_transform.py
Due: none

Update tests/registry/test_core_transform.py
  tests/registry/test_core_transform.py
Due: none

feat(core): JSON flatten and eval jsonpath UDFs (#1557)
  frontend/src/components/json-viewer.tsx
  packages/tracecat-registry/tracecat_registry/core/transform.py
  tests/registry/test_core_transform.py
Due: biome-check, gen-client

feat(integrations): Support multiple OAuth grants in Microsoft Sentinel templates (#1556)
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/create_or_update_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/delete_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/list_alert_rule_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/list_alert_rules.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/create_or_update_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/delete_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/get_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/list_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_comments.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_entities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_relations.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incidents.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/create_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/delete_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/get_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/list_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/query_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlist_items.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlists.yml
Due: gen-client

Refine feature flag parsing
  tracecat/config.py
Due: none

fix: Only render CastTimestamp if we pass UUIDs after /cases
  frontend/src/components/nav/controls-header.tsx
Due: biome-check

Implement migration to remove runbook tables and update related schemas
  alembic/versions/af3134e6907d_remove_runbook_tables.py
  tracecat/api/app.py
  tracecat/cases/prompts.py
  tracecat/config.py
  tracecat/sync.py
Due: gen-client

Add ignore_if_exists option to registry create_table UDF
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
  tracecat/tables/models.py
  tracecat/tables/service.py
Due: gen-client

feat(sidebar): Enhance workspace navigation with dynamic URL building
  frontend/src/components/sidebar/app-menu.tsx
Due: biome-check

drop old workspace selector
  frontend/src/components/workspaces/workspace-selector.tsx
Due: biome-check

fix: task column order, enum commits, and workflow execution lazy-loading
  alembic/versions/355b91f2d698_merge_migration_heads.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table.tsx
  frontend/src/components/cases/case-task-dialog.tsx
  frontend/src/components/cases/case-tasks-section.tsx
  frontend/src/components/cases/task-workflow-status.tsx
  frontend/src/lib/hooks.tsx
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/feature_flags/enums.py
Due: biome-check

feat(ui): Preserve site location when switching between workspaces (#1559)
  frontend/src/components/sidebar/app-menu.tsx
  frontend/src/components/workspaces/workspace-selector.tsx
Due: biome-check

Drop unused index_by_key function
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: none

fix: Inaccurate usage of "field"
  packages/tracecat-registry/tracecat_registry/core/transform.py
Due: gen-client

refactor: Remove index_by_key function from documentation and examples
  docs/cheatsheets/functions.mdx
  docs/quickstart/expressions.mdx
Due: none

Insert newline when appending case descriptions
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
Due: gen-client

Normalize naive datetime filters before case and table searches
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_cases.py
  tests/registry/test_core_table.py
  tests/unit/test_cases_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/tables/common.py
  tracecat/tables/service.py
  tracecat/types/datetime.py
Due: gen-client

fix: address review feedback
  alembic/versions/1f6f60502c17_add_casetask_schema.py
  frontend/src/components/cases/case-task-dialog.tsx
  frontend/src/components/cases/case-tasks-section.tsx
  tests/unit/test_case_tasks_service.py
Due: biome-check

Update packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/cases.py
Due: gen-client

feat(core): Add append option to cases update UDF (#1561)
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/registry/test_core_cases.py
Due: gen-client

feat(ai): Add AI document ranking and field extraction functions
  packages/tracecat-registry/tracecat_registry/core/ai.py
Due: gen-client

Handle duplicate table creation when ignoring existing tables
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: none

feat(ai): Introduce LLM-based item ranking functionality
  tracecat/ai/ranker.py
Due: none

fix: fixed missing enumtypes in migrations
  alembic/versions/2f1ff59126f1_feat_add_task_event_enums.py
  alembic/versions/799af90b73bf_.py
  frontend/src/components/cases/case-tasks-table.tsx
Due: biome-check

feat(ai): Enhance document ranking with async processing and refined criteria
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: gen-client

chore(ai): Update LLM model references in ranking functions
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tracecat/ai/ranker.py
Due: gen-client

Add docstring
  packages/tracecat-registry/tracecat_registry/core/ai.py
Due: gen-client

feat(ai): Refactor ranking functions for improved error handling and response parsing
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: gen-client

add 'raise' error strategy to core.transform.gather udf
  packages/tracecat-registry/tracecat_registry/core/transform.py
Due: gen-client

Implement 'raise' error strategy in gather workflow and add corresponding unit test
  tests/unit/test_workflows.py
  tracecat/dsl/enums.py
  tracecat/dsl/models.py
  tracecat/dsl/scheduler.py
Due: none

fix: minor fixes to case tasks
  alembic/versions/799af90b73bf_.py
  frontend/src/components/cases/case-tasks-table.tsx
  tracecat/cases/service.py
Due: biome-check

feat(ai): Enhance AI field extraction and selection with async support and improved error handling
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tracecat/ai/ranker.py
Due: gen-client

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
