Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(ui): pin mention popover at the @ trigger position
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/hooks/use-agent-mention-autocomplete.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

feat(ui): display mentions as highlighted text in composer
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/comment-mention-overlay.tsx
  frontend/src/hooks/use-agent-mention-autocomplete.ts
  frontend/src/lib/comment-mentions.ts
  frontend/tests/case-comments-section.test.tsx
  frontend/tests/comment-mentions.test.ts
Due: biome-check, typecheck-frontend

refactor(ui): consolidate comment mention logic into one hook
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/hooks/use-agent-mention-autocomplete.ts
  frontend/src/hooks/use-comment-mentions.ts
  frontend/src/lib/comment-mentions.ts
  frontend/tests/case-comments-section.test.tsx
  frontend/tests/comment-mentions.test.ts
Due: biome-check, typecheck-frontend

feat(ui): select mention suggestion with tab
  frontend/src/hooks/use-comment-mentions.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

fix(agent): close uv cache override paths
  tests/unit/test_agent_runtime.py
  tests/unit/test_mcp_validation.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/integrations/mcp_validation.py
Due: gen-client, basedpyright

fix(registry): sandbox dynamic SSH host keyscan
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_registry_repositories_service.py
  tests/unit/test_registry_sync_sandbox.py
  tracecat/config.py
  tracecat/registry/repositories/service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

refactor(registry): streamline repository sync outcome handling
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/test_registry_repositories_service.py
  tracecat/registry/actions/service.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

fix(sandbox): enforce filtered NSTUN egress
  .env.example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

fix(agent): pin uv settings at transport boundary
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
Due: gen-client, basedpyright

test(agent): keep claude options fake in sync
  tests/unit/test_agent_sandbox_litellm.py
Due: basedpyright

docs: address OAuth review feedback
  docs/automations/integrations/oauth-integrations.mdx
  docs/snippets/oauth-token-expressions.mdx
Due: none

docs: move pagination tip to action
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
Due: none

docs: add HTTP poll lambda examples
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
Due: none

docs: clarify HTTP polling conditions
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
Due: none

docs: fix OAuth YAML declaration link
  docs/automations/integrations/oauth-integrations.mdx
Due: none

fix(agent): stop uvx sanitizing at command
  tests/unit/test_agent_runtime.py
  tests/unit/test_mcp_validation.py
  tracecat/integrations/mcp_validation.py
Due: gen-client, basedpyright

docs: guard HTTP poll stop conditions
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
Due: none

refactor(registry): remove sandbox auto mode
  .env.example
  .github/workflows/run-integration-tests.yml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  tests/unit/test_config.py
  tests/unit/test_registry_sync_runner.py
  tracecat/config.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/runner.py
Due: gen-client, basedpyright

fix(registry): isolate discovery workspace
  tests/unit/test_registry_sync_sandbox.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

fix(agent): isolate uv-managed state per job
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_nsjail.py
  tracecat/agent/common/config.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/runtime/session_paths.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

fix(registry): preserve admin package override
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/test_admin_org_registry_sync_service.py
Due: gen-client, basedpyright

refactor(registry): move sync outcome type
  tests/unit/test_admin_org_registry_sync_service.py
  tests/unit/test_registry_repositories_service.py
  tracecat/registry/actions/service.py
  tracecat/registry/actions/types.py
Due: gen-client, basedpyright

fix(registry): validate installed package roots
  tests/unit/test_registry_sync_sandbox.py
  tracecat/registry/sync/sandbox.py
Due: gen-client, basedpyright

fix(registry): skip admin SSH setup for Temporal sync
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/test_admin_org_registry_sync_service.py
Due: gen-client, basedpyright

fix(agent): sanitize legacy MCP options before resolution
  tests/unit/test_mcp_integrations.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(ui): keep remaining command item values selector-safe
  frontend/src/components/cases/case-column-picker.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/case-workflow-trigger.tsx
  frontend/src/components/cases/multiselect-case-filters.tsx
  frontend/src/components/dashboard/file-tree-command.tsx
  frontend/src/components/dashboard/workflows-header.tsx
  frontend/src/components/filters/filter-multi-select.tsx
  frontend/src/components/tables/cell-editors.tsx
Due: biome-check, typecheck-frontend

fix(expressions): cache jsonpath parser to fix import-lock deadlock
  packages/tracecat-registry/tracecat_registry/_internal/jsonpath.py
  tracecat/expressions/common.py
  tracecat/expressions/validator/base.py
Due: gen-client, basedpyright

docs: Add secrets and OAuth info to http section (#3206)
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/http.mdx
  docs/automations/integrations/oauth-integrations.mdx
  docs/docs.json
  docs/snippets/oauth-token-expressions.mdx
  docs/snippets/registry-secrets-and-oauth.mdx
  scripts/generate_core_action_docs.py
Due: basedpyright

release: 1.0.0-beta.51-rc.13
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

refactor: legibility cleanup
  tracecat/executor/expression_policy.py
Due: gen-client, basedpyright

chore: keep advanced config out of env example
  .env.example
  AGENTS.md
Due: none

fix(ui): require agent read scope for mention suggestions
  frontend/src/hooks/use-comment-mentions.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

feat(ui): agent mention autocomplete in case comment composer (#3211)
  frontend/src/components/agents/agent-mention-popover.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/comment-mention-overlay.tsx
  frontend/src/hooks/use-comment-mentions.ts
  frontend/src/lib/comment-mentions.ts
  frontend/src/lib/textarea-caret.ts
  frontend/tests/case-comments-section.test.tsx
  frontend/tests/comment-mentions.test.ts
  frontend/tests/textarea-caret.test.ts
Due: biome-check, typecheck-frontend

fix(agent): sanitize legacy MCP environment
  tests/unit/test_mcp_integrations.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(cases): harden comment mention typing and label bounds
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_comment_mentions.py
  tests/unit/test_case_comments_service.py
  tracecat/cases/enums.py
  tracecat/cases/mentions.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(audit): ensure valid payloads and resource attribution (#3143)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/settings/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_admin_settings_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_control_plane_audit.py
  tests/unit/test_organization_settings.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workflow_schedules_service.py
  tracecat/audit/logger.py
  tracecat/audit/service.py
  tracecat/secrets/service.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/schedules/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): allow agent readers to browse tools
  tests/unit/test_route_scope_guards.py
  tracecat/registry/actions/router.py
Due: gen-client, basedpyright

fix(ui): normalize mention uuid casing before preset lookup
  frontend/src/components/cases/case-description-editor.test.tsx
  frontend/src/lib/mentions.test.ts
  frontend/src/lib/mentions.ts
Due: biome-check, typecheck-frontend

fix(executor): cover unmapped durable sinks and null input splicing
  tests/unit/test_executor_expression_policy.py
  tracecat/executor/expression_policy.py
Due: gen-client, basedpyright

feat(cases): parse and persist case comment mentions (#3213)
  alembic/versions/c20c04c7d2a9_add_case_comment_mention.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_case_comment_mentions.py
  tests/unit/test_case_comments_service.py
  tracecat/cases/enums.py
  tracecat/cases/internal_router.py
  tracecat/cases/mentions.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
