Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(cases): add title and description versioning (#3272)
  alembic/versions/598b32358ec5_add_case_versions.py
  tests/integration/test_case_versions.py
  tests/migration/test_case_versions_migration.py
  tracecat/cases/enums.py
  tracecat/cases/service.py
  tracecat/cases/versions/__init__.py
  tracecat/cases/versions/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(cases): validate version cursor length
  tests/unit/api/test_api_cases.py
  tracecat/cases/router.py
Due: gen-client, basedpyright

feat(cases): add structured version text diffs
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/integration/test_case_versions.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_versions_service.py
  tracecat/cases/enums.py
  tracecat/cases/versions/diff.py
  tracecat/cases/versions/schemas.py
  tracecat/cases/versions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(cases): add case version history and restore APIs
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/integration/test_case_versions.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_versions_service.py
  tests/unit/test_route_scope_guards.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/cases/versions/schemas.py
  tracecat/cases/versions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): bound version diff complexity
  tracecat/cases/versions/diff.py
Due: gen-client, basedpyright

fix(registry): correct Socket query parameter serialization
  docs/tools/socket.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/socket/packages/fetch_packages_by_purl.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/socket/scans/create_full_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/socket/scans/create_full_scan_from_archive.yml
Due: gen-client

fix(registry): correct GitLab actions requiredness and scope serialization
  docs/tools/gitlab.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/cicd/list_pipeline_jobs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/code/create_commit.yml
Due: gen-client

fix(registry): use vendor parameter names and correct array types
  docs/tools/gitlab.mdx
  docs/tools/rippling.mdx
  docs/tools/socket.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/merge_requests/list_merge_requests.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rippling/access/update_supergroup_exclusion_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/rippling/access/update_supergroup_inclusion_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/socket/packages/fetch_packages_by_purl.yml
Due: gen-client

docs(registry): restructure the thin-wrapper contract in AGENTS.md
  packages/tracecat-registry/AGENTS.md
Due: gen-client

fix(registry): accept integer GitLab user IDs
  docs/tools/gitlab.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/merge_requests/list_merge_requests.yml
Due: gen-client

fix(registry): repair bracketed pagination inputs and numeric ID filters
  docs/tools/github.mdx
  docs/tools/gitlab.mdx
  docs/tools/terraform.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/github/issues/list_repository_issues.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/issues/create_issue_link.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_workspaces.yml
Due: gen-client

fix(registry): resolve bracketed template inputs
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_workspaces.yml
  tests/unit/test_expressions.py
  tracecat/expressions/validator/validator.py
Due: gen-client, basedpyright

fix(registry): repair bracketed pagination inputs and numeric ID filters (#3291)
  docs/tools/github.mdx
  docs/tools/gitlab.mdx
  docs/tools/terraform.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/github/issues/list_repository_issues.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gitlab/issues/create_issue_link.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_runs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_workspaces.yml
Due: gen-client

feat(agents): agent otel ui
  frontend/src/app/organization/settings/agent-otel/layout.tsx
  frontend/src/app/organization/settings/agent-otel/page.tsx
  frontend/src/components/editor/codemirror/code-editor.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/agent-otel.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

nit: ui changes raw/advanced view
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(ui): address agent OTel review feedback
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(ui): bound numeric inputs to safe finite values
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(agent): validate and guard OTel settings updates
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/components/ui/toggle-tabs.tsx
  frontend/src/hooks/use-org-agent-otel-settings.ts
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(ui): correct OTel header replace copy and prototype-key duplicates
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(ui): lock agent OTel form during saves
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/hooks/use-org-agent-otel-settings.ts
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(ui): harden agent OTel settings form
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/hooks/use-org-agent-otel-settings.ts
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

fix(cases): address version API review feedback
  tests/integration/test_case_versions.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tests/unit/test_route_scope_guards.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/cases/versions/router.py
  tracecat/cases/versions/service.py
Due: gen-client, basedpyright

feat(agent): add configurable timeout columns
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
Due: basedpyright

fix(agent): add missing timeout fields to database models
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
  tracecat/db/models.py
Due: gen-client, basedpyright

feat(agent): add configurable execution timeouts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/lib/agent-presets.ts
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/fields.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_types.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_config.py
  tests/unit/test_dsl_converter.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_registry.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/constants.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/config.py
  tracecat/dsl/workflow.py
  tracecat/mcp/server.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): preserve inherited timeout defaults
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/agent-presets.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_types.py
  tests/unit/test_config.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/types.py
  tracecat/config.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agent): drive agent timeouts from the generic action timeout
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/agent-presets.ts
  frontend/tests/agent-presets-builder.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/fields.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_types.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_dsl_converter.py
  tests/unit/test_mcp_server.py
  tests/unit/test_registry.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/schemas.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/dsl/enums.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/mcp/server.py
  tracecat/workflow/management/management.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): inherit deployment timeout for new presets
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
  frontend/src/client/schemas.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/lib/agent-presets.ts
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_mcp_server.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): preserve inherited timeouts in preset updates
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/lib/agent-presets.ts
  frontend/tests/agent-presets-builder.test.tsx
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflows): preserve omitted action timeouts on create
  tests/unit/test_agent_action_timeout.py
  tracecat/workflow/actions/service.py
Due: gen-client, basedpyright

fix(agents): enforce configurable timeout contract
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/action-timeout.ts
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_action_timeout.py
  tracecat/agent/executor/activity.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/workflow/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): enforce strict timeout bounds on external writes
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/conftest.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/api/test_api_workflows.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/constants.py
  tracecat/dsl/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/management/draft.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workspace_sync/workflow.py
Due: gen-client, basedpyright

nit: make explicit the agent timeout semantics
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/conftest.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/constants.py
  tracecat/agent/executor/activity.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/types.py
  tracecat/dsl/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): clamp agent timeouts to deployment bounds
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/action-timeout.ts
  tests/unit/api/test_api_workflows.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_types.py
  tests/unit/test_config.py
  tracecat/agent/common/config.py
  tracecat/agent/constants.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/schemas.py
  tracecat/agent/types.py
  tracecat/config.py
  tracecat/dsl/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/actions/router.py
  tracecat/workflow/actions/service.py
  tracecat/workflow/management/draft.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workspace_sync/workflow.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): sandbox timeout knob is the clamp ceiling
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/lib/action-timeout.ts
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_action_timeout.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_types.py
  tests/unit/test_config.py
  tracecat/agent/common/config.py
  tracecat/agent/constants.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/schemas.py
  tracecat/agent/types.py
  tracecat/config.py
  tracecat/dsl/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): reject out-of-bounds agent timeouts on the builder routes
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_agent_action_timeout.py
  tracecat/workflow/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): remove hardcoded agent timeout default
  frontend/src/components/builder/panel/action-panel-tooltips.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/lib/action-timeout.ts
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
