Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(agents): keep legacy thinking choices across rollout boundaries
  alembic/versions/73832e0810da_add_reasoning_effort_to_agent_presets.py
  docs/agents/ai-agent.mdx
  packages/tracecat-registry/tracecat_registry/core/presets.py
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/migration/test_agent_preset_reasoning_effort_migration.py
  tests/registry/test_agents_sdk.py
  tests/registry/test_preset_actions_reasoning_effort.py
  tests/unit/test_agent_gateway_reasoning_effort.py
  tests/unit/test_agent_legacy_reasoning_payloads.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/common/types.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): parse legacy enable_thinking like the bool field did
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_reasoning_effort_payload_compat.py
  tracecat/agent/common/types.py
Due: gen-client, basedpyright

fix(agents): migrate legacy thinking in constructors and under lock
  tests/unit/test_agent_legacy_reasoning_payloads.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_reasoning_effort_payload_compat.py
  tracecat/agent/common/types.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): keep enable_thinking on the SDK's create_preset
  packages/tracecat-registry/tracecat_registry/sdk/agents.py
  tests/registry/test_agents_sdk.py
Due: gen-client, basedpyright

test(agents): describe the stale preset the lock test simulates
  tests/unit/test_agent_preset_service.py
Due: basedpyright

fix(agents): mark preset actions' enable_thinking as deprecated
  packages/tracecat-registry/tracecat_registry/core/presets.py
Due: gen-client, basedpyright

test(agents): send the legacy flag in the old-app preset save
  tests/migration/test_agent_preset_reasoning_effort_migration.py
Due: basedpyright

test(agents): cover medium and high reasoning effort mapping
  tests/unit/test_agent_runtime.py
Due: basedpyright

fix(agents): chain reasoning effort migration after default agents
  alembic/versions/73832e0810da_add_reasoning_effort_to_agent_presets.py
Due: basedpyright

fix(agents): export enable_thinking in preset specs for older servers
  tests/unit/test_workspace_sync_agent_preset_spec_compat.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

test(ui): round-trip a configured reasoning level in preset documents
  frontend/tests/agent-preset-document.test.ts
Due: biome-check, typecheck-frontend

fix(agents): keep enable_thinking in preset responses for old bundles
  tests/unit/test_agent_preset_schemas.py
  tracecat/agent/preset/schemas.py
Due: gen-client, basedpyright

docs(agents): document reasoning_effort for MCP preset creation
  docs/snippets/mcp-tools.mdx
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs(agents): generate reasoning level docs from the source
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  scripts/generate_ai_docs.py
Due: gen-client, basedpyright

fix(ui): label the empty reasoning level as the default
  frontend/src/components/agents/agent-presets-builder.tsx
Due: biome-check, typecheck-frontend

fix(agents): chain reasoning effort migration after skill library installs
  alembic/versions/73832e0810da_add_reasoning_effort_to_agent_presets.py
Due: basedpyright

fix(agents): keep enable_thinking in preset version responses
  tests/unit/test_agent_preset_schemas.py
  tracecat/agent/preset/schemas.py
Due: gen-client, basedpyright

test(agents): scope the migration test's function check to its schema
  tests/migration/test_agent_preset_reasoning_effort_migration.py
Due: basedpyright

docs(mcp): say how update_agent_preset's reasoning options combine
  docs/snippets/mcp-tools.mdx
  tracecat/mcp/server.py
Due: gen-client, basedpyright

security(agents): canonicalize deferred MCP tool names
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_tokens.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(ui): keep off presets off when an older API pod served them
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/lib/agent-preset-document.ts
  frontend/src/lib/agent-presets.ts
  frontend/tests/agent-preset-document.test.ts
  frontend/tests/agent-preset-panels.test.tsx
  frontend/tests/agent-presets-builder.test.tsx
Due: biome-check, typecheck-frontend

security(agents): canonicalize dotted user MCP deferred names
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_tokens.py
  tracecat/agent/mcp/utils.py
Due: gen-client, basedpyright

security(agents): reject ambiguous deferred MCP names early
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_tokens.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(api): publish reviewed GitHub refs with an atomic guard
  frontend/src/components/organization/org-vcs-gitlab.tsx
  tests/support/fake_vcs.py
  tests/unit/test_bitbucket_guarded_push.py
  tests/unit/test_bitbucket_vcs.py
  tests/unit/test_fake_vcs.py
  tests/unit/test_git_plumbing.py
  tests/unit/test_workspace_sync_service.py
  tracecat/git/plumbing.py
  tracecat/vcs/bitbucket/git.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): disambiguate GitLab branch snapshots
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(api): classify late GitHub branch races
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(api): guard workspace Git writes against branch races
  docs/manage-platform/git-sync.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-vcs-gitlab.tsx
  tests/support/fake_vcs.py
  tests/unit/test_bitbucket_guarded_push.py
  tests/unit/test_fake_vcs.py
  tests/unit/test_git_plumbing.py
  tests/unit/test_gitlab_vcs.py
  tracecat/git/plumbing.py
  tracecat/vcs/bitbucket/git.py
  tracecat/vcs/bitbucket/types.py
  tracecat/vcs/github/app.py
  tracecat/vcs/gitlab/schemas.py
  tracecat/vcs/gitlab/types.py
  tracecat/vcs/schemas.py
  tracecat/workspace_sync/transport.py
  tracecat/workspace_sync/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): distinguish missing Git refs from access errors
  tests/support/fake_vcs.py
  tests/unit/test_fake_vcs.py
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(api): verify GitLab repository access before branch absence
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(api): stop sync previews on snapshot parse errors
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

test(api): include secret store requirements in prepared snapshots
  tests/unit/test_workspace_sync_service.py
Due: basedpyright

fix(api): roll back failed sync import preparation
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

refactor(api): separate Git sync preparation from import commits
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workspace_sync_service.py
  tracecat/cases/durations/reconciliation.py
  tracecat/cases/durations/sync_queue.py
  tracecat/workflow/schedules/reconciliation.py
  tracecat/workflow/schedules/service.py
  tracecat/workflow/store/import_service.py
  tracecat/workspace_sync/schemas.py
  tracecat/workspace_sync/service.py
  tracecat/workspace_sync/types.py
Due: gen-client, basedpyright

refactor(api): postpone schedule reconciliation annotations
  tests/unit/test_workspace_sync_service.py
  tracecat/workflow/schedules/reconciliation.py
Due: gen-client, basedpyright

feat(engine): execute Git sync with durable background receipts
  alembic/versions/002febfa86c3_add_durable_workspace_sync_operations.py
  tests/integration/test_workspace_sync_worker.py
  tests/unit/test_background_sandbox.py
  tests/unit/test_durable_case_duration_backfill.py
  tests/unit/test_durable_sync_regressions.py
  tests/unit/test_durable_workspace_sync.py
  tests/unit/test_sync_preview_transactions.py
  tracecat/background/__init__.py
  tracecat/background/sandbox.py
  tracecat/background/worker.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/workspace_sync/operations/activities.py
  tracecat/workspace_sync/operations/auth.py
  tracecat/workspace_sync/operations/dispatch.py
  tracecat/workspace_sync/operations/reconciliation.py
  tracecat/workspace_sync/operations/service.py
  tracecat/workspace_sync/operations/workflows.py
Due: gen-client, basedpyright

fix(api): reject secret store drift after Git sync previews
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/operations/domain.py
  tracecat/workspace_sync/operations/schemas.py
Due: gen-client, basedpyright

feat(api): preserve reviewed Git sync snapshots and stale guards
  tests/unit/test_durable_sync_regressions.py
  tests/unit/test_durable_workspace_sync.py
  tracecat/db/engine.py
  tracecat/db/locks.py
  tracecat/workspace_sync/operations/__init__.py
  tracecat/workspace_sync/operations/domain.py
  tracecat/workspace_sync/operations/schemas.py
  tracecat/workspace_sync/operations/storage.py
  tracecat/workspace_sync/operations/types.py
Due: gen-client, basedpyright

fix(api): preserve secret store selections in durable Git sync
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/operations/domain.py
Due: gen-client, basedpyright

fix(auth): authorize every Git sync deletion root
  tests/unit/test_sync_connection_lock.py
  tests/unit/test_sync_deletion_scopes.py
  tracecat/db/engine.py
  tracecat/workspace_sync/operations/domain.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(api): scope repository guards and distinguish Git ref kinds
  tests/unit/test_sync_repository_fingerprint.py
  tracecat/workspace_sync/operations/domain.py
Due: gen-client, basedpyright
