Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

test(agent): cover proxy hook metadata injection
  tests/unit/test_agent_mcp_proxy_server.py
Due: basedpyright

fix(agent): use mcp role for approved tools
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tracecat/agent/mcp/executor.py
Due: gen-client, basedpyright

fix(infra): wire executor queue to agent executor compose
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(mcp): merge required OIDC scopes into client registration and authorization
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

chore(agents): migrate mcp udfs to new agent runtime
  tests/unit/test_agent_internal_router.py
  tracecat/agent/internal_router.py
Due: gen-client, basedpyright

fix(secrets): correct create/update scope decorators
  tracecat/secrets/service.py
Due: gen-client, basedpyright

ci(helm): add workflow_dispatch trigger with optional ref input
  .github/workflows/publish-helm-chart.yml
Due: none

Notes added by 'git notes add'
  13/480d0ef7a54d24c2a36483048cb7cfb131c6a4
Due: none

fix(workflows): allow optional ref input to set chart version in Helm publish workflow
  .github/workflows/publish-helm-chart.yml
Due: none

Notes added by 'git notes add'
  6d/84f2a5ee77dd6f7f9efde22698f1a6e6d41f3f
Due: none

fix(workflows): pass explicit version to helm package in publish workflow
  .github/workflows/publish-helm-chart.yml
Due: none

Notes added by 'git notes add'
  3a/5aafd7cb6cdf80b92fa85b7b1f27d12c9572ff
Due: none

fix(workflows): append ref as semver prerelease suffix in Helm publish
  .github/workflows/publish-helm-chart.yml
Due: none

Notes added by 'git notes add'
  95/03059cef99efeb640cdf437624b7a0f092b33d
Due: none

Update description of Tracecat platform
  README.md
Due: none

fix(mcp): bump row spacing between workflow nodes (#2390)
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(secrets): correct create/update scope decorators (#2393)
  tracecat/secrets/service.py
Due: gen-client, basedpyright

fix: Handle registry sync validation errors and surface API error details in UI (#2389)
  frontend/src/components/admin/admin-org-registry-table.tsx
  frontend/src/components/admin/platform-registry-repos-table.tsx
  frontend/src/lib/errors.test.ts
  frontend/src/lib/errors.ts
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/unit/api/test_api_admin_tiers.py
  tests/unit/test_registry_sync_base_service.py
  tests/unit/test_registry_sync_runner.py
  tests/unit/test_registry_sync_workflow.py
  tracecat/registry/sync/base_service.py
  tracecat/registry/sync/platform_service.py
  tracecat/registry/sync/runner.py
  tracecat/registry/sync/service.py
  tracecat/registry/sync/workflow.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

release: 1.0.0-beta.35
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.dev.yml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  ce/483e27a33e1600c52a03e9387a052ff85abc65
Due: none

chore: format
  tests/unit/test_registry_core_ssh.py
Due: basedpyright

Notes added by 'git notes add'
  92/471db330797df4b332c553e50807e10d725669
Due: none

docs: Revise prompt-to-automations description in README
  README.md
Due: none

fix(agent): unify preset execution limits
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  tests/unit/test_agent_schema_limits.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  10/becde9be1c5c0164e4a0529ca420d660d438cd
Due: none

fix(mcp): merge required OIDC scopes into client registration and aut… (#2391)
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

feat(cases): extend case triggers
  alembic/versions/164307b74e90_add_case_trigger_event_filters.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/cases/case-duration-dialog.tsx
  frontend/src/components/cases/case-duration-options.ts
  frontend/src/components/cases/multiselect-case-filters.tsx
  tests/unit/test_case_tags_service.py
  tests/unit/test_case_trigger_consumer.py
  tests/unit/test_case_triggers.py
  tests/unit/test_export.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workflow_store_service.py
  tracecat/cases/triggers/consumer.py
  tracecat/db/models.py
  tracecat/mcp/server.py
  tracecat/workflow/case_triggers/schemas.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/import_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(fargate): Add MCP service deployment (#2331)
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/ecs-caddy.tf
  deployments/fargate/modules/ecs/ecs-mcp.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/security_groups.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

chore: consume k8s chart releases from submodule
  .github/workflows/publish-helm-chart.yml
  README.md
  deployments/helm/tracecat/templates/agent-worker-deployment.yaml
  deployments/helm/tracecat/templates/agent-worker-metrics-service.yaml
  scripts/update-version.sh
Due: none

Notes added by 'git notes add'
  34/9f1cbb7bb753a65d575dd54842ea049af43fa2
Due: none

fix(frontend): wrap long sync repository URLs
  frontend/src/components/registry/dialogs/repository-sync-dialog.tsx
Due: biome-check, typecheck-frontend

chore: trigger k8s version bump after releases
  .github/workflows/publish-release.yml
Due: none

Notes added by 'git notes add'
  4a/b4b83dccb44f15bb514e7a6212b16704303a5f
Due: none

perf(agent): skip Claude SDK version check on hot path
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  90/4c8d75985cb7fc0cc5d1ffb3af14378f8ec13c
Due: none

perf(agent): skip Claude SDK version check on hot path (#2399)
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
