Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(invitations): workspace-level privilege (#2137)
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
Due: biome-check, typecheck-frontend

docs(claude): expand infra review checklist for eks modules
  CLAUDE.md
  deployments/fargate/modules/ecs/locals.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/migrations-job.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(organization): add temporal schedule sync management
  docker-compose.dev.yml
  frontend/src/app/organization/settings/schedules/layout.tsx
  frontend/src/app/organization/settings/schedules/page.tsx
  frontend/src/client/services.custom.ts
  frontend/src/components/organization/org-settings-schedules.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/hooks/use-org-schedule-sync.ts
  tests/unit/api/test_api_organization_schedule_sync.py
  tests/unit/test_organization_schedule_sync_service.py
  tracecat/organization/router.py
  tracecat/organization/schedule_sync_service.py
  tracecat/organization/schemas.py
  tracecat/workflow/schedules/bridge.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  69fb719a3a7de16434b122136f5de0c841d11cd4
Due: none

Notes added by 'git notes add'
  763d20ee0f6b6ab3847514daad7cd4d9ef39b920
Due: none

style(organization): format schedule sync service for ruff
  tracecat/organization/schedule_sync_service.py
Due: gen-client, basedpyright

infra: Add TRACECAT__FEATURE_FLAGS to migrations (#2139)
  CLAUDE.md
  deployments/fargate/modules/ecs/locals.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/migrations-job.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(docker): update temporal UI port for multi-cluster support
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  33aed52c1a800a44841d56423de7f1d84cf81c66
Due: none

feat: migrate paywalled flags to entitlements
  alembic/versions/6b1d2e4f8c01_add_paywalled_entitlements.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/registry/conftest.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_validation.py
  tracecat/agent/internal_router.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/feature_flags/enums.py
  tracecat/organization/router.py
  tracecat/tiers/defaults.py
  tracecat/tiers/entitlements.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
  tracecat/validation/service.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright

feat: gate registry UDFs by entitlements
  alembic/versions/a91c2b7d4e3f_add_required_entitlements_to_registry_actions.py
  packages/tracecat-registry/tracecat_registry/_internal/registry.py
  packages/tracecat-registry/tracecat_registry/config.py
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/ee/__init__.py
  packages/tracecat-registry/tracecat_registry/core/ee/durations.py
  packages/tracecat-registry/tracecat_registry/core/ee/tasks.py
  tests/unit/test_registry.py
  tracecat/registry/actions/bound.py
  tracecat/registry/actions/schemas.py
  tracecat/registry/actions/service.py
  tracecat/registry/repository.py
Due: gen-client, basedpyright

feat: gate frontend UI with entitlements
  frontend/src/app/organization/vcs/page.tsx
  frontend/src/app/workspaces/[workspaceId]/agents/[presetId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/agents/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/cases/add-case-dropdown.tsx
  frontend/src/components/cases/add-case-duration.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/dropdowns-view.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/organization/org-workspace-settings.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/use-entitlements.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(alembic): reparent entitlements migration onto case triggers
  alembic/versions/6b1d2e4f8c01_add_paywalled_entitlements.py
Due: basedpyright

test(registry): add executor auth to case UDF tests
  tests/registry/test_cases_characterization.py
Due: basedpyright

fix: read tier defaults at runtime
  tracecat/tiers/service.py
Due: gen-client, basedpyright

fix: resolve missing imports and migrate remaining feature flag to entitlements
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/nav/controls-header.tsx
Due: biome-check, typecheck-frontend

fix: remove extra blank line in app.py for ruff format
  tracecat/api/app.py
Due: gen-client, basedpyright

fix(alembic): reparent entitlements migration onto RBAC chain head
  alembic/versions/6b1d2e4f8c01_add_paywalled_entitlements.py
Due: basedpyright

fix(registry): preserve required entitlements in update payload
  tracecat/registry/actions/schemas.py
Due: gen-client, basedpyright

style(tests): move tier defaults import to module scope
  tests/unit/test_validation.py
Due: basedpyright

style(tests): hoist tier defaults import in durable agent tests
  tests/temporal/test_durable_agent_workflow.py
Due: basedpyright

test(tiers): add tier entitlement resolution coverage
  tests/unit/test_tier_entitlements.py
Due: basedpyright

refactor(entitlements): enforce feature gates in service layer
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/service.py
  tracecat/api/app.py
  tracecat/cases/dropdowns/router.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/durations/service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/service.py
  tracecat/tiers/access.py
  tracecat/tiers/entitlements.py
  tracecat/tiers/enums.py
  tracecat/vcs/github/app.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright

refactor(entitlements): consolidate agent and case addons
  alembic/versions/6b1d2e4f8c01_add_paywalled_entitlements.py
  alembic/versions/a91c2b7d4e3f_add_required_entitlements_to_registry_actions.py
  frontend/src/app/workspaces/[workspaceId]/agents/[presetId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/agents/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/cases/add-case-dropdown.tsx
  frontend/src/components/cases/add-case-duration.tsx
  frontend/src/components/cases/case-durations-view.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/dropdowns-view.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/ee/durations.py
  packages/tracecat-registry/tracecat_registry/core/ee/tasks.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_registry.py
  tests/unit/test_tier_entitlements.py
  tests/unit/test_validation.py
  tracecat/agent/internal_router.py
  tracecat/agent/preset/service.py
  tracecat/agent/session/service.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/service.py
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
  tracecat/validation/service.py
  tracecat/workflow/case_triggers/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(alembic): simplify entitlement metadata updates
  alembic/versions/a91c2b7d4e3f_add_required_entitlements_to_registry_actions.py
Due: basedpyright

fix(entitlements): resolve org checks via default tier
  tests/unit/test_tier_entitlements.py
  tracecat/tiers/access.py
Due: gen-client, basedpyright

refactor(entitlements): remove unused FastAPI dependency helper
  tracecat/tiers/entitlements.py
Due: gen-client, basedpyright

refactor(tiers): centralize effective tier resolution
  tracecat/tiers/access.py
Due: gen-client, basedpyright

fix(vcs): remove org-role gate from workspace sync github methods
  tracecat/vcs/github/app.py
Due: gen-client, basedpyright

fix(tiers): use static defaults in single-tenant mode
  tests/unit/test_tier_entitlements.py
  tracecat/tiers/access.py
  tracecat/tiers/service.py
Due: gen-client, basedpyright

style(api): apply ruff formatting in app
  tracecat/api/app.py
Due: gen-client, basedpyright

fix(cases): gate dropdown values by case addons entitlement
  tests/unit/api/test_api_cases.py
  tracecat/cases/dropdowns/router.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

refactor(tiers): remove sso from entitlements
  alembic/versions/a1b2c3d4e5f7_add_tier_and_organization_tier_tables.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): consolidate agent output
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Fix audit dialogs and payload
  frontend/src/app/organization/settings/audit/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-encrypted-setting-reset-dialog.tsx
  frontend/src/components/admin/admin-organizations-table.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/components/organization/org-settings-sso.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/styles/globals.scss
  packages/tracecat-admin/tracecat_admin/client.py
  packages/tracecat-admin/tracecat_admin/commands/orgs.py
  packages/tracecat-admin/tracecat_admin/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_settings_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_organization_settings.py
  tracecat/audit/service.py
  tracecat/settings/constants.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): add legacy output field aliases for AgentExecutorResult replay compatibility
  tests/unit/test_agent_executor_result.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(ui): update dialog styles and payload config
  frontend/.gitignore
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toast.tsx
Due: biome-check, typecheck-frontend

fix(builder): align shortcut badges with shared formatter
  frontend/src/components/builder/builder.tsx
Due: biome-check, typecheck-frontend

docs(claude): add guidance for Kbd shortcut rendering
  CLAUDE.md
Due: none

fix(builder): align shortcut badges with shared formatter (#2144)
  CLAUDE.md
  frontend/src/components/builder/builder.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
