Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(tests): delete resolved tarballs in missing-tarball e2e test
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

fix(workflow): auto-heal legacy schedule roles missing organization_id (#2047)
  tests/temporal/test_workflows.py
  tests/unit/test_schedule_role_healing.py
  tracecat/dsl/workflow.py
  tracecat/workflow/schedules/service.py
Due: gen-client, basedpyright

refactor(rbac): drop test singular scope seed
  tests/unit/test_authz_seeding.py
  tracecat/authz/seeding.py
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

feat(rbac): add RBAC service and API routers
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_rbac_service.py
  tracecat/api/app.py
  tracecat/audit/types.py
  tracecat/auth/credentials.py
  tracecat/auth/dependencies.py
  tracecat/authz/rbac/__init__.py
  tracecat/authz/rbac/router.py
  tracecat/authz/rbac/schemas.py
  tracecat/authz/rbac/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac): update router to use PRESET_ROLE_SCOPES
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright

chore(rbac): merge resolution
  tracecat/auth/credentials.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright

feat(rbac): ee
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/__init__.py
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/schemas.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/api/app.py
  tracecat/auth/credentials.py
  tracecat/authz/rbac/__init__.py
  tracecat/authz/rbac/router.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac): drop usage of old membership roles in rbac api
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/auth/credentials.py
  tracecat/authz/rbac/router.py
  tracecat/db/models.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): add @require_scope decorators to all API endpoints
  tests/unit/api/conftest.py
  tests/unit/test_rbac_scopes.py
  tracecat/agent/router.py
  tracecat/authz/controls.py
  tracecat/authz/scopes.py
  tracecat/cases/attachments/router.py
  tracecat/cases/router.py
  tracecat/executor/activities.py
  tracecat/executor/service.py
  tracecat/integrations/router.py
  tracecat/organization/router.py
  tracecat/registry/actions/router.py
  tracecat/secrets/router.py
  tracecat/settings/router.py
  tracecat/tables/router.py
  tracecat/tags/router.py
  tracecat/variables/router.py
  tracecat/vcs/router.py
  tracecat/workflow/actions/router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/management/folders/router.py
  tracecat/workflow/management/router.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/tags/router.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright

refactor(rbac): drop ctx_scopes usage
  tests/unit/test_rbac_scopes.py
  tracecat/authz/controls.py
  tracecat/executor/activities.py
Due: gen-client, basedpyright

feat(rbac): add rbac frontend
  frontend/src/app/organization/layout.tsx
  frontend/src/app/organization/settings/rbac/layout.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/auth/scope-guard.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-roles.tsx
  frontend/src/components/organization/org-rbac-scopes.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/scopes.tsx
Due: biome-check, typecheck-frontend

feat(rbac): overhaul access control ui
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/organization/members/page.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/error.tsx
  frontend/src/components/organization/org-invitations-table.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-scopes.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/organization/rbac-list-item.tsx
  frontend/src/components/rbac/role-form-dialog.tsx
  frontend/src/components/rbac/scope-category-row.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/rbac.ts
  frontend/src/providers/scopes.tsx
  frontend/src/providers/workspace-id.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  plans/rbac-implementation.md
  tests/unit/api/conftest.py
  tracecat/authz/rbac/router.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): ui consistency
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/components/members/members-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/rbac/create-group-button.tsx
  frontend/src/components/rbac/create-role-button.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
Due: biome-check, typecheck-frontend

feat(rbac): tenant isolation and scope boundary tests
  tests/unit/api/conftest.py
  tests/unit/test_rbac_custom_roles.py
  tests/unit/test_rbac_groups.py
  tests/unit/test_rbac_privilege_escalation.py
  tests/unit/test_rbac_scope_boundaries.py
  tests/unit/test_rbac_service.py
  tests/unit/test_rbac_tenant_isolation.py
Due: basedpyright

fix(agent): resolve preset config in internal router
  tracecat/agent/internal_router.py
Due: gen-client, basedpyright

fix(agent): credential resolve for pydantic runtime (#2053)
  tracecat/agent/internal_router.py
Due: gen-client, basedpyright

fix(tests): sync platform registry before tarball URI assertion
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

fix: stabilize missing-tarball integration e2e test (#2055)
  tests/integration/test_syncv2_execv2_e2e.py
Due: basedpyright

fix(frontend): hide superuser column in organization members table
  frontend/src/components/organization/org-members-table.tsx
Due: biome-check, typecheck-frontend

fix(api): remove superuser from organization member responses
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_organization_members.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(tests): override org role dependencies in org member API tests
  tests/unit/api/test_api_organization_members.py
Due: basedpyright

fix: hide superuser column in organization members table (#2059)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.tsx
  tests/unit/api/test_api_organization_members.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(auth): infer nullable for organization domain columns
  tracecat/db/models.py
Due: gen-client, basedpyright

feat(auth): add organization domain model foundation
  alembic/versions/103eb05cde37_add_organization_domains_table.py
  tests/unit/test_organization_domains.py
  tracecat/db/models.py
  tracecat/organization/domains.py
Due: gen-client, basedpyright

feat(admin): add superuser organization domain assignment APIs
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_domains_service.py
  tracecat/audit/types.py
Due: gen-client, basedpyright

chore(frontend): regenerate API client for org domains
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

fix(admin): return 404 for missing org on domain create
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/test_api_admin_organizations.py
Due: gen-client, basedpyright

refactor(admin-org): use explicit organization existence guard
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
Due: gen-client, basedpyright

feat(admin): add organization domain management UI
  frontend/src/components/admin/admin-org-domains-dialog.tsx
  frontend/src/components/admin/admin-organizations-table.tsx
  frontend/src/hooks/use-admin.ts
Due: biome-check, typecheck-frontend

feat(auth): add organization domain model foundation (#2048)
  alembic/versions/103eb05cde37_add_organization_domains_table.py
  tests/unit/test_organization_domains.py
  tracecat/db/models.py
  tracecat/organization/domains.py
Due: gen-client, basedpyright

feat(admin): add superuser organization domain assignment APIs (#2049)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_domains_service.py
  tracecat/audit/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(admin): add organization domain management UI (#2050)
  frontend/src/components/admin/admin-org-domains-dialog.tsx
  frontend/src/components/admin/admin-organizations-table.tsx
  frontend/src/hooks/use-admin.ts
Due: biome-check, typecheck-frontend

feat(auth): add pre-auth discovery endpoint
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_auth_discovery.py
  tests/unit/test_auth_discovery_service.py
  tracecat/api/app.py
  tracecat/auth/discovery.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(auth): skip inactive organizations during domain discovery
  tests/unit/test_auth_discovery_service.py
  tracecat/auth/discovery.py
Due: gen-client, basedpyright

feat(auth): add pre-auth discovery endpoint (#2051)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_auth_discovery.py
  tests/unit/test_auth_discovery_service.py
  tracecat/api/app.py
  tracecat/auth/discovery.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
