Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(sync): include GitLab default branch in lists
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

feat(workflows): add workspace agent catalog context to authoring context
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/unit/test_authoring_context.py
  tracecat/agent/authoring_context.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright

feat(chat): add webhook and case_trigger tools
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/unit/test_chat_tools.py
  tests/unit/test_workflow_management.py
  tracecat/chat/tools.py
  tracecat/workflow/management/draft.py
Due: gen-client, basedpyright

feat(chat): workflow publish tool
  frontend/src/client/services.gen.ts
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_workflow_sdk.py
  tests/unit/api/test_api_workflows.py
  tests/unit/test_chat_tools.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_management.py
  tracecat/chat/tools.py
  tracecat/mcp/server.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/management/draft.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(chat): workflow draft authoring tools and MCP refactor
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_workflow_sdk.py
  tests/unit/test_artifacts.py
  tests/unit/test_authoring_context.py
  tests/unit/test_chat_tools.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_schedules_service.py
  tracecat/agent/authoring_context.py
  tracecat/artifacts/bindings.py
  tracecat/authz/controls.py
  tracecat/chat/tools.py
  tracecat/executor/worker.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/management/draft.py
  tracecat/workflow/schedules/service.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright

fix(db): linearize agent preset archive migration
  alembic/versions/32b7a1f4d9c2_add_agent_preset_archive_timestamp.py
Due: basedpyright

fix(sync): preserve case field mappings across providers
  tests/unit/test_case_fields_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

test(sync): forward mapping provider assertions
  tests/unit/test_workspace_sync_acceptance_contract.py
Due: basedpyright

fix(sync): skip GitLab branch scan for explicit base
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(vcs): preserve GitLab entitlement errors
  tests/unit/test_vcs_router.py
  tracecat/vcs/router.py
Due: gen-client, basedpyright

feat(chat): workflow run tool
  docs/snippets/mcp-tools.mdx
  frontend/src/components/chat/chat-tools-picker.test.tsx
  frontend/src/components/chat/chat-tools-picker.tsx
  packages/tracecat-registry/tracecat_registry/core/workflow.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/workflows.py
  tests/unit/test_chat_tools.py
  tests/unit/test_workflow_management.py
  tracecat/agent/authoring_context.py
  tracecat/chat/tools.py
  tracecat/mcp/server.py
  tracecat/workflow/executions/internal_router.py
  tracecat/workflow/management/management.py
  tracecat/workspaces/prompts.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: skip Sentry for handled route API errors
  frontend/src/app/error.test.tsx
  frontend/src/app/error.tsx
Due: biome-check, typecheck-frontend

fix(sync): key workflow publish branches by provider
  frontend/src/components/nav/builder-nav.tsx
  frontend/tests/use-workspace-sync.test.tsx
Due: biome-check, typecheck-frontend

fix(sync): track GitLab blob paths for pruning
  tests/support/fake_vcs.py
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

feat(agents): chat interrupts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/hooks/use-chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/chat/constants.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): archive deleted presets safely
  alembic/versions/32b7a1f4d9c2_add_agent_preset_archive_timestamp.py
  tests/unit/test_agent_channel_management_router.py
  tests/unit/test_agent_channel_service.py
  tests/unit/test_agent_folders_service.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tracecat/agent/channels/management_router.py
  tracecat/agent/channels/router.py
  tracecat/agent/channels/service.py
  tracecat/agent/folders/service.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/service.py
  tracecat/agent/tags/service.py
  tracecat/db/models.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

fix(sync): fetch GitLab default base directly
  tests/unit/test_gitlab_vcs.py
  tracecat/vcs/gitlab/types.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(sync): handle archived agent presets
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

feat(cases): render mermaid diagrams
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
Due: biome-check, typecheck-frontend

feat(agents): batch agent approvals
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/chat-transform.test.ts
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_approvals_manager.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: allow blob attachment fetches in CSP
  frontend/src/lib/content-security-policy.test.ts
  frontend/src/lib/content-security-policy.ts
Due: biome-check, typecheck-frontend

fix(sync): allow GitLab SSH host aliases
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(workspace-sync): skip archived agent presets
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
Due: gen-client, basedpyright

fix: allow all Fargate blob origins in CSP
  deployments/fargate/modules/ecs/locals.tf
  frontend/src/lib/content-security-policy.test.ts
  frontend/src/lib/content-security-policy.ts
Due: biome-check, typecheck-frontend

fix(agent): reject archived latest skills
  tests/unit/test_agent_preset_service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agent): reject archived preset versions
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agent): sanitize Slack OAuth redirects
  tests/unit/test_agent_channel_management_router.py
  tracecat/agent/channels/router.py
Due: gen-client, basedpyright

fix(cases): render Mermaid diagrams in case descriptions
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/tests/mermaid-code-block-node.test.ts
Due: biome-check, typecheck-frontend

fix(sync): validate GitLab workspace host against instance
  tests/unit/test_gitlab_vcs.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

perf(dsl): build loop regions in a single pass (#2928)
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(agents): harden turn-cancellation handling for chat sessions
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(auth): address membership reconcile review findings
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
Due: gen-client, basedpyright

feat(auth): sync rbac assignments with memberships
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(authz): correct group-derived membership handling under RLS
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/db/locks.py
  tracecat/db/rls.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit(ui): update email template
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/main.tf
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/components/members/bulk-invite-dialog.tsx
  frontend/src/hooks/use-invitations.ts
  frontend/src/lib/email-parse.test.ts
  tests/unit/test_bulk_invitations.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/saml.py
  tracecat/config.py
  tracecat/email/__init__.py
  tracecat/email/client.py
  tracecat/email/service.py
  tracecat/email/templates.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor: cancelled_turn_output helper for activity cancellation
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

fix(cases): simplify Mermaid diagram styling
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend

fix(cases): constrain Mermaid chart colors
  frontend/src/components/tiptap-node/mermaid-code-block-node/mermaid-code-block-node.tsx
Due: biome-check, typecheck-frontend

fix(workspace-sync): skip archived presets in subagent lookup
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright
