Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(auth): restore MCP compose defaults and guard mixed OIDC startup
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_oidc_config.py
  tracecat/auth/oidc.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Fix version sync for beta.35
  deployments/fargate/README.md
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  scripts/update-version.sh
Due: none

Fix version file discovery
  scripts/update-version.sh
Due: none

chore: Version sync for beta.35 (#2415)
  deployments/fargate/README.md
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  scripts/update-version.sh
Due: none

fix(mcp): Allow MCP OAuth loopback redirect URIs through WAF
  deployments/fargate/modules/ecs/alb.tf
Due: none

Notes added by 'git notes add'
  98/7526aecbb17030e3a7a91b07d6db904804363e
Due: none

chore: format
  tests/unit/test_git.py
Due: basedpyright

Notes added by 'git notes add'
  fd/bb7d42a46e64eb908fbe9756eba4c0fc3eae59
Due: none

ci(lint): expand ruff CI targets to cover tests, packages, and alembic
  .github/workflows/lint-python.yml
Due: none

Notes added by 'git notes add'
  9a/4f93d029473978e8ebcdf65f282dbae35409fe
Due: none

fix(agent): preserve MCP tool IDs and approval replay encoding
  frontend/src/components/agents/agent-presets-builder.tsx
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Remove provider assume-role vars from Fargate
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/main.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/modules/network/main.tf
  deployments/fargate/modules/network/variables.tf
  deployments/fargate/variables.tf
Due: none

infra: Remove provider assume-role vars from Fargate (#2416)
  deployments/fargate/README.md
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/main.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/modules/network/main.tf
  deployments/fargate/modules/network/variables.tf
  deployments/fargate/variables.tf
Due: none

fix(tests): patch REDIS_URL in env_sandbox to counter litellm load_dotenv() poisoning
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/lib/chat-readiness.ts
  frontend/tests/chat-readiness.test.ts
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-registry/tracecat_registry/core/ai.py
  scripts/benchmark/litellm_sidecar_benchmark.py
  tests/conftest.py
  tests/registry/test_core_ai.py
  tests/unit/api/test_api_admin_agent.py
  tests/unit/api/test_api_agents.py
  tests/unit/test_admin_agent_service.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_git.py
  tests/unit/test_litellm_sidecar_benchmark.py
  tests/unit/test_mcp_auth.py
  tracecat/admin/agent/router.py
  tracecat/admin/agent/service.py
  tracecat/agent/builtin_catalog.py
  tracecat/agent/internal_router.py
  tracecat/agent/providers.py
  tracecat/agent/router.py
  tracecat/agent/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(mcp): minimal cleanup
  .env.example
  .pre-commit-config.yaml
  Caddyfile
  deployments/dex/config.docker.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  scripts/cluster
  scripts/dex-entrypoint.sh
  tests/unit/test_admin_users_service.py
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_auth_discovery_service.py
  tests/unit/test_dex_config_files.py
  tests/unit/test_dex_local_auth.py
  tests/unit/test_dex_mode.py
  tests/unit/test_git.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_oidc_config.py
  tracecat/auth/dex/mode.py
  tracecat/auth/dex/service.py
  tracecat/auth/oidc.py
  tracecat/auth/users.py
  tracecat/config.py
  tracecat/mcp/auth.py
  tracecat/mcp/consent_page.py
Due: gen-client, basedpyright

docs: add readability and code review guidelines to AGENTS.md
  AGENTS.md
Due: none

Notes added by 'git notes add'
  fa/373aabb29d1fae6b8d3f8d71295f0179d91ce0
Due: none

docs: add docstring guidelines for Python and TypeScript
  AGENTS.md
Due: none

Notes added by 'git notes add'
  b2/c2c0ddaeeed37fbcb2576ed19dccabb061e0a8
Due: none

feat(invitations): invitations v2
  alembic/versions/2e17d6f6f0d5_consolidate_invitation_tables.py
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/no-organization-access.tsx
  frontend/src/components/auth/sign-up.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/hooks/use-invitations.ts
  frontend/src/hooks/use-pending-org-invitations.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_invitation.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/invitations/enums.py
  tracecat/invitations/router.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(invitations): unified invitation auth, expiry, and accept races
  frontend/src/app/sign-up/[[...sign-up]]/page.tsx
  frontend/src/components/auth/sign-up.tsx
  frontend/src/hooks/use-pending-org-invitations.ts
  frontend/tests/auth-ui-matrix.test.tsx
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_service.py
  tests/unit/test_invitations_router.py
  tests/unit/test_rls_failure_repros.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/service.py
  tracecat/db/tenant_rls.py
  tracecat/invitations/router.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(invitations): drop redundant org/ws invitation services
  alembic/versions/2e17d6f6f0d5_consolidate_invitation_tables.py
  tests/migration/test_consolidate_invitation_tables_migration.py
  tests/unit/test_git.py
  tests/unit/test_invitation_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/users.py
  tracecat/invitations/router.py
  tracecat/invitations/service.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix: codex mcp (#2417)
  deployments/fargate/modules/ecs/alb.tf
Due: none

chore: Delete .cursor/worktrees.json
  .cursor/worktrees.json
Due: none

ci: add DepIntel dependency scanning for Python deps
  .github/workflows/depintel.yml
Due: none

ci: harden GitHub Actions workflows
  .github/workflows/build-push-images.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-python.yml
  pyproject.toml
  tests/registry/test_agent.py
  tests/unit/test_ai_ranker.py
Due: basedpyright

docs: codify GitHub Actions security rules
  .github/AGENTS.md
  AGENTS.md
Due: none

ci: harden GitHub Actions workflows (#2419)
  .github/AGENTS.md
  .github/workflows/build-push-images.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-python.yml
  AGENTS.md
  pyproject.toml
  tests/registry/test_agent.py
  tests/unit/test_ai_ranker.py
Due: basedpyright

feat(invitations): bulk invite
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/hooks/use-workspace.ts
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_auth_scope_resolution.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_service.py
  tests/unit/test_rls_failure_repros.py
  tracecat/auth/credentials.py
  tracecat/authz/service.py
  tracecat/invitations/router.py
  tracecat/invitations/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Update package metadata description in pyproject
  frontend/src/config/site.ts
  pyproject.toml
  tracecat/api/app.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix frontend security dependency pins
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

chore: Update product description (#2420)
  frontend/src/config/site.ts
  pyproject.toml
  tracecat/api/app.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  8e/512c3d369e7ad9f37fed05f86511c317929686
Due: none

build: frontend security dependency pins (#2421)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

pin pyasn1 and requests for security fix
  pyproject.toml
  uv.lock
Due: none

fix(temporal): fail immediately when workflow definition is missing
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e0/e14d77039beceb994ea2832503a64070b77a0f
Due: none

build: Pin pyasn1 and requests for security fix (#2422)
  pyproject.toml
  uv.lock
Due: none

test(temporal): update missing workflow definition expectation
  tests/temporal/test_workflows.py
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
