Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

test(frontend): mock rehype ESM plugins in Jest to fix parse error
  frontend/jest.config.cjs
  frontend/tests/mocks/rehype-katex.js
  frontend/tests/mocks/rehype-sanitize.js
Due: biome-check, typecheck-frontend

style(tests): conform rehype mocks to Biome formatting
  frontend/tests/mocks/rehype-katex.js
  frontend/tests/mocks/rehype-sanitize.js
Due: biome-check, typecheck-frontend

test(frontend): inline rehype plugin mocks in jest.setup to reduce changes
  frontend/jest.config.cjs
  frontend/jest.setup.js
  frontend/tests/mocks/rehype-katex.js
  frontend/tests/mocks/rehype-sanitize.js
Due: biome-check, typecheck-frontend

fix(frontend): sanitize AI chat markdown before rendering (#2229)
  frontend/jest.setup.js
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

refactor(frontend): rename markdown prefix constants
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

feat(search): unify case search aggregation across backend and UI
  alembic/versions/9f2d8c73b6a1_add_case_search_group_by_indexes.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/cases-accordion.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/components/tables/table-link-rows-to-case-command.tsx
  frontend/src/hooks/pagination/use-cases-pagination.tsx
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/config.py
  tracecat/search/__init__.py
  tracecat/search/schemas.py
  tracecat/tables/internal_router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(frontend): pin minimatch to 10.2.3
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

chore(frontend): pin minimatch to 10.2.3 (#2238)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

refactor(frontend): remove SAFE_ markdown prefix terminology (#2237)
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

feat(registry): align cases and tables search APIs with unified aggregation
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/tables.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_cases_sdk.py
  tests/registry/test_core_cases.py
  tests/registry/test_core_table.py
  tests/registry/test_tables_sdk.py
Due: gen-client, basedpyright

feat(frontend): sanitize streamed markdown and tighten CSP
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

lint:
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

Update cases hook aggregation logic
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
  tests/unit/test_cases_service.py
  tracecat/cases/service.py
  tracecat/search/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Fix defaultOrigin usage in markdown
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

fix(frontend): harden markdown rendering and allow cross-origin AI links
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
  frontend/tests/sanitize-markdown.test.ts
Due: biome-check, typecheck-frontend

chore(frontend): move ai markdown changes to dedicated PR
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

Harden KaTeX style handling
  frontend/src/lib/sanitize-markdown.ts
  frontend/tests/sanitize-markdown.test.ts
Due: biome-check, typecheck-frontend

fix(frontend): harden markdown rendering and allow cross-origin AI links (#2240)
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
  frontend/tests/sanitize-markdown.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  79/a4dce109cb7e7063af43da63d3dbccc20a9872
Due: none

Notes added by 'git notes add'
  c4/88c0e7a9569c884abbcec8872d999e5383cc60
Due: none

fix(executor): gate warm readiness on temporal connect
  tests/unit/executor/test_worker_readiness_order.py
  tracecat/config.py
  tracecat/executor/warm_readiness.py
  tracecat/executor/worker.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e2/78a89044f04047d093dbe58560cedb41e68d21
Due: none

Notes added by 'git notes add'
  b8/907e7bdef43cf5a302c96f880e512d5800133b
Due: none

fix(mcp): drop file read support for template action validation
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e2/ce17bfb8486a765630f03f37c85340a9d33f3b
Due: none

Notes added by 'git notes add'
  c9/60e702e1c797bb486d0cb24864a8c43f4349f5
Due: none

Notes added by 'git notes add'
  83/24845b565bfe9612532c7cbf1299eb7225fd1d
Due: none

Notes added by 'git notes add'
  78/fec1a52b777801874f6d8e0647f09f5edc9414
Due: none

fix(editor): remove experimental pill decorations setting
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/editor/codemirror/yaml-editor.tsx
  frontend/src/components/editor/expression-input.tsx
  frontend/src/components/organization/org-settings-app.tsx
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(frontend): use autogenerated client services
  frontend/src/client/services.custom.ts
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(webhooks): avoid /wait crash on non-serializable workflow result
  tests/unit/test_webhook_execution_path.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e9/7932d17c498051d9829d047d842d3e5e152cc8
Due: none

fix(mcp): org-scope mcp tokens
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  4c/51ee3b20bcfba38455edec36fc29c454a8fca6
Due: none

Notes added by 'git notes add'
  e8/71d4b3dc6008e4f25bf297d11871d3fc824877
Due: none

fix(mcp): change logger from exception to error for startup failure messages
  tracecat/mcp/__main__.py
Due: gen-client, basedpyright

refactor(frontend): remove custom API client and use autogenerated `@/client` services (#2244)
  frontend/src/client/services.custom.ts
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(editor): remove experimental pill decorations setting (#2243)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/editor/codemirror/yaml-editor.tsx
  frontend/src/components/editor/expression-input.tsx
  frontend/src/components/organization/org-settings-app.tsx
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(executor): warm platform registries only
  tests/unit/executor/test_startup_warm_cache.py
  tracecat/executor/startup_warm_cache.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e0/f27f20b5b2c412dd93c4e4f3614dc5d3ff8356
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
