Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(agents): npx support inprocess mcp
  Dockerfile
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/types.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

refactor(agents): inprocess mcp
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tracecat/agent/common/__init__.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/factory.py
  tracecat/agent/internal_router.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/pydantic_ai/runtime.py
  tracecat/agent/schemas.py
  tracecat/agent/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): crystallize naming for mcp server types
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/common/types.py
  tracecat/agent/factory.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/pydantic_ai/runtime.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/schemas.py
  tracecat/agent/tokens.py
  tracecat/db/models.py
  tracecat/integrations/enums.py
  tracecat/integrations/mcp_validation.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
  tracecat/integrations/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): legacy support for untyped mcp servers
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_factory.py
  tracecat/agent/common/types.py
  tracecat/agent/factory.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/schemas.py
  tracecat/integrations/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(dsl): ensure action permits release during cancellation cleanup
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f7/a83ccdfe7e3932602f2292f62229508636ec72
Due: none

chore: add worktrunk project config
  .config/wt.toml
Due: none

Notes added by 'git notes add'
  91/6648f168a0efe6474ce540d9007325a6646e47
Due: none

fix(tests): harden default org seeding against slug race
  tests/conftest.py
Due: basedpyright

Notes added by 'git notes add'
  9d/fd4a26314297d71896298634205ea4a147d013
Due: none

feat(tiers): enforce workflow concurrency limits (#1962)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/admin/tiers/service.py
  tests/conftest.py
  tests/temporal/test_workflow_concurrency_limits.py
  tests/temporal/test_workflows.py
  tests/unit/test_admin_tier_service_cache_invalidation.py
  tests/unit/test_config.py
  tests/unit/test_dsl_scheduler_concurrency.py
  tests/unit/test_dsl_scheduler_determinism.py
  tests/unit/test_dsl_validation.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_rate_limits.py
  tests/unit/test_tier_activities.py
  tests/unit/test_tier_limits_cache.py
  tests/unit/test_tier_permits.py
  tests/unit/test_tiers_semaphore.py
  tracecat/config.py
  tracecat/dsl/init_activities.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/validation.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow.py
  tracecat/feature_flags/enums.py
  tracecat/tiers/activities.py
  tracecat/tiers/exceptions.py
  tracecat/tiers/limits_cache.py
  tracecat/tiers/permits.py
  tracecat/tiers/semaphore.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): harden inprocess mcp
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  frontend/src/client/schemas.gen.ts
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(frontend): sanitize AI chat markdown before rendering
  frontend/next.config.mjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

fix(cases): separate closed and resolved aggregate counts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/cases-accordion.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(terraform): enforce ALB TLS 1.2+ security policies
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/variables.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/variables.tf
Due: none

Notes added by 'git notes add'
  d7/50c6e9e631f1b1a5fa0d60b8e65c36d7f08f92
Due: none

test(workflow): add concurrency flag boundary coverage
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b9/bac767b120b79ce4278458fa3cfa6ba63ca533
Due: none

feat(api): implement case search with aggregation support
  alembic/versions/d6e1f2a0a1ec_add_case_aggregation_indexes.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.custom.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/cases/cases-accordion.tsx
  frontend/src/components/cases/cases-layout.tsx
  frontend/src/components/tables/table-link-rows-to-case-command.tsx
  frontend/src/hooks/pagination/use-cases-pagination.tsx
  frontend/src/hooks/use-cases.ts
  frontend/tests/use-cases.test.tsx
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/tables.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_cases_sdk.py
  tests/registry/test_core_cases.py
  tests/registry/test_core_table.py
  tests/registry/test_tables_sdk.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
  tracecat/search/__init__.py
  tracecat/search/schemas.py
  tracecat/tables/internal_router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: add SQLAlchemy query guidelines to AGENTS.md
  AGENTS.md
Due: none

Notes added by 'git notes add'
  d4/2694b4b1e677a3ac7b258cd08e46498c92ba66
Due: none

fix(agents): typecheck mcp stdio env decrypt
  alembic/versions/2bedc5514ca9_add_mcp_command_server_fields.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

test: Add workflow concurrency flag boundary coverage (#2232)
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a5/b43940ce0e9e23f05e260a346f9e3338d65200
Due: none

Notes added by 'git notes add'
  0a/a4bcb567f0c1e8afc963b8e450f4ab7ac775d1
Due: none

Notes added by 'git notes add'
  a7/d89f46c68513be96d6fd85241c1e33d29dc6db
Due: none

Notes added by 'git notes add'
  9a/4809ac08931ae95426fcad8af27e6742348418
Due: none

chore(deployments): enable workflow concurrency flag by default
  .env.example
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/README.md
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Notes added by 'git notes add'
  ad/6f468a94b767caef41e4248e22de6d2d658e46
Due: none

Notes added by 'git notes add'
  29/b883033912fe1383a35b5ef78a439e784cc8ee
Due: none

feat(executor): warm registry cache on startup
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/ecs-executor.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/executor-deployment.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/executor/test_healthcheck.py
  tests/unit/executor/test_startup_warm_cache.py
  tests/unit/executor/test_warm_readiness.py
  tracecat/config.py
  tracecat/executor/healthcheck.py
  tracecat/executor/startup_warm_cache.py
  tracecat/executor/warm_readiness.py
  tracecat/executor/worker.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  fe/5313c16000d53b47aad0a64934147c578c1f31
Due: none

chore(executor): use entrypoint script for warm-ready cleanup
  Dockerfile
  deployments/fargate/modules/ecs/ecs-executor.tf
  deployments/helm/tracecat/templates/executor-deployment.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docker/scripts/executor-entrypoint.sh
Due: none

Notes added by 'git notes add'
  dc/507128fe6f9f94a772b1bd78eea8a2a84a940a
Due: none

fix(terraform): enforce ALB TLS 1.2+ security policies (#2231)
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/variables.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/variables.tf
Due: none

fix(cases): apply ruff formatting to aggregates query
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(cases): separate closed and resolved aggregate counts (#2230)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/cases-accordion.tsx
  tests/unit/api/test_api_cases.py
  tests/unit/test_cases_service.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(frontend): sanitize AI chat markdown before rendering
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

fix(frontend): sanitize AI chat markdown before rendering
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ai-elements/response.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend

fix(frontend): enforce sanitizing rehypePlugins and correct plugin order
  frontend/src/components/ai-elements/response.tsx
  frontend/src/lib/sanitize-markdown.ts
Due: biome-check, typecheck-frontend
