Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(ui,api): sanitize URL href, fix badge overflow, add CaseFieldKind to backend
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  tracecat/cases/enums.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(docs): replace broken external links in tool docs and templates (#2432)
  docs/tools/jira.mdx
  docs/tools/microsoft_sentinel.mdx
  docs/tools/okta.mdx
  docs/tools/okta_oar.mdx
  docs/tools/virustotal.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/add_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/assign_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/create_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_issue.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priorities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_priority_schemes.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_projects.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_transitions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/get_user_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/search_issues.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_description.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_fields.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/update_issue_status.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/jira/upload_attachment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/query_threat_intelligence_indicators.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/activate_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/create_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/search_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/create_message.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_requests.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_specific_request.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta_oar/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/virustotal/list_threats.yml
Due: gen-client

fix(ui): use two-layer measurement for badge overflow recovery
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check, typecheck-frontend

fix(ui): serialize JSONB values for display and use default toast variant
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check, typecheck-frontend

fix(ui,api): fix JSONB [object Object] flash, restore kind-based field rendering
  frontend/src/components/cases/add-custom-field-dialog.tsx
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/custom-fields-table.tsx
  frontend/src/components/cases/edit-custom-field-dialog.tsx
  frontend/src/lib/data-type.ts
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): replace inline JSONB input with CodeMirror dialog editor
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check, typecheck-frontend

fix(ui): fix JSONB string serialization and allow clearing URL fields
  frontend/src/components/cases/case-field-kind-dialogs.tsx
Due: biome-check, typecheck-frontend

fix(ui): deduplicate expand cell components, fix badge overflow +N clipping
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check, typecheck-frontend

feat: Add custom fields long text and url support (#2431)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/add-custom-field-dialog.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-field-kind-dialogs.tsx
  frontend/src/components/cases/case-panel-custom-fields.tsx
  frontend/src/components/cases/custom-fields-table.tsx
  frontend/src/components/cases/edit-custom-field-dialog.tsx
  frontend/src/lib/data-type.ts
  tracecat/cases/enums.py
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

claude: feat(cases): add required-on-closure enforcement for custom fields and dropdowns
  alembic/versions/bf38f2aa1c77_add_required_on_closure_to_dropdown_.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
  frontend/src/components/cases/add-custom-field-dialog.tsx
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/dropdowns-table.tsx
  frontend/src/components/cases/edit-custom-field-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  tracecat/cases/dropdowns/schemas.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor: replace ValueError with TracecatValidationError for reserved field checks
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  22/69e867413700d0b813a97578b87ec3807b3379
Due: none

refactor: update validation for user field and column names to raise ValueError
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f0/e4784e522cdb74df1ec12244f9961f4bf68423
Due: none

linearize alembic
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
Due: basedpyright

Notes added by 'git notes add'
  47/c14a3a760b0a08a40d6da7e682c541a6058154
Due: none

claude: feat(cases): add closure requirements config page and RBAC scope
  frontend/src/app/workspaces/[workspaceId]/cases/closure-requirements/page.tsx
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
  frontend/src/components/cases/add-custom-field-dialog.tsx
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/cases/closure-requirements-view.tsx
  frontend/src/components/cases/dropdowns-table.tsx
  frontend/src/components/cases/edit-custom-field-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
Due: biome-check, typecheck-frontend

test(migration): stamp dynamic rls tests from immediate parent
  tests/migration/test_dynamic_workspace_rls_migration.py
Due: basedpyright

Notes added by 'git notes add'
  9c/c9f8dd1f20bed48603610c8eefda00ad829dc3
Due: none

fix(migration): preserve legacy __tc namespace columns
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
Due: basedpyright

Notes added by 'git notes add'
  b6/7b0454212ea2110578c0c0a8cf68eeadc9add8
Due: none

fix(tables): reserve __tc namespace in table metadata paths
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  91/59872834e2eab4d171f29a5fda2279d826c3ef
Due: none

fix(cases): return 400 for case-field validation errors
  tests/unit/api/test_api_cases.py
  tracecat/cases/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  86/259c735a9e183145cdbe850566d639e6765e87
Due: none

fix(tables): reject null column rename payloads
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  79/2daee78eb04757afd51800dd1a49f45fdf8ce1
Due: none

claude: fix(cases): add missing RBAC scope checks to dropdown router
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/cases/closure-requirements-view.tsx
  frontend/src/components/nav/controls-header.tsx
  tracecat/cases/dropdowns/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Treat null column rename as no-op
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(cases): gate useCaseFields query and clear stale JSON on parse error
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(cases): track JSON field errors separately to preserve editor state
  frontend/src/components/cases/case-closure-dialog.tsx
Due: biome-check, typecheck-frontend

fix(cases): fix state management issues in closure dialog
  frontend/src/components/cases/case-closure-dialog.tsx
Due: biome-check, typecheck-frontend

feat(cases): Support case closure requirements on fields and dropdowns (#2433)
  alembic/versions/bf38f2aa1c77_add_required_on_closure_to_dropdown_.py
  frontend/src/app/workspaces/[workspaceId]/cases/closure-requirements/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/cases/closure-requirements-view.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/lib/hooks.tsx
  tracecat/cases/dropdowns/router.py
  tracecat/cases/dropdowns/schemas.py
  tracecat/cases/dropdowns/service.py
  tracecat/cases/router.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): show tiers settings page regardless of multi-tenant mode
  frontend/src/app/admin/tiers/page.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

fix(ui): show tiers settings page regardless of multi-tenant mode (#2435)
  frontend/src/app/admin/tiers/page.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

chore(migration): linearize dynamic rls revision after main merge
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
Due: basedpyright

Notes added by 'git notes add'
  0a/abc8bad43ae2d514962e2bbbd4d4b572f994f2
Due: none

fix(migration): handle legacy table metadata aliases
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
Due: basedpyright

Notes added by 'git notes add'
  6a/05cb0b06372cc5a02dd0523a56df0109847f77
Due: none

feat(tables): enforce RLS on dynamic workspace schemas (#2212)
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_dynamic_workspace_service_rls.py
  tests/unit/test_tables_service.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright
