Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(ui): manually copy service account api key (#2874)
  frontend/src/components/organization/service-accounts-manager.tsx
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.50-rc.3
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

nit: sql cursor pagination if 1 provider
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(inbox): don't duplicate chat when opening a terminal session
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/hooks/use-chat.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(inbox): polish runs search and table row interactions
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(inbox): per-group accordion pagination with server-side cursor support
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/pagination/use-cursor-pagination.tsx
  frontend/src/hooks/use-inbox.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/router.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): agent runs in inbox
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/activity-accordion.tsx
  frontend/src/components/inbox/activity-item.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tracecat/inbox/dependencies.py
  tracecat/inbox/router.py
  tracecat/inbox/schemas.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): add Wiz MCP client credentials option
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  frontend/src/components/integrations/mcp-integration-schema.ts
  frontend/tests/mcp-integration-schema.test.ts
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/catalog/types.py
  tracecat/integrations/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): correlate ai.action and preserve already-local catalog ids
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workflow_management.py
  tracecat/agent/catalog/service.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(inbox): drop the federated inbox mental model
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/inbox/runs-table.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/agents.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/unit/test_agent_runs_inbox_provider.py
  tests/unit/test_inbox_service.py
  tracecat/inbox/dependencies.py
  tracecat/inbox/router.py
  tracecat/inbox/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: bump litellm to 1.89.1
  frontend/package.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/event-history.ts
  pyproject.toml
  scripts/openapi/generate_openapi.py
  tests/_route_utils.py
  tests/unit/api/test_api_users_router.py
  tests/unit/api/test_workspace_scoped_routes.py
  tests/unit/test_action_gateway_app.py
  tests/unit/test_agent_skill_internal_router.py
  uv.lock
Due: basedpyright, biome-check, typecheck-frontend

fix(sync): best effort correlate model catalog entries (#2860)
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workflow_management.py
  tracecat/agent/catalog/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/store/import_service.py
Due: gen-client, basedpyright

fix(deploy): use liveness health check for API containers (#2870)
  deployments/fargate/modules/ecs/ecs-api.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  scripts/cluster
  tests/unit/api/test_api_readiness.py
  tracecat/api/app.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): label collision versions meaningfully
  tests/unit/test_registry_platform_startup.py
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

test: cover post-release collision versions
  tests/unit/test_registry_sync_base_service.py
Due: basedpyright

chore: bump litellm to 1.89.1 (#2871)
  frontend/package.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/event-history.ts
  pyproject.toml
  scripts/openapi/generate_openapi.py
  tests/_route_utils.py
  tests/unit/api/test_api_users_router.py
  tests/unit/api/test_workspace_scoped_routes.py
  tests/unit/test_action_gateway_app.py
  tests/unit/test_agent_skill_internal_router.py
  uv.lock
Due: basedpyright, biome-check, typecheck-frontend

Group advanced workflow reset checkpoints
  frontend/src/components/workflow-runs/reset-workflow-run-dialog.tsx
  frontend/tests/reset-workflow-run-dialog.test.tsx
Due: biome-check, typecheck-frontend

Improve workflow reset point labels
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workflow-runs/reset-workflow-run-dialog.tsx
  frontend/tests/reset-workflow-run-dialog.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Tighten workflow reset point labels
  frontend/src/components/workflow-runs/reset-workflow-run-dialog.tsx
  frontend/tests/reset-workflow-run-dialog.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Surface workflow reset lineage in runs list
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workflow-runs/workflow-run-item.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Normalize run_python sandbox serialization
  tests/registry/test_core_python.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix: guard sandbox dataclass serialization
  tests/registry/test_core_python.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix: stabilize sandbox set serialization
  tests/registry/test_core_python.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

nit(integrations): mark Okta MCP catalog entry coming soon
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client

fix: derive reset runs from temporal successor ids
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(sandbox): handle recursive dataclass results
  tests/registry/test_core_python.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

release: 1.0.0-beta.50-rc.4
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(case-triggers): stop stale trigger replays
  tests/unit/test_case_trigger_consumer.py
  tests/unit/test_case_triggers.py
  tests/unit/test_workflow_import_service.py
  tracecat/cases/triggers/consumer.py
  tracecat/workflow/case_triggers/service.py
Due: gen-client, basedpyright

fix: count partial reset lineage successors
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix: preserve online case triggers on import
  tests/unit/test_workflow_management.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(sandbox): normalize run_python serialization (#2498)
  tests/registry/test_core_python.py
  tests/unit/test_unsafe_pid_executor.py
  tracecat/sandbox/unsafe_pid_executor.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(workflows): keep online imports create-scoped
  tests/unit/test_workflow_definitions_service.py
  tests/unit/test_workflow_management.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(workflows): freeze imported trigger definitions
  tests/unit/test_workflow_management.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(integrations): route discovery MCP catalog entries to the MCP dialog
  frontend/src/app/workspaces/[workspaceId]/mcp-servers/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/service.py
  tracecat/integrations/router.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(git): add GitHub App PEM upload dropzone
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/tests/org-vcs-github-manual-form.test.tsx
Due: biome-check, typecheck-frontend

Add GitHub App repo selector
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_github_app.py
  tests/unit/test_route_scope_guards.py
  tracecat/vcs/github/app.py
  tracecat/vcs/github/schemas.py
  tracecat/workflow/store/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(git): clear stale key on upload rejection
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/tests/org-vcs-github-manual-form.test.tsx
Due: biome-check, typecheck-frontend

fix(git): ignore stale PEM reads
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/tests/org-vcs-github-manual-form.test.tsx
Due: biome-check, typecheck-frontend

fix(registry): label collision versions meaningfully (#2792)
  tests/unit/test_registry_platform_startup.py
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
