Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(tables): reject aliased external identifiers
  tests/unit/test_tables_service.py
  tracecat/tables/internal_router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  ed/cc23003a3546dfb4d345bff82422f4cc9bb38b
Due: none

fix(tables): allow system columns in lookup resolution
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  1f/85b3d0df8b6c580f674caf861a44ea96facdff
Due: none

fix(agents): truncate Anthropic tool_call IDs for OpenAI compatibility (#2373)
  tests/unit/test_litellm_compat.py
  tracecat/agent/gateway.py
  tracecat/agent/litellm_compat.py
Due: gen-client, basedpyright

fix(cases): use SELECT FOR UPDATE to prevent concurrent case update failures (#2371)
  tracecat/cases/internal_router.py
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(mcp): preserve proxy identity and scopes across oidc token swap (#2372)
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

fix(cases): map invalid field ids to 400
  tests/unit/api/test_api_cases.py
  tracecat/cases/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  dc/4e3f3a9be5ca016dd499818a461bbc662b43d9
Due: none

fix(agents): stopgap resolution of tracecat registry alias (#2361)
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Revert "fix(agents): stopgap resolution of tracecat registry alias (#2361)"
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Revert "fix(agents): stopgap resolution of tracecat registry alias" (#2376)
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  9f/987d1c954e4729731b6300646ec4a45c5b3082
Due: none

fix(agents): canonicalize registry mcp server names at runtime boundary
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(mcp): force-issue refresh tokens when OIDC provider omits them
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

fix(agents): canonicalize registry mcp server names at runtime boundary (#2377)
  tests/unit/test_agent_mcp_utils.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/mcp/utils.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix: handle case-field rename conflicts and bigint defaults
  tests/unit/api/test_api_cases.py
  tests/unit/test_tables_service.py
  tracecat/cases/router.py
  tracecat/tables/common.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c9/00a089c5220164772573ae4a83cbabe9c01a1e
Due: none

fix(tables): sanitize default value literals (#2368)
  tests/unit/api/test_api_cases.py
  tests/unit/test_case_fields_integration.py
  tests/unit/test_tables_service.py
  tracecat/cases/router.py
  tracecat/custom_fields/service.py
  tracecat/tables/common.py
  tracecat/tables/internal_router.py
  tracecat/tables/router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(rbac): add workflow_sync scope
  tests/unit/test_github_app.py
  tests/unit/test_route_scope_guards.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/secrets/service.py
  tracecat/vcs/github/app.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

fix(rbac): loosen rbac scopes for git sync (#2375)
  tests/unit/test_github_app.py
  tests/unit/test_route_scope_guards.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/secrets/service.py
  tracecat/vcs/github/app.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

feat(mcp): support disabled auth
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_config.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agents): ui polish for llm providers
  alembic/versions/0b366cfa8db5_llm_provider_v2.py
  alembic/versions/57cc1f153017_add_enabled_model_runtime_config.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/icons.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  frontend/src/lib/hooks.tsx
  scripts/cluster
  tests/unit/api/test_api_agents.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_builtin_catalog.py
  tracecat/agent/builtin_catalog.py
  tracecat/agent/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: migration bump
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/components/chat/chat-interface.tsx
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_schemas.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_organization_settings.py
  tracecat/agent/gateway.py
  tracecat/agent/service.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: regen api spec
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  tests/unit/api/test_api_agents.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_session_schemas.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_organization_settings.py
  tracecat/agent/gateway.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/agent/session/schemas.py
  tracecat/agent/stream/connector.py
  tracecat/mcp/server.py
  tracecat/settings/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): workspace default model enforcement and source-backed preset resolution
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/components/organization/org-settings-agent.tsx
  tests/unit/api/test_api_agents.py
  tests/unit/test_admin_agent_service.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_legacy_model_matching.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_mcp_server.py
  tests/unit/test_rls_failure_repros.py
  tracecat/admin/agent/service.py
  tracecat/agent/internal_router.py
  tracecat/agent/router.py
  tracecat/agent/service.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): agent catalog sync and stale model selection handling
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_legacy_model_matching.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_mcp_server.py
  tracecat/agent/internal_router.py
  tracecat/agent/legacy_model_matching.py
  tracecat/agent/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agents): litellm package backed model catalog
  frontend/src/app/admin/agent/page.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/components/settings/workspace-model-settings.tsx
  frontend/tests/workspace-model-settings.test.ts
  tests/unit/test_agent_litellm_catalog_snapshot.py
  tests/unit/test_agent_management_service.py
  tracecat/agent/builtin_catalog.py
  tracecat/agent/data/litellm/v1.82.1/model_prices_and_context_window.json
  tracecat/agent/data/litellm/v1.82.1/provider_endpoints_support.json
  tracecat/agent/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): agent model access, startup sync, and settings default model round-trip
  frontend/src/components/chat/chat-interface.tsx
  tests/unit/api/conftest.py
  tests/unit/api/test_api_agents.py
  tests/unit/test_admin_agent_service.py
  tests/unit/test_agent_channel_sinks.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_auto_title.py
  tests/unit/test_case_comments_service.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tests/unit/test_organization_settings.py
  tracecat/admin/agent/service.py
  tracecat/agent/gateway.py
  tracecat/agent/internal_router.py
  tracecat/agent/router.py
  tracecat/agent/service.py
  tracecat/agent/session/service.py
  tracecat/agent/session/title_generator.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): agent runtime config compatibility
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/internal_router.py
  tracecat/agent/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  5d/4db3755ec29dbb3f8624ebe83ca24ba05b31c0
Due: none

Notes added by 'git notes add'
  91/8604c46a238fd77b6fe503c28363a43c74e691
Due: none

Notes added by 'git notes add'
  dd/ccb9d0049c8acc3de830f3536b650496143b4e
Due: none

release: 1.0.0-beta.34
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.dev.yml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  5d/678dbcfe3e076c6cc98d5f33d9ae2c89c12d54
Due: none

fix(mcp): preserve empty MCP auth methods in compose env expansion
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_config.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agents:): custom source runtime URLs and source-aware model UI
  frontend/src/app/admin/page.tsx
  frontend/src/app/organization/settings/agent/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/organization/org-agent-credentials-dialog.tsx
  frontend/src/components/organization/org-settings-agent-utils.ts
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-settings-container.tsx
  frontend/src/components/sidebar/sidebar-user-nav.tsx
  frontend/src/lib/chat.ts
  frontend/src/lib/hooks.tsx
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/agent/internal_router.py
  tracecat/agent/router.py
  tracecat/agent/service.py
  tracecat/agent/stream/connector.py
  tracecat/api/app.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): move model refresh off api startup path
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_providers.py
  tests/unit/test_rls_failure_repros.py
  tracecat/agent/gateway.py
  tracecat/agent/providers.py
  tracecat/api/app.py
Due: gen-client, basedpyright
