Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

test(ui): match invite role picker to org-wide workspace roles
  frontend/tests/invite-member-dialog.test.tsx
Due: biome-check, typecheck-frontend

fix(agents): isolate runtime contract server lifecycle
  .github/workflows/test-python.yml
  tests/agent_runtime_contracts/README.md
  tests/agent_runtime_contracts/runtime_fixture.py
  tests/agent_runtime_contracts/test_claude_readiness.py
Due: basedpyright

fix(agents): enforce immutable reference contracts and parser parity
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/agent-reference-markdown.ts
  frontend/src/lib/agent-reference-uri.ts
  tests/fixtures/agent_references/conformance.json
  tests/unit/agent_references/test_contracts.py
  tracecat/agent/references/README.md
  tracecat/agent/references/contracts.py
  tracecat/agent/references/immutable.py
  tracecat/agent/references/markdown.py
  tracecat/agent/references/uri.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): ignore expired invitations in role level checks
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): validate reference diagnostics and serialized values
  frontend/src/lib/agent-reference-markdown.ts
  frontend/src/lib/agent-reference-uri.test.ts
  tests/fixtures/agent_references/conformance.json
  tests/unit/agent_references/test_contracts.py
  tracecat/agent/references/README.md
  tracecat/agent/references/contracts.py
  tracecat/agent/references/immutable.py
  tracecat/agent/references/markdown.py
  tracecat/agent/references/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): reject coerced authority and version values
  tests/unit/agent_references/test_contracts.py
  tracecat/agent/references/contracts.py
Due: gen-client, basedpyright

fix(agents): reject control characters in logical paths
  tests/unit/agent_references/test_contracts.py
  tracecat/agent/references/contracts.py
Due: gen-client, basedpyright

fix(agents): align strict Markdown destination handling
  frontend/src/lib/agent-reference-markdown.ts
  frontend/src/lib/agent-reference-uri.ts
  tests/fixtures/agent_references/conformance.json
  tracecat/agent/references/README.md
  tracecat/agent/references/uri.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): validate Browserless base_url against egress policy
  packages/tracecat-registry/tracecat_registry/integrations/browserless.py
  tests/registry/test_browserless.py
Due: gen-client, basedpyright

feat(registry): add Darkmoon pentest findings templates
  packages/tracecat-registry/tracecat_registry/templates/tools/darkmoon/list_campaigns.yml
Due: gen-client

feat(registry): add Darkmoon pentest findings templates
  packages/tracecat-registry/tracecat_registry/templates/tools/darkmoon/list_findings.yml
Due: gen-client

feat(registry): add Darkmoon pentest findings templates
  packages/tracecat-registry/tracecat_registry/templates/tools/darkmoon/get_finding.yml
Due: gen-client

feat(registry): add Darkmoon pentest findings templates
  packages/tracecat-registry/tracecat_registry/templates/tools/darkmoon/get_campaign_report.yml
Due: gen-client

docs(infra): correct unified backend chart requirement (#3672)
  docs/self-hosting/kubernetes.mdx
Due: none

test(agents): remove unused transcript setter spy
  frontend/src/components/chat/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

test(agents): cover disconnect-only stream completion
  frontend/src/hooks/use-chat-subagents.test.tsx
Due: biome-check, typecheck-frontend

fix(agents): bound child transcript recovery and allow retries
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/subagent-tool-part.test.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-subagent-stream.test.tsx
  frontend/src/hooks/use-subagent-stream.ts
Due: biome-check, typecheck-frontend

fix(agents): preserve default chat history retry policy
  frontend/src/hooks/use-chat-history.test.tsx
  frontend/src/hooks/use-chat.ts
Due: biome-check, typecheck-frontend

fix(agents): clarify paused transcript recovery state
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/subagent-tool-part.test.tsx
Due: biome-check, typecheck-frontend

fix(engine): treat blank address-space overrides as unset
  tests/unit/test_config.py
  tracecat/config.py
Due: gen-client, basedpyright

feat(agents): stream foreground Pi child sessions (#3618)
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/chat/subagent-tool-part.test.tsx
  frontend/src/hooks/use-chat-history.test.tsx
  frontend/src/hooks/use-chat-subagents.test.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/hooks/use-subagent-stream.test.tsx
  frontend/src/hooks/use-subagent-stream.ts
  frontend/src/lib/subagent-stream.test.ts
  frontend/src/lib/subagent-stream.ts
  frontend/tests/inbox-detail.test.tsx
  tests/unit/test_agent_backends.py
  tests/unit/test_agent_session_ancestry.py
  tests/unit/test_agent_session_list_sessions.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_vercel_session_events.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/backends/base.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/session/views.py
  tracecat/agent/stream/connector.py
  tracecat/agent/stream/events.py
  tracecat/chat/constants.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(engine): require the Compose sandbox overlay for nsjail
  docker-compose.local.yml
  docker-compose.yml
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/security.mdx
Due: none

docs(engine): clarify when cgroup memory limits apply
  docs/snippets/environment-variables.mdx
Due: none

docs(engine): require chart 0.7.0 for executor cgroups
  docs/self-hosting/security.mdx
Due: none

fix(engine): make shared bootstrap guidance entrypoint neutral
  tracecat/sandbox/cgroup.py
Due: gen-client, basedpyright

fix(engine): preserve explicit shared sandbox cgroup paths
  tests/unit/test_agent_cgroup.py
  tracecat/sandbox/cgroup.py
Due: gen-client, basedpyright

docs(engine): distinguish dependency-install limit failures
  docs/snippets/environment-variables.mdx
Due: none

fix(integrations): keep archive download credentials out of logs
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(rbac): reserve platform scope prefixes and harden role level checks
  docs/manage-platform/custom-roles.mdx
  docs/manage-platform/rbac.mdx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/lib/rbac.test.ts
  frontend/src/lib/rbac.ts
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_grants.py
  tests/unit/test_rbac_service.py
  tests/unit/test_scim_protocol_validation.py
  tracecat/authz/rbac/router.py
  tracecat/authz/scopes.py
  tracecat/authz/service.py
  tracecat/invitations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): reserve only wildcard roots matching org or workspace
  docs/manage-platform/custom-roles.mdx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/scopes.py
Due: gen-client, basedpyright

fix(agents): align Markdown whitespace tokenization
  frontend/src/lib/agent-reference-markdown.ts
  tests/fixtures/agent_references/conformance.json
Due: biome-check, typecheck-frontend

feat(skills): support resources and registry tools in library skills
  tests/unit/test_skill_library.py
  tracecat/agent/preset/service.py
  tracecat/agent/preset/tool_policy.py
  tracecat/agent/preset/types.py
  tracecat/agent/skill/builtin/staging.py
  tracecat/agent/skill/dependencies.py
  tracecat/agent/skill/library/catalog.py
  tracecat/agent/skill/library/service.py
  tracecat/agent/skill/library/types.py
  tracecat/agent/skill/manifest.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(skills): address library review feedback and open the library
  frontend/src/app/workspaces/[workspaceId]/skills/library/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/skills/skill-library-view.tsx
  frontend/src/hooks/use-skill-library.ts
  tests/unit/test_skill_library.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/skill/library/catalog.py
  tracecat/agent/skill/library/router.py
  tracecat/agent/skill/library/service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac+ui)!: pin roles to their level; drop workspace RBAC pages (#3682)
  docs/manage-platform/custom-roles.mdx
  docs/manage-platform/rbac.mdx
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/members-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/invite-member-dialog.tsx
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/organization/org-rbac-assignments.tsx
  frontend/src/components/organization/org-rbac-groups.tsx
  frontend/src/components/organization/org-rbac-user-assignments.tsx
  frontend/src/components/rbac/create-group-button.tsx
  frontend/src/components/rbac/create-role-button.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/components/workspaces/workspace-rbac-groups.tsx
  frontend/src/components/workspaces/workspace-rbac-roles.tsx
  frontend/src/lib/rbac.test.ts
  frontend/src/lib/rbac.ts
  frontend/tests/invite-member-dialog.test.tsx
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_grant_validation.py
  tests/unit/test_invitation_grants.py
  tests/unit/test_rbac_service.py
  tests/unit/test_scim_protocol_validation.py
  tracecat/authz/rbac/router.py
  tracecat/authz/scopes.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/invitations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(skills): bundle the library in tracecat and address review feedback
  Dockerfile
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/skills/skills-catalog-view-toggle.tsx
  tests/unit/test_skill_library.py
  tracecat/agent/skill/library/catalog.py
  tracecat/agent/skill/library/service.py
  tracecat/agent/skill/library/skills/incident-summary/SKILL.md
  tracecat/agent/skill/library/skills/phishing-triage/SKILL.md
  tracecat/agent/skill/manifest.py
  tracecat/config.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(agents): remove reference implementation README
  tracecat/agent/references/README.md
Due: gen-client

docs(agents): remove runtime contract README
  tests/agent_runtime_contracts/README.md
Due: none

test(skills): scope library pull assertions to the test workspace
  tests/unit/test_skill_library.py
Due: basedpyright

feat(agents): define mention syntax and reference contracts (#3684)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/agent-reference-markdown.ts
  frontend/src/lib/agent-reference-uri.test.ts
  frontend/src/lib/agent-reference-uri.ts
  frontend/tests/agent-reference-conformance.ts
  frontend/tests/agent-reference-markdown.test.ts
  pyproject.toml
  tests/fixtures/agent_references/conformance.json
  tests/unit/agent_references/test_contracts.py
  tracecat/agent/backends/base.py
  tracecat/agent/references/__init__.py
  tracecat/agent/references/contracts.py
  tracecat/agent/references/immutable.py
  tracecat/agent/references/markdown.py
  tracecat/agent/references/types.py
  tracecat/agent/references/uri.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): store reference projections and turn snapshots
  .github/workflows/test-python.yml
  alembic/versions/fbc6e4b5bbf2_add_reference_projections_and_turn_.py
  tests/integration/agent_references/conftest.py
  tests/integration/agent_references/test_migration.py
  tests/integration/agent_references/test_storage.py
  tracecat/agent/references/storage.py
  tracecat/agent/references/storage_types.py
  tracecat/db/models.py
Due: gen-client, basedpyright
