Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(agent): template referencing for mcp integrations
  docs/automations/integrations/mcp-integrations.mdx
  frontend/src/components/editor/codemirror/code-editor.tsx
  frontend/src/components/editor/codemirror/common.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  tests/unit/test_agent_preset_service.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/mcp/secret_resolution.py
  tracecat/agent/preset/service.py
  tracecat/expressions/common.py
  tracecat/expressions/core.py
  tracecat/expressions/eval.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): emit terminal stream END only after finalize_turn (#3120)
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_session_activities.py
  tests/unit/test_agent_session_finalize.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

docs: improve README
  README.md
Due: none

fix(ui): calibrate notification banners for dark mode
  frontend/src/components/notifications.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/workspace-sync/pull-tab.tsx
Due: biome-check, typecheck-frontend

fix(sync): correlate agent preset catalog IDs
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(sync): correlate before dry-run diffs and clear source base_url
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

perf(sync): batch catalog correlation lookups
  tests/unit/test_agent_catalog_service.py
  tracecat/agent/catalog/service.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

refactor(sync): introduce PreparedSnapshot for improved snapshot handling
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

refactor(sync): name catalog correlation tuples
  tests/unit/test_agent_catalog_service.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(workspace-sync): disambiguate catalog models
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspace-sync/pull-tab.tsx
  frontend/src/hooks/use-workspace-sync.ts
  frontend/tests/workspace-sync-settings.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/catalog/service.py
  tracecat/sync.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(sync): simplify catalog correlation
  frontend/src/components/workspace-sync/pull-tab.tsx
  frontend/tests/workspace-sync-settings.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/catalog/service.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(cluster): reap orphaned dev clusters on worktree removal
  .config/wt.toml
  scripts/cluster
  tests/unit/test_cluster_script.py
Due: basedpyright

feat(dev): add lite mode for control-plane-only local stack
  CONTRIBUTING.md
  docker-compose.lite.yml
  scripts/cluster
  tests/unit/test_config.py
  tracecat/api/app.py
  tracecat/config.py
Due: gen-client, basedpyright

fix: run multi-dev temporal dev server as root for volume access
  deployments/multi-dev/docker-compose.infra.yml
Due: none

feat: add standalone dev entrypoint and multi-dev compose profile
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.infra.yml
  deployments/multi-dev/docker-compose.instance.yml
  deployments/multi-dev/instance.env.example
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime_services.py
  tracecat/agent/worker.py
  tracecat/config.py
  tracecat/dsl/worker.py
  tracecat/executor/action_gateway/server.py
  tracecat/executor/worker.py
  tracecat/standalone.py
  tracecat/temporal/sentry.py
  tracecat/uvicorn_server.py
Due: gen-client, basedpyright

fix(dev): remove orphaned data-plane containers on lite up
  scripts/cluster
Due: none

test: repair stubs broken by the standalone worker refactor
  tests/unit/test_agent_runtime_services.py
  tests/unit/test_worker_activity_registration.py
Due: basedpyright

feat(cluster): add standalone topology for lightweight dev stacks
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.standalone.yml
  deployments/multi-dev/infra/compose.yaml
  deployments/multi-dev/instance.env.example
  deployments/multi-dev/instances/alpha.env.example
  deployments/multi-dev/instances/beta.env.example
  deployments/multi-dev/stack.compose.yaml
  scripts/cluster
Due: none

refactor: rename zygote supervisor to standalone supervisor
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.standalone.yml
  tracecat/standalone_supervisor.py
Due: gen-client, basedpyright

feat: add zygote fork supervisor for multi-instance standalone
  deployments/multi-dev/README.md
  deployments/multi-dev/docker-compose.zygote.yml
  deployments/multi-dev/instances/alpha.env.example
  deployments/multi-dev/instances/beta.env.example
  tests/unit/test_agent_runtime_services.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/runtime_services.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/api/common.py
  tracecat/auth/saml.py
  tracecat/dsl/client.py
  tracecat/mcp/oidc/config.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/storage.py
  tracecat/redis/client.py
  tracecat/zygote.py
Due: gen-client, basedpyright

fix(cluster): address review findings on standalone topology
  scripts/cluster
  tracecat/standalone_supervisor.py
Due: gen-client, basedpyright

fix(dev): skip registry artifact build in lite mode, keep promotion
  tracecat/registry/sync/jobs.py
Due: gen-client, basedpyright

fix(standalone): harden supervisor child failure and manifest validation
  tracecat/agent/sandbox/nsjail.py
  tracecat/standalone_supervisor.py
Due: gen-client, basedpyright

refactor(standalone): drop the fork supervisor, retire per-stack shared state
  deployments/multi-dev/README.md
  scripts/cluster
  tracecat/standalone_supervisor.py
Due: gen-client, basedpyright

fix(sync): correlate workflow catalog refs and validate enabled ids
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspace-sync/pull-tab.tsx
  frontend/tests/workspace-sync-settings.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/catalog/service.py
  tracecat/sync.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(sync): enforce agent preset version immutability on replay
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(ui): use pointer cursor on workflow execution rows (#3070)
  frontend/src/components/executions/nav.tsx
Due: biome-check, typecheck-frontend

feat(scc): add Google Security Command Center integration (#3046)
  docs/docs.json
  docs/tools/google_api.mdx
  docs/tools/google_scc.mdx
  frontend/src/components/icons.tsx
  frontend/src/components/mcp-catalog-icons.tsx
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  packages/tracecat-registry/tracecat_registry/integrations/google_api.py
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/list_findings.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/list_sources.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/mute_finding.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/set_finding_state.yml
  tests/registry/test_google_api.py
  tests/registry/test_google_scc_templates.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): stop forwarding inbound auth to user MCP servers
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/user_client.py
Due: gen-client, basedpyright

fix(ui): calibrate notification banners for dark mode (#3127)
  frontend/src/components/notifications.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/workspace-sync/pull-tab.tsx
Due: biome-check, typecheck-frontend

fix(integrations): stop forwarding inbound auth to user MCP servers (#3132)
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/user_client.py
Due: gen-client, basedpyright

fix(ui): keep dialogs within viewport (#3095)
  frontend/src/components/agents/agents-dashboard.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/cases/case-closure-dialog.tsx
  frontend/src/components/dashboard/folder-move-dialog.tsx
  frontend/src/components/dashboard/workflow-move-dialog.tsx
  frontend/src/components/ui/dialog.tsx
Due: biome-check, typecheck-frontend

fix(integrations): support mcp resource content blocks
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
Due: gen-client, basedpyright

fix(agent): budget mcp tool results in cli-escaped bytes
  tests/unit/test_agent_mcp_http_limits.py
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/http_limits.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
Due: gen-client, basedpyright

fix(agent): preserve MCP action environments
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_agent_config_workflow_boundary.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_tokens.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_executor_service.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/common/types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/preset/activities.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/preset/service.py
  tracecat/agent/service.py
  tracecat/agent/tokens.py
  tracecat/agent/worker.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
  tracecat/secrets/secrets_manager.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): first-class custom llm providers
  alembic/versions/d5e1a2c3f4b6_add_custom_provider_type.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/icons.tsx
  frontend/src/components/organization/custom-provider-dialog.tsx
  frontend/src/components/organization/custom-provider-fields.tsx
  frontend/src/components/organization/custom-provider-form.ts
  frontend/src/components/organization/custom-provider-wizard.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/tests/create-agent-dialog.test.tsx
  frontend/tests/custom-provider-form.test.tsx
  frontend/tests/custom-provider-wizard.test.tsx
  frontend/tests/custom-source-connection-item.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/service.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/service.py
  tracecat/agent/gateway.py
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
  tracecat/agent/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): template referencing for MCP integrations
  docs/automations/integrations/mcp-integrations.mdx
  frontend/src/components/editor/codemirror/code-editor.tsx
  frontend/src/components/editor/codemirror/common.tsx
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  tests/unit/test_agent_preset_service.py
  tests/unit/test_mcp_integrations.py
  tracecat/agent/mcp/secret_resolution.py
  tracecat/agent/preset/service.py
  tracecat/expressions/common.py
  tracecat/expressions/core.py
  tracecat/expressions/eval.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): support mcp resource content blocks (#3105)
  tests/unit/test_agent_mcp_http_limits.py
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_mcp_user_client.py
  tracecat/agent/mcp/http_limits.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/mcp/user_client.py
  tracecat/agent/mcp/utils.py
Due: gen-client, basedpyright

fix(db): wire pool timeout and per-service application_name
  deployments/fargate/modules/ecs/locals.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/config.py
  tracecat/db/engine.py
Due: gen-client, basedpyright

test(benchmark): add postgres scatter load-test scaffolding
  docker-compose.loadtest.yml
  scripts/benchmark/scatter_load/__init__.py
  scripts/benchmark/scatter_load/client.py
  scripts/benchmark/scatter_load/collector.py
  scripts/benchmark/scatter_load/fixtures.py
  scripts/benchmark/scatter_load/fixtures/table.json
  scripts/benchmark/scatter_load/fixtures/workflow_bulk_insert_rows.yml
  scripts/benchmark/scatter_load/fixtures/workflow_scatter_insert_row.yml
  scripts/benchmark/scatter_load/models.py
  scripts/benchmark/scatter_load/runner.py
  scripts/cluster
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
