Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

refactor(api): simplify SMTP invitation delivery
  .env.example
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_admin_org_registry_sync_service.py
  tests/unit/test_config.py
  tests/unit/test_email.py
  tracecat/config.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

refactor(rbac): drop legacy membership dual-write
  alembic/versions/2bf069003a77_membership_derived_from_rbac_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/membership.py
  tests/migration/test_membership_expand_migration.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_rls_policies.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
Due: gen-client, basedpyright

fix(infra+api): keep SMTP password out of Terraform state
  deployments/fargate/modules/ecs/secrets.tf
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_registry_sync_service.py
Due: gen-client, basedpyright

fix(engine): reuse pins only on reachable root-scope branches
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/dsl/common.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(engine): harden draft pin resolution and type the pin payload
  tests/unit/test_draft_pin_resolution.py
  tests/unit/test_workflow_management.py
  tracecat/db/models.py
  tracecat/webhooks/dependencies.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/types.py
Due: gen-client, basedpyright

fix(ui): only offer draft pins for root-stream events
  frontend/src/lib/workflow-pins.ts
  frontend/tests/workflow-pins.test.ts
Due: biome-check, typecheck-frontend

feat(tables): add internal row aggregation endpoint
  tests/unit/api/test_api_internal_tables.py
  tests/unit/test_tables_query.py
  tests/unit/test_tables_service.py
  tracecat/tables/internal_router.py
  tracecat/tables/query.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

feat(cases): add case field resolver
  tests/unit/test_cases_query.py
  tracecat/cases/query.py
Due: gen-client, basedpyright

feat(cases): add rich text comments
  frontend/src/components/cases/case-comment-editor.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/editor.css
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/hooks/use-mentions.ts
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/cases/use-case-image-upload.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

feat(engine): give sandbox resource-limit failures their own error kind
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/test_executor_error_policy.py
  tests/unit/test_sandbox_executor_exit_attribution.py
  tests/unit/test_sandbox_result_envelope.py
  tracecat/executor/action_runner.py
  tracecat/executor/error_policy.py
  tracecat/executor/minimal_runner.py
  tracecat/runtime/errors.py
  tracecat/sandbox/exceptions.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

feat(agents): attribute jailed runtime resource-limit deaths to the caller
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/common/exceptions.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/error_policy.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/sandbox/shim_entrypoint.py
Due: gen-client, basedpyright

docs(docs): document the sandbox resource limits and their caps
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
Due: none

test(engine): pin the new sandbox kind at the activity boundary
  tests/unit/test_executor_activities.py
Due: basedpyright

fix(agents): only blame the caller when a jail actually enforced a limit
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
Due: gen-client, basedpyright

fix(engine): keep the resource-limit code when serialization exhausts memory
  docs/self-hosting/security.mdx
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(tables): preserve aggregation error and numeric semantics
  tests/unit/api/test_api_internal_tables.py
  tests/unit/test_tables_service.py
  tracecat/tables/internal_router.py
  tracecat/tables/schemas.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(cases): preserve custom field null semantics
  tests/unit/test_cases_query.py
  tracecat/cases/query.py
Due: gen-client, basedpyright

fix(agents): log one exception at a time on a runtime failure
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(engine): only claim a resource limit the sandbox can identify
  docs/self-hosting/security.mdx
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/exceptions.py
Due: gen-client, basedpyright

fix(cases): keep internal mentions non-navigable
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(engine): release the oversized result before the fallback envelope
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(engine): keep conditional predecessors live and honor force-skipped guards
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(ui): scope-aware pin eligibility and error-edge skip domains
  frontend/src/lib/workflow-pins.ts
  frontend/tests/workflow-pins.test.ts
Due: biome-check, typecheck-frontend

fix(api): make stored draft pin action_refs optional
  tracecat/workflow/management/types.py
Due: gen-client, basedpyright

test(engine): cover loop-body pin rejection
  tests/unit/test_draft_pin_resolution.py
Due: basedpyright

fix(cases): handle rich mention edge cases
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(engine): treat an ENOMEM syscall failure as the same memory cap
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

test(engine): cover both shapes of sandbox memory exhaustion
  tests/unit/executor/test_run_python_sdk_context.py
Due: basedpyright

fix(cases): harden comment mention editing
  frontend/src/components/cases/case-comment-editor.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(cases): preserve rich comment edit positions
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
Due: biome-check, typecheck-frontend

fix(engine): keep the resource-limit code through the last memory traps
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

feat(api): add SMTP email transport and invitation templates
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_email.py
  tests/unit/test_invitation_email.py
  tracecat/email/client.py
  tracecat/email/templates.py
  tracecat/email/transport.py
  tracecat/invitations/email.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

fix(engine): release the whole exception chain, and cover ENOMEM everywhere
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(cases): preserve rich comment semantics
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-markdown-hard-break.test.ts
  frontend/src/lib/tiptap-markdown-hard-break.ts
Due: biome-check, typecheck-frontend

fix(engine): guard input decoding and free the buffers before recovering
  tracecat/executor/minimal_runner.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

fix(cases): preserve comment replacement semantics
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
Due: biome-check, typecheck-frontend

docs(docs): say where the sandbox memory caps have to be set
  docs/self-hosting/security.mdx
Due: none

fix(agents): accept legacy enabled key in agents config
  alembic/versions/c3a17be4d902_drop_legacy_agents_enabled_key.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_schemas.py
  tracecat/agent/subagents.py
  tracecat/db/models.py
Due: gen-client, basedpyright

test(agents): align archived skill tests with soft-delete semantics
  tests/unit/test_agent_preset_service.py
Due: basedpyright

fix(cases): match edited mentions by target
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend
