Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(sync): retry 429s and measure payload like PyGithub
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix(sync): upload oversized tree entries as blobs
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

test(executor): start gateway for builtin smoke
  tests/unit/test_executor_sandbox_nsjail.py
Due: basedpyright

refactor(executor): make Action Gateway mandatory (#3075)
  .github/workflows/test-python.yml
  packages/tracecat-registry/tracecat_registry/context.py
  packages/tracecat-registry/tracecat_registry/sdk/client.py
  tests/conftest.py
  tests/registry/test_cases_characterization.py
  tests/registry/test_context.py
  tests/registry/test_internal_workflow_router.py
  tests/registry/test_sdk_errors.py
  tests/registry/test_table_characterization.py
  tests/registry/test_tracecat_client.py
  tests/unit/api/conftest.py
  tests/unit/api/test_api_case_rows.py
  tests/unit/api/test_api_internal_cases.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/test_action_gateway_app.py
  tests/unit/test_action_runner.py
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tracecat/api/app.py
  tracecat/config.py
  tracecat/executor/action_gateway/config.py
  tracecat/executor/action_gateway/server.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/pool/pool.py
  tracecat/executor/backends/test.py
Due: gen-client, basedpyright

refactor(sync): tighten GitHub tree batching
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

test: simplify registry import reload coverage
  tests/unit/test_registry_import_race.py
  tests/unit/test_registry_repository.py
Due: basedpyright

perf(sync): batch GitHub export writes to avoid rate limits (#3073)
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

release: 1.0.0-beta.51-rc.8
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(sandbox): stop exposing internal API URL
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/test_action_runner.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/base.py
Due: gen-client, basedpyright

perf(agent): fuse turn-prepare activity chain into one activity
  packages/tracecat-ee/tracecat_ee/agent/prepare.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/integration/test_agent_worker.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_prepare.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/worker.py
Due: gen-client, basedpyright

refactor(agent): remove legacy sdk_session_data from PreparedTurn and workflow methods
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

fix(agent): harden fused prepare rollout and close test gaps
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/prepare.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/integration/test_dsl_agent_wiring.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

fix(ui): include pending approval as streamable status (#2983)
  frontend/src/components/agents/agent-approvals-dialog.tsx
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/components/inbox/inbox-detail.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/chat-transform.test.ts
  frontend/tests/inbox-detail.test.tsx
  frontend/tests/memo-render-count.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_messages.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/connector.py
  tracecat/chat/schemas.py
  tracecat/redis/client.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): FOR UPDATE lock during oauth refresh flow (#3047)
  tests/unit/test_integrations_service.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/service.py
  tracecat/secrets/secrets_manager.py
Due: gen-client, basedpyright

refactor(mcp): group catalog research metadata
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_pins.py
Due: gen-client, basedpyright

fix(integrations): register refresh_token grant and request offline_access for MCP OAuth
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/service.py
  tracecat/integrations/types.py
Due: gen-client, basedpyright

feat(integrations): new mcp integration state for connected but degraded
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/app/workspaces/[workspaceId]/mcp-servers/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/oauth-integration-details-dialog.tsx
  tests/unit/test_integrations_service.py
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tracecat/db/models.py
  tracecat/integrations/catalog/service.py
  tracecat/integrations/enums.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): correct OAuth connection state handling
  frontend/src/components/integrations/oauth-integration-details-dialog.tsx
  frontend/tests/oauth-integration-details-dialog.test.tsx
  tests/unit/test_integrations_service.py
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tests/unit/test_mcp_server.py
  tracecat/db/models.py
  tracecat/integrations/catalog/service.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/router.py
  tracecat/integrations/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(integrations): drop redundant list validator
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/service.py
  tracecat/integrations/types.py
Due: gen-client, basedpyright

fix(mcp): preserve empty DCR scope echoes
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/service.py
  tracecat/integrations/types.py
Due: gen-client, basedpyright

cleanup
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_turn_request.py
  tracecat/agent/workflow_schemas.py
Due: gen-client, basedpyright

fix(integrations): register refresh_token grant and request offline_a… (#3069)
  frontend/src/app/workspaces/[workspaceId]/integrations/page.tsx
  frontend/src/app/workspaces/[workspaceId]/mcp-servers/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/oauth-integration-details-dialog.tsx
  frontend/tests/oauth-integration-details-dialog.test.tsx
  tests/unit/test_integrations_service.py
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tests/unit/test_mcp_server.py
  tracecat/db/models.py
  tracecat/integrations/catalog/service.py
  tracecat/integrations/enums.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/router.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
  tracecat/integrations/types.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(mcp): pin stdio catalog integrations (#3053)
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_catalog_pins.py
  tracecat/integrations/catalog/mcp_catalog.json
Due: gen-client, basedpyright

feat(integrations): support optional oauth_resource override for mcp
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/catalog/types.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs(scc): add Google Security Command Center tool reference
  docs/docs.json
  docs/tools/google_api.mdx
  docs/tools/google_scc.mdx
Due: none

feat(scc): declare google_api credentials on SCC templates
  docs/tools/google_scc.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/list_findings.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/list_sources.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/mute_finding.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_scc/set_finding_state.yml
Due: gen-client

chore(scc): pin SCC MCP server to scc-mcp==0.1.0
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
Due: gen-client

feat(ui): rename workflows from the dashboard and builder
  docs/automations/workflows.mdx
  docs/img/automations/workflows/rename-workflow-builder.png
  docs/img/automations/workflows/rename-workflow.png
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/table-common.tsx
  frontend/src/components/dashboard/workflow-rename-dialog.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/ui/context-menu.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/providers/workflow.tsx
Due: biome-check, typecheck-frontend

feat(integrations): support optional oauth_resource override for mcp (#3081)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/catalog/types.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agents): batch agent approvals
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/chat-transform.test.ts
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_approvals_manager.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): address batch approval concurrent user
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/chat-transform.test.ts
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  tests/unit/test_agent_session_approval_sink.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_vercel_adapter.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/agent/stream/connector.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

nit: type persisted approval decisions
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_chat_schemas.py
  tracecat/agent/approvals/types.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/session/service.py
  tracecat/chat/schemas.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

docs: document Markdown support for cases
  docs/automations/cases.mdx
Due: none

docs: clarify MCP support for AI agents
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/automations/integrations/mcp-integrations.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

fix(ui): use pointer cursor on dropdown menu items
  frontend/src/components/ui/dropdown-menu.tsx
Due: biome-check, typecheck-frontend

docs: require AI model selection
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  scripts/generate_ai_docs.py
Due: basedpyright

docs: update navbar calls to action
  docs/docs.json
Due: none

docs: clarify case Markdown and agent MCP support (#3087)
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/automations/cases.mdx
  docs/automations/integrations/mcp-integrations.mdx
  docs/docs.json
  scripts/generate_ai_docs.py
Due: basedpyright

feat(cases): add payload copy button
  frontend/src/components/cases/case-payload-section.tsx
Due: biome-check, typecheck-frontend

feat(cases): add payload copy button (#3090)
  frontend/src/components/cases/case-payload-section.tsx
Due: biome-check, typecheck-frontend
