Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(sync): dual-write subagent edges in preset sync writers
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

test(sync): tighten subagent edge sync assertions
  tests/unit/test_workspace_sync_acceptance_contract.py
Due: basedpyright

refactor(registry): name the Forms body fields and state documented maxima
  docs/tools/gmail.mdx
  docs/tools/google_directory.mdx
  docs/tools/google_drive.mdx
  docs/tools/google_forms.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/gmail/messages/search_messages.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_docs/batch_update_document.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_drive/files/list_files.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_forms/forms/create_form.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_forms/forms/set_publish_settings.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_forms/watches/create_watch.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/google_sheets/batch_update_values.yml
  tests/unit/test_google_api_credentials.py
Due: gen-client, basedpyright

fix(sync): keep tombstone-child subagent edges in projection
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

fix(agent): tolerate migrated slug-only JSON in head dual-write
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(sync): project version subagents from normalized edges
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

fix(agent): point nested-subagent ban at normalized edges
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/resolver.py
Due: gen-client, basedpyright

fix(agent): serve newer legacy JSON over stale head edges
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(ui): refresh skill versions list after restore
  frontend/src/hooks/use-skills.ts
Due: biome-check, typecheck-frontend

fix(agent): drop row locks from legacy binding read paths
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agent): reconcile legacy head bindings on read
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

docs(agent): mark preset_version arg as an explicit no-op
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
Due: gen-client, basedpyright

chore(agent): delete unused legacy reconcile helpers
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agent): accept persisted null preset_version in resolved refs
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_preset_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/subagents.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): adapt edge-ban fix and regressions to head resolution
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/preset/resolver.py
Due: gen-client, basedpyright

fix(agent): stop stale slug-only JSON overriding subagent head edges
  frontend/src/lib/agent-preset-document.ts
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): guard effective skill slugs during expand window
  tests/unit/test_agent_skill_internal_router.py
  tests/unit/test_skill_service.py
  tracecat/agent/skill/internal_router.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/service.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(sync): reject shadowed legacy skill bindings on export
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

refactor(agent): use skill slugs as package identity
  alembic/versions/d2f4a6c8e0b1_add_skill_version_slug.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_workflow_config.py
  tests/unit/test_builtin_skills.py
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(sync): dedupe full skill exports by effective slug
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(sync): validate skill slugs at the manifest boundary
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

refactor(agent): narrow skill package identity model
  alembic/versions/d2f4a6c8e0b1_add_skill_version_slug.py
  docs/agents/skills.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_workflow_config.py
  tests/unit/test_builtin_skills.py
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(sync): dedupe ID-seeded skill exports by effective slug
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(dsl): gate preflight mint reorder behind a patch marker
  tests/unit/test_agent_preset_service.py
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/agent/preset/service.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agent): anchor pinned config resolution to preset identity
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

fix(agent): record exact resolved skill package
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(sync): cap skill display names at 64 chars in manifest schema
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/schemas.py
Due: gen-client, basedpyright

feat(agent): record per-turn resource provenance
  alembic/versions/b4e6c8a2d0f1_add_agent_turn_provenance.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_skill_service.py
  tracecat/agent/preset/activities.py
  tracecat/agent/preset/resolved_refs.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/preset/service.py
  tracecat/agent/service.py
  tracecat/agent/session/service.py
  tracecat/agent/types.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(agent): always record root refs in turn provenance
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/activities.py
  tracecat/agent/preset/resolved_refs.py
  tracecat/agent/service.py
  tracecat/agent/session/service.py
  tracecat/db/models.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

feat(agent): resolve resource graph at dispatch
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_session_activities.py
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/preset/activities.py
  tracecat/agent/schemas.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

refactor(integrations): drop the catalog detach migration
  alembic/versions/2ba251c25b81_detach_retired_mcp_catalog_recipes.py
  tests/migration/test_detach_retired_mcp_catalog_recipes_migration.py
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_integrations.py
Due: basedpyright

fix(registry): accept URL-safe Base64 media and state the Gmail delete scope
  docs/tools/gmail.mdx
  packages/tracecat-registry/tracecat_registry/integrations/google_api.py
  packages/tracecat-registry/tracecat_registry/templates/tools/gmail/messages/batch_delete_messages.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gmail/messages/delete_message.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gmail/threads/delete_thread.yml
  tests/unit/test_google_api_credentials.py
Due: gen-client, basedpyright

revert(integrations): drop host pinning for templated MCP catalog URIs
  tests/unit/test_mcp_catalog_resolver.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/resolver.py
Due: gen-client, basedpyright

refactor(runtime): simplify search attribute handling by using a centralized dictionary
  tracecat/api/common.py
Due: gen-client, basedpyright

refactor(integrations): trim ENG-1651 to catalog removals and stale bindings
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/integrations/mcp-integration-dialog.tsx
  frontend/src/components/integrations/mcp-integration-schema.ts
  frontend/src/components/mcp-catalog-icons.tsx
  frontend/tests/mcp-integration-schema.test.ts
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_catalog_pins.py
  tests/unit/test_mcp_catalog_resolver.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/catalog/mcp_catalog.json
  tracecat/integrations/catalog/types.py
  tracecat/integrations/schemas.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(integrations): keep stale MCP bindings cheap and non-destructive
  frontend/src/components/mcp-catalog-icons.tsx
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_resolver.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): retire broken MCP catalog stdio recipes (#3312)
  packages/tracecat-ee/tracecat_ee/mcp/catalog/mcp_catalog_private.json
  tests/unit/test_mcp_catalog_loader.py
  tests/unit/test_mcp_catalog_pins.py
  tests/unit/test_mcp_catalog_resolver.py
  tests/unit/test_mcp_integrations.py
  tracecat/integrations/catalog/loader.py
  tracecat/integrations/catalog/mcp_catalog.json
  tracecat/integrations/catalog/resolver.py
  tracecat/integrations/catalog/service.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright
