Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

Drop raise error tool
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
  tracecat/agent/agent/__init__.py
Due: gen-client

Move tokens
  tracecat/agent/agent/tokens.py
Due: none

Delete parsers
  packages/tracecat-registry/tracecat_registry/integrations/agents/parsers.py
Due: gen-client

Remove test files for Pydantic AI and agent builder functionality
  tests/registry/test_pydantic_ai.py
  tests/unit/test_agent_builder.py
Due: none

refactor: Extract AI agent registration to core module
  packages/tracecat-registry/tracecat_registry/core/agent.py
Due: gen-client

refactor: Reorganize agent module into dedicated submodule structure
  tracecat/agent/agent/parsers.py
  tracecat/agent/agent/providers.py
  tracecat/agent/agent/runtime.py
  tracecat/agent/agent/tools.py
  tracecat/agent/exceptions.py
Due: none

refactor: Remove old agent implementation files
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/exceptions.py
  packages/tracecat-registry/tracecat_registry/integrations/pydantic_ai.py
  tracecat/agent/__init__.py
  tracecat/agent/providers.py
Due: gen-client

refactor: Update imports for reorganized agent module
  tracecat/agent/executor/aio.py
  tracecat/chat/router.py
Due: none

refactor: Move pydantic-ai dependency from registry to main package
  packages/tracecat-registry/pyproject.toml
  pyproject.toml
  uv.lock
Due: gen-client

feat(registry): Enhance UDF loading with database fallback and error handling
  tests/unit/test_registry_loader_remote.py
  tracecat/registry/loaders.py
Due: none

refactor: Update imports in chat service for new agent structure
  tracecat/chat/service.py
Due: none

refactor: Integrate orjson for improved JSON handling in model provider
  tracecat/agent/agent/providers.py
Due: none

refactor: Enhance agent creation with improved instruction handling
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tracecat/agent/agent/providers.py
  tracecat/agent/agent/runtime.py
  tracecat/agent/agent/tools.py
Due: gen-client

refactor: Update imports and class names for agent module consistency
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/agent/agent/tools.py
  tracecat/runbook/service.py
Due: gen-client

refactor: Update imports for agent module consistency
  tracecat/runbook/flows.py
  tracecat/runbook/router.py
  tracecat/workflow/executions/router.py
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

refactor: Introduce new agent components and restructure imports
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tracecat/agent/agent/__init__.py
  tracecat/agent/executor/aio.py
  tracecat/agent/parsers.py
  tracecat/agent/providers.py
  tracecat/agent/runtime.py
  tracecat/agent/tokens.py
  tracecat/agent/tools.py
  tracecat/chat/router.py
  tracecat/chat/service.py
  tracecat/runbook/flows.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
  tracecat/workflow/executions/router.py
Due: gen-client

refactor: Enhance agent module with new registry secrets
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/agent/agent/providers.py
Due: gen-client

refactor(agents): Move agent code from integrations into main pkg (#1452)
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
  packages/tracecat-registry/tracecat_registry/integrations/pydantic_ai.py
  pyproject.toml
  tests/registry/test_pydantic_ai.py
  tests/unit/test_agent_builder.py
  tracecat/agent/__init__.py
  tracecat/agent/exceptions.py
  tracecat/agent/executor/aio.py
  tracecat/agent/parsers.py
  tracecat/agent/providers.py
  tracecat/agent/runtime.py
  tracecat/agent/tokens.py
  tracecat/agent/tools.py
  tracecat/chat/router.py
  tracecat/chat/service.py
  tracecat/runbook/flows.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
  tracecat/workflow/executions/router.py
  uv.lock
Due: gen-client

security!: Remove CLI tools from image
  packages/tracecat-registry/tracecat_registry/_internal/kubernetes.py
  packages/tracecat-registry/tracecat_registry/integrations/grep.py
  packages/tracecat-registry/tracecat_registry/integrations/kubernetes.py
  pyproject.toml
  scripts/install-packages.sh
  tests/registry/test_kubernetes.py
  uv.lock
Due: gen-client

Fixed Okta API doc URL to new API doc portal
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/activate_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/create_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/search_users.yml
Due: gen-client

Fixing name of templates to align with common Okta language
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_user_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/unassign_from_group.yml
Due: gen-client

refactor(provider-config): Remove unused isMCP check from ProviderConfigForm
  frontend/src/components/provider-config-form.tsx
Due: biome-check

refactor(provider-config): Remove unused import of isMCPProvider from ProviderConfigForm
  frontend/src/components/provider-config-form.tsx
Due: biome-check

Revert "Fixing name of templates to align with common Okta language"
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
Due: gen-client

Fix API doc url for add and remove from group okta templatess
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
Due: gen-client

chore: Delete test grep
  tests/registry/test_grep.py
Due: none

Add domain and email leaks research
  docs/cheatsheets/integrations.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/leakcheck/search_domain_leak.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/leakcheck/search_email_leak.yml
Due: gen-client

chore: Drop k8s actions
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/create.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/create_pvc.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/create_secret.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/delete.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/exec.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/get_logs.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/list_containers.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/list_pods.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/list_pvc.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/list_secrets.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/kubernetes/run.yml
Due: gen-client

Runbook prompts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/runbook/prompts.py
Due: biome-check

Simplify runbook schema
  tracecat/db/schemas.py
Due: none

fix fixed args
  tracecat/agent/runtime.py
Due: none

Refactor runbook generation process
  .pre-commit-config.yaml
  tracecat/runbook/flows.py
  tracecat/runbook/prompts.py
  tracecat/runbook/service.py
Due: none

Quick format fix
  tracecat/runbook/prompts.py
Due: none

Add runbook prompts
  tracecat/runbook/prompts.py
Due: none

Add runbook retrieval methods
  tracecat/runbook/service.py
Due: none

Refactor runbook models and update router logic
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: none

Update runbook text formatting in _reduce_runbook_to_text function
  tracecat/runbook/prompts.py
Due: none

Remove unused imports and the inject_case_content function from ChatService to streamline the codebase.
  tracecat/chat/service.py
Due: none

Add runbook title generation and execution methods
  tracecat/runbook/flows.py
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
