Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Remove redundant MCP instructions unit test
  tests/unit/test_mcp_server.py
Due: basedpyright

fix(deps): pin patched versions for 18 Dependabot security alerts
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  uv.lock
Due: biome-check, typecheck-frontend

fix: MCP instruction expression brace syntax (#2461)
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(deps): update fastmcp import path and add griffe shim package
  pyproject.toml
  tests/unit/test_mcp_server.py
  tracecat/mcp/middleware.py
  uv.lock
Due: gen-client, basedpyright

fix(deps): pin patched versions for Dependabot security alerts (#2462)
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  tests/unit/test_mcp_server.py
  tracecat/mcp/middleware.py
  uv.lock
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): add reasoning support to llm proxy
  tests/unit/test_agent_runtime.py
  tests/unit/test_claude_adapter.py
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy_cloud_providers.py
  tests/unit/test_tracecat_llm_proxy_reasoning_shared.py
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/provider_azure_ai.py
  tracecat/agent/llm_proxy/provider_azure_openai.py
  tracecat/agent/llm_proxy/provider_bedrock.py
  tracecat/agent/llm_proxy/provider_common.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/providers.py
  tracecat/agent/llm_proxy/requests.py
  tracecat/agent/preset/service.py
  tracecat/agent/runtime/claude_code/adapter.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

refactor(agents): llm proxy providers
  tests/unit/test_tracecat_llm_proxy.py
  tracecat/agent/llm_proxy/anthropic_compat.py
  tracecat/agent/llm_proxy/provider_azure_openai.py
  tracecat/agent/llm_proxy/provider_bedrock.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/providers.py
Due: gen-client, basedpyright

refactor(agents): llm proxy
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_tracecat_llm_proxy_anthropic_family.py
  tests/unit/test_tracecat_llm_proxy_cloud_providers.py
  tests/unit/test_tracecat_llm_proxy_reasoning_shared.py
  tracecat/agent/llm_proxy/content_blocks.py
  tracecat/agent/llm_proxy/core.py
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/provider_azure_ai.py
  tracecat/agent/llm_proxy/provider_azure_openai.py
  tracecat/agent/llm_proxy/provider_bedrock.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/requests.py
  tracecat/agent/llm_proxy/response_rendering.py
  tracecat/agent/llm_proxy/tool_compat.py
Due: gen-client, basedpyright

fix(agents): tweak system prompt
  tracecat/agent/llm_proxy/response_rendering.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

release: 1.0.0-beta.36 (#2463)
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Speed up agent sandbox startup
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/entrypoint.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  db/fa64d0a80ddd23f8b5416d7ad685df5a360356
Due: none

Fix init payload path for direct and nsjail modes
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/entrypoint.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  ab/4cdd50061c66f8948634b5cdc85e74af3c6d19
Due: none

fix(agents): strip internal proxy metadata from tool args (#2456)
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  tests/unit/test_agent_mcp_metadata.py
  tests/unit/test_approvals_manager.py
  tests/unit/test_watchtower_service.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/mcp/metadata.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/session/service.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright

Avoid process-wide umask in control socket setup
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  de/fb83752e0d316e04e9a18a504dc1971de7dceb
Due: none

Preserve direct-mode runtime importability
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/sandbox/entrypoint.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  8e/14d6ba9c86e696e0f04ce5d003279c05358336
Due: none

Unify agent init payload path handling
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/sandbox/entrypoint.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  7a/bb631245a0350fa10747a3e11067934298ace8
Due: none

Require init payload path for sandbox spawn
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0b/45c7299f1ae3dea5003ae92ac4003d8db917ca
Due: none

Close leaked control server on startup failure
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  d3/842ba1db856f008e8b1022cd5936858aa00276
Due: none

fix(workflow-tags): enforce workspace scoping for tag links (#2206)
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/test_api_workflow_tags.py
  tests/unit/test_case_tags_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_tables_service.py
  tests/unit/test_tags_service.py
  tracecat/cases/tags/service.py
  tracecat/tables/service.py
  tracecat/workflow/tags/router.py
  tracecat/workflow/tags/service.py
Due: gen-client, basedpyright

fix(agents): map OpenAI Responses API status to finish_reason and extract reasoning from completed items
  tests/unit/test_agent_runtime.py
  tracecat/agent/llm_proxy/provider_google.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/requests.py
  tracecat/agent/llm_proxy/response_rendering.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Cap runtime init payload size
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  1e/677460063ddbac0cc7f6c5bd6037753a747812
Due: none

fix(agents): coerce thinking blocks to azure chat api
  tests/unit/test_tracecat_llm_proxy.py
  tracecat/agent/llm_proxy/provider_azure_openai.py
Due: gen-client, basedpyright

Fix OIDC startup gating and CI regressions
  tests/integration/test_agent_worker.py
  tests/temporal/test_large_collection_regressions.py
  tests/temporal/test_workflows.py
  tests/unit/test_oidc_config.py
  tracecat/api/app.py
  tracecat/auth/oidc.py
  tracecat/config.py
Due: gen-client, basedpyright

Avoid eager loopback sink initialization
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  46/f2fd4f5e81d706e216da0225d9b043996981db
Due: none

Clean up spawned nsjail runtime state
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  f9/c900223a9c8fe50f52c1642f9e260029d0e760
Due: none

fix(agents): prevent duplicate tool results and lost text in OpenAI Responses API
  tracecat/agent/llm_proxy/provider_openai.py
Due: gen-client, basedpyright

Add brokered nsjail Claude runtime
  docker-compose.dev.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_runtime_services.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/runtime_services.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/sandbox/shim_entrypoint.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  9f/6d502a60967ffd7bf5f2af229ded266e540d53
Due: none

Simplify brokered sandbox runtime flow
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/sandbox/shim_entrypoint.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  bc/18a1074984bb5dafbb9ae1659ac8c17b0b6e34
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
