Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

test(agent): cover per-job uv state cleanup
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_nsjail.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_nsjail.py
Due: basedpyright

fix(agent): preserve setup errors during cleanup
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(agent): force-remove sandbox-owned job trees (#3229)
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_common_fs.py
  tests/unit/test_agent_nsjail.py
  tests/unit/test_agent_runtime_broker.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_nsjail.py
  tracecat/agent/common/fs.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/nsjail.py
Due: gen-client, basedpyright

fix(agent): use agent egress policy for MCP probe
  tests/unit/test_stdio_probe.py
  tracecat/agent/mcp/stdio_probe.py
Due: gen-client, basedpyright

fix(cases): raise linked-row cap to 5,000 and batch (#3226)
  tests/unit/api/test_api_case_rows.py
  tests/unit/test_case_table_rows_service.py
  tracecat/cases/rows/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Delete tests/registry/test_tavily.py
  tests/registry/test_tavily.py
Due: basedpyright

fix(registry): send tavily search depth as search_depth (#3020)
  docs/tools/tavily.mdx
  packages/tracecat-registry/tracecat_registry/integrations/tavily.py
Due: gen-client, basedpyright

nit: change policy map module docstring
  tracecat/executor/expression_policy_map.py
Due: gen-client, basedpyright

fix(executor): retain manifest cache refresh interval
  tracecat/executor/registry_resolver.py
Due: gen-client, basedpyright

fix(agent): disable Claude Code attribution header for non-Anthropic providers
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(sandbox): bound NSTUN UDP and ICMP sockets
  docker/nsjail/nstun-bounded-memory.patch
  tests/unit/test_executor_sandbox_nsjail.py
Due: basedpyright

feat(logging): test audit webhook connectivity
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/platform-audit-settings.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/audit-webhook-test.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/settings/router.py
  tests/unit/api/test_api_actor_roles.py
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_audit_service.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/settings/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): add configurable timeout columns
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
Due: basedpyright

fix(chat): harden expression resolution at durable sinks
  tests/unit/test_executor_service.py
  tests/unit/test_expression_policy.py
  tracecat/executor/service.py
  tracecat/expressions/core.py
  tracecat/expressions/eval.py
  tracecat/expressions/policy.py
Due: gen-client, basedpyright

fix(expressions): extract expressions without invoking the evaluator
  tracecat/expressions/eval.py
Due: gen-client, basedpyright

refactor(expressions): model secret dependencies as an explicit trie
  tests/unit/test_expression_policy.py
  tracecat/expressions/policy.py
Due: gen-client, basedpyright

refactor(executor): name manifest cache entry fields
  tests/unit/test_registry_resolver.py
  tracecat/executor/registry_resolver.py
Due: gen-client, basedpyright

refactor(expressions): split collection-time policy out of redaction
  tracecat/expressions/policy.py
Due: gen-client, basedpyright

feat(cases): create comment agent invocations
  tests/unit/test_case_comments_service.py
  tracecat/cases/agent_invocations/__init__.py
  tracecat/cases/agent_invocations/service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

feat(cases): add comment agent invocation model
  alembic/versions/35fa9fc71258_add_case_comment_agent_invocation.py
  tracecat/cases/enums.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(cases): enforce agent mention permissions
  tests/unit/test_case_comments_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(cases): harden agent reply delivery
  tests/unit/test_case_comments_service.py
  tracecat/cases/agent_invocations/completion.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

feat(cases): phase 3 comment agent orchestration
  tests/unit/test_case_comments_service.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/agent/worker.py
  tracecat/cases/agent_invocations/activities.py
  tracecat/cases/agent_invocations/completion.py
  tracecat/cases/agent_invocations/dispatcher.py
  tracecat/cases/agent_invocations/output.py
  tracecat/cases/agent_invocations/prompts.py
  tracecat/cases/agent_invocations/queue.py
  tracecat/cases/agent_invocations/schemas.py
  tracecat/cases/agent_invocations/service.py
  tracecat/cases/agent_invocations/types.py
  tracecat/cases/agent_invocations/workflows.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

test(cases): cover comment agent invocation lifecycle
  tests/temporal/test_case_comment_agent_invocation_workflow.py
  tests/unit/test_case_comments_service.py
  tests/unit/test_session_events.py
  tracecat/db/session_events.py
Due: gen-client, basedpyright

fix(cases): truncate oversized agent replies
  tests/unit/test_case_comment_agent_output.py
  tracecat/cases/agent_invocations/output.py
  tracecat/cases/schemas.py
Due: gen-client, basedpyright

fix(cases): harden comment agent invocations
  alembic/versions/a235e885c62e_add_role_to_case_comment_agent_.py
  tests/unit/test_case_comments_service.py
  tracecat/agent/worker.py
  tracecat/cases/agent_invocations/queue.py
  tracecat/cases/agent_invocations/service.py
  tracecat/cases/agent_invocations/types.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright

feat(audit): test webhook connectivity against submitted config
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/settings/router.py
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_audit_service.py
  tracecat/audit/service.py
  tracecat/integrations/providers/base.py
  tracecat/network.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

perf(executor): share platform registry manifest cache (#3170)
  tests/unit/test_registry_resolver.py
  tests/unit/test_rls_failure_repros.py
  tracecat/executor/registry_resolver.py
Due: gen-client, basedpyright

refactor(cases): simplify comment agent invocation startup
  alembic/versions/a235e885c62e_add_role_to_case_comment_agent_.py
  tests/unit/test_case_comments_service.py
  tracecat/agent/worker.py
  tracecat/cases/agent_invocations/queue.py
  tracecat/cases/agent_invocations/service.py
  tracecat/cases/agent_invocations/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(audit): harden webhook probe against resource and SSRF abuse
  frontend/src/lib/audit-webhook-test.ts
  tests/unit/api/test_api_audit_webhook_test.py
  tracecat/audit/service.py
  tracecat/network.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(audit): map malformed DNS labels to a client error
  tests/unit/api/test_api_audit_webhook_test.py
  tracecat/network.py
Due: gen-client, basedpyright

feat(mcp): add revision guards to skill update and publish tools
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tests/unit/test_skill_service.py
  tracecat/agent/skill/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(cases): reserve agent replies for workflow
  tracecat/cases/agent_invocations/prompts.py
Due: gen-client, basedpyright

refactor: typings and consolidate webhook config
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_audit_service.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/integrations/providers/base.py
  tracecat/network.py
Due: gen-client, basedpyright

fix(agent): add missing timeout fields to database models
  alembic/versions/4e4a211c481e_add_agent_timeout_seconds.py
  tracecat/db/models.py
Due: gen-client, basedpyright

nit: swap namedTuple for dataclass
  tracecat/network.py
Due: gen-client, basedpyright

feat(logging): test audit webhooks (#3235)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/platform-audit-settings.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/audit-webhook-test.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/settings/router.py
  tests/unit/api/test_api_actor_roles.py
  tests/unit/api/test_api_audit_webhook_test.py
  tests/unit/test_audit_service.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/integrations/providers/base.py
  tracecat/network.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(sandbox): opt-in public IPv6 egress with filtered baseline
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docker/nsjail/nstun-bounded-memory.patch
  tests/registry/test_core_python.py
  tests/unit/test_config.py
  tests/unit/test_executor_sandbox_nsjail.py
  tests/unit/test_registry_sync_sandbox.py
  tests/unit/test_sandbox_networking.py
  tests/unit/test_stdio_probe.py
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/config.py
  tracecat/registry/sync/sandbox.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

fix(cases): block comment tools in agent invocations
  tests/temporal/test_case_comment_agent_invocation_workflow.py
  tracecat/cases/agent_invocations/activities.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.2
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright
