Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

chore: Run just lint-fix
  frontend/src/components/system.tsx
Due: biome-check

release: 0.46.2
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

refactor(router): Update role type from OrganizationAdminUserRole to OrganizationUserRole for model and provider endpoints
  tracecat/agent/router.py
Due: none

fix: Use OrganizationUserRole for agent model/provider endpoints (#1498)
  tracecat/agent/router.py
Due: none

release: 0.46.3
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

Adding SSL Verification option to all GoPhish commands
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/create_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/delete_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_results.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/list_campaigns.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/create_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/delete_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/modify_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/create_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/delete_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/get_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/list_landing_pages.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/modify_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/create_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/delete_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/get_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/list_sending_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/modify_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/create_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/delete_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/get_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/list_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/modify_template.yml
Due: gen-client

fix(integrations): Handle missing key in Slack API response gracefully
  packages/tracecat-registry/tracecat_registry/integrations/slack_sdk.py
Due: gen-client

feat(integrations): Adding SSL Verification option to all GoPhish commands (#1499)
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/create_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/delete_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_results.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/list_campaigns.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/create_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/delete_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/modify_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/create_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/delete_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/get_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/list_landing_pages.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/modify_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/create_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/delete_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/get_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/list_sending_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/modify_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/create_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/delete_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/get_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/list_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/modify_template.yml
Due: gen-client

fix(integrations): `key` parse logic in Slack paginated APIs (#1500)
  packages/tracecat-registry/tracecat_registry/integrations/slack_sdk.py
Due: gen-client

release: 0.46.4
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

chore(tests): Drop unused slack creds in conftest
  tests/conftest.py
Due: none

fix(agent): Fix async execution and structured output parsing for agent actions
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/conftest.py
  tests/registry/test_agent.py
  tracecat/agent/parsers.py
  tracecat/agent/runtime.py
Due: gen-client

Reinstate global limits for registry agents
  tracecat/agent/runtime.py
Due: none

fix: use anyio
  tests/registry/test_agent.py
Due: none

Update tracecat/agent/parsers.py
  tracecat/agent/parsers.py
Due: none

Replace timeit with default_timer
  tracecat/agent/runtime.py
Due: none

test(agent): Add agent tools test
  tests/unit/test_agent_tools.py
  tracecat/agent/tools.py
Due: none

fix mocked credentials strategy
  tests/conftest.py
Due: none

fix(agent): Regression bug in non-str output type (#1501)
  packages/tracecat-registry/tracecat_registry/core/agent.py
  tests/conftest.py
  tests/registry/test_agent.py
  tracecat/agent/parsers.py
  tracecat/agent/runtime.py
Due: gen-client

release: 0.46.6
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

Add verify_ssl
  packages/tracecat-registry/tracecat_registry/templates/tools/elastic_security/list_detection_signals.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/get_index_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/get_mapping.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/list_aliases.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/list_indices.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/search_events.yml
Due: gen-client

feat(integrations): Add verify_ssl to elastic integrations (#1502)
  packages/tracecat-registry/tracecat_registry/templates/tools/elastic_security/list_detection_signals.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/get_index_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/get_mapping.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/list_aliases.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/list_indices.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/elasticsearch/search_events.yml
Due: gen-client

Rename descriptions and titles
  packages/tracecat-registry/tracecat_registry/core/table.py
Due: gen-client

Refactor: Rename search_records to search_rows in database
  alembic/versions/e1f2a3b4c5d6_rename_core_table_search_records_to_search_rows.py
Due: none

Rename action
  packages/tracecat-registry/tracecat_registry/core/table.py
Due: gen-client

Add migration
  alembic/versions/7f4c4a2130b8_rename_search_records_actions.py
Due: none

Renamed search_records to search_rows
  tests/registry/test_core_table.py
Due: none

feat(integrations): Rename search_records to search_rows UDF (#1504)
  alembic/versions/7f4c4a2130b8_rename_search_records_actions.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
Due: gen-client

feat: add anchor selection to case durations
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/__init__.py
  tracecat/cases/durations/models.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
  tracecat/workspaces/models.py
Due: none

Restore public app URL redirects for OAuth flows
  frontend/src/app/integrations/callback/route.ts
Due: biome-check

Add explicit CaseId tag for case management APIs
  tracecat/cases/prompts.py
Due: none

chore: format integrations callback route
  frontend/src/app/integrations/callback/route.ts
Due: biome-check

fix(agents): Make CaseID explicit in case copilot prompt (#1507)
  tracecat/cases/prompts.py
Due: none

Enforce OAuth scope selection in provider config form
  frontend/src/components/provider-config-form.tsx
Due: biome-check

fix: stabilize case duration workspace integration
  tests/unit/test_case_duration_service.py
  tracecat/cases/durations/__init__.py
  tracecat/workspaces/models.py
Due: none

fix(ui+api): Redirect OAuth flows to public app url on fail (#1506)
  frontend/src/app/integrations/callback/route.ts
  frontend/src/components/provider-config-form.tsx
Due: biome-check

Use short time display for case timestamps
  frontend/src/components/cases/case-table-columns.tsx
Due: biome-check

Use short time display for case timestamps (#1508)
  frontend/src/components/cases/case-table-columns.tsx
Due: biome-check

feat(azure): add azure management cc provider
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/microsoft/azure.py
  tracecat/integrations/providers/microsoft/loganalytics.py
  tracecat/integrations/providers/microsoft/sentinel.py
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
