Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(storage): use env_bool for blob storage TLS flag and update client call expectation
  tests/unit/test_materialize_context.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(integrations): match TypeSafe System One endpoint name
  packages/tracecat-registry/tracecat_registry/templates/tools/typesafe/systemone.yml
Due: gen-client

fix(api): return 422 for malformed workflow IDs
  tests/unit/test_identifiers.py
  tracecat/identifiers/workflow.py
Due: gen-client, basedpyright

fix(infra): replace MinIO image with Chainguard in Compose files
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(integrations): make TypeSafe Jev searchable by display group
  packages/tracecat-registry/tracecat_registry/templates/tools/typesafe/systemone.yml
Due: gen-client

build(build): shrink app images by removing duplicated layers (#3629)
  .github/workflows/run-integration-tests.yml
  Dockerfile
  tests/smoke_app_image.py
Due: basedpyright

fix(api): explain accepted workflow ID formats
  tests/unit/test_identifiers.py
  tracecat/identifiers/workflow.py
Due: gen-client, basedpyright

fix(ui+api): count nested workflows in folder view header
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/workflows-dashboard.tsx
  tests/unit/test_workflow_folders_service.py
  tracecat/workflow/management/folders/schemas.py
  tracecat/workflow/management/folders/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): return 404 when removing an unattached tag
  tests/unit/api/test_api_case_tags.py
  tests/unit/test_case_tags_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/tags/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(api): simplify workflow ID validation guidance
  tests/unit/test_identifiers.py
  tracecat/identifiers/workflow.py
Due: gen-client, basedpyright

fix(actions): cap malloc arenas in DuckDB action under RLIMIT_AS
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  tests/registry/test_core_duckdb.py
Due: gen-client, basedpyright

fix(api): return 422 for malformed workflow IDs (#3639)
  tests/unit/test_identifiers.py
  tracecat/identifiers/workflow.py
Due: gen-client, basedpyright

fix(cases): handle missing tags during simple updates
  tests/unit/api/test_api_internal_cases.py
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright

fix(actions): cap malloc arenas in DuckDB action under RLIMIT_AS (#3643)
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  tests/registry/test_core_duckdb.py
Due: gen-client, basedpyright

fix(cases): return 404 when removing an unattached tag (#3642)
  tests/unit/api/test_api_case_tags.py
  tests/unit/api/test_api_internal_cases.py
  tests/unit/test_case_tags_service.py
  tests/unit/test_mcp_server.py
  tracecat/cases/internal_router.py
  tracecat/cases/tags/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(tables): return actionable errors for invalid table rows
  tests/unit/api/test_api_internal_tables.py
  tests/unit/api/test_api_tables.py
  tests/unit/test_table_row_errors.py
  tests/unit/test_tables_service.py
  tracecat/api/app.py
  tracecat/api/common.py
  tracecat/executor/action_gateway/app.py
  tracecat/tables/exceptions.py
  tracecat/tables/internal_router.py
  tracecat/tables/router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

test: remove redundant and placeholder tests
  frontend/__tests__/pill-click-behavior.test.ts
  frontend/__tests__/yaml-editor-unit.test.ts
  frontend/tests/events-workflow-icon-unit.test.ts
  frontend/tests/workflow-failure-integration.test.ts
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_registry_import_race.py
  tests/unit/test_workflow_import_simple.py
Due: basedpyright, biome-check, typecheck-frontend

fix(tables): preserve string boolean row inputs
  tests/unit/test_tables_service.py
  tracecat/tables/common.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(agents): preserve cancellation during runtime teardown
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/executor/activity.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(integrations): handle OAuth token exchange failures
  tests/unit/test_integration_oauth_callback_errors.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/router.py
Due: gen-client, basedpyright

fix(tables): load parent metadata before column mutations
  tests/integration/test_table_column_mutations.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

test: remove redundant and placeholder tests (#3646)
  frontend/__tests__/pill-click-behavior.test.ts
  frontend/__tests__/yaml-editor-unit.test.ts
  frontend/tests/events-workflow-icon-unit.test.ts
  frontend/tests/workflow-failure-integration.test.ts
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_registry_import_race.py
  tests/unit/test_workflow_import_simple.py
Due: basedpyright, biome-check, typecheck-frontend

fix(logging): preserve originating LLM proxy failure stacks (#3442)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_result.py
  tests/unit/test_sentry_interceptor.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/dsl/interceptor.py
  tracecat/observability/sentry.py
  tracecat/observability/types.py
Due: gen-client, basedpyright

fix(integrations): sanitize Slack token exchange failures
  tests/unit/test_integration_oauth_callback_errors.py
  tracecat/integrations/providers/slack/oauth.py
Due: gen-client, basedpyright

fix: preserve cancellation on teardown pipe errors
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(tables): load parent metadata before column mutations (#3649)
  tests/integration/test_table_column_mutations.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

chore: bump Claude Agent SDK to 0.2.160
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  pyproject.toml
  uv.lock
Due: biome-check, typecheck-frontend

fix: keep gateway requests on guarded Python transport
  tests/unit/test_outbound.py
  tracecat/agent/gateway.py
Due: gen-client, basedpyright

refactor(tables): move row write helper into service
  tests/unit/test_table_row_errors.py
  tracecat/tables/exceptions.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(tables): reject non-finite JSON row values
  tests/unit/test_table_row_errors.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(integrations): handle OAuth token exchange failures (#3648)
  tests/unit/test_integration_oauth_callback_errors.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/providers/slack/oauth.py
  tracecat/integrations/router.py
Due: gen-client, basedpyright

fix(agents): preserve cancellation during runtime teardown (#3647)
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/executor/activity.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(agents): close sandbox bridge HTTP connections explicitly
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/sandbox/shim_entrypoint.py
Due: gen-client, basedpyright

fix(tables): classify invalid batch writes as client errors
  tests/unit/test_table_row_errors.py
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(api): handle interrupted webhook request bodies
  tests/unit/test_webhook_wait_failures.py
  tracecat/webhooks/dependencies.py
Due: gen-client, basedpyright

fix(api): retain webhook disconnects for low-priority triage
  tests/unit/test_webhook_wait_failures.py
  tracecat/observability/sentry.py
  tracecat/webhooks/dependencies.py
Due: gen-client, basedpyright

refactor(rbac): drop membership sync projection for legacy dual-write
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

feat(rbac): derive membership from role assignments
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

feat(rbac): synchronize membership with role changes
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

chore(rbac): drop legacy membership tables
  alembic/versions/6a6e9e93f9ef_drop_legacy_membership_tables.py
  tests/migration/test_membership_drop_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright
