Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

refactor: Update WorkspaceID to use uuid.UUID
  frontend/src/client/schemas.gen.ts
  tracecat/identifiers/__init__.py
Due: biome-check

refactor: Standardize UUID usage across schemas and identifiers
  frontend/src/client/schemas.gen.ts
  tracecat/identifiers/__init__.py
Due: biome-check

backend
  alembic/versions/46c124b45791_add_webhook_api_key.py
  docs/openapi.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_auth_api_keys.py
  tests/unit/test_webhook.py
  tracecat/auth/api_keys.py
  tracecat/auth/crypto.py
  tracecat/db/schemas.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/models.py
  tracecat/workflow/management/router.py
Due: biome-check

feat(webhooks): Introduce new API key generation response and update related types and components
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_auth_api_keys.py
  tracecat/auth/api_keys.py
  tracecat/webhooks/models.py
  tracecat/workflow/management/router.py
Due: biome-check

working behavior
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Add IP address validation and allowlist management
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/builder/panel/trigger-panel.tsx
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/models.py
Due: biome-check

refactor(webhooks): Move role setting logic to a new position in validate_incoming_webhook
  tracecat/webhooks/dependencies.py
Due: none

refactor(tags-input): Enhance tag type handling and styling
  frontend/src/components/tags-input.tsx
Due: biome-check

feat(webhooks): Implement save functionality for IP allowlist management
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Enhance WebhookApiKeyRead model with active status computation
  tests/unit/test_webhook.py
  tracecat/webhooks/models.py
  tracecat/workflow/management/management.py
Due: none

feat(webhooks): Add revoke functionality and improve API key management in TriggerPanel
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check

feat(webhooks): Revamp API key display and management in TriggerPanel
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Add delete functionality for webhook API key management
  docs/openapi.yml
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/lib/hooks.tsx
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/service.py
  tracecat/workflow/management/router.py
Due: biome-check

fix(webhooks): Standardize text sizes in WebhookControls component
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Enforce IPv4 validation for CIDR and IP address inputs
  frontend/src/components/builder/panel/trigger-panel.tsx
  tests/unit/test_webhook.py
  tracecat/webhooks/models.py
Due: biome-check

feat(webhooks): Update WebhookControls UI and enhance API key display
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Add webhook API key management with preview functionality
  alembic/versions/62bd5a3dccde_add_webhook_api_key.py
  docs/openapi.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/trigger-panel.tsx
  tests/unit/test_auth_api_keys.py
  tests/unit/test_webhook.py
  tracecat/auth/api_keys.py
  tracecat/db/schemas.py
  tracecat/webhooks/models.py
  tracecat/workflow/management/router.py
Due: biome-check

refactor(api_keys): Remove suffix from API key generation and related tests
  tests/unit/test_auth_api_keys.py
  tracecat/auth/api_keys.py
Due: none

fix(webhooks): Improve UI and messaging in WebhookControls for revoked API key
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

refactor(webhooks): Update client IP extraction logic to treat X-Forwarded-For as untrusted
  tracecat/webhooks/dependencies.py
Due: none

fix lint issues
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(api_keys): Add validation for API key length in generation function
  tests/unit/test_auth_api_keys.py
  tracecat/auth/api_keys.py
Due: none

feat(webhooks): Enhance TriggerNode and WebhookControls with tooltip for API key status
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
Due: biome-check

feat(webhooks): Add 404 error handling for missing webhook in get_webhook function
  tracecat/workflow/management/router.py
Due: none

feat(api_keys): Enhance API key preview functionality with custom prefixes
  tests/unit/test_auth_api_keys.py
  tracecat/auth/api_keys.py
Due: none

feat(api): Add API key authentication and IP allowlist for webhooks (#1585)
  alembic/versions/62bd5a3dccde_add_webhook_api_key.py
  docs/openapi.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/panel/trigger-panel.tsx
  frontend/src/components/tags-input.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_auth_api_keys.py
  tests/unit/test_webhook.py
  tracecat/auth/api_keys.py
  tracecat/auth/crypto.py
  tracecat/db/schemas.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/models.py
  tracecat/webhooks/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
Due: biome-check

refactor: Update usage of feature flags
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/integrations/agents/openai_codex.py
  tracecat/api/app.py
  tracecat/feature_flags/__init__.py
Due: gen-client

Fix action panel select fields resetting
  frontend/src/components/builder/panel/action-panel.tsx
Due: biome-check

refactor(action-panel): Enhance form reset logic to handle action identity changes
  frontend/src/components/builder/panel/action-panel.tsx
Due: biome-check

feat(ui): Org VCS nits
  frontend/src/components/organization/org-vcs-github-manual-form.tsx
  frontend/src/components/organization/org-vcs-github.tsx
Due: biome-check

feat(ui): Publish workflow dropdown nit
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check

Clarify HTTP status codes in webhook docs
  docs/tutorials/workflow-triggers.mdx
Due: none

feat(ui): Nit publish workflow naming
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check

docs: Update webhook docs (#1588)
  docs/tutorials/workflow-triggers.mdx
Due: none

add index fn
  tracecat/expressions/functions.py
Due: none

feat(ui): Enhance error handling in ToolOutput component
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  tracecat/agent/adapter/vercel.py
Due: biome-check

test: Add unit tests for index function and out-of-range handling
  tests/unit/test_functions.py
Due: none

index -> at, not to be confused with python list.index()behavior
  tests/unit/test_functions.py
  tracecat/expressions/functions.py
Due: none

improve error handling
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  tracecat/agent/adapter/vercel.py
Due: biome-check

add test
  tests/unit/test_vercel_stream_context.py
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
