Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(tests): use tuples for migration assertions
  tests/migration/test_case_numbers_workspace_migration.py
Due: basedpyright

docs(tests): enhance migration test case documentation and clarify assertions
  tests/migration/test_case_numbers_workspace_migration.py
Due: basedpyright

fix(cases): allocate case numbers in postgres
  alembic/versions/13cfd6e83e36_scope_case_numbers_to_workspace.py
  tests/conftest.py
  tests/migration/test_case_numbers_workspace_migration.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(cases): scope case numbers to workspace (#2286)
  alembic/versions/13cfd6e83e36_scope_case_numbers_to_workspace.py
  tests/conftest.py
  tests/migration/test_case_numbers_workspace_migration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_cases_service.py
  tests/unit/test_db_model.py
  tracecat/cases/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b8/e52a4b33e6c2cf8fca5b1f93d0757e354f8db9
Due: none

fix: prevent sign-in redirect loops and cluster URL leaks
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/lib/auth-return-url.test.ts
  frontend/src/lib/auth-return-url.ts
  scripts/cluster
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  18/de16f749f919042e5365410a153f5504313c5f
Due: none

fix: Fix sign-in redirect loops and cluster URL leaks (#2290)
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/lib/auth-return-url.test.ts
  frontend/src/lib/auth-return-url.ts
  scripts/cluster
Due: biome-check, typecheck-frontend

fix(tests): serialize shared xdist db setup
  tests/conftest.py
Due: basedpyright

Notes added by 'git notes add'
  cd/f3359001a02581c0b7bc420d0339ad86e5ddc4
Due: none

feat(workflows): add bulk GitHub push flow
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/components/dashboard/workflows-header.tsx
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_workflow_sync_service.py
  tracecat/sync.py
  tracecat/workflow/management/folders/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workflows): address bulk push review comments
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_workflow_store_service.py
  tests/unit/test_workflow_sync_service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  9e/9a4fbc0028fe3dc31244e732bc4dbc7cc1530b
Due: none

fix(tests): serialize shared xdist db setup (#2291)
  tests/conftest.py
Due: basedpyright

Polish workflow bulk push selection UI
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/components/dashboard/workflows-header.tsx
  frontend/src/providers/workflow.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  d3/d125dd123f9e4c74ae5239282000a7056e3db8
Due: none

fix(temporal): pydantic decode errors
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_agent_config_decode.py
  tests/unit/test_dsl_converter.py
  tracecat/agent/preset/activities.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
Due: gen-client, basedpyright

fix(temporal): agent sandbox passthrough
  tests/temporal/test_agent_config_sandbox_parity.py
  tests/temporal/test_agent_config_workflow_boundary.py
  tracecat/agent/worker.py
Due: gen-client, basedpyright

fix(temporal): preserve legacy agent config replay
  tests/temporal/test_agent_config_workflow_boundary.py
  tests/unit/test_dsl_converter.py
  tracecat/agent/workflow_schemas.py
Due: gen-client, basedpyright

fix(registry): resolve circular FK on repo delete
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

Address bulk push review feedback
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  tests/unit/test_workflow_store_service.py
  tests/unit/test_workflow_sync_service.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  10/1a143cda9d534d20224707b11f744c73be2de3
Due: none

Address remaining Codex review threads
  frontend/src/components/dashboard/workflow-bulk-push-dialog.tsx
  tests/unit/test_workflow_sync_service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  0c/82136f136b7ee4f76d7a660d7cd63613f218d6
Due: none

Make release drafter helm version fallback non-fatal
  .github/workflows/release-drafter.yml
Due: none

Fix persisted case date filter typing
  frontend/src/hooks/use-cases.ts
Due: biome-check, typecheck-frontend

fix(temporal): pydantic decode errors (#2285)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_agent_config_sandbox_parity.py
  tests/temporal/test_agent_config_workflow_boundary.py
  tests/unit/test_dsl_converter.py
  tracecat/agent/preset/activities.py
  tracecat/agent/worker.py
  tracecat/agent/workflow_config.py
  tracecat/agent/workflow_schemas.py
Due: gen-client, basedpyright

chore(dependencies): update various package versions in pyproject.toml, requirements.txt, and frontend files
  frontend/package.json
  frontend/pnpm-lock.yaml
  pyproject.toml
  requirements.txt
  uv.lock
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  04/b5728ea20e30d1067052ef16042be160e5a7b6
Due: none

Notes added by 'git notes add'
  1e/663e5219a6ba9ad3e6e2713ae132696a855ab2
Due: none

Notes added by 'git notes add'
  1b/1e3b4f7df6117cf47772acda39389e192a60bd
Due: none

Notes added by 'git notes add'
  45/d76409338dc6569e6fb40108b81326b49c6cb9
Due: none

Notes added by 'git notes add'
  4d/3f5de8af6f6409e0e27c6dec5de5f44b0013ea
Due: none

Notes added by 'git notes add'
  56/5970eae2eeb72a7b19ed5db333a9b9d1f6608b
Due: none

Notes added by 'git notes add'
  4c/bf915541dbe38598569925a263045bfe8649a0
Due: none

Notes added by 'git notes add'
  34/e3a4d0cbc5d4f0016c831bca69aec921235faf
Due: none

Notes added by 'git notes add'
  8a/385b29eb1a79422f6b0420cf994980e646068f
Due: none

feat(temporal): add payload codec foundation
  tests/unit/test_temporal_codec.py
  tracecat/config.py
  tracecat/contexts.py
  tracecat/dsl/_converter.py
  tracecat/dsl/compression.py
  tracecat/temporal/__init__.py
  tracecat/temporal/codec.py
  tracecat/temporal/visibility.py
Due: gen-client, basedpyright

Fix lazy file validation imports
  tests/unit/test_storage_validation.py
  tracecat/storage/validation.py
Due: gen-client, basedpyright

Pin chardet for polyfile
  pyproject.toml
  requirements.txt
  uv.lock
Due: none
