Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(rls): restore saml login dependency imports
  tests/unit/api/test_api_saml.py
  tracecat/auth/saml.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c1/3a694461607b4c9ae1ed6a91fd71a653a9e1f4
Due: none

chore: more specific on when to spin up a cluster
  AGENTS.md
Due: none

Notes added by 'git notes add'
  72/e8f1751f2f24bfa3caeac706efd95855fbc96f
Due: none

fix(workflows): sanitize publish repo logging
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  84/3731287dc3002e6b4c251cfbbac620ea99d52a
Due: none

fix(registry): resolve circular FK on repo delete (#2311)
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

fix(rls): bypass oauth state expiry cleanup
  tests/unit/test_rls_failure_repros.py
  tracecat/integrations/router.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b8/6af92d749c4fd0bc744cf339434eb3a37cd492
Due: none

test(registry): cover promoted repository delete
  tests/unit/test_registry_repositories_service.py
Due: basedpyright

Notes added by 'git notes add'
  a3/37235abd9007e00135509e4522b24d05feb254
Due: none

style: align python formatting with CI ruff
  tracecat/dsl/validation.py
  tracecat/registry/actions/schemas.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  86/42fdeeea06e90ea2c4c18ba63ddbc674eec110
Due: none

test(registry): add delete regression coverage (#2314)
  tests/unit/test_registry_repositories_service.py
Due: basedpyright

docs: Link discord link
  README.md
Due: none

fix(workflows): harden bulk push validation
  tests/unit/test_parse.py
  tests/unit/test_workflow_store_service.py
  tracecat/parse.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c7/8360fe1cf926db7b75a97e799be35b1e143f17
Due: none

feat(infra): route MCP through Caddy at /mcp for Docker Compose parit… (#2252)
  .env.example
  Caddyfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/cluster
  tracecat/mcp/config.py
Due: gen-client, basedpyright

Prevent deleting versioned registry actions
  frontend/src/client/services.gen.ts
  frontend/src/components/registry/delete-registry-action.tsx
  frontend/src/components/registry/registry-actions-table.tsx
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_route_scope_guards.py
  tracecat/registry/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  68/73535d99c51c4c5bfe13f0d833fa48220baf8e
Due: none

fix(agents): reset stream only in non-continuation
  frontend/src/components/ai-elements/prompt-input.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  tests/unit/test_agent_session_router.py
  tracecat/agent/session/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(docker): update TRACECAT__IMAGE_TAG to version 1.0.0-beta.27 in docker-compose.yml
  docker-compose.yml
  scripts/update-version.sh
Due: none

chore(docker): add blank line for readability in docker-compose files
  docker-compose.local.yml
  docker-compose.yml
Due: none

Document registry delete conflict response
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/registry/actions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  9a/c4845f5ff127f3472b67abf2d5bcd480518c65
Due: none

Fix findings from PR 2310
  deployments/eks/modules/eks/iam.tf
  deployments/helm/tracecat/templates/agent-executor-serviceaccount.yaml
  deployments/helm/tracecat/templates/executor-serviceaccount.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  docs/quickstart/secrets.mdx
  tests/unit/api/test_api_secrets.py
  tests/unit/test_executor_service.py
  tracecat/config.py
  tracecat/integrations/aws_assume_role.py
  tracecat/secrets/router.py
  tracecat/secrets/secrets_manager.py
Due: gen-client, basedpyright

fix: rebase case comment migrations onto main head
  alembic/versions/286984f514c2_add_workflow_backed_case_comments.py
Due: basedpyright

fix(agents): refactor validate_turn_request
  tests/unit/test_agent_session_router.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c0/176d0d32acaa28ed23165e3412e8367a921e80
Due: none

fix: restore workflow status import after rebase
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  1a/497c9df1d53111f0aede747625717a0f162ff9
Due: none

feat: Run workflow from case comments (#2308)
  alembic/versions/286984f514c2_add_workflow_backed_case_comments.py
  alembic/versions/9a6d0e0ec5b1_drop_case_comment_workflow_fk.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/lib/hooks.tsx
  frontend/tests/case-comments-section.test.tsx
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/sdk/types.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/unit/test_case_comments_service.py
  tests/unit/test_case_trigger_consumer.py
  tests/unit/test_case_triggers.py
  tests/unit/test_webhook_execution_path.py
  tests/unit/test_workflow_graph_reconciliation.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/cases/triggers/consumer.py
  tracecat/cases/triggers/publisher.py
  tracecat/db/models.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  f8/bd06160e0f1b32035dc848b02b5f428880931b
Due: none

Propagate action masking flag from control_flow to DSL tasks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_executor_manifest_resolution.py
  tests/unit/test_view.py
  tracecat/dsl/common.py
  tracecat/dsl/schemas.py
  tracecat/executor/service.py
  tracecat/workflow/actions/schemas.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(executor): cover action-level secret masking
  tests/unit/test_executor.py
  tests/unit/test_executor_manifest_resolution.py
Due: basedpyright

fix(builder): persist masking toggle before manual runs
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/ui/checkbox.tsx
Due: biome-check, typecheck-frontend

style(ui): align checkbox with case selection
  frontend/src/components/ui/checkbox.tsx
Due: biome-check, typecheck-frontend

fix(ui): tighten preset builder submit gating
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/lib/agent-presets.ts
  frontend/tests/agent-presets-builder.test.tsx
Due: biome-check, typecheck-frontend
