Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Update org settings warning UI
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/components/organization/org-settings-sso.tsx
Due: biome-check, typecheck-frontend

feat: Org settings decrypt fallbacks and audit payloads (#2143)
  frontend/.gitignore
  frontend/src/app/organization/settings/audit/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-encrypted-setting-reset-dialog.tsx
  frontend/src/components/admin/admin-organizations-table.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/components/organization/org-settings-sso.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/resizable.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/styles/globals.scss
  packages/tracecat-admin/tracecat_admin/client.py
  packages/tracecat-admin/tracecat_admin/commands/orgs.py
  packages/tracecat-admin/tracecat_admin/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_admin_organizations.py
  tests/unit/test_admin_org_settings_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_organization_settings.py
  tracecat/audit/service.py
  tracecat/settings/constants.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(mcp): auth polish
  .env.example
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/cluster
  tests/unit/api/test_api_organization_mcp.py
  tests/unit/test_agent_internal_tools.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/preset/prompts.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/middleware.py
  tracecat/mcp/server.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

refactor(events): consolidate workflow event status handling and introduce new completion event reference
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/components/events/workflow-event-status.tsx
  frontend/src/components/events/workflow-events-list.tsx
  frontend/src/components/executions/event-history.tsx
  frontend/src/lib/event-history.ts
  frontend/tests/event-history.test.ts
  frontend/tests/events-workflow.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/constants.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(docker): update temporal UI port for multi-cluster support (#2141)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

add explicit default keyword for static typechecking
  tracecat/tiers/schemas.py
Due: gen-client, basedpyright

fix(entitlements): map legacy feature flags and clean up sso
  alembic/versions/60a5af5effdd_cleanup_legacy_sso_and_map_feature_.py
  alembic/versions/a1b2c3d4e5f7_add_tier_and_organization_tier_tables.py
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_tier_defaults.py
  tracecat/tiers/defaults.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  2720eb8fcd939ef18c280a93bbd37feb9abb6907
  8bb7d9a837798ffb4325e9d45a77dd79fefd5be0
  cd4fbe71fa4f3f447cce7c5df30d317a5b742571
  cfd94952520d343b180b8bc98ec0e4b8d766e800
Due: none

test(entitlements): restore legacy defaults in unit test sandbox
  tests/conftest.py
Due: basedpyright

Notes added by 'git notes add'
  5b0aa7759fef2d6abff3838fa2256a1ae6b19485
Due: none

feat(ui): Revamped workflows runs view and shortkeys (#2136)
  CLAUDE.md
  frontend/src/app/workspaces/[workspaceId]/workflows/[workflowId]/executions/[executionId]/page.tsx
  frontend/src/app/workspaces/[workspaceId]/workflows/[workflowId]/executions/layout.tsx
  frontend/src/components/builder/builder.tsx
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/components/events/workflow-event-status.tsx
  frontend/src/components/events/workflow-events-list.tsx
  frontend/src/components/executions/event-details.tsx
  frontend/src/components/executions/event-history.tsx
  frontend/src/components/executions/nav.tsx
  frontend/src/components/executions/section.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/ui/kbd.tsx
  frontend/src/lib/event-history.ts
  frontend/tests/event-history.test.ts
  frontend/tests/events-workflow.test.tsx
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/constants.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): consolidate agent output (#2142)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_executor_result.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

chore(deps): update tar to version 7.5.8 and add markdown-it 14.1.1
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

chore(deps): update fastmcp to version 3.0.0, clean up requirements and lock files
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

chore(deps): update glob to version 13.0.6 and adjust related dependencies in lock files
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

chore(deps): add minimatch 10.2.2 to package.json and update lock files
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  84e38660261f97f4010b1ee688d94f663f2ed94d
Due: none

Notes added by 'git notes add'
  85ea4636d390af2a1271b9d8c88445c0a78cee56
  b8bf10797d906d9d68941a18df0f572c6df9899c
Due: none

style: fix linting errors in check_temporal_db script
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  scripts/check_temporal_db.py
  tests/unit/test_workflow_executions.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  6f906408d15ba372bc217a46b9e90faf971c72a6
  9fbe73125bc0be152ef7b4930fda0f5370b91430
Due: none

chore: update Tracecat version to 1.0.0-beta.14 across documentation and configuration files
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  deployments/terraform/aws/modules/eks/variables.tf
  deployments/terraform/aws/variables.tf
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  frontend/src/components/builder/panel/builder-panel.tsx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(deps): add anthropic 0.83.0 and update pydantic-ai-slim, jsonschema-path, pathable, and referencing versions in configuration files
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

feat(auth): org-level saml
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/auth/saml.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/components/organization/org-settings-sso.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/lib/hooks.tsx
  scripts/cluster
  tests/unit/api/test_api_auth_discovery.py
  tests/unit/test_auth_discovery_service.py
  tests/unit/test_dependencies.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
  tracecat/auth/discovery.py
  tracecat/auth/org_context.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(auth): add missing email attribute to SAML attribute extraction
  tracecat/auth/saml.py
Due: gen-client, basedpyright

fix(auth): saml discovery error handling
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/components/organization/org-settings-sso.tsx
  frontend/src/hooks/use-auth.ts
  tests/unit/api/test_api_info.py
  tests/unit/api/test_api_saml_router_dependencies.py
  tests/unit/test_auth_discovery_service.py
  tests/unit/test_dependencies.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
  tracecat/auth/discovery.py
  tracecat/auth/org_context.py
  tracecat/auth/saml.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(auth): restore SAML auth-type guard and remove HTTPException from service layer
  frontend/src/components/organization/org-settings-sso.tsx
  tests/unit/test_auth_discovery_service.py
  tracecat/api/app.py
  tracecat/auth/discovery.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(auth): saml cleanup
  frontend/src/app/sign-in/[[...sign-in]]/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/oauth-buttons.tsx
  frontend/src/components/auth/saml.tsx
  frontend/src/components/auth/sign-in.tsx
  frontend/src/components/organization/org-settings-sso.tsx
  frontend/src/hooks/use-auth.ts
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_info.py
  tests/unit/api/test_api_saml_router_dependencies.py
  tests/unit/test_dependencies.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): add @require_scope decorators to all API endpoints
  tests/unit/api/conftest.py
  tests/unit/test_rbac_scopes.py
  tracecat/agent/router.py
  tracecat/authz/controls.py
  tracecat/authz/scopes.py
  tracecat/cases/attachments/router.py
  tracecat/cases/router.py
  tracecat/executor/activities.py
  tracecat/executor/service.py
  tracecat/integrations/router.py
  tracecat/organization/router.py
  tracecat/registry/actions/router.py
  tracecat/secrets/router.py
  tracecat/settings/router.py
  tracecat/tables/router.py
  tracecat/tags/router.py
  tracecat/variables/router.py
  tracecat/vcs/router.py
  tracecat/workflow/actions/router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/management/folders/router.py
  tracecat/workflow/management/router.py
  tracecat/workflow/schedules/router.py
  tracecat/workflow/tags/router.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright

refactor(rbac): drop ctx_scopes usage
  tests/unit/test_rbac_scopes.py
  tracecat/authz/controls.py
  tracecat/executor/activities.py
Due: gen-client, basedpyright

fix(rbac): expand scope definition for missing endpoints
  tracecat/agent/router.py
  tracecat/authz/scopes.py
  tracecat/registry/actions/router.py
  tracecat/secrets/router.py
Due: gen-client, basedpyright

feat(rbac): scope additions
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/schemas.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_rbac_scopes.py
  tests/unit/test_route_scope_guards.py
  tracecat/agent/preset/router.py
  tracecat/agent/router.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/db/models.py
  tracecat/editor/router.py
  tracecat/inbox/router.py
  tracecat/integrations/router.py
  tracecat/organization/router.py
  tracecat/workflow/management/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac): add workflow:terminate scope
  tests/unit/test_auth_scope_resolution.py
  tests/unit/test_route_scope_guards.py
  tracecat/auth/credentials.py
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

feat(rbac): scope checks for sensitive services
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/agent/preset/service.py
  tracecat/agent/service.py
  tracecat/authz/controls.py
  tracecat/authz/service.py
  tracecat/cases/service.py
  tracecat/integrations/service.py
  tracecat/organization/service.py
  tracecat/secrets/service.py
  tracecat/settings/service.py
  tracecat/tables/service.py
  tracecat/tags/service.py
  tracecat/variables/service.py
  tracecat/vcs/github/app.py
  tracecat/workflow/actions/service.py
  tracecat/workflow/management/definitions.py
  tracecat/workflow/management/folders/service.py
  tracecat/workflow/management/management.py
  tracecat/workflow/schedules/service.py
  tracecat/workflow/store/service.py
  tracecat/workflow/tags/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(rbac): drop WorkspaceAdminUser; missing scope on organization service
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/registry/test_cases_characterization.py
  tests/unit/api/conftest.py
  tracecat/auth/types.py
  tracecat/cases/router.py
  tracecat/organization/service.py
  tracecat/secrets/router.py
  tracecat/variables/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): add final missing scopes, drop workspace_role decorator
  tests/unit/test_mcp_integrations.py
  tests/unit/test_organization_service.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_tables_service.py
  tracecat/agent/session/router.py
  tracecat/cases/attachments/internal_router.py
  tracecat/cases/attachments/router.py
  tracecat/integrations/service.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/tables/service.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

ci: retrigger CI pipeline
  tracecat/authz/scopes.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
