Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(logging): sanitize worker and workflow runtime logs
  tests/unit/test_dsl_workflow_logging.py
  tracecat/agent/worker.py
  tracecat/dsl/worker.py
  tracecat/dsl/workflow_logging.py
  tracecat/executor/backends/pool/worker.py
  tracecat/settings/service.py
Due: gen-client, basedpyright

fix(ui): invalidate org-members after RBAC user assignment changes (#2388)
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(registry): honor target commit in sandbox discovery
  tests/unit/test_registry_sync_runner.py
  tracecat/registry/sync/runner.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a2/d3ad140968f340887b8e4098c1cb6d3aa53f3c
Due: none

Notes added by 'git notes add'
  ff/6c3df09727cd9f1d2569580e15ff3eba61d05a
Due: none

feat(temporal): add codec server and encrypt Temporal histories
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  pyproject.toml
  tests/unit/test_approvals_service.py
  tests/unit/test_dsl_converter.py
  tests/unit/test_storage_validation.py
  tests/unit/test_temporal_codec.py
  tests/unit/test_temporal_codec_router.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/config.py
  tracecat/contexts.py
  tracecat/dsl/_converter.py
  tracecat/dsl/common.py
  tracecat/dsl/compression.py
  tracecat/dsl/workflow.py
  tracecat/storage/validation.py
  tracecat/temporal/__init__.py
  tracecat/temporal/codec.py
  tracecat/temporal/router.py
  tracecat/temporal/visibility.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/common.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/schedules/bridge.py
  tracecat/workflow/schedules/service.py
  uv.lock
Due: gen-client, basedpyright

Notes added by 'git notes add'
  b3/67063c83ca4ccb8ef3386eb81d42191a31da44
Due: none

fix(registry): preserve validation error unwrapping
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  d7/0dc05c22c1c92d15539530714a0f99a036600b
Due: none

fix(mcp): bump row spacing between workflow nodes
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agent): harden litellm startup and executor shutdown
  tests/unit/test_agent_gateway.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/executor_worker.py
  tracecat/agent/gateway.py
  tracecat/agent/runtime_services.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(workflows): update retry policy from fail_fast to fail_slow for improved error handling
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
Due: gen-client, basedpyright

Deploy agent worker and executor as separate services
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/ecs-agent-worker.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/agent-executor-deployment.yaml
  deployments/helm/tracecat/templates/agent-worker-deployment.yaml
  deployments/helm/tracecat/templates/agent-worker-metrics-service.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Split agent runtime from agent workflow worker
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/registry_tool.py
  tests/integration/test_agent_worker.py
  tests/integration/test_dsl_agent_wiring.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/schemas.py
  tracecat/agent/executor_worker.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/runtime_services.py
  tracecat/agent/session/activities.py
  tracecat/agent/worker.py
  tracecat/agent/workflows/__init__.py
  tracecat/agent/workflows/tool_execution.py
  tracecat/config.py
  tracecat/dsl/worker.py
Due: gen-client, basedpyright

docs(tool_execution): add docstring for AGENT_TOOL_PRIORITY to clarify its purpose
  tracecat/agent/workflows/tool_execution.py
Due: gen-client, basedpyright

refactor(agent): hoist registry tool workflow import
  tracecat/agent/mcp/executor.py
Due: gen-client, basedpyright

tune(agent): raise managed agent-executor concurrency
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/values.yaml
Due: none

fix(helm): bootstrap correlation search attribute
  deployments/helm/tracecat/values.yaml
Due: none

feat(agent): stamp direct agent session correlation IDs
  tests/unit/test_agent_session_search_attributes.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

feat(agent): correlate registry tool workflows
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_mcp_executor.py
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_tokens.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_search_attributes.py
  tests/unit/test_temporal_search_attribute_registration.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/tokens.py
  tracecat/agent/workflows/tool_execution.py
  tracecat/api/common.py
  tracecat/workflow/executions/correlation.py
  tracecat/workflow/executions/enums.py
Due: gen-client, basedpyright

fix(infra): wire executor queue to agent worker
  deployments/fargate/modules/ecs/locals.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

test(agent): fix session activity registration expectation
  tests/unit/test_agent_activities.py
Due: basedpyright

fix(agent): scope metadata injection to registry tools
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(agent): require mcp socket readiness
  tests/unit/test_agent_runtime_services.py
  tracecat/agent/runtime_services.py
Due: gen-client, basedpyright

fix(agent): retry tool result materialization failures
  tests/unit/test_agent_session_activities.py
  tracecat/agent/session/activities.py
Due: gen-client, basedpyright

fix(agent): avoid litellm stdout backpressure
  tracecat/agent/runtime_services.py
Due: gen-client, basedpyright

fix(compose): pass sentry to agent worker
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(compose): pass executor timeout to agent worker
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

refactor(agent): decouple tool workflow ids from tool calls
  tests/unit/test_agent_mcp_executor.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/workflows/tool_execution.py
Due: gen-client, basedpyright

fix(agent): use deterministic approved tool inputs
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

fix(compose): align agent worker image tag
  docker-compose.yml
Due: none

refactor(agent): use workflow uuid4 for approved tool inputs
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

fix(infra): pass executor queue to agent executor
  deployments/fargate/modules/ecs/locals.tf
  deployments/helm/tracecat/templates/_helpers.tpl
Due: none

fix(agent): map duplicate tool workflow failures
  tests/unit/test_agent_mcp_executor.py
  tracecat/agent/mcp/executor.py
Due: gen-client, basedpyright

fix(agent): handle empty executor env vars safely
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/executor_worker.py
Due: gen-client, basedpyright

fix(eks): include agent worker in pod sizing guards
  deployments/eks/modules/eks/main.tf
Due: none

test(agent): isolate config overrides in worker tests
  AGENTS.md
  tests/integration/test_agent_worker.py
  tests/integration/test_dsl_agent_wiring.py
  tests/temporal/test_durable_agent_workflow.py
Due: basedpyright

fix(helm): pass executor timeout to agent worker
  deployments/helm/tracecat/templates/_helpers.tpl
Due: none

fix(agent): tighten approved tool retries
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_gateway.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(infra): pass executor timeout to agent executor
  deployments/fargate/modules/ecs/locals.tf
  deployments/helm/tracecat/templates/_helpers.tpl
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
