Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Trim workspace names in settings
  frontend/src/components/settings/workspace-general-settings.tsx
  frontend/tests/workspace-general-settings.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  e1/48325b0acf143659f315fa330697965155223a
Due: none

Refactor workspace settings merge
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  3f/3ebe5b13a1fb8d6681ba1d68f04d49d336ac69
Due: none

Fix settings modal workspace fallback
  frontend/src/components/settings/settings-modal.tsx
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  8f/5fd33538e65c7ec0a6354cfa2a05b68567f121
Due: none

Revert "chore(pre-commit): replace gitleaks with betterleaks (#2351)"
  .pre-commit-config.yaml
Due: none

release: 1.0.0-beta.32
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.dev.yml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  55/6cfdaba134046086a3bb21dfd1fe8e2ae03688
Due: none

feat(tables): enforce model-a RLS on dynamic workspace schemas
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix: normalize internal column prefix checks
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Enforce visible column projections for tables
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Handle exact tenant column collisions
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix: repair alembic migration chain
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
Due: basedpyright

fix(rls): reserve __tc namespace for dynamic schemas
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

test: cover dynamic workspace rls
  tests/migration/test_dynamic_workspace_rls_migration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/cases/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

refactor(rls): simplify __tc internal namespace check
  tracecat/tables/service.py
Due: gen-client, basedpyright

test(rls): avoid xdist hang in dynamic workspace tests
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

test(rls): shadow workflow bucket in unit test
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

test(rls): cover dynamic workspace service isolation
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

fix: linearize alembic history
  alembic/versions/cd84c08340a5_add_cascade_delete_to_membership_.py
Due: basedpyright

Notes added by 'git notes add'
  2e/b724cc9a17cd709a3417708e43d400337e89e3
Due: none

fix(mcp): Improve MCP OAuth compatibility for Codex clients (#2352)
  deployments/eks/modules/eks/waf.tf
  deployments/fargate/modules/ecs/alb.tf
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  21/5024426a1649ae768e01d466e630094b215fb7
Due: none

Use atomic jsonb merges for workspace settings
  tests/unit/test_workspace_service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  10/24e6accbc9c7257137c31b5b3da96377b3b1da
Due: none

chore: drop unused root dependencies
  alembic.ini
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

Notes added by 'git notes add'
  be/e6f5c83c1bd3a5f0ae9de8fa9c2c2395f5372b
Due: none

Drop branch-only pre-commit hook change
  .pre-commit-config.yaml
Due: none

Notes added by 'git notes add'
  3d/68089d378406681947b0bd1647f56eb3898005
Due: none

Notes added by 'git notes add'
  a9/80fdf5a1dcd0a90617b5218ab7b9e8a8ef1362
Due: none

Simplify settings modal workspace resolution
  frontend/src/app/layout.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/settings/settings-modal-host.tsx
  frontend/src/components/settings/settings-modal.tsx
  tests/unit/test_workspace_service.py
Due: basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  34/431dd5b4fb686ed0bf5e97fa4c698ddec7fb89
Due: none

chore(deps): Drop unused root dependencies (#2357)
  alembic.ini
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

fix(agents): bump llm proxy timeout and make configurable
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(registry): handle StreamingBody in boto3 responses
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
Due: gen-client, basedpyright

fix(registry): cap StreamingBody reads and fix paginator session leak
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
Due: gen-client, basedpyright

test(ui): fix settings modal coverage
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  cf/31ea4546f325cfe39e0fa1c66333da9a7973cb
Due: none

fix(agents): bump llm proxy timeout and make configurable (#2358)
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/config.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
