Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(workflow): preserve source retry disposition
  tests/unit/test_runtime_error_attribution_interceptor.py
  tracecat/dsl/interceptor.py
Due: gen-client, basedpyright

fix(workflow): type invalid registry locks
  tests/unit/test_registry_lock_service.py
  tests/unit/test_workflow_definitions_activities.py
  tracecat/exceptions.py
  tracecat/registry/lock/service.py
  tracecat/workflow/management/definitions.py
Due: gen-client, basedpyright

fix(workflow): preserve temporal cancellation
  tests/unit/test_dsl_error_policy.py
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/error_policy.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

feat(logging): add structured cloud logs (#3357)
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_logger_config.py
  tests/unit/test_platform_otel.py
  tracecat/logger/_logger.py
  tracecat/logger/config.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.18
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(workflow): propagate temporal cancellation
  tests/unit/test_dsl_scheduler_concurrency.py
  tracecat/dsl/constants.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(workflow): preserve causal scheduler failures
  tests/unit/test_dsl_scheduler_concurrency.py
  tests/unit/test_dsl_workflow_concurrency.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

refactor(logging): emit compact structured records
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
  tracecat/logger/_logger.py
Due: gen-client, basedpyright

fix(logging): preserve nonstandard attributes
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

refactor(logging): simplify structured schema
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

test(logging): cover surrogate escaped strings
  tests/unit/test_logger_config.py
Due: basedpyright

fix(logging): preserve uncommon structured values
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

fix(logging): stabilize fallback serialization
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

fix(logging): preserve fallback mapping keys
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

fix(logging): retain extended exception backtraces
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

fix(logging): preserve raw exception tracebacks
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

fix(logging): stabilize fallback float keys
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

docs: split core actions nav and rewrite git sync guide
  docs/automations/cases.mdx
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/case-actions/attachments.mdx
  docs/automations/core-actions/case-actions/cases.mdx
  docs/automations/core-actions/case-actions/comments.mdx
  docs/automations/core-actions/case-actions/linked-rows.mdx
  docs/automations/core-actions/case-actions/tasks.mdx
  docs/automations/core-actions/memory-actions/columns.mdx
  docs/automations/core-actions/memory-actions/export.mdx
  docs/automations/core-actions/memory-actions/lookups.mdx
  docs/automations/core-actions/memory-actions/rows.mdx
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/tables.mdx
  docs/docs.json
  docs/img/manage-platform/git-sync-resource-push-case-fields.png
  docs/img/manage-platform/git-sync-resource-push-skills.png
  docs/img/manage-platform/git-sync-resource-push-tables.png
  docs/img/manage-platform/git-sync-workflow-publish.png
  docs/img/manage-platform/git-sync-workspace-pull.png
  docs/img/manage-platform/git-sync-workspace-push.png
  docs/manage-platform/git-sync.mdx
  docs/snippets/core-actions-list.mdx
Due: none

docs: drop redirects shadowing the split case pages
  docs/docs.json
Due: none

docs: retarget case aliases and document per-endpoint sync scopes
  docs/docs.json
  docs/manage-platform/git-sync.mdx
Due: none

docs: split core actions nav and rewrite git sync guide (#3360)
  docs/automations/cases.mdx
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/case-actions/attachments.mdx
  docs/automations/core-actions/case-actions/cases.mdx
  docs/automations/core-actions/case-actions/comments.mdx
  docs/automations/core-actions/case-actions/linked-rows.mdx
  docs/automations/core-actions/case-actions/tasks.mdx
  docs/automations/core-actions/memory-actions/columns.mdx
  docs/automations/core-actions/memory-actions/export.mdx
  docs/automations/core-actions/memory-actions/lookups.mdx
  docs/automations/core-actions/memory-actions/rows.mdx
  docs/automations/core-actions/memory-actions/tables.mdx
  docs/automations/tables.mdx
  docs/docs.json
  docs/img/manage-platform/git-sync-resource-push-case-fields.png
  docs/img/manage-platform/git-sync-resource-push-skills.png
  docs/img/manage-platform/git-sync-resource-push-tables.png
  docs/img/manage-platform/git-sync-workflow-publish.png
  docs/img/manage-platform/git-sync-workspace-pull.png
  docs/img/manage-platform/git-sync-workspace-push.png
  docs/manage-platform/git-sync.mdx
  docs/snippets/core-actions-list.mdx
Due: none

feat(cases): backfill agent mutation interactions (#3335)
  frontend/src/app/admin/maintenance/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/sidebar/admin-sidebar.tsx
  tests/integration/test_case_agent_session_backfill.py
  tests/unit/api/test_api_admin_maintenance.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_superuser_admin_session_dependencies.py
  tracecat/admin/maintenance/__init__.py
  tracecat/admin/maintenance/router.py
  tracecat/admin/maintenance/schemas.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/api/app.py
  tracecat/cases/agent_sessions/backfill.py
  tracecat/cases/agent_sessions/types.py
  tracecat/cases/agent_sessions/workflow.py
  tracecat/dsl/worker.py
  tracecat/executor/worker.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(inbox): link cases to filtered agent runs (#3342)
  frontend/src/app/workspaces/[workspaceId]/inbox/page.tsx
  frontend/src/components/cases/case-agent-runs-action.tsx
  frontend/src/components/inbox/inbox-header.tsx
  frontend/src/components/inbox/index.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/hooks/use-inbox.ts
  frontend/src/lib/inbox.ts
  frontend/tests/inbox-case-filter.test.tsx
  tests/unit/test_case_comments_service.py
  tracecat/cases/agent_invocations/dispatcher.py
  tracecat/cases/agent_invocations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(inbox): filter agent runs by case (#3340)
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/inbox/providers/agent_runs.py
  tests/integration/test_agent_runs_inbox_case_filter.py
  tests/unit/api/test_api_inbox.py
  tests/unit/test_agent_runs_inbox_provider.py
  tests/unit/test_inbox_service.py
  tracecat/inbox/router.py
  tracecat/inbox/service.py
  tracecat/inbox/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): validate OTel headers as sendable HTTP and guard stale reseed
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/hooks/use-org-agent-otel-settings.ts
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
  tests/unit/test_agent_otel_config.py
  tracecat/agent/otel_config.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(registry): remove sync rollout compatibility
  tests/unit/test_registry_sync_base_service.py
  tracecat/registry/sync/base_service.py
Due: gen-client, basedpyright

fix(ui): keep backtick out of template literal to survive SWC minify
  frontend/src/lib/agent-otel.ts
Due: biome-check, typecheck-frontend

ci: enforce commit conventions and rebuild release-note sections
  .agents/skills/gh-prerelease/SKILL.md
  .github/commit-conventions.toml
  .github/release-drafter.yml
  .github/workflows/commit-conventions.yml
  .github/workflows/lint-python.yml
  .github/workflows/release-drafter.yml
  AGENTS.md
  CONTRIBUTING.md
  justfile
  pyproject.toml
  scripts/audit_commit_conventions.py
  scripts/check_pr_title.py
  scripts/commit_conventions.py
  tests/unit/test_check_pr_title.py
  tests/unit/test_commit_conventions.py
Due: basedpyright

feat(agents): otel ui (#2649)
  frontend/src/app/organization/settings/agent/telemetry/layout.tsx
  frontend/src/app/organization/settings/agent/telemetry/page.tsx
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/editor/codemirror/code-editor.tsx
  frontend/src/components/organization/org-agent-otel-settings.test.tsx
  frontend/src/components/organization/org-agent-otel-settings.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/components/ui/toggle-tabs.tsx
  frontend/src/hooks/use-org-agent-otel-settings.test.tsx
  frontend/src/hooks/use-org-agent-otel-settings.ts
  frontend/src/lib/agent-otel.test.ts
  frontend/src/lib/agent-otel.ts
  tests/unit/test_agent_otel_config.py
  tracecat/agent/otel_config.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

ci: rename labels to match scopes and split out functions
  .github/commit-conventions.toml
  .github/release-drafter.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/audit_commit_conventions.py
  scripts/check_pr_title.py
  scripts/commit_conventions.py
  tests/unit/test_check_pr_title.py
  tests/unit/test_commit_conventions.py
Due: basedpyright

docs: forbid agents from inventing labels, types, or scopes
  AGENTS.md
Due: none

refactor(workflow): simplify scheduler task reaping
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(error_policy): replace custom cancellation check with built-in is_cancelled_exception
  tracecat/dsl/error_policy.py
Due: gen-client, basedpyright

refactor(temporal): centralize workflow patch identifiers
  tests/temporal/test_dsl_workflow_replay.py
  tests/unit/test_dsl_scheduler_concurrency.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_runtime_error_steel_thread.py
  tracecat/dsl/constants.py
  tracecat/dsl/interceptor.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

test(temporal): verify enum patch marker persistence
  tests/temporal/test_dsl_workflow_replay.py
Due: basedpyright

fix(workflow): classify missing tier configuration
  tests/unit/test_tier_activities.py
  tracecat/tiers/activities.py
Due: gen-client, basedpyright

fix(workflow): prefer causal scheduler failures
  tests/unit/test_dsl_scheduler_concurrency.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(workflow): classify remaining runtime failure boundaries
  tests/temporal/runtime_error_attribution_child_harness.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_dsl_workflow_concurrency.py
  tests/unit/test_runtime_error_steel_thread.py
  tests/unit/test_temporal_patches.py
  tests/unit/test_worker_activity_registration.py
  tracecat/dsl/action.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

fix(logging): preserve subclass attribute shapes
  tests/unit/test_logger_config.py
  tracecat/logger/_json.py
Due: gen-client, basedpyright

ci: fix the title check base ref and declare the enforcement cutoff
  .github/commit-conventions.toml
  .github/release-drafter.yml
  .github/workflows/commit-conventions.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/check_pr_title.py
  tests/unit/test_commit_conventions.py
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
