Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

refactor: simplify workflow edit normalization
  tests/unit/test_mcp_server.py
  tracecat/mcp/schemas.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor: lock workflow when loading schedules
  tests/unit/test_workflow_schedules_service.py
  tracecat/workflow/schedules/service.py
Due: gen-client, basedpyright

Fix agent provider credentials dialog overflow
  frontend/src/components/organization/org-agent-credentials-dialog.tsx
Due: biome-check, typecheck-frontend

Enforce MCP authorization at service boundary
  docs/snippets/mcp-tools.mdx
  tests/unit/test_mcp_server.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/cases/tags/service.py
  tracecat/mcp/server.py
  tracecat/registry/repositories/router.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

fix: normalize validate-only draft revision
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix: lock workflow update paths
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor: streamline case retrieval and event listing in router and service layers
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/cases/tags/service.py
  tracecat/mcp/server.py
  tracecat/registry/repositories/router.py
Due: gen-client, basedpyright

Fix agents binding comparison
  tests/unit/test_agent_activities.py
  tracecat/agent/session/activities.py
Due: gen-client, basedpyright

Simplify resolved agents config result
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_preset_activities.py
  tracecat/agent/preset/activities.py
Due: gen-client, basedpyright

Disallow Claude stateful tools
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix: validate patched workflow definitions
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Use Claude thinking config for agent runtime
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Mirror root model routing for subagents
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/llm_routing.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

add comments
  tracecat/agent/session/activities.py
Due: gen-client, basedpyright

Implement LLMTokenAuthMetadata and LLMRouteMetadata TypedDicts for enhanced metadata handling in user API key authentication
  tracecat/agent/gateway.py
Due: gen-client, basedpyright

refactor: reuse workflow MCP schemas
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(mcp): address PR review feedback and simplify tests
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tracecat/mcp/auth.py
  tracecat/registry/repositories/router.py
Due: gen-client, basedpyright

fix(mcp): superuser default-org fallback in resolve_org_role_for_request
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

feat(mcp): add sync_custom_registry tool with org-scoped service refactor
  docs/snippets/mcp-tools.mdx
  tests/unit/api/test_api_registry_repositories_entitlements.py
  tests/unit/test_mcp_server.py
  tests/unit/test_registry_repositories_service.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
  tracecat/registry/repositories/router.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

fix(registry): defense-in-depth cross-org check on sync_repository
  tests/unit/test_registry_repositories_service.py
  tracecat/registry/repositories/router.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

chore: lift safe imports out of function scope
  tests/unit/test_mcp_auth.py
  tracecat/mcp/auth.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

feat(mcp): sync_custom_registry tool with org-scoped service refactor (#2568)
  docs/snippets/mcp-tools.mdx
  tests/unit/api/test_api_registry_repositories_entitlements.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_server.py
  tests/unit/test_registry_repositories_service.py
  tracecat/mcp/auth.py
  tracecat/mcp/server.py
  tracecat/registry/repositories/router.py
  tracecat/registry/repositories/service.py
Due: gen-client, basedpyright

Propagate action masking flag from control_flow to DSL tasks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/action-panel.tsx
  tests/unit/test_executor_manifest_resolution.py
  tests/unit/test_view.py
  tracecat/dsl/common.py
  tracecat/dsl/schemas.py
  tracecat/executor/service.py
  tracecat/workflow/actions/schemas.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(executor): cover action-level secret masking
  tests/unit/test_executor.py
Due: basedpyright

fix(builder): persist masking toggle before manual runs
  frontend/src/components/builder/panel/action-panel.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/components/ui/checkbox.tsx
Due: biome-check, typecheck-frontend

style(ui): align checkbox with case selection
  frontend/src/components/ui/checkbox.tsx
Due: biome-check, typecheck-frontend

feat(builder): indicate unmasked action nodes
  frontend/src/components/builder/canvas/action-node.tsx
Due: biome-check, typecheck-frontend

fix(ui): Constrain org agent credentials dialog height and enable scrolling (#2563)
  frontend/src/components/organization/org-agent-credentials-dialog.tsx
Due: biome-check, typecheck-frontend

fix(builder): propagate dirty action save failures
  frontend/src/components/builder/panel/action-panel.tsx
Due: biome-check, typecheck-frontend

fix(builder): guard manual run during action save
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

fix(builder): commit yaml buffers before action save
  frontend/src/components/builder/panel/action-panel.tsx
Due: biome-check, typecheck-frontend

Add token-scoped trusted MCP runtime wiring
  tests/unit/test_agent_mcp_proxy_server.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_entrypoint.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_sandbox_nsjail.py
  tests/unit/test_agent_socket_io.py
  tracecat/agent/common/config.py
  tracecat/agent/mcp/metadata.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/runtime/claude_code/transport.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/sandbox/shim_entrypoint.py
Due: gen-client, basedpyright

test(executor): isolate masking flag regression
  tests/unit/test_executor.py
Due: basedpyright

Support isolated Fargate stacks
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/cloudwatch.tf
  deployments/fargate/modules/ecs/ecs-agent-executor.tf
  deployments/fargate/modules/ecs/ecs-agent-worker.tf
  deployments/fargate/modules/ecs/ecs-api.tf
  deployments/fargate/modules/ecs/ecs-caddy.tf
  deployments/fargate/modules/ecs/ecs-executor.tf
  deployments/fargate/modules/ecs/ecs-litellm.tf
  deployments/fargate/modules/ecs/ecs-mcp.tf
  deployments/fargate/modules/ecs/ecs-temporal-ui.tf
  deployments/fargate/modules/ecs/ecs-temporal.tf
  deployments/fargate/modules/ecs/ecs-ui.tf
  deployments/fargate/modules/ecs/ecs-worker.tf
  deployments/fargate/modules/ecs/ecs.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/redis.tf
  deployments/fargate/modules/ecs/s3.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/modules/network/network.tf
  deployments/fargate/modules/network/variables.tf
  deployments/fargate/variables.tf
Due: none

Preserve stdio MCP runtime wiring
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Show subagent type in Agent tool headers
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/tests/chat-session-pane.test.tsx
Due: biome-check, typecheck-frontend

Fix Alembic head merge after main sync
  alembic/versions/4f2b0e1d3c9a_merge_subagent_and_case_anchor_heads.py
Due: basedpyright

Limit CI DB pool for parallel Python tests
  .github/workflows/test-python.yml
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
