Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

Skip uncorrelated Vercel tool results
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
Due: gen-client, basedpyright

Fix Fargate naming compatibility
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/redis.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/modules/network/network.tf
  deployments/fargate/modules/network/variables.tf
  deployments/fargate/variables.tf
Due: none

Require multi-AZ Fargate subnets
  deployments/fargate/modules/network/network.tf
Due: none

infra: Support isolated Fargate stacks (#2569)
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/cloudwatch.tf
  deployments/fargate/modules/ecs/ecs-agent-executor.tf
  deployments/fargate/modules/ecs/ecs-agent-worker.tf
  deployments/fargate/modules/ecs/ecs-api.tf
  deployments/fargate/modules/ecs/ecs-caddy.tf
  deployments/fargate/modules/ecs/ecs-executor.tf
  deployments/fargate/modules/ecs/ecs-litellm.tf
  deployments/fargate/modules/ecs/ecs-mcp.tf
  deployments/fargate/modules/ecs/ecs-temporal-ui.tf
  deployments/fargate/modules/ecs/ecs-temporal.tf
  deployments/fargate/modules/ecs/ecs-ui.tf
  deployments/fargate/modules/ecs/ecs-worker.tf
  deployments/fargate/modules/ecs/ecs.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/rds.tf
  deployments/fargate/modules/ecs/redis.tf
  deployments/fargate/modules/ecs/s3.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/modules/network/network.tf
  deployments/fargate/modules/network/variables.tf
  deployments/fargate/variables.tf
Due: none

infra: preserve legacy WAF pattern names
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/alb.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

feat(agents): new agent catalog db models
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/platform_catalog.json
  tracecat/agent/types.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

chore(agents): drop discovery status on custom providers
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright

chore(agents): bump platform catalog
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/platform_catalog.json
Due: gen-client, basedpyright

fix(agents): tenant rls agent catalog split
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(agents): use gemini provider slug in catalog
  tracecat/agent/platform_catalog.json
Due: gen-client

fix(agents): prune and bump agent catalog
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/platform_catalog.json
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(agents): new agent catalog db models (#2506)
  alembic/versions/7d23a45113ee_add_agent_catalog_tables.py
  tracecat/agent/platform_catalog.json
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(agents): new agent catalog db models
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

chore(agents): bump platform catalog
  tracecat/agent/platform_catalog.json
Due: gen-client

feat(agents): new agent catalog db models
  tracecat/agent/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): prune and bump agent catalog
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(agents): llm providers v2 control plane
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/router.py
  tracecat/agent/access/schemas.py
  tracecat/agent/access/service.py
  tracecat/agent/access/types.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/catalog/types.py
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/api/app.py
  tracecat/auth/dependencies.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): tenant rls agent catalog split
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): bump agent passthrough
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_provider_service.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): audit logging and agent catalog/provider cleanup
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/router.py
  tracecat/agent/access/service.py
  tracecat/agent/access/types.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/catalog/types.py
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
  tracecat/agent/service.py
  tracecat/api/app.py
  tracecat/audit/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): nits and helpers
  tests/unit/test_agent_catalog_service.py
  tracecat/agent/access/router.py
  tracecat/agent/access/service.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/service.py
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(agents): control plane impl for llm providers v2 (#2509)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_provider_service.py
  tracecat/agent/access/router.py
  tracecat/agent/access/schemas.py
  tracecat/agent/access/service.py
  tracecat/agent/catalog/router.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/platform_catalog.json
  tracecat/agent/provider/router.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/provider/types.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/agent/types.py
  tracecat/audit/types.py
  tracecat/auth/dependencies.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat: add pasta networking for nsjail sandboxes
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
Due: gen-client, basedpyright

fix: isolate procfs in nsjail sandboxes
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

docs: switch Copilot MCP setup to bash-style steps
  docs/snippets/mcp-installation-self-hosted.mdx
  docs/snippets/mcp-installation.mdx
Due: none

docs: add GitHub Copilot MCP setup to installation snippets (#2572)
  docs/snippets/mcp-installation-self-hosted.mdx
  docs/snippets/mcp-installation.mdx
Due: none

feat: add pasta networking and lock down /proc in nsjail (#2571)
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_sandbox_networking.py
  tracecat/agent/sandbox/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/networking.py
Due: gen-client, basedpyright

feat(endpoint): scaffold Go endpoint module
  .pre-commit-config.yaml
  packages/tracecat-endpoint/.gitignore
  packages/tracecat-endpoint/AGENTS.md
  packages/tracecat-endpoint/README.md
  packages/tracecat-endpoint/cmd/tracecat-endpoint/main.go
  packages/tracecat-endpoint/cmd/tracecat-endpoint/main_test.go
  packages/tracecat-endpoint/go.mod
  packages/tracecat-endpoint/internal/version/version.go
  pyproject.toml
Due: gen-client

ci: add Go lint workflow
  .github/workflows/lint-go.yml
Due: none

feat(spm): add backend foundations and sync APIs
  alembic/versions/ed7b7d97ede5_add_spm_tables.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/spm/__init__.py
  packages/tracecat-ee/tracecat_ee/spm/router.py
  packages/tracecat-ee/tracecat_ee/spm/schemas.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  packages/tracecat-ee/tracecat_ee/spm/types.py
  tests/unit/api/test_api_spm.py
  tests/unit/test_spm_schemas.py
  tests/unit/test_tier_entitlements.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(endpoint): complete claude inventory acceptance coverage
  packages/tracecat-endpoint/internal/inventory/inventory.go
  packages/tracecat-endpoint/internal/inventory/inventory_test.go
Due: gen-client

feat(spm): add static control catalog
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/spm/controls/__init__.py
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.additional_directory.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.hook.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.instruction_file.external_indicators_reputation_ok.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.instruction_file.language_english.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.instruction_file.obfuscation_absent.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.mcp_server.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.mcp_server.reputation_ok.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.mcp_server.vulnerability_ok.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.permission_config.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.sandbox_config.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.skill.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.trusted_directory.approved.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/registry.py
  packages/tracecat-ee/tracecat_ee/spm/router.py
  packages/tracecat-ee/tracecat_ee/spm/schemas.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  packages/tracecat-ee/tracecat_ee/spm/types.py
  tests/unit/api/test_api_spm.py
  tests/unit/test_spm_controls.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(spm): ship tracecatd endpoint shell and operator surfaces
  frontend/src/app/spm/assets/page.tsx
  frontend/src/app/spm/controls/page.tsx
  frontend/src/app/spm/endpoints/[endpointId]/page.tsx
  frontend/src/app/spm/endpoints/page.tsx
  frontend/src/app/spm/findings/page.tsx
  frontend/src/app/spm/layout.tsx
  frontend/src/app/spm/page.tsx
  frontend/src/components/sidebar/spm-sidebar.tsx
  frontend/src/components/spm/spm-ui.tsx
  frontend/src/hooks/use-spm.ts
  packages/tracecat-ee/tracecat_ee/spm/analyzer.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  packages/tracecat-endpoint/AGENTS.md
  packages/tracecat-endpoint/README.md
  packages/tracecat-endpoint/cmd/tracecat-endpoint/main.go
  packages/tracecat-endpoint/cmd/tracecat-endpoint/main_test.go
  packages/tracecat-endpoint/cmd/tracecatd/main.go
  packages/tracecat-endpoint/cmd/tracecatd/main_test.go
  packages/tracecat-endpoint/internal/cli/app.go
  packages/tracecat-endpoint/internal/inventory/inventory.go
  packages/tracecat-endpoint/internal/inventory/inventory_test.go
  packages/tracecat-endpoint/internal/inventory/testdata/claude-invalid/home/.claude.json
  packages/tracecat-endpoint/internal/inventory/testdata/claude-invalid/home/workspace-alpha/.mcp.json
  packages/tracecat-endpoint/internal/inventory/testdata/claude/home/.claude.json
  packages/tracecat-endpoint/internal/inventory/testdata/claude/home/.claude/settings.json
  packages/tracecat-endpoint/internal/inventory/testdata/claude/home/workspace-alpha/.mcp.json
  packages/tracecat-endpoint/internal/inventory/testdata/claude/home/workspace-alpha/AGENTS.md
  packages/tracecat-endpoint/internal/inventory/testdata/claude/home/workspace-alpha/CLAUDE.md
  packages/tracecat-endpoint/internal/launchagent/launchagent.go
  packages/tracecat-endpoint/internal/launchagent/launchagent_test.go
  packages/tracecat-endpoint/internal/runner/runner.go
  packages/tracecat-endpoint/internal/runner/runner_test.go
  packages/tracecat-endpoint/internal/spmapi/client.go
  packages/tracecat-endpoint/internal/spmapi/client_test.go
  packages/tracecat-endpoint/internal/state/state.go
  packages/tracecat-endpoint/internal/state/state_test.go
  packages/tracecat-endpoint/internal/tasks/tasks.go
  packages/tracecat-endpoint/internal/tasks/tasks_test.go
  tests/unit/test_spm_analyzer.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(endpoint): harden Claude reconciler enforcement
  packages/tracecat-endpoint/internal/claude/mcp_identity.go
  packages/tracecat-endpoint/internal/inventory/inventory.go
  packages/tracecat-endpoint/internal/inventory/inventory_test.go
  packages/tracecat-endpoint/internal/tasks/tasks.go
  packages/tracecat-endpoint/internal/tasks/tasks_test.go
Due: gen-client

Add SPM threat intel and risk heuristics
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/spm/analyzer.py
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.hook.risk_ok.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/catalog/claude.skill.risk_ok.yaml
  packages/tracecat-ee/tracecat_ee/spm/controls/registry.py
  packages/tracecat-ee/tracecat_ee/spm/intel.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  packages/tracecat-ee/tracecat_ee/spm/types.py
  tests/unit/test_spm_analyzer.py
  tests/unit/test_spm_controls.py
  tests/unit/test_spm_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Simplify SPM reputation to VirusTotal
  packages/tracecat-ee/tracecat_ee/spm/intel.py
  tests/unit/test_spm_analyzer.py
Due: gen-client, basedpyright

feat: complete the SPM operator UI
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/spm/spm-ui.tsx
  frontend/src/hooks/use-spm.ts
  frontend/tests/spm-ui.test.tsx
  packages/tracecat-ee/tracecat_ee/spm/router.py
  packages/tracecat-ee/tracecat_ee/spm/schemas.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  tests/unit/api/test_api_spm.py
  tests/unit/test_spm_schemas.py
  tests/unit/test_spm_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Add pending SPM enrollment removal
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/spm/spm-ui.tsx
  frontend/src/hooks/use-spm.ts
  frontend/tests/spm-ui.test.tsx
  packages/tracecat-ee/tracecat_ee/spm/router.py
  packages/tracecat-ee/tracecat_ee/spm/service.py
  tests/unit/api/test_api_spm.py
  tests/unit/test_spm_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(watchtower): dedupe agents and tighten monitor UI
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/components/sidebar/watchtower-sidebar.tsx
  frontend/src/components/watchtower/watchtower-monitor.tsx
  frontend/src/hooks/use-watchtower.ts
  packages/tracecat-ee/tracecat_ee/watchtower/router.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  tests/unit/test_watchtower_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
