Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(tables): Grid tables (#1999)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/workspaces/[workspaceId]/tables/[tableId]/layout.tsx
  frontend/src/app/workspaces/[workspaceId]/tables/[tableId]/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/tables/ag-grid-cell-editor.tsx
  frontend/src/components/tables/ag-grid-cell-renderer.tsx
  frontend/src/components/tables/ag-grid-clipboard.ts
  frontend/src/components/tables/ag-grid-column-header.tsx
  frontend/src/components/tables/ag-grid-context-menu.tsx
  frontend/src/components/tables/ag-grid-pagination.tsx
  frontend/src/components/tables/ag-grid-row-actions.tsx
  frontend/src/components/tables/ag-grid-setup.ts
  frontend/src/components/tables/ag-grid-table.tsx
  frontend/src/components/tables/ag-grid-theme.ts
  frontend/src/components/tables/cell-display.tsx
  frontend/src/components/tables/cell-editors.tsx
  frontend/src/components/tables/table-panel-context.tsx
  frontend/src/components/tables/table-side-panel.tsx
  frontend/src/components/tables/table-view-action-delete-dialog.tsx
  frontend/src/components/tables/table-view-action.tsx
  frontend/src/components/tables/table-view.tsx
  frontend/src/components/ui/date-time-picker.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/styles/ag-grid-overrides.scss
  frontend/src/styles/globals.scss
  packages/tracecat-registry/tracecat_registry/types.py
  tracecat/tables/router.py
  tracecat/tables/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): add missing dropdown hooks and fix implicit any types
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(db): squash case dropdown migrations into single migration
  alembic/versions/328d927c631b_add_case_dropdown_tables_and_event_.py
  alembic/versions/5f94298e9430_add_icon_name_to_case_dropdown_.py
  alembic/versions/b4de178d5817_add_dropdown_value_changed_event_type.py
Due: basedpyright

fix(ui): add missing @dnd-kit dependencies for case dropdown dialog
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

fix(db): reparent dropdown migration to correct head and merge alembic branches
  alembic/versions/328d927c631b_add_case_dropdown_tables_and_event_.py
  alembic/versions/663883860695_merge_org_constraints_and_dropdown_heads.py
Due: basedpyright

fix(ui): move icon picker to right of name input in dropdown dialog
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
Due: biome-check, typecheck-frontend

fix(cases): fix dropdown invalidation key and add duration query refresh
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

fix(tests): mock CaseDropdownValuesService in case API tests
  tests/unit/api/test_api_cases.py
Due: basedpyright

fix(cases): sync durations in list endpoint to fix first-load race condition
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/chat/messages.tsx
  frontend/src/lib/cases/invalidation.ts
  frontend/src/lib/chat.ts
  frontend/src/lib/hooks.tsx
  tracecat/cases/dropdowns/service.py
  tracecat/cases/durations/router.py
  tracecat/cases/service.py
  tracecat/cases/tags/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(db): remove unused imports and fix type annotation in merge migration
  alembic/versions/663883860695_merge_org_constraints_and_dropdown_heads.py
Due: basedpyright

fix(cases): sort imports in dropdown service
  tracecat/cases/dropdowns/service.py
Due: gen-client, basedpyright

fix(cases): persist icon_name on dropdown definition creation
  tracecat/cases/dropdowns/service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(cases): show error toast when dropdown creation fails
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
Due: biome-check, typecheck-frontend

fix(cases): use definition icon instead of first option icon in context menu
  frontend/src/components/cases/case-item.tsx
Due: biome-check, typecheck-frontend

style(db): format alembic migration files
  alembic/versions/328d927c631b_add_case_dropdown_tables_and_event_.py
  alembic/versions/663883860695_merge_org_constraints_and_dropdown_heads.py
Due: basedpyright

fix(cases): handle IntegrityError in dropdown service for duplicate refs
  tracecat/cases/dropdowns/service.py
Due: gen-client, basedpyright

fix(cases): improve dropdown router error handling and use Body annotation
  tracecat/cases/dropdowns/router.py
Due: gen-client, basedpyright

fix(cases): add 404 handling and improve logging in durations list endpoint
  tracecat/cases/durations/router.py
Due: gen-client, basedpyright

refactor(ui): replace static icon map with dynamic lucide-react imports
  frontend/src/components/cases/add-case-dropdown-dialog.tsx
  frontend/src/components/cases/case-item.tsx
  frontend/src/components/cases/case-panel-selectors.tsx
  frontend/src/components/cases/cases-header.tsx
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/cases/dropdowns-table.tsx
  frontend/src/components/dynamic-lucide-icon.tsx
  frontend/src/components/form/icon-picker.tsx
  frontend/src/components/inbox/activity-item.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/lib/icons.ts
  frontend/src/lib/lucide-icon-resolver.ts
Due: biome-check, typecheck-frontend

docs(client): update case durations list endpoint docstring
  frontend/src/client/services.gen.ts
Due: biome-check, typecheck-frontend

feat(cases): gate custom dropdowns behind enterprise feature flag
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/add-case-dropdown.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/dropdowns-view.tsx
  tracecat/api/app.py
  tracecat/feature_flags/enums.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): add settings modal and refactor profile pages
  frontend/src/app/layout.tsx
  frontend/src/app/profile/email/layout.tsx
  frontend/src/app/profile/email/page.tsx
  frontend/src/app/profile/layout.tsx
  frontend/src/app/profile/security/layout.tsx
  frontend/src/app/profile/security/page.tsx
  frontend/src/app/profile/settings/layout.tsx
  frontend/src/app/profile/settings/page.tsx
  frontend/src/components/auth/update-email-form.tsx
  frontend/src/components/auth/update-password-form.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/profile-layout.tsx
  frontend/src/components/sidebar/profile-sidebar.tsx
  frontend/src/components/sidebar/sidebar-user-nav.tsx
  frontend/src/providers/posthog.tsx
Due: biome-check, typecheck-frontend

feat(icons): add BlocksIcon and update icon rendering styles
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  frontend/src/components/builder/events/events-sidebar.tsx
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

fix(icons): update tools icon rendering to use props directly
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

refactor(profile): remove unused profile pages and layout components
  frontend/src/app/profile/email/page.tsx
  frontend/src/app/profile/layout.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/profile/security/page.tsx
  frontend/src/app/profile/settings/page.tsx
Due: biome-check, typecheck-frontend

feat(ui): Add settings modal and refactor profile page (#2003)
  frontend/src/app/layout.tsx
  frontend/src/app/profile/email/layout.tsx
  frontend/src/app/profile/email/page.tsx
  frontend/src/app/profile/layout.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/profile/security/layout.tsx
  frontend/src/app/profile/security/page.tsx
  frontend/src/app/profile/settings/layout.tsx
  frontend/src/app/profile/settings/page.tsx
  frontend/src/components/auth/update-email-form.tsx
  frontend/src/components/auth/update-password-form.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/profile-layout.tsx
  frontend/src/components/sidebar/profile-sidebar.tsx
  frontend/src/components/sidebar/sidebar-user-nav.tsx
  frontend/src/providers/posthog.tsx
Due: biome-check, typecheck-frontend

Revert "feat(ui): add settings modal and refactor profile pages"
  frontend/src/app/layout.tsx
  frontend/src/app/profile/email/layout.tsx
  frontend/src/app/profile/email/page.tsx
  frontend/src/app/profile/layout.tsx
  frontend/src/app/profile/security/layout.tsx
  frontend/src/app/profile/security/page.tsx
  frontend/src/app/profile/settings/layout.tsx
  frontend/src/app/profile/settings/page.tsx
  frontend/src/components/auth/update-email-form.tsx
  frontend/src/components/auth/update-password-form.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/components/sidebar/app-sidebar.tsx
  frontend/src/components/sidebar/profile-layout.tsx
  frontend/src/components/sidebar/profile-sidebar.tsx
  frontend/src/components/sidebar/sidebar-user-nav.tsx
  frontend/src/providers/posthog.tsx
Due: biome-check, typecheck-frontend

feat(ui): Workflow toolbar colors (#2002)
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  frontend/src/components/builder/events/events-sidebar.tsx
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

feat(ui): Standardize admin page layouts and enhance UI consistency
  CLAUDE.md
  frontend/src/app/admin/organizations/[orgId]/page.tsx
  frontend/src/app/admin/organizations/[orgId]/registry/page.tsx
  frontend/src/app/admin/organizations/[orgId]/tier/page.tsx
  frontend/src/app/admin/organizations/page.tsx
  frontend/src/app/admin/registry/page.tsx
  frontend/src/app/admin/registry/settings/page.tsx
  frontend/src/app/admin/registry/versions/page.tsx
  frontend/src/app/admin/settings/page.tsx
  frontend/src/app/admin/tiers/[tierId]/page.tsx
  frontend/src/app/admin/tiers/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/admin/platform-registry-status.tsx
  frontend/src/components/admin/platform-registry-versions-table.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

chore(dev): just cluster use ephemeral backend
  scripts/cluster
Due: none

chore(frontend): remove husky and lint-staged
  .dockerignore
  frontend/.dockerignore
  frontend/.husky/pre-commit
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

feat(auth): Add is_org_admin and is_privileged properties to Role
  tracecat/auth/types.py
Due: gen-client, basedpyright

fix(auth): Allow org owners/admins to bypass workspace membership checks
  tracecat/auth/credentials.py
  tracecat/authz/controls.py
Due: gen-client, basedpyright

fix(workspaces): Allow org owners/admins to list all workspaces
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(auth): Use role.is_privileged for privilege checks
  tracecat/auth/router.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright

fix(ui): Optimistically update workspace cache on creation
  frontend/src/lib/hooks.tsx
Due: biome-check, typecheck-frontend

feat(org): Add endpoint to get current user's org membership
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(auth): Handle invitation acceptance atomically during registration
  tracecat/auth/schemas.py
  tracecat/auth/users.py
Due: gen-client, basedpyright

feat(ui): Allow org admins to create workspace from empty state
  frontend/src/app/workspaces/layout.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
