Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix mcp workflow uploads and restore inline yaml
  .env.example
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/config.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(tables): enforce model-a RLS on dynamic workspace schemas
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tracecat/cases/service.py
  tracecat/custom_fields/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix: normalize internal column prefix checks
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

refactor(rls): simplify __tc internal namespace check
  tracecat/tables/service.py
Due: gen-client, basedpyright

test: cover dynamic workspace rls
  tests/migration/test_dynamic_workspace_rls_migration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/cases/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(rls): reserve __tc namespace for dynamic schemas
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/cases/service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Handle exact tenant column collisions
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
  tests/unit/test_case_fields_service.py
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

Enforce visible column projections for tables
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix: repair alembic migration chain
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
Due: basedpyright

test(rls): cover dynamic workspace service isolation
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

test(rls): avoid xdist hang in dynamic workspace tests
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

test(rls): shadow workflow bucket in unit test
  tests/unit/test_dynamic_workspace_service_rls.py
Due: basedpyright

Notes added by 'git notes add'
  36/79e271fce04397f552323c89c7fe005706380f
Due: none

fix: reparent dynamic schema RLS migration
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
Due: basedpyright

Notes added by 'git notes add'
  a4/d465c4f702ff799be4c5c79231109949dcc269
Due: none

Add outbound HTTP interception for draft runs
  alembic/versions/a352c2bdda17_add_outbound_http_interception_flags.py
  docker-compose.dev.yml
  docs/api-simulation-evaluation.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/panel/workflow-panel.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/api/test_api_workflow_execution_path_ids.py
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tests/unit/test_action_runner.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_search_attributes.py
  tests/unit/test_outbound_http_interception_compat.py
  tests/unit/test_registry_lock_resolution.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/mcp/internal_tools.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/tokens.py
  tracecat/config.py
  tracecat/db/models.py
  tracecat/dsl/common.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/executor/action_runner.py
  tracecat/executor/outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
  tracecat/sandbox/executor.py
  tracecat/webhooks/dependencies.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Offload async gateway dispatch
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Harden bootstrap site-packages lookup
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
Due: basedpyright

Preserve httpx gateway timeouts
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Preserve sandbox registry PYTHONPATH
  tests/unit/test_action_runner.py
  tracecat/sandbox/executor.py
Due: gen-client, basedpyright

Propagate draft interception in MCP
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Handle unset workflow interception flags
  tracecat/dsl/workflow.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright

Avoid duplicate workflow toggle updates
  frontend/src/components/builder/panel/workflow-panel.tsx
Due: biome-check, typecheck-frontend

Reparent outbound HTTP interception migration
  alembic/versions/a352c2bdda17_add_outbound_http_interception_flags.py
Due: basedpyright

Make unsupported gateway timeouts explicit
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Preserve string booleans in workflow read schemas
  tests/unit/test_outbound_http_interception_compat.py
  tracecat/workflow/management/schemas.py
Due: gen-client, basedpyright

Handle disabled timeout objects in gateway bootstrap
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Restore requests session state under interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Reject requests TLS overrides during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Apply aiohttp auth before gateway dispatch
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Bypass non-HTTP urllib requests during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Apply httpx send auth before gateway dispatch
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Raise HTTPError for intercepted urllib failures
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Match urllib open data overrides during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Linearize outbound interception migration history
  alembic/versions/a352c2bdda17_add_outbound_http_interception_flags.py
Due: basedpyright

Preserve aiohttp session cookies during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Forward auth-mutated URLs in httpx interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Reject aiohttp TLS overrides during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Resolve aiohttp base URLs before interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Honor aiohttp raise_for_status during interception
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright
