Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(tables): add table row aggregation action
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/memory-actions/lookups.mdx
  packages/tracecat-registry/tracecat_registry/config.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/ctx.pyi
  packages/tracecat-registry/tracecat_registry/sdk/tables.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/registry/test_core_table.py
  tests/registry/test_table_characterization.py
  tests/registry/test_tables_sdk.py
Due: gen-client, basedpyright

feat(cases): add filtered case aggregation
  plans/eng-1750-cases-aggregation.md
  tests/integration/test_case_aggregation.py
  tests/integration/test_query_aggregations.py
  tests/integration/test_query_execution_integration.py
  tests/unit/api/test_api_case_aggregation.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/test_query_execution.py
  tests/unit/test_tables_service.py
  tracecat/cases/internal_router.py
  tracecat/cases/query.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/cases/types.py
  tracecat/query/aggregations.py
  tracecat/query/compiler.py
  tracecat/query/execution.py
Due: gen-client, basedpyright

test(cases): respect configured aggregation limits
  plans/eng-1750-cases-aggregation.md
  tests/unit/api/test_api_case_aggregation.py
  tests/unit/api/test_api_internal_tables.py
Due: basedpyright

fix(tables): preserve aggregation deployment compatibility
  docs/automations/core-actions/memory-actions/lookups.mdx
  packages/tracecat-registry/tracecat_registry/config.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  packages/tracecat-registry/tracecat_registry/sdk/tables.py
  tests/registry/test_core_table.py
  tests/registry/test_table_aggregate_config.py
  tests/registry/test_table_characterization.py
  tests/registry/test_tables_sdk.py
Due: gen-client, basedpyright

chore(cases): remove implementation plan from source control
  plans/eng-1750-cases-aggregation.md
Due: none

test(tables): mark database aggregation regressions
  tests/registry/test_table_aggregate_config.py
  tests/registry/test_table_characterization.py
Due: basedpyright

fix(agents): apply namespace policy to skill tools
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

feat(agents): show tools blocked by namespace policy
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-namespace-policy-warnings.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/tests/agent-namespace-policy-warnings.test.tsx
  tests/unit/test_skill_service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): destructure parsed user MCP tool name
  packages/tracecat-ee/tracecat_ee/agent/activities.py
Due: gen-client, basedpyright

test(tables): consolidate aggregation integration coverage
  tests/registry/test_core_table.py
  tests/registry/test_table_aggregate_config.py
  tests/registry/test_table_characterization.py
  tests/registry/test_tables_sdk.py
Due: basedpyright

test(cases): consolidate aggregation coverage in gateway scenarios
  .github/workflows/test-python.yml
  tests/integration/test_case_aggregation.py
  tests/integration/test_query_aggregations.py
  tests/integration/test_query_execution_integration.py
  tests/unit/api/test_api_case_aggregation.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/test_tables_service.py
Due: basedpyright

fix(logging): preserve request trace IDs before span teardown
  tests/unit/test_sentry_interceptor.py
  tracecat/executor/action_gateway/app.py
  tracecat/observability/otel.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(skills): unify preset and skill tool policy
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_preset_tool_policy.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/preset/tool_policy.py
  tracecat/agent/preset/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents): share tool policy preview in the builder
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-namespace-policy-warnings.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agent-tool-policy-warnings.tsx
  frontend/src/hooks/use-agent-preset-tool-policy.ts
  frontend/tests/agent-namespace-policy-warnings.test.tsx
  frontend/tests/agent-tool-policy-warnings.test.tsx
  tests/unit/test_skill_service.py
  tracecat/agent/skill/schemas.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(logging): restore trace propagator after request tests
  tests/unit/test_sentry_interceptor.py
Due: basedpyright

fix(logging): skip Sentry context writes without a DSN
  tests/unit/test_sentry_interceptor.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

fix(engine): preserve error classification during sanitization
  tests/unit/test_executor_error_boundary.py
  tracecat/exceptions.py
  tracecat/executor/error_policy.py
  tracecat/executor/service.py
Due: gen-client, basedpyright

fix(skills): constrain policy versions to their owning skill
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): document tool policy preview validation errors
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/preset/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): preserve tool policy validation details
  tests/unit/test_agent_preset_router.py
  tracecat/agent/preset/router.py
Due: gen-client, basedpyright

fix(logging): capture ActionGateway failures in Sentry (#3417)
  tests/unit/test_sentry_interceptor.py
  tracecat/executor/action_gateway/app.py
  tracecat/executor/worker.py
  tracecat/observability/otel.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(engine): withhold secret-dependent errors (#3416)
  packages/tracecat-registry/tracecat_registry/_internal/jsonpath.py
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/test_action_runner.py
  tests/unit/test_executor.py
  tests/unit/test_executor_aws_assume_role.py
  tests/unit/test_executor_error_boundary.py
  tests/unit/test_executor_service.py
  tests/unit/test_expression_policy.py
  tests/unit/test_secret_masking_errors.py
  tests/unit/test_template_actions.py
  tracecat/AGENTS.md
  tracecat/agent/preset/service.py
  tracecat/exceptions.py
  tracecat/executor/action_runner.py
  tracecat/executor/error_policy.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/schemas.py
  tracecat/executor/secret_preprocessors.py
  tracecat/executor/service.py
  tracecat/expressions/common.py
  tracecat/expressions/core.py
  tracecat/expressions/eval.py
  tracecat/expressions/parser/evaluator.py
  tracecat/expressions/policy.py
  tracecat/integrations/mcp_validation.py
  tracecat/secrets/common.py
Due: gen-client, basedpyright

fix(agent): enforce durable limits and interface authorization
  packages/tracecat-ee/tracecat_ee/agent/schemas.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_interface_actions.py
  tests/unit/test_agent_mcp_executor.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_tokens.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_rbac_scopes.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/schemas.py
  tracecat/agent/tokens.py
  tracecat/authz/controls.py
  tracecat/dsl/action.py
  tracecat/dsl/workflow.py
  tracecat/temporal/patches.py
Due: gen-client, basedpyright

refactor(agent): simplify interface action context handling
  tests/unit/test_agent_interface_actions.py
  tracecat/authz/controls.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agents): report request usage on approval pauses and type limit errors
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_interface_actions.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/socket_io.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/schemas.py
  tracecat/dsl/action.py
Due: gen-client, basedpyright

fix(agents): bound ranking request budget and surface swallowed limit-path errors
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/schemas.py
Due: gen-client, basedpyright

fix(agents): propagate task environment to agent activities
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_mcp_trusted_server.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_executor_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/mcp/executor.py
  tracecat/agent/mcp/trusted_server.py
  tracecat/agent/preset/service.py
  tracecat/agent/run_context.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

refactor(skills): share tool metadata across validation and policy
  tests/unit/test_agent_preset_service.py
  tests/unit/test_preset_tool_policy.py
  tests/unit/test_skill_service.py
  tests/unit/test_skill_stdio_grants.py
  tests/unit/test_skill_tool_grants.py
  tracecat/agent/preset/service.py
  tracecat/agent/preset/tool_policy.py
  tracecat/agent/skill/dependencies.py
  tracecat/agent/skill/service.py
  tracecat/agent/skill/types.py
Due: gen-client, basedpyright

test(tables): honor configured aggregation maximum
  tests/unit/api/test_api_internal_tables.py
Due: basedpyright

release: 1.0.0-beta.52-rc.24
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(agents): validate direct tool selections in policy preview
  tests/unit/test_preset_tool_policy.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(logging): identify Temporal activity timeouts in Sentry
  tests/unit/test_sentry_interceptor.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

fix(agents): preserve dependency data during upgrades
  alembic/versions/c3a17be4d902_default_agents_config_to_empty_subagents.py
  tests/migration/test_deleted_dependency_cleanup.py
Due: basedpyright

perf(agents): load only list columns for preset versions
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

refactor(agents+skills): load tool metadata once per preset write
  tests/integration/test_skill_mcp_deletion.py
  tests/integration/test_skill_restore.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_preset_tool_policy.py
  tests/unit/test_skill_stdio_grants.py
  tracecat/agent/preset/service.py
  tracecat/agent/preset/tool_policy.py
  tracecat/agent/preset/types.py
  tracecat/agent/skill/builtin/staging.py
  tracecat/agent/skill/dependencies.py
  tracecat/agent/skill/frontmatter.py
  tracecat/agent/skill/service.py
  tracecat/integrations/schemas.py
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright

test(cases): use standard CI discovery for aggregation tests
  .github/workflows/test-python.yml
  tests/unit/query/test_execution_postgres.py
  tests/unit/test_case_aggregation.py
Due: basedpyright

feat(cases): add filtered case aggregation (#3419)
  tests/integration/test_query_execution_integration.py
  tests/unit/api/test_api_internal_tables.py
  tests/unit/query/test_execution_postgres.py
  tests/unit/test_case_aggregation.py
  tests/unit/test_query_execution.py
  tracecat/cases/internal_router.py
  tracecat/cases/query.py
  tracecat/cases/schemas.py
  tracecat/cases/service.py
  tracecat/cases/types.py
  tracecat/query/aggregations.py
  tracecat/query/compiler.py
  tracecat/query/execution.py
Due: gen-client, basedpyright

fix(agents): enforce stdio approval blocks in subagents
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(api): skip denied Temporal search attribute registration
  tests/unit/test_temporal_search_attribute_registration.py
  tracecat/api/common.py
Due: gen-client, basedpyright

fix(agents): prevent stdio name collisions across agent scopes
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
