Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

ingrate into Table
  frontend/src/components/data-table/index.tsx
  frontend/src/components/tables/table-view.tsx
Due: biome-check

run just fix
  frontend/src/components/data-table/simple-column-header.tsx
  frontend/src/components/tables/table-view.tsx
Due: biome-check

chore: Run just fix
  frontend/src/components/tables/table-view.tsx
Due: biome-check

feat(integrations): langfuse integration (#1442)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/integrations/agents/builder.py
  packages/tracecat-registry/tracecat_registry/integrations/pydantic_ai.py
  uv.lock
Due: biome-check, gen-client

feat: Add sortable column header component for data tables (#1443)
  frontend/src/components/data-table/index.tsx
  frontend/src/components/data-table/simple-column-header.tsx
  frontend/src/components/tables/table-view.tsx
Due: biome-check

fix: handle UUID serialization in download_table action
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
  tracecat/tables/service.py
Due: gen-client

feat(tools.gophish): Add action to retrieve campaigns from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaigns.yml
Due: gen-client

fix(tools.gophish): Clarify comment on API response size limitations for campaign data
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaigns.yml
Due: gen-client

feat(tools.gophish): Add YAML template for listing campaigns from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/list_campaigns.yml
Due: gen-client

feat(integrations): Add MCP OAuth provider with dynamic discovery
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/atlassian/mcp.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/providers/runreveal/mcp.py
Due: none

feat(tools.gophish): Add YAML template for retrieving a specific campaign from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign.yml
Due: gen-client

Drop atlassian MCP (does not support http)
  tracecat/integrations/providers/atlassian/mcp.py
Due: none

feat(tools.gophish): Add YAML template for fetching campaign results from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign_results.yml
Due: gen-client

feat(tools.gophish): Add YAML template for getting campaign summary from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign_summary.yml
Due: gen-client

fix(tools.gophish): Update documentation URLs for campaign-related YAML templates
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign_results.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_campaign_summary.yml
Due: gen-client

feat(tools.gophish): Add YAML template for listing groups from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/list_groups.yml
Due: gen-client

feat(tools.gophish): Enhance YAML template to parse and return simplified group data from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/list_groups.yml
Due: gen-client

feat(tools.gophish): Add YAML template for retrieving a specific group from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_group.yml
Due: gen-client

feat(tools.gophish): Add YAML template for listing groups summary from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/list_groups_summary.yml
Due: gen-client

feat(tools.gophish): Add YAML template for retrieving group summary from Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/get_group_summary.yml
Due: gen-client

feat(tools.gophish): Add YAML template for creating a group in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/create_group.yml
Due: gen-client

feat(tools.gophish): Add YAML template for modifying a group in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/modify_group.yml
Due: gen-client

feat(tools.gophish): Add YAML template for deleting a group in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/delete_group.yml
Due: gen-client

fix(integrations): Improve MCP OAuth provider implementation
  tracecat/integrations/providers/__init__.py
  tracecat/integrations/providers/base.py
  tracecat/integrations/providers/github/mcp.py
  tracecat/integrations/providers/linear/mcp.py
  tracecat/integrations/providers/microsoft/mcp.py
  tracecat/integrations/providers/notion/mcp.py
  tracecat/integrations/providers/sentry/mcp.py
Due: none

feat(tools.gophish): Add YAML template for creating a campaign in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/create_campaign.yml
Due: gen-client

feat(tools.gophish): Add YAML template for deleting a campaign in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/delete_campaign.yml
Due: gen-client

refactor(integrations): Update MCP provider descriptions and API documentation links
  tracecat/integrations/providers/github/mcp.py
  tracecat/integrations/providers/linear/mcp.py
  tracecat/integrations/providers/microsoft/mcp.py
  tracecat/integrations/providers/notion/mcp.py
  tracecat/integrations/providers/runreveal/mcp.py
  tracecat/integrations/providers/sentry/mcp.py
Due: none

Reorganize Groups + Campaigns into folders
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/create_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/delete_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_results.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/list_campaigns.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/create_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/delete_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/modify_group.yml
Due: gen-client

feat(tools.gophish): Add YAML template for listing landing pages in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/list_landing_pages.yml
Due: gen-client

feat(tools.gophish): Add YAML template for creating a landing page in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/create_landing_page.yml
Due: gen-client

feat(tools.gophish): Add YAML template for deleting a landing page in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/delete_landing_page.yml
Due: gen-client

feat(tools.gophish): Add YAML template for getting a landing page in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/get_landing_page.yml
Due: gen-client

feat(tools.gophish): Add YAML template for modifying a landing page in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/modify_landing_page.yml
Due: gen-client

feat(tools.gophish): Add new icon for Gophish tool and update existing icon styles
  frontend/src/components/icons.tsx
Due: biome-check

refactor(tools.gophish): Improve SVG structure and formatting for Gophish icon
  frontend/src/components/icons.tsx
Due: biome-check

feat(tools.gophish): Add YAML templates for managing sending profiles in Gophish API
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/create_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/delete_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/get_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/list_sending_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/modify_sending_profile.yml
Due: gen-client

feat(tools.gophish): Add YAML templates for managing Gophish templates (create, delete, get, list, modify)
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/create_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/delete_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/get_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/list_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/modify_template.yml
Due: gen-client

Added gophish to documentation and ran formatting on the file.
  docs/cheatsheets/integrations.mdx
Due: none

Adding Documentation for Okta & Okta OAR
  docs/cheatsheets/integrations.mdx
Due: none

Adding missing core search cases command
  docs/cheatsheets/integrations.mdx
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
