Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(executor): mask pool worker failure payloads
  tests/unit/test_pool.py
  tracecat/executor/backends/pool/pool.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  cd/e0d7f17fd1a6bd8550ff600e98d2793a6f2507
Due: none

Notes added by 'git notes add'
  74/97db814a2ec57ca4a416a7d315331e3f857eb5
Due: none

test(executor): tolerate masking-disabled projection state
  tests/unit/test_executor_manifest_resolution.py
Due: basedpyright

Notes added by 'git notes add'
  5d/9d5a94aa2a93d3aa6e32f0efff1dc28cf5fc31
Due: none

Notes added by 'git notes add'
  09/8f22b35e40f5434ad666cd1520af5689816155
Due: none

fix(executor): normalize minimal runner secret context
  tests/unit/executor/test_minimal_runner_protocol.py
  tracecat/executor/minimal_runner.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  c9/a0b6f7472b058db24bd312eedb0690ba31d711
Due: none

fix(registry): trim aws role session names
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
  tests/unit/test_aws_assume_role.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  79/816bba3405804158e3d4137916b0b406a40e31
Due: none

fix(registry): reject invalid aws role session names
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
  tests/unit/test_aws_assume_role.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  53/497cb92e5a21223adfedd651c7729b96b6f103
Due: none

fix(executor): assume AWS role on host before sandbox entry (#2453)
  docs/automations/core-concepts/secrets.mdx
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/integrations/amazon_s3.py
  packages/tracecat-registry/tracecat_registry/integrations/aws_boto3.py
  tests/registry/test_agent.py
  tests/unit/executor/test_minimal_runner_protocol.py
  tests/unit/executor/test_test_backend_no_registry_action.py
  tests/unit/test_action_runner.py
  tests/unit/test_aws_assume_role.py
  tests/unit/test_executor_aws_assume_role.py
  tests/unit/test_executor_manifest_resolution.py
  tests/unit/test_pool.py
  tests/unit/test_secrets.py
  tracecat/dsl/schemas.py
  tracecat/executor/action_runner.py
  tracecat/executor/backends/pool/pool.py
  tracecat/executor/backends/pool/worker.py
  tracecat/executor/backends/test.py
  tracecat/executor/minimal_runner.py
  tracecat/executor/schemas.py
  tracecat/executor/secret_preprocessors.py
  tracecat/executor/service.py
  tracecat/executor/untrusted_runner.py
  tracecat/secrets/common.py
  tracecat/secrets/secrets_manager.py
Due: gen-client, basedpyright

feat(mcp): add internal OIDC issuer for MCP authentication (#2457)
  .env.example
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/app/oauth/mcp/continue/page.tsx
  frontend/src/app/oauth/mcp/select-org/page.tsx
  frontend/src/lib/auth-return-url.test.ts
  tests/integration/test_mcp_oidc_flow.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_oidc_endpoints.py
  tests/unit/test_mcp_oidc_signing.py
  tests/unit/test_mcp_oidc_storage.py
  tracecat/api/app.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/oidc/__init__.py
  tracecat/mcp/oidc/config.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/schemas.py
  tracecat/mcp/oidc/session.py
  tracecat/mcp/oidc/signing.py
  tracecat/mcp/oidc/storage.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(frontend): bump defu to 6.1.5 via pnpm override
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  12/b0a7322c148947157d5524ae8a04b1b5c7df1a
Due: none

chore(frontend): bump defu to 6.1.5 (#2490)
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: biome-check, typecheck-frontend

Adjust agent session ID display while copying correlation ID
  frontend/src/components/agents/agents-dashboard.tsx
Due: biome-check, typecheck-frontend

fix(agents): use /chat/completions for custom model providers
  tests/unit/test_tracecat_llm_proxy.py
  tests/unit/test_vercel_stream_context.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/llm_proxy/provider_azure_openai.py
  tracecat/agent/llm_proxy/provider_common.py
  tracecat/agent/llm_proxy/provider_openai.py
  tracecat/agent/llm_proxy/response_rendering.py
Due: gen-client, basedpyright

feat(ui): Add CopyButton to Agents dashboard to copy tracecat correlation ID (#2491)
  frontend/src/components/agents/agents-dashboard.tsx
Due: biome-check, typecheck-frontend

fix(agents): nsjail mount work dir
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/events/events-selected-action.tsx
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_auto_title.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/schemas.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  a6/baa8510da021d7fa4e7b2a97cf95ac08c5fbc4
Due: none

Notes added by 'git notes add'
  82/3101da8d7e6fe5a7bbd470d407ffb6efd8f7d2
Due: none

Notes added by 'git notes add'
  77/cd4656d664cd886ad1d238bb4c5b0f596b8252
Due: none

feat(mcp): add refresh token support to internal OIDC flow
  alembic/versions/b742858f7d69_add_mcp_refresh_token_table.py
  tests/integration/test_mcp_oidc_flow.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_oidc_endpoints.py
  tests/unit/test_mcp_oidc_refresh_tokens.py
  tracecat/db/models.py
  tracecat/mcp/auth.py
  tracecat/mcp/oidc/config.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/refresh_tokens.py
  tracecat/mcp/oidc/schemas.py
Due: gen-client, basedpyright

fix(db): register mcp refresh tokens for tenant RLS
  alembic/versions/b742858f7d69_add_mcp_refresh_token_table.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  0c/df9ad4377184c83911335ed744fbf75983e9ab
Due: none

fix(integrations): drop incorrect .data on run_python step results
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/add_page_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/create_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/get_page_by_title.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/get_page_children.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/search_content.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/update_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/apply_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/get_workspace_details.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_workspaces.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/plan_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/refresh_state.yml
Due: gen-client

Notes added by 'git notes add'
  0a/ed92919a9fd7de0bc674abae9661390aaee314
Due: none

chore(agents): bump buffer stdout cap to 5mb
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Fix selector node disappearing during initial canvas hydration
  frontend/src/components/builder/canvas/graph-layout.ts
  frontend/tests/graph-layout.test.ts
Due: biome-check, typecheck-frontend

fix(mcp): harden refresh token rotation
  tests/integration/test_mcp_oidc_flow.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_oidc_endpoints.py
  tests/unit/test_mcp_oidc_refresh_tokens.py
  tracecat/mcp/auth.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/features.py
  tracecat/mcp/oidc/refresh_tokens.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  a7/e35cf20034ca1d0ad756d5b4d660fec6835e89
Due: none

chore(agents): bump buffer stdout cap to 5mb (#2495)
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

fix(integrations): drop incorrect .data on run_python step results (#2494)
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/add_page_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/create_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/get_page_by_title.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/get_page_children.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/search_content.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/confluence/update_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/apply_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/get_workspace_details.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/list_workspaces.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/plan_run.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/terraform_cloud/refresh_state.yml
Due: gen-client

Validate declared secrets for template SECRETS expressions
  tests/unit/test_validation.py
  tracecat/registry/actions/enums.py
  tracecat/registry/actions/service.py
Due: gen-client, basedpyright

fix(mcp): harden refresh token rotation
  tests/unit/test_mcp_oidc_endpoints.py
  tests/unit/test_mcp_oidc_refresh_tokens.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/refresh_tokens.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  51/d4c73a7fd71e538500a8223b70a9d058fad100
Due: none

fix(agents): compaction feedback
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  tests/unit/test_agent_runtime.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/service.py
  tracecat/chat/constants.py
  tracecat/chat/enums.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend
