Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix: preserve intercepted headers and wire gateway config
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tests/unit/test_action_runner.py
  tracecat/config.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

fix(api): clear workspace settings on null patch
  tests/unit/test_workspace_service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(agents): stopgap resolution of tracecat registry alias
  tests/unit/test_agent_runtime.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  45/81690a5bf2905b04fce3a9b9fe76dfa19faaa8
Due: none

fix(ui): restore workspace settings fallback
  frontend/src/components/settings/settings-modal.tsx
  frontend/tests/settings-modal.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  00/e675f2a39799af78bd975be2b080f0415109bb
Due: none

fix mcp helm blob storage config
  deployments/helm/tracecat/templates/_helpers.tpl
  tracecat/mcp/config.py
Due: gen-client, basedpyright

fix(mcp) workflow uploads and restore inline yaml (#2360)
  .env.example
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  tests/unit/test_mcp_server.py
  tracecat/mcp/README.md
  tracecat/mcp/config.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  29/e58442ca5ecc108b275ad1910942b55fef412a
Due: none

fix(api): clear workspace settings to empty object
  tests/unit/test_workspace_service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  11/0c30d6ec343f255a649e1061ca2fbeb28b1cf0
Due: none

add workflow and agent duplication safeguards
  frontend/src/components/agents/agent-preset-delete-dialog.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/lib/agent-presets.ts
  frontend/src/lib/workflow.ts
  frontend/tests/agent-preset-delete-dialog.test.tsx
  frontend/tests/agent-presets-builder.test.tsx
  frontend/tests/workflow.test.ts
Due: biome-check, typecheck-frontend

fix: close outbound HTTP interception gaps
  tests/unit/executor/test_outbound_http_gateway_bootstrap.py
  tracecat/executor/outbound_http_gateway_sitecustomize.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  4a/07a9384dc0bd00bc2df9942434c970563b4a00
Due: none

fix stdio arguments text size
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

fix(ui): stdio arguments text size (#2363)
  frontend/src/components/integrations/mcp-integration-dialog.tsx
Due: biome-check, typecheck-frontend

Add workflow and agent duplication
  frontend/src/components/agents/agent-preset-delete-dialog.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/tests/agent-preset-delete-dialog.test.tsx
Due: biome-check, typecheck-frontend

improve builder trigger payload UX
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/lib/event-history.ts
  frontend/src/lib/workflow-trigger-payload.ts
  frontend/src/providers/builder.tsx
  frontend/tests/event-history.test.ts
  frontend/tests/workflow-trigger-payload.test.ts
  tests/unit/test_workflow_executions.py
  tracecat/workflow/executions/constants.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Add workflow and agent duplication
  frontend/src/components/agents/agents-table.tsx
Due: biome-check, typecheck-frontend

feat(ui): Add workflow and agent duplication (#2362)
  frontend/src/components/agents/agent-preset-delete-dialog.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/dashboard/table-actions.tsx
  frontend/src/components/dashboard/workflows-dashboard.tsx
  frontend/src/lib/agent-presets.ts
  frontend/src/lib/workflow.ts
  frontend/tests/agent-preset-delete-dialog.test.tsx
  frontend/tests/agent-presets-builder.test.tsx
  frontend/tests/workflow.test.ts
Due: biome-check, typecheck-frontend

address trigger payload review feedback
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/lib/workflow-trigger-payload.ts
  frontend/src/providers/builder.tsx
  frontend/tests/workflow-trigger-payload.test.ts
  tests/unit/test_workflow_executions.py
  tracecat/dsl/action.py
  tracecat/storage/collection.py
  tracecat/storage/object.py
  tracecat/storage/utils.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

drop trigger payload cookie fallback
  frontend/src/lib/workflow-trigger-payload.ts
  frontend/tests/workflow-trigger-payload.test.ts
Due: biome-check, typecheck-frontend

refactor(ui): Move workspace settings into modal + `Workflow sync` -> `Git sync` (#2353)
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/src/app/layout.tsx
  frontend/src/app/organization/settings/workspaces/[workspaceId]/layout.tsx
  frontend/src/app/organization/settings/workspaces/[workspaceId]/page.tsx
  frontend/src/app/organization/vcs/page.tsx
  frontend/src/app/workspaces/layout.tsx
  frontend/src/components/organization/org-vcs-github.tsx
  frontend/src/components/organization/org-workspace-settings.tsx
  frontend/src/components/settings/profile-settings.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal-host.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/src/components/settings/workspace-general-settings.tsx
  frontend/src/components/settings/workspace-runtime-settings.tsx
  frontend/src/components/settings/workspace-settings-container.tsx
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/components/sidebar/organization-sidebar.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/scopes.ts
  frontend/src/providers/scopes.tsx
  frontend/tests/org-workspace-settings-form.test.ts
  frontend/tests/profile-settings.test.ts
  frontend/tests/settings-modal.test.tsx
  frontend/tests/workspace-files-settings.test.ts
  frontend/tests/workspace-general-settings.test.ts
  frontend/tests/workspace-runtime-settings.test.ts
  tests/unit/test_workspace_service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(ui): Add trigger context event and move builder payload editor (#2364)
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/events/events-workflow.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/lib/event-history.ts
  frontend/src/lib/workflow-trigger-payload.ts
  frontend/src/providers/builder.tsx
  frontend/tests/event-history.test.ts
  frontend/tests/workflow-trigger-payload.test.ts
  tests/unit/test_workflow_executions.py
  tracecat/dsl/action.py
  tracecat/storage/collection.py
  tracecat/storage/object.py
  tracecat/storage/utils.py
  tracecat/workflow/executions/constants.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(agent): add configurable failure mode for agent activity retries
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_search_attributes.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tracecat/agent/executor/activity.py
  tracecat/agent/session/service.py
  tracecat/agent/workflow_schemas.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  50/69b47162c9afe8e32c31f1bddde937be8ad198
Due: none

fix(agents): ui polish for llm providers
  alembic/versions/0b366cfa8db5_llm_provider_v2.py
  alembic/versions/57cc1f153017_add_enabled_model_runtime_config.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/icons.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  frontend/src/lib/hooks.tsx
  scripts/cluster
  tests/unit/api/test_api_agents.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_builtin_catalog.py
  tracecat/agent/builtin_catalog.py
  tracecat/agent/internal_router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: migration bump
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/components/chat/chat-interface.tsx
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_schemas.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_organization_settings.py
  tracecat/agent/gateway.py
  tracecat/agent/service.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/settings/router.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: regen api spec
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/hooks/use-chat-preset-manager.ts
  tests/unit/api/test_api_agents.py
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_session_schemas.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_agent_stream_connector.py
  tests/unit/test_organization_settings.py
  tracecat/agent/gateway.py
  tracecat/agent/router.py
  tracecat/agent/schemas.py
  tracecat/agent/service.py
  tracecat/agent/session/schemas.py
  tracecat/agent/stream/connector.py
  tracecat/mcp/server.py
  tracecat/settings/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): agent catalog sync and stale model selection handling
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_legacy_model_matching.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_mcp_server.py
  tracecat/agent/internal_router.py
  tracecat/agent/legacy_model_matching.py
  tracecat/agent/service.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agents): workspace default model enforcement and source-backed preset resolution
  alembic/versions/3fbfa9cc5a08_llm_provider_v2.py
  frontend/src/components/organization/org-settings-agent.tsx
  tests/unit/api/test_api_agents.py
  tests/unit/test_admin_agent_service.py
  tests/unit/test_agent_internal_router.py
  tests/unit/test_agent_legacy_model_matching.py
  tests/unit/test_agent_management_service.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_session_service.py
  tests/unit/test_mcp_server.py
  tests/unit/test_rls_failure_repros.py
  tracecat/admin/agent/service.py
  tracecat/agent/internal_router.py
  tracecat/agent/router.py
  tracecat/agent/service.py
  tracecat/agent/session/router.py
  tracecat/agent/session/service.py
  tracecat/api/app.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(invitations): invitations v2
  alembic/versions/2e17d6f6f0d5_consolidate_invitation_tables.py
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/no-organization-access.tsx
  frontend/src/components/auth/sign-up.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/hooks/use-invitations.ts
  frontend/src/hooks/use-pending-org-invitations.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_invitation.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/api/app.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/invitations/enums.py
  tracecat/invitations/router.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): litellm package backed model catalog
  frontend/src/app/admin/agent/page.tsx
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/src/components/settings/workspace-model-settings.tsx
  frontend/tests/workspace-model-settings.test.ts
  tests/unit/test_agent_litellm_catalog_snapshot.py
  tests/unit/test_agent_management_service.py
  tracecat/agent/builtin_catalog.py
  tracecat/agent/data/litellm/v1.82.1/model_prices_and_context_window.json
  tracecat/agent/data/litellm/v1.82.1/provider_endpoints_support.json
  tracecat/agent/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(invitations): unified invitation auth, expiry, and accept races
  frontend/src/app/sign-up/[[...sign-up]]/page.tsx
  frontend/src/components/auth/sign-up.tsx
  frontend/src/hooks/use-pending-org-invitations.ts
  frontend/tests/auth-ui-matrix.test.tsx
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_service.py
  tests/unit/test_invitations_router.py
  tests/unit/test_rls_failure_repros.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/service.py
  tracecat/db/tenant_rls.py
  tracecat/invitations/router.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Refine workflow builder run and JSON viewer interactions
  frontend/src/components/builder/canvas/trigger-node.tsx
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/executions/collection-object-result.tsx
  frontend/src/components/executions/event-details.tsx
  frontend/src/components/json-viewer.tsx
  frontend/src/components/nav/builder-nav.tsx
  frontend/tests/collection-object-result.test.tsx
  frontend/tests/event-details.test.tsx
  frontend/tests/events-selected-action.test.tsx
  frontend/tests/json-viewer.test.tsx
Due: biome-check, typecheck-frontend

Fix event detail collection prefix test
  frontend/tests/event-details.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  bf/103144c47c0e2c2c217104c9576c9ef5bbbb6d
Due: none

Make dynamic workspace RLS migration rollback symmetric
  alembic/versions/b5fc4168fe22_apply_model_a_rls_to_dynamic_workspace_.py
  tests/migration/test_dynamic_workspace_rls_migration.py
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
