Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

fix(workspace): resolve membership re-add/remove conflicts (#2158)
  frontend/src/components/workspaces/workspace-members-table.tsx
  frontend/src/hooks/use-workspace.ts
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/workspaces/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  a8/80ccb82c683eafa4963081b204ea42fce0b97c
Due: none

chore: format
  tests/temporal/test_large_collection_regressions.py
  tests/unit/test_materialize_context.py
  tests/unit/test_registry_actions_custom_entitlement.py
  tests/unit/test_registry_lock_service.py
  tests/unit/test_registry_resolver.py
Due: basedpyright

Notes added by 'git notes add'
  f4/abbcd59c70c3f98fde2c2139309302f0e9502d
Due: none

feat(executions): add paged collection result viewer and indexed object ops
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/executions/collection-object-result.tsx
  frontend/src/components/executions/event-details.tsx
  frontend/src/components/executions/external-object-result.tsx
  frontend/src/lib/stored-object.ts
  tests/unit/test_workflow_execution_object_resolution.py
  tests/unit/test_workflow_executions_common.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): remove preview and download actions for inline collection values
  frontend/src/components/executions/collection-object-result.tsx
Due: biome-check, typecheck-frontend

fix(ui): render inline stored collection items as values
  frontend/src/components/executions/collection-object-result.tsx
Due: biome-check, typecheck-frontend

format
  tests/unit/test_workflow_execution_object_resolution.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(executions): harden collection page item validation and error mapping
  tests/unit/test_workflow_execution_object_resolution.py
  tests/unit/test_workflow_execution_schemas.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(rbac): enforce endpoints require entitlements
  frontend/src/app/organization/members/page.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/members-view-toggle.tsx
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  tracecat/api/app.py
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Fix temporal setup job chart
  deployments/helm/tracecat/Chart.yaml
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
Due: none

fix(executions): reset collection state and narrow 404 mapping
  frontend/src/components/executions/collection-object-result.tsx
  tests/unit/test_workflow_execution_object_resolution.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: drop rbac feature flag (#2155)
  frontend/src/app/organization/members/page.tsx
  frontend/src/app/organization/settings/rbac/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/groups/page.tsx
  frontend/src/app/workspaces/[workspaceId]/members/roles/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/members/members-view-toggle.tsx
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  tracecat/api/app.py
  tracecat/feature_flags/enums.py
  tracecat/tiers/defaults.py
  tracecat/tiers/enums.py
  tracecat/tiers/schemas.py
  tracecat/tiers/service.py
  tracecat/tiers/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat: add paged collection result viewer and indexed object ops (#2157)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/components/executions/collection-object-result.tsx
  frontend/src/components/executions/event-details.tsx
  frontend/src/components/executions/external-object-result.tsx
  frontend/src/lib/stored-object.ts
  tests/unit/test_workflow_execution_object_resolution.py
  tests/unit/test_workflow_execution_schemas.py
  tests/unit/test_workflow_executions_common.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Update script to bump chart patch
  scripts/update-version.sh
Due: none

release: beta.17
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/Chart.yaml
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(rbac): move basic auth out of ee
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/api/app.py
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): gate basic auth with rbac scopes
  frontend/src/client/services.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  cc/43c5bc2689dc71faa00d7070c7265ab6673279
Due: none

refactor: simplify navPlatform construction in AdminSidebar component
  frontend/src/components/sidebar/admin-sidebar.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  02/b8af4db2b43e074f2cceb6341c5f3da67b369d
Due: none

feat(helm): add architecture pinning and enhance pod scheduling for Tracecat workloads
  deployments/eks/README.md
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/helm/README.md
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/migrations-job.yaml
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
  deployments/helm/tracecat/values.yaml
Due: none

fix(rbac): move basic auth out of ee (#2160)
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/api/app.py
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Handle invalid encryption key
  frontend/src/components/workspaces/delete-workspace-secret.tsx
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  frontend/src/components/workspaces/workspace-secrets-table.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_secrets.py
  tests/unit/test_secrets_service.py
  tracecat/secrets/router.py
  tracecat/secrets/schemas.py
  tracecat/secrets/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Return dropdowns on get case
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/ee/durations.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/unit/api/test_api_cases.py
  tracecat/cases/durations/schemas.py
  tracecat/cases/internal_router.py
  tracecat/cases/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Update get_case_metrics return type
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
Due: gen-client, basedpyright

Codex changes
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/temporal-setup-job.yaml
Due: none

Fix credentials page InvalidToken
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  tests/unit/test_secrets_service.py
  tracecat/secrets/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(helm): remove architecture pinning from Tracecat values.yaml
  deployments/helm/tracecat/values.yaml
Due: none

feat: Handle corrupted workspace secrets gracefully (#2162)
  frontend/src/components/workspaces/delete-workspace-secret.tsx
  frontend/src/components/workspaces/edit-workspace-secret.tsx
  frontend/src/components/workspaces/workspace-secrets-table.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/api/test_api_secrets.py
  tests/unit/test_secrets_service.py
  tracecat/secrets/router.py
  tracecat/secrets/schemas.py
  tracecat/secrets/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Convert CaseFieldRead models to dict
  tracecat/cases/internal_router.py
Due: gen-client, basedpyright

feat(api): Return dropdown metadata in case responses (#2163)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-registry/tracecat_registry/core/ee/durations.py
  packages/tracecat-registry/tracecat_registry/sdk/cases.py
  packages/tracecat-registry/tracecat_registry/types.py
  tests/unit/api/test_api_cases.py
  tracecat/cases/durations/schemas.py
  tracecat/cases/internal_router.py
  tracecat/cases/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(workflows): support target-branch publish and branch picker
  alembic/versions/672fecea1d32_add_workflow_git_sync_branch.py
  docs/quickstart/github-workflow-sync-setup.md
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/nav/builder-nav.tsx
  frontend/src/providers/workflow.tsx
  tests/unit/api/test_api_workflow_store_publish.py
  tests/unit/test_workflow_sync_service.py
  tests/unit/test_workflows_store.py
  tracecat/db/models.py
  tracecat/registry/repositories/schemas.py
  tracecat/sync.py
  tracecat/workflow/management/router.py
  tracecat/workflow/management/schemas.py
  tracecat/workflow/store/router.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
  tracecat/workflow/store/sync.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

Notes added by 'git notes add'
  d9/5760faa7b794bde0115dfcbc6bdbb91a15382f
Due: none

fix(ui): use push terminology in workflow publish menu
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  41/aa4e54f951ba795aa3e990221efd2ef6242318
Due: none

Notes added by 'git notes add'
  e3/9b892f06b4aced8b37a10fc6d9a8547cdd56a6
Due: none

fix(ui): rename publish menu header to version control
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend

fix(ui): show badge for default branch in selector
  frontend/src/components/nav/builder-nav.tsx
Due: biome-check, typecheck-frontend
