Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(cases): unblock inline case images under CSP
  frontend/next.config.mjs
  frontend/src/components/tiptap-node/image-node/attachment-image-node.tsx
Due: biome-check, typecheck-frontend

fix(chat): address review comments
  .claude/settings.json
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_vercel_adapter.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): show placeholder when attachment image cannot resolve
  frontend/src/components/tiptap-node/image-node/attachment-image-node.tsx
Due: biome-check, typecheck-frontend

fix(cases): canonicalize MIME type for inline image preview gate
  tracecat/cases/attachments/service.py
  tracecat/storage/validation.py
Due: gen-client, basedpyright

fix(ui): block comment keyboard submit while image upload pending
  frontend/src/components/cases/case-comments-section.tsx
Due: biome-check, typecheck-frontend

chore(ui): remove dead security_threat_detected error branches
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/lib/cases/attachment-errors.ts
Due: biome-check, typecheck-frontend

fix(ui): parse attachment images from data-attachment-src HTML
  frontend/src/components/tiptap-node/image-node/attachment-image-node.tsx
Due: biome-check, typecheck-frontend

fix(ui): make node icons theme-aware and move theme to settings
  frontend/src/components/icons.tsx
  frontend/src/components/settings/appearance-settings.tsx
  frontend/src/components/settings/settings-modal-context.tsx
  frontend/src/components/settings/settings-modal.tsx
  frontend/src/components/sidebar/sidebar-user-nav.tsx
Due: biome-check, typecheck-frontend

feat(agents): chat interrupts (#2930)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/ai-elements/tool.tsx
  frontend/src/components/chat/chat-session-pane.test.tsx
  frontend/src/components/chat/chat-session-pane.tsx
  frontend/src/hooks/use-chat.ts
  frontend/src/lib/chat.ts
  frontend/tests/chat-session-pane.test.tsx
  frontend/tests/memo-render-count.test.tsx
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_session_messages.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_vercel_adapter.py
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/cancellation.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/executor_worker.py
  tracecat/agent/runtime/claude_code/broker.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/session/router.py
  tracecat/agent/session/schemas.py
  tracecat/agent/session/service.py
  tracecat/agent/session/types.py
  tracecat/chat/constants.py
  tracecat/chat/enums.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): use currentColor for logo so it renders in dark mode
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

fix(ui): lighten dark mode base background
  frontend/src/styles/globals.scss
Due: biome-check, typecheck-frontend

release: 1.0.0-beta.51-rc.4
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

refactor(ui): pair case image props into imageTarget object
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-panel-description.tsx
Due: biome-check, typecheck-frontend

fix(ui): dark-mode contrast for provider icons and AI toolbar chips
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

fix(ui): use currentColor for dark monochrome secret and tool icons
  frontend/src/components/icons.tsx
Due: biome-check, typecheck-frontend

fix(ui): reset insert-row form when the dialog closes
  frontend/src/components/tables/table-insert-row-dialog.tsx
Due: biome-check, typecheck-frontend

refactor(storage): drop staticmethod MIME wrappers for module functions
  tracecat/storage/validation.py
Due: gen-client, basedpyright

feat(cases): paste images inline in case description and comments (#2962)
  frontend/next.config.mjs
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/case-panel-description.tsx
  frontend/src/components/tiptap-node/image-node/attachment-image-node.tsx
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/cases/attachment-errors.ts
  frontend/src/lib/cases/use-case-image-upload.ts
  tests/unit/test_case_attachments_service.py
  tracecat/cases/attachments/service.py
  tracecat/storage/validation.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(tables): return 409 when creating a unique index on duplicate values
  tests/unit/test_tables_service.py
  tracecat/tables/common.py
  tracecat/tables/router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(attachments): respect empty workspace allowlists
  tests/unit/test_case_attachment_allowlists.py
  tests/unit/test_storage_validation.py
  tracecat/cases/attachments/service.py
  tracecat/storage/validation.py
Due: gen-client, basedpyright

fix(agent): size MCP scope token TTL to turn and re-mint on resume
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(attachments): preserve explicit empty allowlists end to end
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/workspace-files-settings.test.ts
  tests/unit/test_case_attachment_allowlists.py
  tests/unit/test_storage_validation.py
  tracecat/cases/attachments/service.py
  tracecat/storage/validation.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): match tiptap selector specificity so editor padding applies
  frontend/src/components/cases/editor.css
Due: biome-check, typecheck-frontend

fix(attachments): align deny-all upload paths
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/lib/cases/attachment-errors.ts
  frontend/tests/case-attachment-upload-policy.test.ts
  tests/unit/test_case_attachment_allowlists.py
  tests/unit/test_case_attachment_internal_router.py
  tracecat/cases/attachments/internal_router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(attachments): close deny-all allowlist review gaps
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/src/lib/cases/attachment-errors.ts
  frontend/tests/case-attachment-upload-policy.test.ts
  tests/unit/test_case_attachment_allowlists.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore(client): regenerate types to match generator output
  frontend/src/client/types.gen.ts
Due: biome-check, typecheck-frontend

fix(attachments): clarify deny-all policy states
  docs/automations/core-actions/case-actions/attachments.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/case-attachments-section.test.tsx
  frontend/tests/workspace-files-settings.test.ts
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): size MCP scope token TTL to turn and re-mint on resume (#2947)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix(attachments): resolve final policy review gaps
  docs/automations/core-actions/case-actions/attachments.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/settings/workspace-files-settings.tsx
  frontend/tests/workspace-files-settings.test.ts
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(attachments): close final upload policy review gaps
  docs/automations/core-actions/case-actions/attachments.mdx
  frontend/src/components/cases/case-attachments-section.tsx
  frontend/src/lib/cases/attachment-errors.ts
  frontend/tests/case-attachment-upload-policy.test.ts
  frontend/tests/case-attachments-section.test.tsx
  frontend/tests/workspace-files-settings.test.ts
  packages/tracecat-registry/tracecat_registry/core/cases.py
  tests/unit/test_case_attachment_internal_router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(attachments): serialize per-case quota checks
  tests/unit/test_case_attachments_service_locking.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright

fix(attachments): preserve quota integrity under concurrent uploads
  tests/unit/test_case_attachment_quota_concurrency.py
  tests/unit/test_case_attachments_service_locking.py
  tracecat/cases/attachments/internal_router.py
  tracecat/cases/attachments/router.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright

test(attachments): harden concurrent quota regression
  tests/unit/test_case_attachment_quota_concurrency.py
Due: basedpyright

fix(attachments): keep idempotent uploads outside quota failures
  tests/unit/test_case_attachments_internal_router.py
  tests/unit/test_case_attachments_service_locking.py
  tracecat/cases/attachments/internal_router.py
  tracecat/cases/attachments/service.py
Due: gen-client, basedpyright

ci: prevent privileged workflow jobs from running indefinitely
  .github/workflows/build-push-images.yml
  .github/workflows/create-release.yml
  .github/workflows/publish-release.yml
  .github/workflows/release-drafter.yml
  tests/unit/test_github_workflow_timeouts.py
Due: basedpyright

test: cover yaml workflow timeout policy
  tests/unit/test_github_workflow_timeouts.py
Due: basedpyright

fix(registry): make views.update hash an optional input
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/views/update_view.yml
Due: gen-client

ci: avoid persisted checkout credentials in read-only jobs
  .github/workflows/build-push-images.yml
  .github/workflows/lint-frontend.yml
  .github/workflows/lint-python.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-pnpm-build.yml
  .github/workflows/test-python.yml
  tests/unit/test_github_workflow_checkout_credentials.py
Due: basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
