Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

feat(api)!: unify invitations on one table with grants
  alembic/versions/e847d14eeb86_unify_invitations.py
  frontend/src/app/invitations/accept/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/auth/no-organization-access.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/hooks/use-pending-org-invitations.ts
  frontend/src/lib/hooks.tsx
  frontend/src/lib/invitations.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_invitation.py
  tests/unit/test_invitation_grants.py
  tests/unit/test_organization_service.py
  tests/unit/test_saml_client_config.py
  tests/unit/test_workspace_service.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/invitations/schemas.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/schemas.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(logging): emit code-owned alert priority for routing
  tests/unit/test_sentry_interceptor.py
  tests/unit/test_webhook_wait_failures.py
  tracecat/observability/sentry.py
  tracecat/observability/types.py
Due: gen-client, basedpyright

fix(api): keep invitation delivery state when downgrading
  alembic/versions/e847d14eeb86_unify_invitations.py
  tests/migration/test_invitation_membership_rollback.py
  tests/unit/test_invitation_consumer.py
Due: basedpyright

chore: remove redundant dependency constraints
  pyproject.toml
  uv.lock
Due: none

fix(agents): separate cgroup memory and address-space limits
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_config.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_stdio_probe.py
  tracecat/agent/common/config.py
  tracecat/agent/error_policy.py
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/sandbox/config.py
  tracecat/config.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

fix(api+ui): guard invitation expiry and improve role dialogs
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  tests/unit/test_invitation_grant_validation.py
  tracecat/invitations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): require organization membership for workspace grants
  tests/unit/test_authz_membership_service.py
Due: basedpyright

feat(rbac)!: retire the workspace member update scope
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
Due: gen-client, basedpyright

feat(rbac)!: derive organization presence from any role path
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tracecat/auth/users.py
Due: gen-client, basedpyright

fix(api+ui): label role-less members and member invitations
  frontend/src/lib/invitations.test.ts
  frontend/src/lib/invitations.ts
  tests/unit/api/test_api_organization_members.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac): make member removal explicit
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac)!: make workspace member roles read-only
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspaces/workspace-members-table.tsx
  tests/unit/test_authz_membership_service.py
  tracecat/authz/service.py
  tracecat/workspaces/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(rbac)!: replace the membership reconciler with the aggregate root
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  frontend/src/components/organization/invite-member-dialog.tsx
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/tests/invite-member-dialog.test.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_invitation_grants.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
  tracecat/authz/rbac/router.py
  tracecat/authz/scopes.py
  tracecat/authz/service.py
  tracecat/invitations/service.py
  tracecat/organization/management.py
  tracecat/organization/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac+ui)!: grant workspace access only from organization settings
  docs/img/manage-platform/users-workspace-invitation.png
  docs/manage-platform/rbac.mdx
  docs/manage-platform/users.mdx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/organization/invite-member-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/workspaces/add-workspace-member.tsx
  frontend/src/hooks/use-workspace.ts
  frontend/tests/invite-member-dialog.test.tsx
  tracecat/authz/scopes.py
  tracecat/authz/seeding.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): preserve membership mirrors and baseline invitations
  docs/manage-platform/rbac.mdx
  docs/manage-platform/users.mdx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_rbac_service.py
  tracecat/invitations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): require member removal scope for reconcile eviction
  tests/unit/test_authz_membership_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
Due: gen-client, basedpyright

fix(rbac): preserve member access and save role changes atomically
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.test.tsx
  frontend/src/components/organization/org-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/router.py
  packages/tracecat-ee/tracecat_ee/rbac/schemas.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/membership.py
  tracecat/authz/rbac/router.py
  tracecat/authz/service.py
  tracecat/invitations/service.py
  tracecat/organization/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac+ui): lock role scope edits and label invites once roles load
  docs/manage-platform/rbac.mdx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/lib/invitations.test.ts
  frontend/src/lib/invitations.ts
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): read membership floor atomically and update stale expectations
  docs/manage-platform/rbac.mdx
  tests/unit/test_admin_users_service.py
  tracecat/authz/service.py
Due: gen-client, basedpyright

test(rbac): hold the workspace add scope explicitly in membership tests
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_authz_membership_service.py
Due: basedpyright

fix(rbac): constrain SCIM mappings to one organization
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  tests/migration/test_scim_shadow_tables_migration.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(rbac): enable RLS on external_group_member
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

feat(rbac): add SCIM data model
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  tests/migration/test_scim_connection_migration.py
  tests/migration/test_scim_shadow_tables_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

refactor(rbac): derive role paths from effective group members
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(api): delete organization tier assignments with their organization
  tests/unit/test_organization_tier_deletion.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(rbac): import the role-path union under its private name
  tracecat/authz/service.py
Due: gen-client, basedpyright

fix(rbac): constrain SCIM group members to one organization
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  tests/migration/test_scim_shadow_tables_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(auth): deserialize SCIM connection status as an enum
  tests/migration/test_scim_connection_migration.py
  tracecat/db/models.py
Due: gen-client, basedpyright

refactor(rbac): define SCIM tables ahead of the role-path union
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(rbac): align SCIM models and migration
  alembic/versions/a667d946cca1_add_scim_external_directory_shadow_.py
  tracecat/authz/enums.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(agents): close bridge sockets canceled before handler startup
  tests/unit/test_agent_sandbox_entrypoint.py
  tracecat/agent/sandbox/shim_entrypoint.py
Due: gen-client, basedpyright

release: 1.1.0-alpha.6
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

build(deps): update dependencies to remove obsolete overrides (#3547)
  pyproject.toml
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_gateway_errors.py
  tests/unit/test_litellm_bedrock.py
  tests/unit/test_litellm_compat.py
  tests/unit/test_outbound.py
  tracecat/agent/gateway.py
  tracecat/agent/gateway_outbound.py
  tracecat/agent/litellm_compat.py
  uv.lock
Due: gen-client, basedpyright

fix(tables): return actionable errors for invalid table rows (#3645)
  tests/unit/api/test_api_internal_tables.py
  tests/unit/api/test_api_tables.py
  tests/unit/test_table_row_errors.py
  tests/unit/test_tables_service.py
  tracecat/api/app.py
  tracecat/api/common.py
  tracecat/executor/action_gateway/app.py
  tracecat/tables/common.py
  tracecat/tables/exceptions.py
  tracecat/tables/internal_router.py
  tracecat/tables/router.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

fix(agents)!: enforce sandbox memory budgets with cgroups
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.sandbox.yml
  docker-compose.yml
  docs/self-hosting/security.mdx
  docs/snippets/environment-variables.mdx
  tests/unit/test_agent_cgroup.py
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_sandbox_config.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_sandbox_nsjail.py
  tests/unit/test_nsjail_seccomp.py
  tests/unit/test_stdio_probe.py
  tracecat/agent/common/config.py
  tracecat/agent/error_policy.py
  tracecat/agent/executor_worker.py
  tracecat/agent/mcp/stdio_probe.py
  tracecat/agent/sandbox/cgroup.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/types.py
Due: gen-client, basedpyright

refactor(logging): generalize handled API exception capture
  tests/unit/test_sentry_interceptor.py
  tests/unit/test_webhook_wait_failures.py
  tracecat/observability/sentry.py
  tracecat/webhooks/dependencies.py
Due: gen-client, basedpyright

fix(api): handle interrupted webhook request bodies (#3652)
  tests/unit/test_sentry_interceptor.py
  tests/unit/test_webhook_wait_failures.py
  tracecat/observability/sentry.py
  tracecat/observability/types.py
  tracecat/webhooks/dependencies.py
Due: gen-client, basedpyright

docs: restore sandbox configuration comments
  docker-compose.local.yml
  docker-compose.yml
Due: none

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
