Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(ui): widen bulk case action dialogs to prevent toolbar overflow
  frontend/src/components/cases/closure-requirements-view.tsx
  frontend/src/components/nav/controls-header.tsx
  tests/unit/test_case_fields_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workers): add graceful_shutdown_timeout to all Temporal workers
  tracecat/agent/executor_worker.py
  tracecat/agent/worker.py
  tracecat/dsl/worker.py
  tracecat/executor/worker.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  9b/2be7671d3454fbae5a9d77749c8d1125bd6fff
Due: none

fix(agents): clamp max tokens >= 1
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/requests.py
Due: gen-client, basedpyright

fix(cases): use post-rename column name in field-type fallback lookup
  tracecat/cases/service.py
Due: gen-client, basedpyright

fix(ui): widen bulk case action dialogs to prevent toolbar overflow (#2448)
  frontend/src/components/cases/closure-requirements-view.tsx
  frontend/src/components/nav/controls-header.tsx
  tests/unit/test_case_fields_service.py
  tracecat/cases/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): clamp max tokens >= 1 (#2450)
  tracecat/agent/llm_proxy/provider_anthropic.py
  tracecat/agent/llm_proxy/requests.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  15/d72ae9abf89a9160fc0f3fd5d0a451e202a345
Due: none

test(workers): cover graceful shutdown timeout
  tests/unit/test_worker_activity_registration.py
Due: basedpyright

Notes added by 'git notes add'
  62/3f0349b858497be4870bb8cc7353610228614d
Due: none

fix(mcp): saml support for dex
  .env.example
  Caddyfile
  deployments/dex/config.docker.yaml
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/app/auth/saml/acs/route.test.ts
  frontend/src/app/auth/saml/acs/route.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  scripts/dex-entrypoint.sh
  tests/unit/api/test_api_info.py
  tests/unit/api/test_api_saml.py
  tests/unit/test_auth_discovery_service.py
  tests/unit/test_dex_config_files.py
  tests/unit/test_dex_local_auth.py
  tests/unit/test_dex_mode.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_mcp_saml_bridge.py
  tracecat/api/app.py
  tracecat/auth/dex/mode.py
  tracecat/auth/dex/service.py
  tracecat/auth/discovery.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/config.py
  tracecat/mcp/auth.py
  tracecat/mcp/config.py
  tracecat/mcp/saml_bridge.py
  tracecat/mcp/saml_bridge_state.py
  tracecat/mcp/storage.py
  tracecat/organization/router.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(workers): add graceful_shutdown_timeout to Temporal workers (#2449)
  tests/unit/test_worker_activity_registration.py
  tracecat/agent/executor_worker.py
  tracecat/agent/worker.py
  tracecat/dsl/worker.py
  tracecat/executor/worker.py
Due: gen-client, basedpyright

feat(executor): add Temporal heartbeating to execute_action_activity
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/registry_tool.py
  tests/unit/test_executor_activities.py
  tracecat/config.py
  tracecat/dsl/workflow.py
  tracecat/executor/activities.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  e1/beff59b752c784e620cb33aebcb8b719dfb803
Due: none

fix(executor): keep heartbeat alive during tenacity retry backoff
  tracecat/executor/activities.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  69/420ea01ad41a5e16886d59f3389faecacb021f
Due: none

perf(ui): wrap MessagePart in React.memo with custom comparator
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

perf(ui): wrap ToolPayload, ToolInput, ToolOutput in React.memo
  frontend/src/components/ai-elements/tool.tsx
Due: biome-check, typecheck-frontend

perf(ui): extract source-url filter to eliminate redundant iterations
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

perf(ui): hoist getIcon props to module-level constant
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

perf(ui): extract approval key computation to useMemo
  frontend/src/components/chat/chat-session-pane.tsx
Due: biome-check, typecheck-frontend

test(ui): add render-count tests for memoized chat components
  frontend/tests/memo-render-count.test.tsx
Due: biome-check, typecheck-frontend

fix(ui): stabilize clearError ref to preserve MessagePart memoization
  frontend/src/hooks/use-chat.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  f2/80d33290b63c599427699e1d7142feee04128a
Due: none

docs(self-hosting): add scaling, Docker Swarm, and FAQ sections
  docs/self-hosting/docker-compose.mdx
Due: none

docs(cheatsheets): restore functions and JSONPath cheatsheet pages
  docs/automations/core-concepts/functions.mdx
  docs/automations/core-concepts/jsonpath.mdx
  docs/cheatsheets/functions.mdx
  docs/cheatsheets/jsonpath.mdx
  docs/docs.json
  justfile
Due: none

fix(docs): correct invalid wildcard projection in JSONPath cheatsheet
  docs/cheatsheets/jsonpath.mdx
Due: none

docs(self-hosting, cheatsheets): add scaling guide and restore cheatsheet pages (#2454)
  docs/automations/core-concepts/functions.mdx
  docs/automations/core-concepts/jsonpath.mdx
  docs/cheatsheets/functions.mdx
  docs/cheatsheets/jsonpath.mdx
  docs/docs.json
  docs/self-hosting/docker-compose.mdx
  justfile
Due: none

feat(executor): add Temporal heartbeating to execute_action_activity (#2451)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/registry_tool.py
  tests/unit/test_executor_activities.py
  tracecat/config.py
  tracecat/dsl/workflow.py
  tracecat/executor/activities.py
Due: gen-client, basedpyright

fix(agents): drop parallel_tool_calls param for custom model providers
  tracecat/agent/llm_proxy/provider_openai.py
Due: gen-client, basedpyright

add secretmanager for boto3 linting
  pyproject.toml
  uv.lock
Due: none

Notes added by 'git notes add'
  62/9098070f5c755113cbe4e1c037445fb1192dcb
Due: none

refactor(temporal): make keyring async and add AWS secret retrieval test
  alembic/env.py
  tests/unit/test_temporal_codec.py
  tracecat/temporal/codec.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  ae/8ebd11b21505bf5a9ef8d0c0ba352bfb87d2bf
Due: none

fix(agents): strip internal proxy metadata from tool args in UI and persistence
  packages/tracecat-ee/tracecat_ee/agent/approvals/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  tests/unit/test_agent_mcp_metadata.py
  tests/unit/test_approvals_manager.py
  tests/unit/test_watchtower_service.py
  tracecat/agent/adapter/vercel.py
  tracecat/agent/mcp/metadata.py
  tracecat/agent/mcp/proxy_server.py
  tracecat/agent/session/service.py
  tracecat/chat/schemas.py
Due: gen-client, basedpyright

Notes added by 'git notes add'
  85/5dc849c3f8e95175c0a8a6f56e0ce75a14a969
Due: none

Notes added by 'git notes add'
  bb/41be894d499feb54d937ce9ead84763c6eb0de
Due: none

feat(mcp): add internal OIDC issuer for MCP authentication
  tracecat/mcp/oidc/__init__.py
  tracecat/mcp/oidc/config.py
  tracecat/mcp/oidc/endpoints.py
  tracecat/mcp/oidc/schemas.py
  tracecat/mcp/oidc/session.py
  tracecat/mcp/oidc/signing.py
  tracecat/mcp/oidc/storage.py
Due: gen-client, basedpyright

chore(infra): update MCP service config for internal OIDC issuer
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

feat(ui): add MCP auth resume and org picker frontend routes
  frontend/src/app/mcp-auth/continue/page.tsx
  frontend/src/app/mcp-auth/select-org/page.tsx
  frontend/src/lib/auth-return-url.test.ts
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
