Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(workspace-sync): type nullable name columns
  tracecat/workspace_sync/adapters/base.py
Due: gen-client, basedpyright

fix(query): preserve decimal string precision
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(agents): compare logical subagent documents
  frontend/src/lib/agent-preset-document.ts
  frontend/tests/agent-preset-document.test.ts
Due: biome-check, typecheck-frontend

fix(agent): classify managed authorization failures
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(agent): preserve failures when stream sinks error
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

refactor(observability): remove unused OTel secret lookup
  deployments/fargate/modules/ecs/secrets.tf
  tests/unit/test_config.py
  tests/unit/test_platform_otel.py
  tracecat/config.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

fix(query): bound numeric coercion
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(agent): bound executor terminal emission
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

fix(query): validate numeric bind scale
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

refactor(agents): group agent workflow origin into one model
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/integration/test_dsl_agent_wiring.py
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/schemas.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agents+mcp): address consolidated skill review
  Dockerfile
  docs/snippets/mcp-tools.mdx
  scripts/generate_mcp_docs.py
  tests/unit/test_builtin_skills.py
  tests/unit/test_generate_mcp_docs.py
  tracecat/agent/executor/activity.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(agent): reject empty approval requests
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/common/stream_types.py
Due: gen-client, basedpyright

test(engine): remove obsolete import race stress test
  tests/unit/test_registry_import_race.py
Due: basedpyright

fix(query): canonicalize numeric zero
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

refactor(agent): normalize preset subagent edges
  alembic/versions/7b4d9a2c1e6f_normalize_agent_preset_subagent_edges.py
  tests/migration/test_agent_preset_subagent_edges_migration.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/schemas.py
  tracecat/agent/preset/service.py
  tracecat/agent/preset/subagent_bindings.py
  tracecat/agent/session/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright

test(engine): wait for supervisor monitor exit (#3377)
  tests/unit/executor/test_process_supervisor.py
Due: basedpyright

test(engine): correct historical race skip reason
  tests/unit/test_registry_import_race.py
Due: basedpyright

feat(agents): classify durable runtime failures (#3368)
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/integration/test_agent_worker.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
  tests/unit/test_sentry_interceptor.py
  tracecat/agent/channels/sinks/slack.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/common/wire.py
  tracecat/agent/error_policy.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/preset/activities.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/session/activities.py
  tracecat/runtime/errors.py
Due: gen-client, basedpyright

test(engine): remove obsolete import race stress test (#3378)
  tests/unit/test_registry_import_race.py
Due: basedpyright

fix(agents): preserve subagents on migration downgrade
  alembic/versions/7b4d9a2c1e6f_normalize_agent_preset_subagent_edges.py
  tests/migration/test_agent_preset_subagent_edges_migration.py
Due: basedpyright

fix(agents+mcp): finish review convergence
  Dockerfile
  tests/unit/test_generate_mcp_docs.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

refactor(engine): type trigger_type as TriggerType on run context
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/schemas.py
  tracecat/dsl/schemas.py
  tracecat/dsl/workflow.py
  tracecat/observability/otel.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(logging): drop trace viewer URL from execution responses
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/lib/hooks.tsx
  tests/unit/test_platform_otel.py
  tests/unit/test_webhook_execution_path.py
  tracecat/config.py
  tracecat/observability/otel.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): default blank copilot skill path
  tests/unit/test_config.py
  tracecat/config.py
Due: gen-client, basedpyright

feat(api): add aggregation query execution safeguards
  tests/integration/test_query_execution_integration.py
  tests/unit/test_api_exception_handlers.py
  tests/unit/test_config.py
  tests/unit/test_query_execution.py
  tracecat/api/app.py
  tracecat/api/common.py
  tracecat/config.py
  tracecat/executor/action_gateway/app.py
  tracecat/query/__init__.py
  tracecat/query/errors.py
  tracecat/query/execution.py
Due: gen-client, basedpyright

refactor(agents): drop WorkflowOrigin from the agent turn payload
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/integration/test_dsl_agent_wiring.py
  tests/unit/test_agent_activities.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor/schemas.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(api): address aggregation review findings
  tests/unit/test_config.py
  tracecat/config.py
  tracecat/executor/action_gateway/app.py
  tracecat/query/execution.py
Due: gen-client, basedpyright

refactor(query): simplify filter validation
  tracecat/query/compiler.py
  tracecat/query/filters.py
Due: gen-client, basedpyright

fix(agents): attribute durable agent initialization failures
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/durable_agent_failure_harness.py
  tests/temporal/test_durable_agent_runtime_error_attribution.py
  tests/temporal/test_durable_agent_workflow.py
Due: gen-client, basedpyright

test(engine): make temporal harness imports reliable
  tests/temporal/__init__.py
Due: basedpyright

test(engine): bound agent timeout fixture
  tests/temporal/durable_agent_failure_harness.py
Due: basedpyright

feat(api): add shared filter predicate compiler (#3376)
  tests/unit/query/test_compiler.py
  tests/unit/query/test_filters.py
  tracecat/query/__init__.py
  tracecat/query/compiler.py
  tracecat/query/filters.py
  tracecat/query/resolver.py
Due: gen-client, basedpyright

feat(agents): add group-by aggregation compiler
  tests/unit/query/test_aggregations.py
  tracecat/query/aggregations.py
  tracecat/query/compiler.py
  tracecat/query/resolver.py
Due: gen-client, basedpyright

fix(agents): address aggregation review feedback
  tests/unit/query/test_aggregations.py
  tracecat/query/aggregations.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(agents): guard aggregation fanout and aliases
  tests/unit/query/test_aggregations.py
  tracecat/query/aggregations.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(agents): refine aggregation fanout handling
  tests/unit/query/test_aggregations.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

test(agents): initialize workflow test state
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: basedpyright

fix(agents): honour tenant per-signal opt-out in the OTel relay
  tests/unit/test_agent_otel_relay.py
  tracecat/agent/sandbox/otel_relay.py
Due: gen-client, basedpyright

infra(infra): give Fargate executors the platform OTel header directly
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/secrets.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
Due: none

fix(agents): attribute durable agent initialization failures (#3384)
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/__init__.py
  tests/temporal/durable_agent_failure_harness.py
  tests/temporal/test_durable_agent_runtime_error_attribution.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_durable_agent_workflow_search_attributes.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
