Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

ci: canonicalize the scope a revert suggestion carries over
  scripts/check_pr_title.py
  tests/unit/test_check_pr_title.py
Due: basedpyright

fix(agent): validate runtime wire payloads
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/common/protocol.py
  tracecat/agent/common/stream_types.py
  tracecat/agent/common/wire.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

ci: reject GitHub's revert titles in favour of revert(scope) (#3375)
  .github/commit-conventions.toml
  .github/release-drafter.yml
  AGENTS.md
  CONTRIBUTING.md
  scripts/audit_commit_conventions.py
  scripts/check_pr_title.py
  tests/unit/test_check_pr_title.py
  tests/unit/test_commit_conventions.py
Due: basedpyright

fix(agent): close runtime classification gaps
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/common/protocol.py
  tracecat/agent/executor/loopback.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(engine): preserve workflow failure through handler errors (#3373)
  tests/temporal/runtime_error_attribution_child_harness.py
  tests/temporal/runtime_error_attribution_harness.py
  tests/temporal/test_dsl_workflow_replay.py
  tests/temporal/test_runtime_error_attribution.py
  tests/temporal/test_workflows.py
  tests/unit/test_executor_error_policy.py
  tests/unit/test_runtime_error_steel_thread.py
  tests/unit/test_temporal_patches.py
  tracecat/dsl/workflow.py
  tracecat/exceptions.py
  tracecat/temporal/patches.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright

fix(agent): harden runtime failure boundaries
  tests/unit/test_agent_executor_loopback.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_preset_activities.py
  tracecat/agent/common/protocol.py
  tracecat/agent/preset/activities.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(agents): store custom provider max output tokens on catalog model metadata
  alembic/versions/3f8c2a9d1e57_add_custom_provider_max_output_tokens.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-settings-agent.tsx
  frontend/tests/create-agent-dialog.test.tsx
  tests/unit/test_agent_catalog_service.py
  tests/unit/test_agent_management_service.py
  tracecat/agent/catalog/schemas.py
  tracecat/agent/catalog/service.py
  tracecat/agent/gateway.py
  tracecat/agent/provider/schemas.py
  tracecat/agent/provider/service.py
  tracecat/agent/service.py
  tracecat/agent/types.py
  tracecat/db/models.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(observability): harden agent trace correlation
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/iam.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_otel_relay.py
  tests/unit/test_config.py
  tests/unit/test_dsl_workflow_agent_child_id.py
  tests/unit/test_executor_activities.py
  tests/unit/test_platform_otel.py
  tests/unit/test_webhook_execution_path.py
  tracecat/agent/executor/activity.py
  tracecat/agent/sandbox/otel_relay.py
  tracecat/dsl/workflow.py
  tracecat/observability/otel.py
  tracecat/temporal/patches.py
  tracecat/webhooks/router.py
Due: gen-client, basedpyright

fix(agent): preserve cancellation ownership
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_preset_activities.py
  tracecat/agent/preset/activities.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(workflows): preserve UUID sequence during replay
  tests/unit/test_dsl_workflow_agent_child_id.py
  tracecat/dsl/workflow.py
Due: gen-client, basedpyright

fix(agent): preserve setup failure ownership
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_error_policy.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/error_policy.py
  tracecat/agent/executor/activity.py
  tracecat/agent/preset/activities.py
Due: gen-client, basedpyright

fix(agent): preserve revoked route ownership
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

release: 1.0.0-beta.52-rc.21
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/tls.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(agent): classify invalid runtime frames
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

fix(agent): classify invalid stdio setup
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/executor/activity.py
Due: gen-client, basedpyright

fix(agent): bound protocol error emission
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

feat(query): add shared filter predicate compiler
  tests/unit/query/test_compiler.py
  tests/unit/query/test_filters.py
  tracecat/query/__init__.py
  tracecat/query/compiler.py
  tracecat/query/filters.py
  tracecat/query/resolver.py
Due: gen-client, basedpyright

fix(agent): bound Slack terminal cleanup
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/channels/sinks/slack.py
Due: gen-client, basedpyright

fix(query): validate filter values before SQL binding
  tests/unit/query/test_compiler.py
  tests/unit/query/test_filters.py
  tracecat/query/compiler.py
  tracecat/query/filters.py
Due: gen-client, basedpyright

fix(agent): classify managed auth failures
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(agent): retry direct provider timeouts
  tests/unit/test_agent_llm_proxy.py
  tracecat/agent/sandbox/llm_proxy.py
Due: gen-client, basedpyright

fix(agent): classify registry entitlement denials
  packages/tracecat-ee/tracecat_ee/agent/activities.py
  tests/unit/test_agent_activities.py
Due: gen-client, basedpyright

refactor(agents): simplify platform tracing relay and correlation
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_router.py
  tracecat/agent/executor/activity.py
  tracecat/agent/executor_worker.py
  tracecat/agent/sandbox/otel_relay.py
  tracecat/agent/session/router.py
  tracecat/agent/worker.py
  tracecat/executor/activities.py
  tracecat/observability/otel.py
  tracecat/webhooks/router.py
  tracecat/workflow/executions/router.py
Due: gen-client, basedpyright

fix(query): validate numeric bind ranges
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(mcp): render skill file guidance placeholder
  tests/unit/test_mcp_server.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

fix(integrations+docs): correct Google OAuth token guidance
  docs/tools/google_api.mdx
  packages/tracecat-registry/AGENTS.md
  packages/tracecat-registry/tracecat_registry/integrations/google_api.py
Due: gen-client, basedpyright

fix(agents): preserve soft-deleted dependencies
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/agents/agent-preset-delete-dialog.tsx
  frontend/src/components/agents/agents-dashboard.tsx
  frontend/src/components/agents/agents-table.tsx
  frontend/src/components/skills/skills-dashboard.tsx
  frontend/src/components/skills/use-skills-studio.ts
  frontend/src/hooks/use-agent-presets.ts
  frontend/src/hooks/use-skills.ts
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tracecat/agent/dependencies/__init__.py
  tracecat/agent/dependencies/service.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/preset/router.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/bindings.py
  tracecat/agent/skill/internal_router.py
  tracecat/agent/skill/router.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(query): reject float overflow
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(agents): reject unknown subagent config fields
  frontend/src/client/schemas.gen.ts
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_agent_session_schemas.py
  tests/unit/test_build_agent_args.py
  tests/unit/test_expression_policy.py
  tracecat/agent/subagents.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): compare logical subagent declarations
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(workspace-sync): ignore inferred Skill MIME drift
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(agents): scope exact Skill version joins
  tests/unit/test_agent_preset_service.py
  tracecat/agent/skill/bindings.py
Due: gen-client, basedpyright

fix(query): reject NUL text values
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
Due: gen-client, basedpyright

fix(query): normalize predicate factory values
  tests/unit/query/test_compiler.py
  tracecat/query/compiler.py
  tracecat/query/resolver.py
Due: gen-client, basedpyright

fix(api): document preset deletion errors
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/api/test_api_agent_presets.py
  tracecat/agent/preset/internal_router.py
  tracecat/agent/preset/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(agents): cover default preset head resolution
  tests/unit/test_mcp_server.py
Due: basedpyright

test(agents): prove subagents follow current heads
  tests/unit/test_agent_preset_activities.py
Due: basedpyright

test(agents): verify restored Skill content
  tests/unit/test_skill_service.py
Due: basedpyright

fix(workspace-sync): model preset head references
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/workspace-sync/mapping-requirements-card.tsx
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/sync.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/types.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(registry): retain deprecated preset version stub
  packages/tracecat-registry/tracecat_registry/ctx.pyi
Due: gen-client
