Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix: allow sentry eu ingest csp
  frontend/next.config.mjs
Due: biome-check, typecheck-frontend

fix: redact oauth query params in sentry
  tests/unit/api/test_api_common.py
  tracecat/api/common.py
Due: gen-client, basedpyright

fix: normalize sentry scrubber keys
  tests/unit/test_sentry_observability.py
  tracecat/observability/sentry.py
Due: gen-client, basedpyright

refactor: scope action input YAML loader
  tracecat/dsl/common.py
Due: gen-client, basedpyright

fix(registry): continue artifact backfills after item failures
  tests/unit/test_registry_sync_workflow.py
  tracecat/registry/sync/workflow.py
Due: gen-client, basedpyright

Use typed errors for trigger input normalization
  tests/unit/test_dsl_workflow_error_unwrap.py
  tracecat/dsl/workflow.py
  tracecat/runtime/errors.py
Due: gen-client, basedpyright

fix: preserve date-like action input strings (#2725)
  tests/unit/test_dsl_common.py
  tracecat/dsl/common.py
Due: gen-client, basedpyright

fix(admin): use domain errors for artifact backfill
  tests/unit/api/test_api_admin_registry.py
  tests/unit/test_admin_registry_service.py
  tracecat/admin/registry/router.py
  tracecat/admin/registry/service.py
Due: gen-client, basedpyright

fix(ui): key registry version selection by id
  frontend/src/components/admin/platform-registry-versions-table.tsx
  frontend/src/components/data-table/table.tsx
Due: biome-check, typecheck-frontend

fix(admin): count latest registry lock usage
  tests/unit/test_admin_registry_service.py
  tracecat/admin/registry/service.py
Due: gen-client, basedpyright

feat(admin): add registry artifact backfill control (#2724)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/platform-registry-versions-table.tsx
  frontend/src/components/data-table/table.tsx
  frontend/src/hooks/use-admin.ts
  tests/unit/api/test_api_admin_registry.py
  tests/unit/test_admin_registry_service.py
  tests/unit/test_registry_sync_tarball.py
  tests/unit/test_registry_sync_workflow.py
  tracecat/admin/registry/router.py
  tracecat/admin/registry/schemas.py
  tracecat/admin/registry/service.py
  tracecat/executor/worker.py
  tracecat/registry/sync/schemas.py
  tracecat/registry/sync/tarball.py
  tracecat/registry/sync/workflow.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

chore: upgrade temporal SDK to 1.20.0
  pyproject.toml
  uv.lock
Due: none

fix(dsl): skip sentry for direct user-facing activity errors
  tests/unit/test_sentry_observability.py
  tracecat/agent/executor_worker.py
  tracecat/agent/worker.py
  tracecat/dsl/interceptor.py
  tracecat/executor/worker.py
  tracecat/mcp/middleware.py
Due: gen-client, basedpyright

fix(agent): request identity encoding from MCP bridge
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.18
  .github/ISSUE_TEMPLATE/bug_report.md
  p1-k8s-detections.md
  p1-k8s-qa-matrix.md
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.20
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

feat(registry): add Slack streaming chat templates
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/append_stream.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/post_ephemeral.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/start_stream.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/stop_stream.yml
  uv.lock
Due: gen-client

fix(auth): init superuser as org owner
  CONTRIBUTING.md
  frontend/src/app/workspaces/layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
  packages/tracecat-admin/tests/test_admin_commands.py
  packages/tracecat-admin/tracecat_admin/commands/admin.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  scripts/cluster
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(integrations): add Slack streaming chat templates (#2730)
  packages/tracecat-registry/pyproject.toml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/append_stream.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/post_ephemeral.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/start_stream.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/slack/chat/stop_stream.yml
  uv.lock
Due: gen-client

nit: keep redirect superusers without org access to /admin
  frontend/src/app/workspaces/layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
Due: biome-check, typecheck-frontend

chore: add image publishing script
  scripts/publish-images.sh
Due: none

fix(agent): request identity encoding from MCP bridge (#2728)
  tests/unit/test_agent_runtime.py
  tests/unit/test_agent_sandbox_litellm.py
  tracecat/agent/runtime/claude_code/runtime.py
Due: gen-client, basedpyright

release: 1.0.0-beta.48-rc.21
  .github/ISSUE_TEMPLATE/bug_report.md
  deployments/fargate/README.md
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  docker-compose.dev.yml
  docker-compose.yml
  docs/overview/getting-started.mdx
  docs/self-hosting/aws-fargate.mdx
  docs/self-hosting/docker-compose.mdx
  docs/self-hosting/updating.mdx
  packages/tracecat-registry/tracecat_registry/__init__.py
  tracecat/__init__.py
Due: gen-client, basedpyright

fix(sentinel): normalize ARM resource ids
  AGENTS.md
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/create_or_update_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/delete_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/create_or_update_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/delete_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/get_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_comments.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_entities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_relations.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/create_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/delete_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/get_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlist_items.yml
  tests/unit/test_microsoft_sentinel_templates.py
Due: gen-client, basedpyright

fix(integrations): normalize ARM resource IDs (#2732)
  AGENTS.md
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/create_or_update_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/delete_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/alert_rules/get_alert_rule_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/create_or_update_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/delete_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/bookmarks/get_bookmark.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/create_or_update_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_comment.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/delete_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/get_incident_relation.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_bookmarks.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_comments.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_entities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/incidents/list_incident_relations.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/create_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/delete_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/threat_intelligence/get_threat_intelligence_indicator.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/create_or_update_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/delete_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/get_watchlist_item.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/microsoft_sentinel/watchlists/list_watchlist_items.yml
  tests/unit/test_microsoft_sentinel_templates.py
Due: gen-client, basedpyright

feat(agent): surface runtime_resolution metadata on ai.action results
  docs/agents/ai-action.mdx
  tests/unit/test_agent_runtime_resolution.py
  tracecat/agent/runtime/pydantic_ai/runtime.py
  tracecat/agent/schemas.py
Due: gen-client, basedpyright

Simplify runtime error detail handling
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_preset_activities.py
  tests/unit/test_dsl_scheduler_error_details.py
  tests/unit/test_dsl_workflow_error_unwrap.py
  tests/unit/test_executor_activities.py
  tests/unit/test_materialize_context.py
  tests/unit/test_registry_sync_workflow.py
  tests/unit/test_tier_activities.py
  tests/unit/test_workflow_definitions_activities.py
  tests/unit/test_workspace_org_resolution.py
  tracecat/dsl/action.py
  tracecat/dsl/scheduler.py
  tracecat/dsl/workflow.py
  tracecat/executor/errors.py
  tracecat/temporal/errors.py
Due: gen-client, basedpyright

ci: isolate action doc link tests
  .github/workflows/test-python.yml
  scripts/tests/test_action_doc_links.py
Due: basedpyright

tests: e2e playwright tests
  .github/workflows/e2e-oss.yml
  frontend/.gitignore
  frontend/e2e/auth.setup.ts
  frontend/e2e/auth.spec.ts
  frontend/e2e/entitlements.spec.ts
  frontend/e2e/utils/auth.ts
  frontend/e2e/workspace.spec.ts
  frontend/jest.config.cjs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/pnpm-lock.yaml
  frontend/src/app/workspaces/layout.tsx
  frontend/tests/auth-ui-matrix.test.tsx
  justfile
Due: biome-check, typecheck-frontend

docs: use Tracecat docs for SentinelOne actions
  docs/tools/sentinel_one.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/abort_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/disable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/enable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/initiate_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/isolate_endpoint.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_agent_ids.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_threats.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_account_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_email.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_groupid.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hash.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hostname.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_ip.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_mac_address.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_machine_type.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_os.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/unisolate_endpoint.yml
Due: gen-client

fix: stabilize agent preset creation routing
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/agents/create-agent-dialog.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/hooks/use-agent-presets.ts
  frontend/tests/create-agent-dialog.test.tsx
Due: biome-check, typecheck-frontend

docs: use SentinelOne SDK link for actions
  docs/tools/sentinel_one.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/abort_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/disable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/enable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/initiate_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/isolate_endpoint.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_agent_ids.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_threats.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_account_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_email.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_groupid.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hash.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hostname.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_ip.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_mac_address.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_machine_type.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_os.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/unisolate_endpoint.yml
Due: gen-client

docs: point SentinelOne actions to Purple MCP
  docs/tools/sentinel_one.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/abort_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/disable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/enable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/initiate_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/isolate_endpoint.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_agent_ids.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_threats.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_account_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_email.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_groupid.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hash.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hostname.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_ip.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_mac_address.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_machine_type.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_os.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/unisolate_endpoint.yml
Due: gen-client

docs: use SentinelOne Purple MCP link for actions (#2737)
  docs/tools/sentinel_one.mdx
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/abort_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/disable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/enable_agent.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/initiate_scan.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/isolate_endpoint.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_agent_ids.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_alerts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/list_threats.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_account_id.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_email.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_groupid.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hash.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_hostname.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_ip.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_mac_address.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_machine_type.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/lookup_agent_os.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/sentinel_one/unisolate_endpoint.yml
Due: gen-client

feat: add standalone cluster seed command
  scripts/cluster
Due: none

fix(sandbox): route run_python sdk calls through gateway
  tests/unit/executor/test_run_python_sdk_context.py
  tracecat/executor/backends/base.py
  tracecat/sandbox/executor.py
  tracecat/sandbox/service.py
  tracecat/sandbox/types.py
  tracecat/sandbox/wrapper.py
Due: gen-client, basedpyright

feat: add standalone cluster seed command (#2739)
  scripts/cluster
Due: none

style(sandbox): resolve action gateway env vars before execute
  tracecat/sandbox/service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
