Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix(engine): preserve root pins across scatter scopes
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

refactor(rbac): keep OrganizationMembership as a derived alias
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  packages/tracecat-ee/tracecat_ee/watchtower/service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tracecat/auth/credentials.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/authz/membership.py
  tracecat/db/models.py
  tracecat/mcp/auth.py
  tracecat/mcp/oidc/session.py
  tracecat/mcp/personal_access_tokens/service.py
  tracecat/mcp/server.py
  tracecat/organization/management.py
  tracecat/organization/router.py
  tracecat/organization/service.py
Due: gen-client, basedpyright

fix(engine): propagate pinned action guard failures
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(engine): propagate skipped ancestor guard failures
  tests/unit/test_dsl_scheduler_determinism.py
  tracecat/dsl/scheduler.py
Due: gen-client, basedpyright

fix(cases): harden rich comment edge cases
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
Due: biome-check, typecheck-frontend

fix(ui): preserve stitched draft pin provenance
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/tests/events-selected-action.test.tsx
Due: biome-check, typecheck-frontend

fix(ui): support legacy workflow pin edges
  frontend/src/lib/workflow-pins.ts
  frontend/tests/workflow-pins.test.ts
Due: biome-check, typecheck-frontend

fix(cases): serialize workflow mentions by document
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

test(cases): cover image range boundaries
  frontend/src/lib/tiptap-image-upload-position.test.ts
Due: biome-check, typecheck-frontend

fix(cases): remove all workflow markers
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(cases): preserve formatted mention compatibility
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
Due: biome-check, typecheck-frontend

feat(engine): start a draft run from a chosen action
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_draft_pin_resolution.py
  tests/unit/test_workflow_management.py
  tracecat/workflow/executions/router.py
  tracecat/workflow/executions/schemas.py
  tracecat/workflow/executions/service.py
  tracecat/workflow/management/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(mcp): add run_workflow_from_action tool
  docs/snippets/mcp-tools.mdx
  tracecat/mcp/server.py
Due: gen-client, basedpyright

feat(ui): add a run from this action button
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/src/lib/hooks.tsx
  frontend/src/lib/workflow-pins.ts
  frontend/tests/action-event-details.test.tsx
  frontend/tests/events-selected-action.test.tsx
  frontend/tests/workflow-pins.test.ts
Due: biome-check, typecheck-frontend

feat(logging): emit a real root span for schedule-started workflow runs
  tests/unit/test_platform_otel.py
  tracecat/observability/otel.py
Due: gen-client, basedpyright

fix(cases): locate workflow markers by document link
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(cases): track edited mentions by position
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(cases): map escaped workflow labels safely
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(cases): keep mention cleanup out of history
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
Due: biome-check, typecheck-frontend

test(agents): give dockerized nsjail fallbacks time for a cold build
  tests/unit/executor/test_run_python_sdk_context.py
  tests/unit/test_agent_sandbox_litellm.py
Due: basedpyright

fix(cases): remove empty workflow containers
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
Due: biome-check, typecheck-frontend

fix(agents): keep legacy enabled key through rollout, reject dup skills
  alembic/versions/c3a17be4d902_default_agents_config_to_empty_subagents.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/bindings.py
  tracecat/agent/subagents.py
Due: gen-client, basedpyright

fix(cases): preserve edits during image uploads
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
Due: biome-check, typecheck-frontend

fix(agents): keep subagent identities on save and archived skill edits
  frontend/src/components/agents/agent-presets-builder.tsx
  frontend/src/components/skills/delete-skill-dialog.tsx
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agents): resolve subagents independently on each turn
  packages/tracecat-ee/tracecat_ee/agent/workflows/durable.py
  tests/temporal/test_durable_agent_workflow.py
  tests/unit/test_agent_activities.py
  tests/unit/test_agent_session_preset_versioning.py
  tracecat/agent/session/activities.py
  tracecat/agent/session/service.py
Due: gen-client, basedpyright

fix(skills): enforce unique published package names
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/skill/service.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

fix(agents+skills): unlink deleted dependencies from saved versions
  alembic/versions/9e32e2825c0b_unlink_deleted_agent_and_skill_.py
  frontend/src/components/agents/agent-preset-delete-dialog.tsx
  frontend/src/components/agents/agents-dashboard.tsx
  frontend/src/components/skills/delete-skill-dialog.tsx
  tests/migration/test_deleted_dependency_cleanup.py
  tests/unit/test_agent_preset_import_locks.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/service.py
  tracecat/db/models.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

refactor(agents+skills): simplify dependency deletion cleanup
  alembic/versions/9e32e2825c0b_unlink_deleted_agent_and_skill_.py
  alembic/versions/c3a17be4d902_default_agents_config_to_empty_subagents.py
  tests/migration/test_deleted_dependency_cleanup.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

fix(agents): reject unsupported database downgrades
  alembic/versions/c3a17be4d902_default_agents_config_to_empty_subagents.py
  tests/migration/test_deleted_dependency_cleanup.py
Due: basedpyright

test(agents): cover both Skill deletion markers
  tests/migration/test_deleted_dependency_cleanup.py
Due: basedpyright

fix(agents): retry locks when Skill membership changes
  tests/unit/test_agent_preset_service.py
  tracecat/agent/preset/service.py
Due: gen-client, basedpyright

fix(agents): retain deprecated enabled field for app rollback
  alembic/versions/c3a17be4d902_default_agents_config_to_empty_subagents.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/migration/test_deleted_dependency_cleanup.py
  tests/unit/test_agent_preset_schemas.py
  tests/unit/test_agent_preset_service.py
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/agent/preset/service.py
  tracecat/agent/subagents.py
  tracecat/db/models.py
  tracecat/workspace_sync/adapters/agent_preset.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(agents): expect deprecated enabled field in serialized configs
  tests/unit/test_agent_session_preset_versioning.py
  tests/unit/test_agent_session_router.py
  tests/unit/test_build_agent_args.py
Due: basedpyright

refactor(agents): simplify Skill binding update plumbing
  tracecat/agent/preset/service.py
  tracecat/agent/skill/bindings.py
Due: gen-client, basedpyright

feat(cases): add rich text comments (#3407)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/cases/case-comment-editor.tsx
  frontend/src/components/cases/case-comments-section.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/editor.css
  frontend/src/components/tiptap-templates/simple/simple-editor.tsx
  frontend/src/hooks/use-mentions.ts
  frontend/src/hooks/use-tiptap-mentions.ts
  frontend/src/lib/cases/use-case-image-upload.ts
  frontend/src/lib/tiptap-comment-mentions.test.ts
  frontend/src/lib/tiptap-comment-mentions.ts
  frontend/src/lib/tiptap-image-upload-position.test.ts
  frontend/src/lib/tiptap-image-upload-position.ts
  frontend/src/lib/tiptap-markdown-hard-break.test.ts
  frontend/src/lib/tiptap-markdown-hard-break.ts
  frontend/tests/case-comments-section.test.tsx
Due: biome-check, typecheck-frontend

fix(agents): preserve compatibility of subagent activity results
  tests/unit/test_agent_preset_schemas.py
  tracecat/agent/preset/resolver.py
  tracecat/agent/subagents.py
Due: gen-client, basedpyright

fix(ui): exclude ineligible stored pins from canvas domains
  frontend/src/lib/workflow-pins.ts
  frontend/tests/workflow-pins.test.ts
Due: biome-check, typecheck-frontend

fix(ui): unpin repeatedly stitched action results
  frontend/src/components/builder/events/events-selected-action.tsx
  frontend/tests/events-selected-action.test.tsx
Due: biome-check, typecheck-frontend

fix(engine): authorize replay sources before history reads
  tests/unit/test_draft_pin_resolution.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

fix(engine): reject unreadable replay inputs
  tests/unit/test_draft_pin_resolution.py
  tracecat/workflow/executions/service.py
Due: gen-client, basedpyright

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
