Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

biome-check:
  name: biome check
  entry: bash -c 'cd frontend && npx biome check --write .'
  language: system
  require_serial: true

gen-client:
  name: generate frontend client
  entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
  language: system
  require_serial: true
  pass_filenames: false

Add CaseCopilotPrompts class to use in chat service
  tracecat/cases/prompts.py
Due: none

Remove failed_actions from BuildToolsResult and enhance error handling in build_agent_tools to raise a ValueError for unknown namespaces or action names.
  tracecat/agent/tools.py
Due: none

Add runbook execution models and refactor execution logic
  tracecat/runbook/models.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: none

Refactor chat service and router to streamline chat turn initiation
  tracecat/chat/router.py
  tracecat/chat/service.py
Due: none

Remove test_runbook_service.py file to clean up the codebase and eliminate unused test cases related to runbook services.
  tests/unit/test_runbook_service.py
Due: none

Add observability and prompt classes for tool calling capabilities
  tracecat/agent/observability.py
  tracecat/agent/prompts.py
  tracecat/agent/runtime.py
Due: none

Drop tools from runbook copilot prompts
  tracecat/runbook/prompts.py
Due: none

Rename RequestToRunbookPrompts class to RunbookCopilotPrompts and update user prompt handling. Implemented a NotImplementedError for user prompt method to indicate it is not yet available.
  tracecat/runbook/prompts.py
Due: none

Add YAML serialization for case data in CaseCopilotPrompts
  tracecat/cases/prompts.py
Due: none

Fix tools parsing
  tracecat/agent/prompts.py
Due: none

feat(frontend): align runbook UI with instructions
  frontend/src/app/workspaces/[workspaceId]/runbooks/[runbookId]/page.tsx
  frontend/src/components/cases/case-description-editor.tsx
  frontend/src/components/cases/runbook-dropdown.tsx
  frontend/src/components/cases/runbook-execute-dialog.tsx
  frontend/src/components/chat/chat-interface.tsx
  frontend/src/components/runbooks/runbook-card.tsx
  frontend/src/components/runbooks/runbook-instructions-editor.tsx
  frontend/src/hooks/use-runbook.tsx
Due: biome-check

chore(frontend): regenerate API client types
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
Due: biome-check

fix set tool args to empty dict is fixed args not set
  frontend/package.json
  frontend/scripts/generate-client.mjs
  frontend/src/components/cases/runbook-dropdown.tsx
Due: biome-check

feat(runbook): rename summary to instructions
  alembic/versions/3c55aa60ca2c_rename_summary_to_instructions_add_.py
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/agent/prompts.py
  tracecat/runbook/prompts.py
  tracecat/runbook/service.py
Due: gen-client

Uncomment pre-commit
  .pre-commit-config.yaml
Due: none

refactor(use-runbook): update mutation to use extended RunbookCreateRequest type
  frontend/src/hooks/use-runbook.tsx
Due: biome-check

revert: remove custom generate-client script
  frontend/package.json
  frontend/scripts/generate-client.mjs
Due: biome-check

Add execute runbook udf
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
Due: gen-client

fix set tool args to empty dict is fixed args not set
  tracecat/agent/runtime.py
Due: none

Fix runbook creation pipeline
  alembic/versions/3c55aa60ca2c_rename_summary_to_instructions_add_.py
  packages/tracecat-registry/tracecat_registry/core/runbooks.py
  tracecat/runbook/models.py
  tracecat/runbook/prompts.py
  tracecat/runbook/router.py
  tracecat/runbook/service.py
Due: gen-client

Distinguish chat not-found vs bad requests
  tracecat/chat/router.py
  tracecat/chat/service.py
Due: none

Harden agent tooling and observability
  tracecat/agent/observability.py
  tracecat/agent/prompts.py
  tracecat/agent/runtime.py
  tracecat/agent/tools.py
Due: none

Correct typo in case copilot instructions
  tracecat/cases/prompts.py
Due: none

Make frontend client generation resilient
  frontend/package.json
  frontend/scripts/generate-client.mjs
  frontend/src/components/cases/case-description-editor.tsx
Due: biome-check

Revert frontend client generator changes
  frontend/package.json
  frontend/scripts/generate-client.mjs
Due: biome-check

chore: Remove installation steps for Kubernetes and ripgrep from CI workflow
  .github/workflows/test-python.yml
Due: none

Broadcast local-storage updates within tab
  frontend/src/hooks/use-local-storage.ts
Due: biome-check

refactor(cases): Simplify cases page and introduce custom fields page
  frontend/src/app/workspaces/[workspaceId]/cases/custom-fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/nav/user-nav.tsx
Due: biome-check

fix: drop unused rg --versio ncheck
  Dockerfile
Due: none

fix(build): Drop ripgrep and kubectl from build (#1456)
  .github/workflows/test-python.yml
  Dockerfile
Due: none

chore: update integration docs (#1445)
  docs/cheatsheets/integrations.mdx
Due: none

feat(integrations): Gophish Integration (#1444)
  docs/cheatsheets/integrations.mdx
  frontend/src/components/icons.tsx
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/create_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/delete_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_results.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/get_campaign_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/campaigns/list_campaigns.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/create_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/delete_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/get_group_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/list_groups_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/groups/modify_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/create_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/delete_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/get_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/list_landing_pages.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/landing_pages/modify_landing_page.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/create_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/delete_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/get_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/list_sending_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/sending_profiles/modify_sending_profile.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/create_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/delete_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/get_template.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/list_templates.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/gophish/templates/modify_template.yml
Due: biome-check, gen-client

chore(intergations): Okta API Doc Reference (#1453)
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/activate_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/add_to_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/assign_group_to_app.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/clear_user_sessions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/create_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_group_members.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_groups_assigned_to_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/get_user.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_groups_in_org.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/list_users.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/remove_from_group.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/okta/search_users.yml
Due: gen-client

refactor: Clean up code formatting and improve readability
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/hooks/use-local-storage.ts
Due: biome-check

refactor(cases): Update CasesCustomFieldsPage and enhance useLocalStorage
  frontend/src/app/workspaces/[workspaceId]/cases/custom-fields/page.tsx
  frontend/src/hooks/use-local-storage.ts
Due: biome-check

fix(cases): Restore import of CustomFieldsView in CasesCustomFieldsPage
  frontend/src/app/workspaces/[workspaceId]/cases/custom-fields/page.tsx
Due: biome-check

fix(ui): Regression in controls header icon controls (#1457)
  frontend/src/app/workspaces/[workspaceId]/cases/custom-fields/page.tsx
  frontend/src/app/workspaces/[workspaceId]/cases/page.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/cases-view-toggle.tsx
  frontend/src/components/nav/controls-header.tsx
  frontend/src/components/nav/user-nav.tsx
  frontend/src/hooks/use-local-storage.ts
Due: biome-check

chore: Move type checking claude rule into own point
  CLAUDE.md
Due: none

Drop unused type checking
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tracecat/agent/observability.py
Due: biome-check

Drop redundant related cases validator
  tracecat/runbook/models.py
Due: none

Path conditions:
  biome-check: any of: ^frontend/
  gen-client: any of: ^(tracecat/api/|packages/tracecat-registry/)
