Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

gen-client:
  name: update frontend client
  entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
  language: system
  require_serial: true
  pass_filenames: false

basedpyright:
  name: python type check
  entry: uv run basedpyright --warnings --threads 4
  language: system
  pass_filenames: false
  require_serial: true

biome-check:
  name: frontend biome check
  entry: bash -c "pnpm -C frontend check"
  language: system
  pass_filenames: false
  require_serial: true

typecheck-frontend:
  name: frontend type check
  entry: bash -c "pnpm -C frontend run typecheck"
  language: system
  pass_filenames: false
  require_serial: true

fix: bump llm gateway token timeout (#2908)
  tracecat/agent/tokens.py
Due: gen-client, basedpyright

fix: reject pr exports to base branch
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix: require create scopes for workspace pulls
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/adapters/agent_preset.py
  tracecat/workspace_sync/adapters/base.py
  tracecat/workspace_sync/adapters/case_dropdown.py
  tracecat/workspace_sync/adapters/case_duration.py
  tracecat/workspace_sync/adapters/case_field.py
  tracecat/workspace_sync/adapters/case_tag.py
  tracecat/workspace_sync/adapters/secret_metadata.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/adapters/table.py
  tracecat/workspace_sync/adapters/variable.py
  tracecat/workspace_sync/adapters/workflow.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(sync): pull tree SHA, unversioned skill, dropdown ref swaps
  tests/unit/test_workspace_sync_acceptance_contract.py
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/adapters/case_dropdown.py
  tracecat/workspace_sync/adapters/skill.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix: scan stale sync files by tree sha
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/transport.py
Due: gen-client, basedpyright

fix: require case addons for trigger sync
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: show type-wide preview deletions
  tests/unit/test_workspace_sync_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: export case trigger tags by source id
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix: clear unversioned skill drafts
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/adapters/skill.py
Due: gen-client, basedpyright

feat(observability): platform audit logs
  frontend/src/app/admin/audit/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/platform-audit-settings.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/hooks/use-admin.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  packages/tracecat-ee/tracecat_ee/admin/settings/router.py
  packages/tracecat-ee/tracecat_ee/admin/settings/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/settings/service.py
  packages/tracecat-ee/tracecat_ee/admin/tiers/service.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/api/test_api_admin_settings.py
  tests/unit/test_admin_settings_service.py
  tests/unit/test_audit_service.py
  tracecat/admin/registry/service.py
  tracecat/audit/logger.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix: preserve unselected skill exports
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

Delete packages/tracecat-registry/tests/test_jira_adf_templates.py
  packages/tracecat-registry/tests/test_jira_adf_templates.py
Due: gen-client, basedpyright

fix(registry): address review feedback on FleetDM templates
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/activities/list_activities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/count_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host_by_identifier.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_fleets.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_host_software.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_label_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_labels.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_disk_encryption_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_os_settings_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/list_configuration_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/list_mdm_commands.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/lock_host.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/list_fleet_policies.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/list_global_policies.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/list_policy_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/list_queries.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/get_software_title.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/get_vulnerability.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/list_hosts_by_vulnerability.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/list_os_versions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/list_software_titles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/list_software_versions.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/vulnerabilities/list_vulnerabilities.yml
Due: gen-client

fix(cases): gate case trigger dispatch at runtime
  tests/unit/test_case_trigger_consumer.py
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

fix(settings): default version resources to latest
  frontend/src/client/schemas.gen.ts
  frontend/src/components/organization/org-settings-app.tsx
  tests/unit/test_organization_settings.py
  tracecat/settings/schemas.py
  tracecat/settings/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(agent): allow deleting detached skills and subagents
  tests/unit/test_agent_preset_service.py
  tests/unit/test_skill_service.py
  tracecat/agent/preset/service.py
  tracecat/agent/skill/service.py
Due: gen-client, basedpyright

refactor: get_audit_setting helper
  tests/unit/test_admin_users_service.py
  tests/unit/test_audit_service.py
  tracecat/audit/logger.py
  tracecat/audit/service.py
  tracecat/auth/users.py
  tracecat/organization/service.py
Due: gen-client, basedpyright

fix(registry): use supported Fleet params for host detail and MDM commands
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host_by_identifier.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/list_mdm_commands.yml
Due: gen-client

fix(settings): default app settings read strategy
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/unit/test_organization_settings.py
  tracecat/settings/schemas.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(observability): platform audit logs (#2664)
  frontend/src/app/admin/audit/page.tsx
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/platform-audit-settings.tsx
  frontend/src/components/organization/org-settings-audit.tsx
  frontend/src/components/sidebar/admin-sidebar.tsx
  frontend/src/hooks/use-admin.ts
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  packages/tracecat-ee/tracecat_ee/admin/settings/router.py
  packages/tracecat-ee/tracecat_ee/admin/settings/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/settings/service.py
  packages/tracecat-ee/tracecat_ee/admin/tiers/service.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/unit/api/test_api_admin_settings.py
  tests/unit/test_admin_settings_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_audit_service.py
  tracecat/admin/registry/service.py
  tracecat/audit/logger.py
  tracecat/audit/service.py
  tracecat/audit/types.py
  tracecat/auth/saml.py
  tracecat/auth/users.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(cases): gate case trigger dispatch at runtime (#2911)
  tests/unit/test_case_trigger_consumer.py
  tracecat/cases/triggers/consumer.py
Due: gen-client, basedpyright

refactor(agent): match subagent ref union instead of getattr
  tracecat/agent/preset/resolver.py
Due: gen-client, basedpyright

docs: allow workspace sync PR attribution
  AGENTS.md
Due: none

fix(sync): round-trip workflow case triggers
  tests/unit/test_case_triggers.py
  tests/unit/test_workflow_import_service.py
  tests/unit/test_workspace_sync_service.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/store/import_service.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(ui): describe table sync as schema only
  frontend/src/components/workspace-sync/resource-metadata.ts
  frontend/tests/workspace-sync-resource-metadata.test.ts
Due: biome-check, typecheck-frontend

fix(ui): keep cmdk values selector-safe
  frontend/src/components/chat/action-select.tsx
  frontend/src/components/chat/chat-history-dropdown.tsx
  frontend/src/components/tags-input.tsx
  frontend/tests/action-select.test.tsx
  frontend/tests/chat-history-dropdown.test.tsx
  frontend/tests/tags-input.test.tsx
Due: biome-check, typecheck-frontend

fix(sync): preserve legacy workflow sync scope
  tests/unit/test_github_app.py
  tests/unit/test_route_scope_guards.py
  tests/unit/test_secrets_service.py
  tests/unit/test_workspace_sync_service.py
  tracecat/secrets/service.py
  tracecat/vcs/github/app.py
  tracecat/workflow/store/router.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

refactor(registry): align FleetDM query templates with Fleet "reports" rename
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/list_mdm_commands.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/create_report.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/get_report.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/get_report_data.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/list_reports.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/live_query_host.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/run_live_report.yml
Due: gen-client

fix(registry): correct live_query_host doc_url anchor
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/queries/live_query_host.yml
Due: gen-client

docs(registry): refresh FleetDM doc_url anchors to match current Fleet docs
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/get_host_activities.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_fleets.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_label_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_disk_encryption_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_host_configuration_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_host_encryption_key.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_host_mdm.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/get_os_settings_summary.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/list_configuration_profiles.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/mdm/turn_off_mdm.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/create_global_policy.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/get_global_policy.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/list_fleet_policies.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/policies/list_global_policies.yml
Due: gen-client

fix(registry): expose software_status filter on list_hosts
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_hosts.yml
Due: gen-client

refactor(registry): drop software_title_id host filter, keep software_version_id
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/count_hosts.yml
  packages/tracecat-registry/tracecat_registry/templates/tools/fleetdm/hosts/list_hosts.yml
Due: gen-client

fix: reassign sync mappings on source rename
  tests/unit/test_workspace_sync_acceptance_contract.py
  tracecat/workspace_sync/service.py
Due: gen-client, basedpyright

fix(agents): hide workspace AI models tab without org-level permission
  frontend/src/components/settings/settings-modal.tsx
Due: biome-check, typecheck-frontend

fix(agent): archive deleted presets
  alembic/versions/32b7a1f4d9c2_add_agent_preset_archive_timestamp.py
  tests/unit/test_agent_folders_service.py
  tests/unit/test_agent_preset_service.py
  tracecat/agent/folders/service.py
  tracecat/agent/preset/service.py
  tracecat/agent/tags/service.py
  tracecat/db/models.py
  tracecat/integrations/service.py
Due: gen-client, basedpyright

fix(ui): preview workspace sync against configured base
  frontend/src/components/settings/workspace-sync-settings.tsx
  frontend/src/components/workspace-sync/branch-target-selector.tsx
  frontend/src/components/workspace-sync/push-tab.tsx
  frontend/src/components/workspace-sync/resource-sync-actions.tsx
  frontend/tests/workspace-sync-branch-target-selector.test.ts
Due: biome-check, typecheck-frontend

fix(ui): clarify workspace pull copy
  frontend/src/components/workspace-sync/pull-tab.tsx
Due: biome-check, typecheck-frontend

Path conditions:
  gen-client: any of: ^(tracecat|packages)
  basedpyright: any of: \.py$
  biome-check: any of: ^frontend/
  typecheck-frontend: any of: ^frontend/
