Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome-check, gen-client

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.8
    hooks:
      - id: ruff
        args:
          - --fix
          - --show-fixes # Show what files were fixed
          - --verbose
        exclude: ^alembic/versions/
      - id: ruff-format
        verbose: true
        exclude: ^alembic/versions/
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.6
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: biome-check
        name: biome check
        entry: bash -c 'cd frontend && npx biome check --write .'
        language: system
        files: ^frontend/
        require_serial: true
      - id: gen-client
        name: generate frontend client
        entry: bash -c 'cd frontend && pnpm generate-client && pnpm check'
        language: system
        files: ^(tracecat/api/|packages/tracecat-registry/)
        require_serial: true
        pass_filenames: false

Enhance error handling by adding stream_id to ActionErrorInfo and related error reporting
  tracecat/dsl/action.py
  tracecat/dsl/models.py
  tracecat/dsl/scheduler.py
Due: none

update test
  tests/unit/test_workflows.py
Due: none

fix: guard event actor, wrap migration ALTER TYPE, fix column splice
  alembic/versions/2f1ff59126f1_feat_add_task_event_enums.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table.tsx
  tracecat/feature_flags/enums.py
Due: biome-check

feat: added flags for case tasks
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-table.tsx
  tracecat/feature_flags/enums.py
Due: biome-check

nit: rename test file
  tests/unit/test_case_tasks_events.py
  tests/unit/test_case_tasks_service.py
Due: none

test: Update test expectations to include stream_id and children fields in ActionErrorInfo
  tests/unit/test_workflows.py
Due: none

feat(engine): Add 'raise' error strategy to gather with stream-aware error tracking (#1563)
  packages/tracecat-registry/tracecat_registry/core/transform.py
  tests/unit/test_workflows.py
  tracecat/dsl/action.py
  tracecat/dsl/enums.py
  tracecat/dsl/models.py
  tracecat/dsl/scheduler.py
Due: gen-client

chore: Drop unused logs
  frontend/src/components/nav/controls-header.tsx
Due: biome-check

chore: Drop more useless logs
  frontend/src/components/cases/case-panel-custom-fields.tsx
Due: biome-check

feat(tests): Update AI ranker tests for model name changes and error handling
  tests/unit/test_ai_ranker.py
Due: none

feat(tests, ai): Update AI ranker tests and enhance error handling
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: none

fix: fixed migrations and service nits
  alembic/versions/2f1ff59126f1_feat_add_task_event_enums.py
  alembic/versions/355b91f2d698_merge_migration_heads.py
  alembic/versions/799af90b73bf_.py
  alembic/versions/b6c80a9bb5ce_tasks_added_to_cases.py
  frontend/src/lib/hooks.tsx
  tracecat/cases/router.py
  tracecat/cases/service.py
Due: biome-check

feat(ai): Improve error handling in field extraction and selection functions
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: gen-client

feat(integrations): AI ranker and JSON extraction (#1564)
  docs/cheatsheets/functions.mdx
  docs/quickstart/expressions.mdx
  packages/tracecat-registry/tracecat_registry/core/ai.py
  packages/tracecat-registry/tracecat_registry/core/transform.py
  tests/unit/test_ai_ranker.py
  tests/unit/test_functions.py
  tracecat/ai/ranker.py
  tracecat/expressions/functions.py
Due: gen-client

refactor: Update validate_args method to accept a single args dictionary
  tests/unit/test_registry.py
  tests/unit/test_validation.py
  tracecat/executor/service.py
  tracecat/registry/actions/models.py
  tracecat/registry/actions/service.py
Due: none

drop logs
  tracecat/registry/actions/models.py
Due: none

add tests
  tests/unit/test_registry.py
  tests/unit/test_validation.py
Due: none

feat(datetime): Refactor datetime handling in case and table services to use centralized coercion functions for UTC conversion
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/tables/common.py
  tracecat/tables/service.py
Due: gen-client

feat(engine): Preserve Python types during execution validation (#1565)
  tests/unit/test_registry.py
  tests/unit/test_validation.py
  tracecat/executor/service.py
  tracecat/registry/actions/models.py
  tracecat/registry/actions/service.py
Due: none

Update tracecat/cases/durations/service.py
  tracecat/cases/durations/service.py
Due: none

fix(core): Defensively coerce datetime inputs in tables and cases UDFs (#1566)
  packages/tracecat-registry/tracecat_registry/core/cases.py
  packages/tracecat-registry/tracecat_registry/core/table.py
  tracecat/cases/durations/service.py
  tracecat/cases/service.py
  tracecat/tables/common.py
  tracecat/tables/service.py
Due: gen-client

feat(ai): Support single and pairwise rank in AI actions
  packages/tracecat-registry/tracecat_registry/core/agent.py
  packages/tracecat-registry/tracecat_registry/core/ai.py
Due: gen-client

refactor(ai): Enhance ranking descriptions and prompts for clarity and consistency
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tracecat/ai/ranker.py
Due: gen-client

fix(ai): Improve clarity in ranking prompts and requirements
  tracecat/ai/ranker.py
Due: none

feat(ai): Introduce min/max item constraints in ranking functions and update prompts for clarity
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: gen-client

feat(ai): Improve ranker prompt robustness (#1567)
  packages/tracecat-registry/tracecat_registry/core/ai.py
  tests/unit/test_ai_ranker.py
  tracecat/ai/ranker.py
Due: gen-client

release: 0.47.4
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

chore: Update Docker setup in CI workflow
  .github/workflows/build-push-images.yml
Due: none

feat(core): Add is_in function to check value existence in table columns
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
  tracecat/tables/service.py
Due: gen-client

docs: Update OAuth in workflow docs
  docs/integrations/oauth-integrations.mdx
  docs/quickstart/secrets.mdx
Due: none

feat(core): Add is_in function to check value existence in table columns (#1569)
  packages/tracecat-registry/tracecat_registry/core/table.py
  tests/registry/test_core_table.py
  tracecat/tables/service.py
Due: gen-client

release: 0.47.5
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none

nit: fix linting errors and comments
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-tasks-table.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_case_tasks_service.py
  tracecat/cases/service.py
Due: biome-check

nit: remove remaining variants from toast error
  frontend/src/lib/hooks.tsx
Due: biome-check

fix(tests): Update assertion in rank_items_pairwise_min_max_live_openai_top_two to ensure order independence
  tests/unit/test_ai_ranker.py
Due: none

fix(executor): Enhance result serialization in sync_executor_entrypoint for safety
  tracecat/executor/service.py
Due: none

fix(tests): Update assertion in test_sync_executor_entrypoint to use model_dump for result comparison
  tests/unit/test_executor.py
Due: none

fix(executor): Serialize Ray task results for safety (#1571)
  tests/unit/test_executor.py
  tracecat/executor/service.py
Due: none

feat: Add case tasks (#1549)
  alembic/versions/b6c80a9bb5ce_tasks_added_to_cases.py
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/cases/case-activity-feed-event.tsx
  frontend/src/components/cases/case-activity-feed.tsx
  frontend/src/components/cases/case-panel-view.tsx
  frontend/src/components/cases/case-table-columns.tsx
  frontend/src/components/cases/case-task-dialog.tsx
  frontend/src/components/cases/case-tasks-section.tsx
  frontend/src/components/cases/case-tasks-table.tsx
  frontend/src/components/cases/delete-case-task-dialog.tsx
  frontend/src/components/cases/task-workflow-status.tsx
  frontend/src/lib/hooks.tsx
  tests/unit/test_case_tasks_events.py
  tests/unit/test_case_tasks_service.py
  tracecat/cases/enums.py
  tracecat/cases/models.py
  tracecat/cases/router.py
  tracecat/cases/service.py
  tracecat/db/schemas.py
Due: biome-check

Revert "release: 0.47.5"
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  docker-compose.yml
  docs/quickstart/install.mdx
  docs/self-hosting/deployment-options/docker-compose.mdx
  docs/self-hosting/updating.mdx
  tracecat/__init__.py
Due: none
