Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

feat(api): add invitation email outbox delivery (#3424)
  alembic/versions/bc3124ad3437_add_invitation_email_delivery_columns.py
  tests/unit/test_email.py
  tests/unit/test_invitation_consumer.py
  tracecat/api/app.py
  tracecat/db/models.py
  tracecat/email/transport.py
  tracecat/invitations/consumer.py
Due: gen-client, basedpyright

fix(api): gate invitation resend with one locked update
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_invitation_consumer.py
  tests/unit/test_invitation_email.py
  tests/unit/test_organization_service.py
  tracecat/invitations/consumer.py
  tracecat/invitations/email.py
  tracecat/invitations/resend.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(api+ui): resend invitation emails
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/conftest.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_invitation_consumer.py
  tests/unit/test_organization_service.py
  tracecat/audit/types.py
  tracecat/invitations/consumer.py
  tracecat/invitations/resend.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(api): return an explicit detail on invitation resend cooldown
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/test_invitation_email.py
  tracecat/organization/router.py
Due: gen-client, basedpyright

fix(api): bound invitation email sends below the resend cooldown
  tests/unit/test_email.py
  tracecat/email/transport.py
Due: gen-client, basedpyright

fix(api+ui): preserve and refresh invitation email delivery timestamps
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/hooks/use-admin-invitations.test.tsx
  frontend/src/hooks/use-admin.ts
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_invitation_consumer.py
  tests/unit/test_organization_service.py
  tracecat/invitations/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(api): classify resend refusals instead of always reporting cooldown
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  tests/unit/test_organization_service.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): show the invitation email timestamp as an absolute time
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
Due: biome-check, typecheck-frontend

feat(api+ui): resend invitation emails (#3427)
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/admin/admin-org-invitations-dialog.tsx
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/hooks/use-admin-invitations.test.tsx
  frontend/src/hooks/use-admin.ts
  frontend/src/lib/hooks.tsx
  packages/tracecat-ee/tracecat_ee/admin/organizations/router.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/schemas.py
  packages/tracecat-ee/tracecat_ee/admin/organizations/service.py
  tests/unit/api/test_api_organization_invitations.py
  tests/unit/conftest.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_audit_service.py
  tests/unit/test_email.py
  tests/unit/test_invitation_consumer.py
  tests/unit/test_organization_service.py
  tracecat/audit/types.py
  tracecat/email/transport.py
  tracecat/invitations/consumer.py
  tracecat/invitations/email.py
  tracecat/invitations/service.py
  tracecat/organization/router.py
  tracecat/organization/schemas.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

test(engine): isolate stopped workflow finalizers between scenarios
  tests/temporal/runtime_error_attribution_harness.py
Due: basedpyright

fix(ui): swallow 403s for mutations too
  frontend/src/lib/errors.test.ts
  frontend/src/lib/errors.ts
  frontend/src/providers/query.tsx
Due: biome-check, typecheck-frontend

test(ui): expect no toast for forbidden queries
  frontend/src/providers/query.test.tsx
Due: biome-check, typecheck-frontend

fix(registry): add region_name and cap threads in DuckDB action
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  tests/registry/test_core_duckdb.py
Due: gen-client, basedpyright

fix(actions): guard Unix-only resource import in DuckDB action
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  tests/registry/test_core_duckdb.py
Due: gen-client, basedpyright

fix(agents): preserve Slack errors during runtime cleanup (#3556)
  tests/temporal/runtime_error_attribution_harness.py
  tests/unit/test_agent_executor_loopback.py
  tracecat/agent/executor/loopback.py
Due: gen-client, basedpyright

docs(actions): document DuckDB region_name and role chaining inputs
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/sql.mdx
Due: none

fix(actions): add region_name and cap threads in DuckDB action (#3559)
  docs/automations/core-actions/_examples.yaml
  docs/automations/core-actions/_manifest.yaml
  docs/automations/core-actions/request-actions/sql.mdx
  packages/tracecat-registry/tracecat_registry/core/duckdb.py
  tests/registry/test_core_duckdb.py
Due: gen-client, basedpyright

docs: Revise Tracecat introduction for clarity
  README.md
Due: none

feat(rbac): derive membership from role assignments
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(rbac): remove log-only membership migration
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  tests/migration/test_membership_derived_migration.py
  tests/unit/test_membership_derived.py
Due: basedpyright

feat(rbac): synchronize membership with role changes
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

feat(rbac): dual-write memberships during assignment migration
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  alembic/versions/6a6e9e93f9ef_drop_legacy_membership_tables.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_backfill_guard.py
  tests/migration/test_membership_derived_migration.py
  tests/migration/test_membership_drop_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

feat(rbac): derive membership with rollback compatibility
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  tests/integration/test_install_and_run_custom_remote_registry_flow.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/api/test_api_workspaces.py
  tests/unit/test_active_org_cookie.py
  tests/unit/test_admin_org_invitations_service.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_auth_middleware.py
  tests/unit/test_authz_grant_resolver.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_mcp_personal_access_tokens_service.py
  tests/unit/test_org_enrollment_policy.py
  tests/unit/test_organization_membership.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_tenant_rls_registry.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/credentials.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

refactor(rbac): drop membership sync projection for legacy dual-write
  alembic/versions/4134d4ebdc69_membership_derived_from_role_assignments.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/migration/test_membership_derived_migration.py
  tests/support/membership.py
  tests/unit/test_admin_users_service.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

chore(rbac): drop legacy membership tables
  alembic/versions/6a6e9e93f9ef_drop_legacy_membership_tables.py
  tests/migration/test_membership_drop_migration.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
Due: gen-client, basedpyright

fix(rbac): close review gaps in derived membership
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/migration/test_membership_derived_migration.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_user_manager_auth_policy.py
  tests/unit/test_workspace_service.py
  tracecat/auth/users.py
  tracecat/authz/service.py
  tracecat/workspaces/router.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

feat(rbac)!: make organization membership the aggregate root
  alembic/versions/fa922accd060_make_organization_membership_the_.py
  packages/tracecat-admin/tracecat_admin/services/bootstrap.py
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/conftest.py
  tests/support/membership.py
  tests/unit/api/test_api_organization_members.py
  tests/unit/test_authz_membership_service.py
  tests/unit/test_membership_aggregate_root.py
  tests/unit/test_membership_derived.py
  tests/unit/test_organization_service.py
  tests/unit/test_rbac_service.py
  tests/unit/test_single_tenant_user_defaults.py
  tests/unit/test_workspace_service.py
  tracecat/authz/membership.py
  tracecat/authz/seeding.py
  tracecat/authz/service.py
  tracecat/db/models.py
  tracecat/db/tenant_rls.py
  tracecat/organization/management.py
  tracecat/organization/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

fix(rbac): mirror legacy membership rows in assignment API
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
Due: gen-client, basedpyright

fix(rbac): confirm org role removal and block group role edits
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/components/organization/org-members-table.tsx
  frontend/src/components/workspaces/workspace-members-table.tsx
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/rbac/router.py
  tracecat/organization/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): keep group-only org access indirect in single-tenant repair
  frontend/src/components/organization/org-members-table.tsx
  tests/unit/test_single_tenant_user_defaults.py
  tracecat/organization/management.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(rbac): keep org role edits from ejecting members
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_rbac_service.py
  tracecat/authz/rbac/router.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(ui): change organization role in place
  frontend/src/components/organization/org-members-table.tsx
Due: biome-check, typecheck-frontend

fix(rbac): leave SCIM linkage to the SCIM data model
  alembic/versions/fa922accd060_make_organization_membership_the_.py
  tracecat/db/models.py
Due: gen-client, basedpyright

fix(rbac): correct org role removal confirmation copy
  frontend/src/components/organization/org-members-table.tsx
Due: biome-check, typecheck-frontend

fix(rbac): keep legacy mirror writes and group cleanup under RLS
  packages/tracecat-ee/tracecat_ee/rbac/service.py
  tests/unit/test_membership_aggregate_root.py
  tests/unit/test_organization_service.py
  tracecat/authz/membership.py
  tracecat/authz/service.py
  tracecat/organization/service.py
  tracecat/workspaces/service.py
Due: gen-client, basedpyright

docs(rbac): walk through the membership root migration
  alembic/versions/fa922accd060_make_organization_membership_the_.py
Due: basedpyright

fix(rbac): keep removed owners out and drop implicit eviction
  alembic/versions/fa922accd060_make_organization_membership_the_.py
  tests/conftest.py
  tests/migration/test_membership_aggregate_root_migration.py
  tests/unit/test_membership_aggregate_root.py
  tests/unit/test_membership_eviction.py
Due: basedpyright

feat(rbac): evict members who lose their last role path
  alembic/versions/fa922accd060_make_organization_membership_the_.py
  tests/conftest.py
  tests/unit/test_membership_eviction.py
Due: basedpyright

refactor(rbac): let the membership trigger revoke MCP tokens
  tracecat/organization/service.py
Due: gen-client, basedpyright

fix(rbac): attribute trigger token revocation to the caller
  alembic/versions/fa922accd060_make_organization_membership_the_.py
  tests/conftest.py
  tests/unit/test_membership_aggregate_root.py
  tests/unit/test_rls.py
  tracecat/authz/membership.py
Due: gen-client, basedpyright
