Repository TracecatHQ/tracecat: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-client, basedpyright, biome-check, typecheck-frontend

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: python3.12
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=3000
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
        exclude: ^deployments/helm/.*/templates/
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
          - --verbose
      - id: ruff-format
        verbose: true
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.25.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.7
    hooks:
      # Keep uv.lock in sync with changes to pyproject.toml
      - id: uv-lock
      # Optionally export a requirements.txt reflecting uv.lock
      - id: uv-export
  - repo: local
    hooks:
      - id: gen-client
        name: update frontend client
        entry: bash -c "pnpm -C frontend generate-client-ci && pnpm -C frontend check"
        language: system
        files: ^(tracecat|packages)
        require_serial: true
        pass_filenames: false
      - id: basedpyright
        name: python type check
        entry: uv run basedpyright --warnings --threads 4
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true
      - id: biome-check
        name: frontend biome check
        entry: bash -c "pnpm -C frontend check"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true
      - id: typecheck-frontend
        name: frontend type check
        entry: bash -c "pnpm -C frontend run typecheck"
        language: system
        files: ^frontend/
        pass_filenames: false
        require_serial: true

refactor: pull litellm out of the agent executor
  .env.example
  deployments/eks/main.tf
  deployments/eks/modules/eks/helm.tf
  deployments/eks/modules/eks/main.tf
  deployments/eks/modules/eks/variables.tf
  deployments/eks/variables.tf
  deployments/fargate/main.tf
  deployments/fargate/modules/ecs/ecs-agent-executor.tf
  deployments/fargate/modules/ecs/ecs-litellm.tf
  deployments/fargate/modules/ecs/locals.tf
  deployments/fargate/modules/ecs/variables.tf
  deployments/fargate/variables.tf
  deployments/helm/tracecat/templates/_helpers.tpl
  deployments/helm/tracecat/templates/litellm-deployment.yaml
  deployments/helm/tracecat/templates/litellm-service.yaml
  deployments/helm/tracecat/values.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/cluster
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/gateway.py
  tracecat/agent/litellm.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/agent/worker.py
  tracecat/config.py
Due: gen-client, basedpyright

fix(registry): scope locked actions to builder UIs and seed premium action tests
  frontend/src/components/builder/canvas/canvas-toolbar.tsx
  frontend/src/components/builder/canvas/selector-node.tsx
  frontend/src/components/locked-feature-modal.tsx
  frontend/src/components/registry/workspace-actions-inventory.tsx
  tests/conftest.py
  tests/unit/api/test_api_registry_actions.py
  tests/unit/test_registry.py
Due: basedpyright, biome-check, typecheck-frontend

fix(agents): case trigger event filter validation and consumer handling
  frontend/src/client/schemas.gen.ts
  tests/unit/test_case_trigger_consumer.py
  tests/unit/test_case_triggers.py
  tests/unit/test_mcp_server.py
  tests/unit/test_workflow_store_service.py
  tests/unit/test_workflow_sync_service.py
  tracecat/cases/triggers/consumer.py
  tracecat/workflow/case_triggers/schemas.py
  tracecat/workflow/case_triggers/service.py
  tracecat/workflow/store/schemas.py
  tracecat/workflow/store/service.py
Due: gen-client, basedpyright, biome-check, typecheck-frontend

fix(docker): local registry support (#2337)
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

revert(docker): PYTHONPATH env in api service
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

Fix workflow graph auto-layout sizing
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/graph-layout.ts
  frontend/tests/graph-layout.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  4e/26a9b66d8ecce4db9af30b21f45e1c9a7850ad
Due: none

Preserve measured node state on graph refresh
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/graph-layout.ts
  frontend/tests/graph-layout.test.ts
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  d2/18979783aced6542ab5406395d0360a588987c
Due: none

Avoid graph cache churn for layout-only saves
  frontend/src/lib/hooks.tsx
  frontend/tests/use-graph-operations.test.tsx
Due: biome-check, typecheck-frontend

Notes added by 'git notes add'
  ac/40eca6f43ce51da04f7bfc443af611f213dda2
Due: none

fix(tables): avoid preloading in regression test
  tests/unit/test_tables_service.py
Due: basedpyright

fix(tables): avoid lazy load on index update
  tests/unit/test_tables_service.py
  tracecat/tables/service.py
Due: gen-client, basedpyright

refactor: pull litellm out of the agent executor
  .env.example
  deployments/fargate/modules/ecs/locals.tf
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/cluster
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_llm_proxy.py
  tests/unit/test_agent_runtime.py
  tracecat/agent/gateway.py
  tracecat/agent/litellm.py
  tracecat/agent/runtime/claude_code/runtime.py
  tracecat/agent/sandbox/config.py
  tracecat/agent/sandbox/llm_proxy.py
  tracecat/agent/sandbox/nsjail.py
  tracecat/config.py
Due: gen-client, basedpyright

chore: drop helm and terraform branch changes
  deployments/fargate/modules/ecs/locals.tf
  tests/unit/test_agent_gateway.py
  tests/unit/test_agent_mcp_proxy_server.py
Due: basedpyright

chore: Drop dead files
  docs/session-auto-title-todos.md
  heatmap-last-year.png
  tmp_agent_config_repro.py
Due: basedpyright

fix(frontend): stop workflow graph layout drift (#2401)
  frontend/src/components/builder/canvas/canvas.tsx
  frontend/src/components/builder/canvas/graph-layout.ts
  frontend/src/lib/hooks.tsx
  frontend/tests/graph-layout.test.ts
  frontend/tests/use-graph-operations.test.tsx
Due: biome-check, typecheck-frontend

feat: stand-in idp for mcp auth
  .env.example
  Caddyfile
  deployments/dex/README.md
  deployments/dex/config.docker.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  packages/tracecat-ee/tracecat_ee/admin/users/service.py
  scripts/cluster
  scripts/dex-entrypoint.sh
  tests/unit/test_admin_users_service.py
  tests/unit/test_dex_local_auth.py
  tests/unit/test_dex_mode.py
  tests/unit/test_mcp_auth.py
  tests/unit/test_oidc_config.py
  tracecat/auth/dex/__init__.py
  tracecat/auth/dex/api.proto
  tracecat/auth/dex/api_pb2.py
  tracecat/auth/dex/api_pb2.pyi
  tracecat/auth/dex/api_pb2_grpc.py
  tracecat/auth/dex/mode.py
  tracecat/auth/dex/service.py
  tracecat/auth/users.py
  tracecat/config.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

chore(docker): remove PYTHONPATH environment variable from docker-compose files
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix(mcp): restore Claude Code OAuth compatibility
  deployments/dex/config.docker.yaml
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
  scripts/dex-entrypoint.sh
  tests/unit/test_dex_local_auth.py
  tests/unit/test_mcp_auth.py
  tracecat/auth/users.py
  tracecat/mcp/auth.py
Due: gen-client, basedpyright

clean up local registry compose wiring
  .env.example
  Dockerfile
  docker-compose.dev.yml
  docker-compose.local.yml
  docker-compose.yml
Due: none

docs: Add initial documentation structure and files for Tracecat
  docs/.mintignore
  docs/AGENTS.md
  docs/CONTRIBUTING.md
  docs/README.md
  docs/core-concepts/building-agents/overview.mdx
  docs/core-concepts/building-workflows/overview.mdx
  docs/core-concepts/credentials/overview.mdx
  docs/core-concepts/custom-integrations/overview.mdx
  docs/deployment/overview.mdx
  docs/docs.json
  docs/get-started/getting-started.mdx
  docs/get-started/welcome.mdx
Due: none

docs: Update color scheme in documentation configuration
  docs/docs.json
Due: none

docs: Consolidate OIDC documentation into a single file
  docs/authentication/oidc.mdx
  docs/self-hosting/authentication/oidc.mdx
Due: none

docs: Enhance introduction page with new sections on automation and agent security
  docs/overview/introduction.mdx
Due: none

docs: Update agent and automation documentation with new content and structure
  docs/AGENTS.md
  docs/automations/ai-builder.mdx
  docs/automations/mcp.mdx
  docs/automations/overview.mdx
  docs/docs.json
  docs/overview/getting-started.mdx
  docs/overview/introduction.mdx
Due: none

docs: Refactor automation documentation and remove obsolete files
  docs/automations/ai-builder.mdx
  docs/automations/mcp.mdx
  docs/docs.json
  docs/get-started/getting-started.mdx
  docs/get-started/welcome.mdx
  docs/overview/getting-started.mdx
  docs/snippets/mcp-installation.mdx
Due: none

Intro
  docs/overview/introduction.mdx
Due: none

docs: Expand Tracecat documentation with new agent and automation topics
  docs/agents/ai-action.mdx
  docs/agents/ai-agent.mdx
  docs/agents/ai-preset-agent.mdx
  docs/agents/slackbot.mdx
  docs/automations/core-actions/cases.mdx
  docs/automations/core-actions/data-transforms.mdx
  docs/automations/core-actions/email.mdx
  docs/automations/core-actions/for-each.mdx
  docs/automations/core-actions/http.mdx
  docs/automations/core-actions/python-script.mdx
  docs/automations/core-actions/reshape.mdx
  docs/automations/core-actions/scatter-gather-loops.mdx
  docs/automations/core-actions/sql.mdx
  docs/automations/core-actions/subflows.mdx
  docs/automations/core-actions/tables.mdx
  docs/automations/expressions.mdx
  docs/automations/functions.mdx
  docs/automations/jsonpath.mdx
  docs/automations/mcp-integrations.mdx
  docs/automations/mcp.mdx
  docs/automations/oauth-integrations.mdx
  docs/automations/overview.mdx
  docs/automations/prebuilt-credentials.mdx
  docs/automations/secrets.mdx
  docs/automations/tables.mdx
  docs/automations/triggers/case-triggers.mdx
  docs/automations/triggers/comment-triggers.mdx
  docs/automations/triggers/schedules.mdx
  docs/automations/triggers/webhooks.mdx
  docs/automations/variables.mdx
  docs/custom-actions/install.mdx
  docs/custom-actions/python.mdx
  docs/custom-actions/sync.mdx
  docs/custom-actions/yaml.mdx
  docs/docs.json
  docs/img/logos/dark.svg
  docs/img/logos/light.svg
  docs/overview/introduction.mdx
  docs/self-hosting/docker-compose.mdx
Due: none

docs: Update automation documentation with new control flow features and actions
  docs/automations/actions.mdx
  docs/automations/ai-builder.mdx
  docs/automations/cases.mdx
  docs/automations/core-actions/for-each.mdx
  docs/automations/core-actions/ssh.mdx
  docs/automations/core-actions/while-loops.mdx
  docs/automations/workflows.mdx
  docs/docs.json
Due: none

docs: Update MCP documentation and enhance automation content
  docs/automations/actions.mdx
  docs/automations/ai-builder.mdx
  docs/docs.json
  docs/snippets/mcp-tools.mdx
  justfile
  scripts/generate_mcp_docs.py
Due: basedpyright

docs: Enhance workflows documentation with export/import features
  docs/automations/workflows.mdx
  docs/img/automations/workflows/workflow-export.png
  docs/img/automations/workflows/workflow-import.png
Due: none

docs: Update Temporal UI configuration and enhance workflow documentation
  docker-compose.local.yml
  docker-compose.yml
  docs/automations/workflows.mdx
  docs/img/automations/workflows/create-new-workflow.png
  docs/img/automations/workflows/reset-terminate-cancel-runs.png
  docs/img/automations/workflows/runs-view.png
  docs/img/automations/workflows/workflow-builder.png
  docs/img/automations/workflows/workflow-controls.png
Due: none

docs: Enhance workflow documentation with new copy actions feature
  docs/automations/workflows.mdx
  docs/img/automations/workflows/copy-action-reference.png
  docs/img/automations/workflows/copy-action-result.png
Due: none

docs: Expand workflows documentation with new manual run and schema features
  docs/automations/workflows.mdx
  docs/img/automations/workflows/run-workflow-manually.png
Due: none

docs: Add MCP documentation generation and enhance automation content
  .pre-commit-config.yaml
  docs/automations/ai-builder.mdx
  docs/automations/workflows.mdx
  docs/docs.json
  docs/snippets/mcp-tools.mdx
  justfile
  scripts/gen_mcp_docs.py
  tracecat/mcp/server.py
Due: gen-client, basedpyright

docs: Update getting started guide with enhanced agent connection instructions
  docs/overview/getting-started.mdx
Due: none

docs: Update workflow definition documentation for agents
  docs/automations/workflow-definition.mdx
Due: none
